<html>
<body>
  <p>Hi {{fullname}},</p>
    
  <p>New user has registered and is pending for approval.</p>
  
  <p>Click <a href="{{ domain }}/{{ path('public_users') }}">here</a> to approve.</p>
  
  <p>Cheers</p>
  
</body>
</html>