{% extends "AcmeCLShomeBundle::layout.html.twig" %}


{% block body %}
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
    <h1>Congratulations!</h1>
    <p>This email is to confirm your successful registration for an account with CLS Capital Link Services. You can now log in to place an order for any of our services.</p>
    <p>If you experience any difficulties, or if you have any questions regarding the process, please do not hesitate to <a href="https://www.capitallinkservices.com.au/inquiries">contact us</a>. Our friendly staff is waiting to assist you.</p>
    <p>Thank you for choosing CLS Capital Link Services and we look forward to working with you.</p>
    
    {% if app.session.get("redirect_url") != '' %}
    <p>
        <a href="{{ path("cls_client_application_redirect") }}">Click here to proceed to your application.</a>
    </p>
    {% endif %}
    <br/>
    <a class="btn btn-primary" href="{{ asset('videos') }}/Government_User/CLS03761_GOV-USER_Login_150417.mp4">View our video on how to login</a>
</section>
{% endblock %}
