<html>
<body>
  <p>Hi CLS,</p>
    
  <p>New {{ type }} user had registered to the site. <br/>Below are the details:</p>
  
  <h2>User Details</h2>
  
  <p>
      <b>Fullname:</b> {{ post.fname ~ ' ' ~ post.lname }}<br/>
      <b>Email address:</b> {{ post.email }}<br/>
      <b>Contact Phone No.:</b> {{ post.phone }}<br/>
      <b>Mobile No.:</b> {{ post.mobile }}<br/>
      <b>Dept/Company:</b> {{ dep }}<br/>
  </p>
  
  <h2>Address Details</h2>
  
  <p>
      <b>Address:</b> {{ post.address }}<br/>
      <b>City:</b> {{ post.city }}<br/>
      <b>State:</b> {{ post.state }}<br/>
      <b>Postcode:</b> {{ post.postcode }}<br/>
      <b>Country:</b> {{ address_country }}<br/>
  </p>
  
  <h2>Main document delivery address</h2>
  
  <p>
      <b>Address:</b> {{ post.mddaAddress }}<br/>
      <b>City:</b> {{ post.mddaCity }}<br/>
      <b>State:</b> {{ post.mddaState }}<br/>
      <b>Postcode:</b> {{ post.mddaPostcode }}<br/>
      <b>Country:</b> {{ mdda_country }}<br/>
  </p>
  
  <h2>Main billing address</h2>
  
  <p>
      <b>Address:</b> {{ post.mbaAddress }}<br/>
      <b>City:</b> {{ post.mbaCity }}<br/>
      <b>State:</b> {{ post.mbaState }}<br/>
      <b>Postcode:</b> {{ post.mbaPostcode }}<br/>
      <b>Country:</b> {{ mba_country }}<br/>
  </p>
  
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
</body>
</html>