{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block body %}
{% if errors is defined %}
<div class="alert alert-block alert-danger fade in">
    <span class="close" data-dismiss="alert">&times;</span>
    <!--<span class="alert-title">The form has the following errors:</span>-->
    <ul>
    {% for error in errors %}
        {{ error.message }} <br/>
    {% endfor %}
    </ul>
</div>
{%endif%}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        <h3>Passport Office Courier Service Booking</h3>
    </div>
    <div class="col-lg-3">
    </div>
</div>

<hr/>

<div class="row">
    <form action="{{ path("acme_cls_admin_edit_passport_order") }}" method="post">
    <input type="hidden" name="hidSubmit">
    <input type="hidden" name="orderNumber" value="{{ post.order_no }}">
    <input type="hidden" name="remApplicants" id="remApplicants">
    <!-- Payment details -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Passport Details</h4>
            </div>
            <div class="panel-body">
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Passport Office Booking Number</label>
                            <input type="text" name="passportOfficeBookingNumber" value="{% if post.passport_office_booking_no is defined %}{{ post.passport_office_booking_no }}{% endif %}" class="form-control" id="txtFname" placeholder="Passport office booking number" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Passport Office Booking Time</label>
                            <input type="text" name="passportOfficeBookingTime" value="{% if post.passport_office_booking_time is defined %}{{ post.passport_office_booking_time }}{% endif %}" class="form-control date-picker" id="txtFname"  required>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Hour</label>
                            <select name="passportOfficeBookingTimeHour" class="form-control">
                                {% for i in 0..23 %}
                                    <option value="{{ "%02d"|format(i) }}" {% if post.passport_office_booking_time_hr is defined and post.passport_office_booking_time_hr == "%02d"|format(i) %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                {% endfor %}
                            </select>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Min</label>
                            <select name="passportOfficeBookingTimeMin" class="form-control">
                                <option value="00" {% if post.passport_office_booking_time_min is defined and post.passport_office_booking_time_min == "00" %}selected{% endif %}>00</option>
                                <option value="10" {% if post.passport_office_booking_time_min is defined and post.passport_office_booking_time_min == "10" %}selected{% endif %}>10</option>
                                <option value="20" {% if post.passport_office_booking_time_min is defined and post.passport_office_booking_time_min == "20" %}selected{% endif %}>20</option>
                                <option value="30" {% if post.passport_office_booking_time_min is defined and post.passport_office_booking_time_min == "30" %}selected{% endif %}>30</option>
                                <option value="40" {% if post.passport_office_booking_time_min is defined and post.passport_office_booking_time_min == "40" %}selected{% endif %}>40</option>
                                <option value="50" {% if post.passport_office_booking_time_min is defined and post.passport_office_booking_time_min == "50" %}selected{% endif %}>50</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="applicants">
                    {% if post.passport_applicants is defined and post.passport_applicants|length > 0%}
                        {% for applicant in post.passport_applicants %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Passport Applicant Full Name (<a class="link remove remove-passport-applicant">remove applicant</a>)</label><input type="hidden" class="passport-applicant-id" value="{{ applicant.id }}">
                                    <input type="text" name="passportApplicantFullname[{{ applicant.id }}]" value="{{ applicant.fullname }}" class="form-control" placeholder="Passport applicant full name"  required>
                                    
                                    <ul style="margin-left: 10px; margin-top: 10px;">
                                        <li><label><input type="checkbox" name="personalPassport[{{ applicant.id }}]" {% if applicant.personal_passport == 1%}checked{% endif %}> Personal Passport </label></li>
                                        <li><label><input type="checkbox" name="doPassport[{{ applicant.id }}]" {% if applicant.diplomatic_official_passport == 1%}checked{% endif %}> Diplomatic/Official Passport </label></li>
                                        <li><label><input type="checkbox" name="birthCertificate[{{ applicant.id }}]" {% if applicant.birth_certificate == 1%}checked{% endif %}> Birth Certificate </label></li>
                                        <li><label><input type="checkbox" name="marriageCertificate[{{ applicant.id }}]" {% if applicant.marriage_certificate == 1%}checked{% endif %}> Marriage Certificate </label></li>
                                        <li><label><input type="checkbox" name="certOfAustralianCitizenship[{{ applicant.id }}]" {% if applicant.certificate_of_australian_citizenship == 1%}checked{% endif %}> Certificate of Australian Citizenship </label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Passport Applicant Full Name</label>
                                <input type="text" name="passportApplicantFullname[0]" value="{% if post.passportOfficeBookingTime is defined %}{{ post.passportOfficeBookingTime }}{% endif %}" class="form-control" placeholder="Passport applicant full name"  required>
                                
                                <ul style="margin-left: 10px; margin-top: 10px;">
                                    <li><label><input type="checkbox" name="personalPassport[0]"> Personal Passport </label></li>
                                    <li><label><input type="checkbox" name="doPassport[0]"> Diplomatic/Official Passport </label></li>
                                    <li><label><input type="checkbox" name="birthCertificate[0]"> Birth Certificate </label></li>
                                    <li><label><input type="checkbox" name="marriageCertificate[0]"> Marriage Certificate </label></li>
                                    <li><label><input type="checkbox" name="certOfAustralianCitizenship[0]"> Certificate of Australian Citizenship </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                
                <div class="text-right">
                    <button id="addApplicant" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Add an applicant</button>
                    <!--<button id="removeLastApplicant" type="button" class="btn btn-danger btn-xs" style="display: none"><span class="glyphicon glyphicon-minus-sign"></span> Remove last applicant</button>-->
                </div>
            </div>
        </div>
    </div>
    
        
    <!-- Payment options -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Payment Details </h4>
            </div>
            <div class="panel-body">
                <h4>Total Order Price</h4>
                <h4>$<span id="totalOrderPrice">{{ cost.cost }}</span> AUD <span id="incCardFee" class="small-note">inc Card fee ($<span>0.00</span>)</span></h4>
                
                <hr/>
                
                <h4>Payment Option</h4>
                
                <div class="row">
                    <div class="col-lg-12">
                        <label><input type="radio" name="paymentType" class="payment-option default" {% if payment.payment_option == 0 %}checked{% endif %} value="0"/> Pay on Account </label><br/>
                        <label><input type="radio" name="paymentType" class="payment-option" {% if payment.payment_option == 1 %}checked{% endif %} value="1"/> Pay via Credit Card - fee ({{ credit_card_processing_fee }}%) </label><br/>
                        <label><input type="radio" name="paymentType" class="payment-option default" {% if payment.payment_option == 2 %}checked{% endif %} value="2"/> Mark as Paid </label>
                        
                    </div>
                </div>
                <hr/>
                
                
                
                    
                {% if user.can_charge_cost_to_account == 1%}

                <div class="payment-option-fields account">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Account Number</label>
                                <input type="text" name="accountNumber" value="{% if user.account_no is defined %}{{ user.account_no }}{% endif %}" class="form-control pay-required-one" id="txtAccountNumber" placeholder="Account number" required>
                            </div>
                        </div>
                    </div>   
                </div>

                {% endif %}


                <div class="payment-option-fields credit-card">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Name on Card</label>
                                <input type="text" name="nameOnCard" value="{% if payment.name_on_card is defined %}{{ payment.name_on_card }}{% endif %}" class="form-control pay-required" id="txtNameOnCard" placeholder="Name on card" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Number</label>
                                <input type="text" name="cardNumber" value="{% if payment.card_number is defined %}{{ payment.card_number }}{% endif %}" class="form-control pay-required" id="txtCardNumber" placeholder="Card number" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Expiry</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <select name="cardExpiryMonth" class="form-control pay-required">
                                    {% for i in 1..12 %}
                                    <option>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <select name="cardExpiryYear" class="form-control pay-required">
                                    {% for i in 0..10 %}
                                        {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                    <option>{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Type</label>
                                <select name="cardType" class="form-control pay-required">
                                    <option value="">Select type</option>
                                    {% for type in cardtypes %}
                                        <option value="{{ type.id }}" {% if post.cardtype is defined and type.id == post.cardtype %}selected{% endif %}>{{ type.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>CCV Number</label>
                                <input type="text" name="ccvNumber" value="{% if post.ccvNumber is defined %}{{ post.ccvNumber }}{% endif %}" class="form-control pay-required" id="txtCcvNumber" placeholder="CCV number" required>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
            
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Order Status</h4>
            </div>
                
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label><input type="checkbox" name="sDocSent" id="sDocSent" class="get-date" {% if post.s_doc_sent is defined and post.s_doc_sent == 1 %}checked{% endif %}> Document Sent</label>
                            <input type="text" name="dateDocSent" class="form-control date-picker" value="{% if post.s_doc_sent is defined and post.s_doc_sent == 1 %}{{ post.date_doc_sent }}{% endif %}">
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label><input type="checkbox" name="sPassportSentAndCompleted" id="sPassportSentAndCompleted" class="get-date" {% if post.status is defined and post.status == 12 %}checked{% endif %}> Passport Sent & Mark as Completed</label>
                            <input type="text" name="datePassportSentAndCompleted" class="form-control date-picker" value="{% if post.status is defined and post.status == 12 %}{{ post.date_completed }}{% endif %}">
                        </div>
                    </div>
                </div>
                    
                <div class="text-right">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
    
</div>



{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        
        // Global declarations
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var cost = {{ cost.cost }};
        var ccp_fee = {{ credit_card_processing_fee }};
        var additional_cost = {{ cost.additionalCost }};
        
    </script>
    
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
    <script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}