{% extends "AcmeCLSdriverBundle::details_layout.html.twig" %}
{% block stylesheets %}
<style>
    .box {
        background-color: #f9f9f9;
        border-radius: 3px; 
        padding: 10px; 
        cursor: pointer;
        border: 1px solid #eee;
    }
    .box:hover{
        background-color: #d7e5f1;
    }
</style>
{% endblock %}
{% block body %}
<br/>
<div class="row">
    <form method="post" action="" >
    <input type="hidden" name="order_no" value="{%if post.order_no is defined%} {{post.order_no}} {%endif%}">
    {% for rec in data %}
    <div class="col-lg-4" style="padding-top: 10px;">

            <h2>ORDER NO: {{rec.order_no}}</h2>
            {%set order_type = '' %}
            {%if rec.order_type == 1%}
                {%set order_type = 'Visa Application' %}
            {%endif%}
            {%if rec.order_type == 2%}
                {%set order_type = 'TPN Application' %}
            {%endif%}
            {%if rec.order_type == 3%}
                {%set order_type = 'TPN+Visa Application' %}
            {%endif%}
            {%if rec.order_type == 4%}
                {%set order_type = 'Passport Delivery' %}
            {%endif%}
            {%if rec.order_type == 5%}
                {%set order_type = 'Police Clearance' %}
            {%endif%}
            {%if rec.order_type == 6%}
                {%set order_type = 'Visa Application' %}
            {%endif%}
            {%if rec.order_type == 7%}
                {%set order_type = 'Document Delivery' %}
            {%endif%}
            {%if rec.order_type == 9%}
                {%set order_type = 'Document legalisation' %}
            {%endif%}
            
            {%set status = '' %}
            {%if rec.status == 10%}
                {%set status = 'Ordered' %}
            {%endif%}
            {%if rec.status == 11%}
                {%set status = 'Paid' %}
            {%endif%}
            {%if rec.status == 12%}
                {%set status = 'Completed' %}
            {%endif%}
           
            
            <p><b>Product:</b><br/>{{order_type}}</p>
            <p><b>Organisation:</b><br/>{%if rec.organisation == '' %}NA{%else%}{{rec.organisation}}{%endif %}</p>
            <p><b>Name:</b><br/>{%if rec.trav_name == '' %}{%else%}NA{{rec.trav_name}}{%endif %}</p>
            <p><b>Destination:</b><br/>{%if rec.destination == '' %}NA{%else%}{{rec.destination}}{%endif %}</p>
            <p><b>Status:</b><br/>{{status}}</p>
            <hr>
            <center>
                {% if rec.order_type == 7 %}
                <div class="sigPad1">
                <ul class="sigNav">
                    <li class="clearButton"><a href="#clear">Clear</a></li>
                  </ul>
                    Sender Signature    
                    <div class="typed"></div>
                    <canvas class="pad"  height="80"></canvas>
                    <input type="hidden" name="sender_output" class="output">

                  <br/>
                  <input type="text" name="sender_name" id="sender_name" value="{%if post.sender_name is defined%} {{post.sender_name}} {%endif%}" placeholder="Sender Name" class="form-control name" style="text-align: center;">
                  <br/>
                </div>
                {%endif%}
                <input type="checkbox" name="for_processing" value="1" {%if post.date_process is defined%} checked {%endif%} class="form-control"/>
                <div>Submitted for Processing</div>
                <b><span id="date_process">{%if post.date_process is defined%} {{post.date_process}} {%endif%}</span></b>
                <br/>
                <!--<p class="drawItDesc">Draw your signature</p>-->
                <div class="sigPad">
                <ul class="sigNav">
                  <li class="clearButton"><a href="#clear">Clear</a></li>
                </ul>
                  <div class="typed"></div>
                  <canvas class="pad"  height="80"></canvas>
                  <input type="hidden" name="output" class="output">

                <br/>
                <input type="text" name="name" id="name" value="{%if post.name is defined%} {{post.name}} {%endif%}" placeholder="Full Name" class="form-control name">
                <br/>
                <a href="{{path('acme_cls_driver_home')}}" class="btn btn-primary btn-block">Back</a>
                </div>
            </center>
    </div>
        </form>
    {%endfor %}
   <script>
    {%if post.signature is defined%}
        var sig = '{{post.signature}}';
    {%endif%}
    {%if post.sender_signature is defined%}
        var sig1 = '{{post.sender_signature}}';
    {%endif%}
  </script>

</div>
{% endblock %}
