{% extends "AcmeCLSdriverBundle::layout.html.twig" %}
{% block stylesheets %}
<style>
    .box {
        background-color: #f9f9f9;
        border-radius: 3px; 
        padding: 10px; 
        cursor: pointer;
        border: 1px solid #eee;
    }
    .box:hover{
        background-color: #d7e5f1;
    }
    .box_s {
        background-color: #f9f9f9;
        border-radius: 3px; 
        padding: 10px; 
        border: 1px solid #eee;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .box_s:hover{
        background-color: #d7e5f1;
    }
</style>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-4 text-right" style="padding-top: 3px;"><a href="{{path('acme_cls_driver_group')}}">Back</a></div>
</div>

<div class="row">
    <form method="post" action="{{path('acme_cls_driver_order_list_update')}}" class="sigPad">
    <input type="hidden" name="order_no" value="{%if post.order_no is defined%}{{post.order_no}}{%endif%}">
    
    
    <input type="hidden" name="order_type" value="{%if rec.order_type is defined%}{{rec.order_type}}{%endif%}">
    <div class="col-lg-4">
        <h3>Scanned List</h3>
    {% for item in data %}
    <div class="box_s">{{item.order_no}} - {{item.primary_traveller_name}}</div>
    {%endfor %}
           

            <center>
                <input type="checkbox" name="for_processing" value="1" class="form-control"/>
                <div>Submitted for Processing</div>
                <b><span id="date_process"></span></b>
                <br/>
    <!--<p class="drawItDesc">Draw your signature</p>-->
    <ul class="sigNav">
      <li class="clearButton"><a href="#clear">Clear</a></li>
    </ul>
      <div class="typed"></div>
      <canvas class="pad"  height="80"></canvas>
      <input type="hidden" name="output" class="output">

    <br/>
    <input type="text" name="name" id="name" value="{%if post.name is defined%} {{post.name}} {%endif%}" placeholder="Full Name" class="form-control name">
    <br/>
    <button type="submit" class="btn btn-primary btn-block">Save and Submit</button>
            </center>
    </div>
        </form>
    
     
</div>
{% endblock %}
