{% extends "AcmeCLSdriverBundle::layout.html.twig" %}
{% block stylesheets %}
<style>
    .box {
        background-color: #f9f9f9;
        border-radius: 3px; 
        padding: 10px; 
        cursor: pointer;
        border: 1px solid #eee;
    }
    .box:hover{
        background-color: #d7e5f1;
    }
    
    .box_s {
        background-color: #f9f9f9;
        border-radius: 3px; 
        padding: 10px; 
        border: 1px solid #eee;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .box_s:hover{
        background-color: #d7e5f1;
    }
</style>
{% endblock %}
{% block body %}
<div class="col2 text-right" style="padding-top:10px;">
<div class="btn-group">
    <a class="btn btn-default" href="{{path('acme_cls_driver_home')}}"> Individual</a>
    <a class="btn btn-default active" href="{{path('acme_cls_driver_group')}}"> Group Scan</a>
</div>
</div>
<form action="{{path('acme_cls_driver_group')}}" method="POST">
<div class="row">
    <div class="col-lg-12" style="padding-top: 50px;">
        <input id="order_no" type="text" placeholder="Search" name="order_no" value="{%if order_no is defined%}{{order_no}}{%endif%}" class="form-control"/>
    </div>
</div>
</form>
<br/>
<div style="font-size:20px;font-weight: bold;">Tickets</div>
<div style="height: 5px;border-bottom: 1px solid #eee;"></div>
<div class="row" id="result">
    {% for rec in data %}
    <div class="col-lg-4" style="padding-top: 10px;">
        <div class="box">
            <h4>ORDER NO: {{rec.order_no}}</h4>
            {%set status = '' %}
            {%if rec.status == 10%}
                {%set status = 'Ordered' %}
            {%endif%}
            {%if rec.status == 11%}
                {%set status = 'Paid' %}
            {%endif%}
            {%if rec.status == 12%}
                {%set status = 'Completed' %}
            {%endif%}
            <p><b>Organisation:</b><br/>{%if rec.organisation == '' %}NA{%else%}{{rec.organisation}}{%endif %}</p>
            <p><b>Name:</b><br/>{%if rec.trav_name == '' %}NA{%else%}{{rec.trav_name}}{%endif %}</p>
            <p><b>Destination:</b><br/>{%if rec.destination == '' %}NA{%else%}{{rec.destination}}{%endif %}</p>
            <p><b>Status:</b><br/>{{status}}</p><br/>
            <button class="btn btn-primary" name="addtogroup">Add to list</button>
            </div>
            
    </div>
    {%endfor %}
</div>

<div class="row">
     <div class="col-lg-4" style="padding-top: 10px;">
        <h3>Scanned list</h3>
        {% set counter =0 %}
        {% for item in order_group %}
        {% set counter = counter + 1 %}
        <div class="box_s"><a href="{{path('acme_cls_driver_order_details')}}?order_no={{item.order_no}}">{{item.order_no}} - {{item.primary_traveller_name}}</a><br/><small><a href="{{path('acme_cls_driver_order_list_remove')}}?order_no={{item.order_no}}" style="color:#aaa;">Remove</a></small></div>
        {%endfor %}
        {%if counter > 0%}
                <br/>
                <a href="{{path('acme_cls_driver_add_group_details')}}" class="btn btn-primary">Continue for group signature</a>
        {%endif%}
     </div>
</div>
<script>
{% for rec in data %}
var order_num = '{{rec.order_no}}';
var add_group_url = "{{path('acme_cls_driver_add_group_list')}}";
var current_url = "{{path('acme_cls_driver_group')}}";
{%endfor %}
 
</script>
{% endblock %}

