{% extends "AcmeCLSdriverBundle::details_layout.html.twig" %}
{% block stylesheets %}
<style>
    .box {
        background-color: #f9f9f9;
        border-radius: 3px; 
        padding: 10px; 
        cursor: pointer;
        border: 1px solid #eee;
    }
    .box:hover{
        background-color: #d7e5f1;
    }
</style>
{% endblock %}
{% block body %}
<br/>
<div class="row">
    <div class="col-lg-4">
    <p>Group signature has been successfully done.</p>
    <br/>
    <a href="{{path('acme_cls_driver_home')}}" class="btn btn-primary btn-block">Back</a>
            </center>
    
    </div>
</div>
{% endblock %}
