{% extends "AcmeCLSdriverBundle::layout.html.twig" %}
{% block stylesheets %}
<style>
    .box {
        background-color: #f9f9f9;
        border-radius: 3px; 
        padding: 10px; 
        cursor: pointer;
        border: 1px solid #eee;
    }
    .box:hover{
        background-color: #d7e5f1;
    }
</style>
{% endblock %}
{% block body %}
<div class="col2 text-right" style="padding-top:10px;">
<div class="btn-group">
    <a class="btn btn-default active" href="{{path('acme_cls_driver_home')}}"> Individual</a>
    <a class="btn btn-default" href="{{path('acme_cls_driver_group')}}"> Group Scan</a>
</div>
</div>
<form action="{{path('acme_cls_driver_home')}}" method="POST">
<div class="row">
    <div class="col-lg-12" style="padding-top: 50px;">
        <input type="text" placeholder="Search" name="order_no" value="{%if order_no is defined%}{{order_no}}{%endif%}" class="form-control"/>
    </div>
</div>
</form>
<br/>
<div style="font-size:20px;font-weight: bold;">Tickets</div>
<div style="height: 5px;border-bottom: 1px solid #eee;"></div>
<div class="row">
    {% for rec in data %}
    <a href="{{path('acme_cls_driver_order_details')}}?order_no={{rec.order_no}}"><div class="col-lg-4" style="padding-top: 10px;">
        <div class="box">
            <h4>ORDER NO: {{rec.order_no}}</h4>
            {%set status = '' %}
            {%if rec.status == 10%}
                {%set status = 'Ordered' %}
            {%endif%}
            {%if rec.status == 11%}
                {%set status = 'Paid' %}
            {%endif%}
            {%if rec.status == 12%}
                {%set status = 'Completed' %}
            {%endif%}
            <p><b>Organisation:</b><br/>{%if rec.organisation == '' %}NA{%else%}{{rec.organisation}}{%endif %}</p>
            <p><b>Name:</b><br/>{%if rec.trav_name == '' %}NA{%else%}{{rec.trav_name}}{%endif %}</p>
            <p><b>Destination:</b><br/>{%if rec.destination == '' %}NA{%else%}{{rec.destination}}{%endif %}</p>
            <p><b>Status:</b><br/>{{status}}</p>
            </div>
    </div></a>
    {%endfor %}
</div>
{% endblock %}