<div style="width: 800px; color: #3f3f3f">
    {# header #}
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td style="width: 17%;">
                {% if site_url == 'http://localhost' %}
                    <img src="{{ site_url }}/capitallinkservices.com.au/web/img/logo.png" style="width: 100%">
                {% else %}
                    <img src="{{ site_url }}/web/img/logo.png" style="width: 100%">
                {% endif %}
            </td>
            <td style="padding-left: 30px;" valign="bottom">
                <h2 style="margin: 0; color: #3f3f3f;">DOCUMENT DELIVERY — ORDER SUMMARY</h2>
            </td>
        </tr>
    </table>
            
    <p><strong>This email is to confirm that your CLS Document Delivery order has been completed.  
        Please see a summary of your order below.</strong></p>
            
            
        
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; color: #3f3f3f">
        <tr>
            <td style="width: 50%; padding: 15px; border-left: 1px solid #3f3f3f; border-top: 1px solid #3f3f3f; border-bottom: 1px solid #3f3f3f; ">
                Consignment Note No. <strong>{{ order_details.order_no }}</strong>
            </td>
            <td style="width: 50%; padding: 15px; border-left: 1px solid #3f3f3f; border-top: 1px solid #3f3f3f; border-bottom: 1px solid #3f3f3f; border-right: 1px solid #3f3f3f;">
                <strong>{{ order_details.doc_delivery_type }}</strong>
            </td>
        </tr>
        
    </table>
        
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; color: #3f3f3f">
        <tr>
            <td style="width: 100%; padding: 15px; border-left: 1px solid #3f3f3f; border-right: 1px solid #3f3f3f; border-bottom: 1px solid #3f3f3f; background-color: #d8d8da;" colspan="3">
                <strong>SENDER</strong>
            </td>
        </tr>
        <tr>
            <td style="width: 66.6%; border-left: 1px solid #3f3f3f; border-right: 1px solid #3f3f3f; border-bottom: 1px solid #3f3f3f;" colspan="2">
                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; color: #3f3f3f; font-size: 14px;">
                    <tr>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px; border-right: 1px solid black;">COMPANY</td>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px;">{{ order_details.doc_pickup_company }}</td>
                    </tr>
                    <tr>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px; border-right: 1px solid black;">CONTACT AREA</td>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px;">{{ order_details.doc_pickup_contact_area }}</td>
                    </tr>
                    <tr>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px; border-right: 1px solid black;">CONTACT NAME</td>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px;">{{ order_details.doc_pickup_contact_name }}</td>
                    </tr>
                    <tr>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 10px; border-right: 1px solid black;">ADDRESS</td>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 10px;">{{ order_details.doc_pickup_address }} {{ order_details.doc_pickup_city }} {{ order_details.doc_pickup_postcode }}</td>
                    </tr>
                    
                    <tr>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 10px; padding-bottom: 50px; border-right: 1px solid black;">PHONE NUMBER</td>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 10px; padding-bottom: 50px; ">{{ order_details.doc_pickup_contact_no }}</td>
                    </tr>
                </table>
            </td>
            <td valign="top" style="width: 33.4%; padding-left: 15px; padding-top: 15px; padding-right: 15px;  border-right: 1px solid #3f3f3f; border-bottom: 1px solid #3f3f3f; font-size: 14px;">
                <img src="{{ site_url ~ "/" ~  asset("plugins") }}/signature-pad-to-image/index.php?order_no={{ order_details.order_no }}&type=sender" style="height: 60px">
                <br>
                SIGNED FOR BY: <strong>{{ order_details.sender_name|upper }}</strong>
                <br>
                {{ order_details.sender_signed_datetime|date('d/m/Y H:i:s') }}
            </td>
        </tr>
    </table>
            
            
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; color: #3f3f3f">
        <tr>
            <td style="width: 100%; padding: 15px; border-left: 1px solid #3f3f3f; border-right: 1px solid #3f3f3f; border-bottom: 1px solid #3f3f3f; background-color: #d8d8da;" colspan="3">
                <strong>RECEIVER</strong>
            </td>
        </tr>
        <tr>
            <td style="width: 66.6%; border-left: 1px solid #3f3f3f; border-right: 1px solid #3f3f3f; border-bottom: 1px solid #3f3f3f;" colspan="2">
                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; color: #3f3f3f; font-size: 14px;">
                    <tr>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px; border-right: 1px solid black;">COMPANY</td>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px;">{{ order_details.doc_delivery_company }}</td>
                    </tr>
                    <tr>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px; border-right: 1px solid black;">CONTACT AREA</td>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px;">{{ order_details.doc_delivery_primary_receipient_contact_area }}</td>
                    </tr>
                    <tr>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px; border-right: 1px solid black;">CONTACT NAME</td>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px;">{{ order_details.doc_delivery_primary_receipient_contact_name }}</td>
                    </tr>
                    <tr>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px; border-right: 1px solid black;">ADDRESS</td>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 15px;">{{ order_details.doc_delivery_address }} {{ order_details.doc_delivery_city }} {{ order_details.doc_delivery_postcode }}</td>
                    </tr>
                    
                    <tr>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 10px; padding-bottom: 60px; border-right: 1px solid black;">PHONE NUMBER</td>
                        <td valign="top" style="width: 50%; padding-left: 15px; padding-right: 15px; padding-top: 10px; padding-bottom: 60px; ">{{ order_details.doc_delivery_contact_no }}</td>
                    </tr>
                </table>
            </td>
            <td valign="top" style="width: 33.4%; padding-left: 15px; padding-top: 15px; padding-right: 15px;  border-right: 1px solid #3f3f3f; border-bottom: 1px solid #3f3f3f; font-size: 14px;">
                <img src="{{ site_url ~ "/" ~  asset("plugins") }}/signature-pad-to-image/index.php?order_no={{ order_details.order_no }}&type=receiver" style="height: 60px">
                <br>
                SIGNED FOR BY: <strong>{{ order_details.sig_name|upper }}</strong>
                <br>
                {{ order_details.police_clearance_date_submitted_for_processing|date('d/m/Y H:i:s') }}
            </td>
        </tr>
    </table>
    <br><br>
    <center><img src="{{ site_url ~ "/" ~  asset("api") }}/barcode/index.php?number={{ order_details.order_no }}" alt="{{ order_details.order_no }}"></center>
</div>