{% extends "AcmeCLShomeBundle::layout.html.twig" %}

{% block metadescription %}Capital Link Services are the experts in Visa Processing, Document Legalisation, Police Clearances, and Secure Document Delivery. {% endblock %}

{% block title %} Login | Capital Link Services{% endblock %}
{% block body %}
{% if error is defined %}
<div class="alert alert-block alert-danger fade in">
     <span class="close" data-dismiss="alert">&times;</span>
    {{ error }}
</div>
{%endif%}


<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <h1>Login</h1>
                <form action="{{ path('acme_cls_client_login') }}" method="post">
                    <input type="hidden" name="hid_submit">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" id="email" class="form-control" id="inputEmail3" placeholder="Email" value="{% if email is defined %}{{ email }}{% endif %}" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" required>
                    </div>
                    
                    <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Remember me
                          </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        <button type="button" class="btn btn-default" onclick="javascript: retrievePass();">Reset Password</button>
                    </div>
                </form>
            </div>
                
            {# if app.session.get("public_reg") == "signup" #}
                <div class="col-lg-4">
                    <h1>New?</h1>

                    <p>Create a new account with CLS to get instant FREE access to our account center and speed up your applications. 
                        You can easily check the status of your orders and re-order at any time.<br/>

                        <a href="{{ path("cls_client_public_registration") }}" class="btn btn-default"> Signup</a>
                    </p>
                </div>
            {# endif #}
            
            <div class="col-lg-4">
                <h1>Need help?</h1>
                <p>Please contact us to speak to a customer service representative on <a href="tel:0262827155">02 6282 7155</a> or email us: <script type="text/javascript" language="javascript">
            <!--
            // Email obfuscator script 2.1 by Tim Williams, University of Arizona
            // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
            // This code is freeware provided these four comment lines remain intact
            // A wizard to generate this code is at http://www.jottings.com/obfuscator/
            { coded = "wpve@WMensMvvniVtp2lnWpt.W8G.MC"
              key = "v0XzfyFMs8Rh2NnLYdZOc4H9CkeT3UGlA17x6gatoDwrEiSBQqPWbKjuVpIJ5m"
              shift=coded.length
              link=""
              for (i=0; i<coded.length; i++) {
                if (key.indexOf(coded.charAt(i))==-1) {
                  ltr = coded.charAt(i)
                  link += (ltr)
                }
                else {     
                  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                  link += (key.charAt(ltr))
                }
              }
            document.write("<a href='mailto:"+link+"'>"+link+"</a>")
            }
            //-->
            </script><noscript>Sorry, you need Javascript on to email me.</noscript>
            </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    function retrievePass(){
        if($('#email').val() != ''){
            $('#request-msg').html('Sending Request...');
        
            jQuery.ajax({
                url: "{{ path("acme_cls_password_reset_check_email") }}",
                method: 'POST',
                data: {'email': $('#email').val()},
                async: true,
                success: function(msg) {
                    $('#request-msg').html('');
                    if(msg ==  'email_invalid'){
                        alert("The email address you've entered don't match any in our system.");
                        $('#email').focus();
                    }else if(msg == 'email_required'){
                        alert("Email address is required.");
                        $('#email').focus();
                    }else if(msg == 'success'){
                        window.location.href = "{{ path("acme_cls_user_reset_password") }}?em="+$('#email').val();
                    }
                },
                error:function(){
                }   
             });
         }else{
            alert("Email address is required.");
            $('#email').focus();
         }
     }
</script>
{% endblock %}