{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Welcome to the CLS Client Centre. How can we help today?</h3>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-8">
        <ul class="tasks">
            {% if app.session.get("user_type") == "government" %}
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_gov_application_tpn_visa") }}"><strong>» Visa + TPN Application</strong> - Book a Visa and order a third person note together online in one application or seperately</a></li>
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_gov_application_visa") }}"><strong>» Visa Application Only</strong> - Order a Visa Application online without a TPN</a></li>
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_gov_application_tpn") }}"><strong>» TPN Application</strong> - Order a third person note online</a></li>
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_gov_passport_office_pickup_or_delivery") }}"><strong>» Passport Office Pickup or Delivery</strong> - Book our Courier Service</a></li>
            {% endif %}
                
                
            {% if app.session.get("user_type") == "public" %}
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_public_application_visa") }}"><strong>» Visa Application</strong> - Order a Visa Application online</a></li>
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_aplication_document_delivery") }}"><strong>» Document Delivery</strong> - Book our Courier Service</a></li>
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_russian_visa_voucher_application_details") }}"><strong>» Russian Visa Voucher</strong></a></li>
            
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_gov_application_police_clearance") }}"><strong>» Police Clearances</strong> - Order a Police Clearance Online</a></li>
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_application_document_legalisation_details") }}"><strong>» Document Legalisation</strong></a></li>
            {% endif %}
                
            
            {% if app.session.get("user_type") == "corporate" %}
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_public_application_visa") }}"><strong>» Visa Application</strong> - Order a Visa Application online</a></li>
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_aplication_document_delivery") }}"><strong>» Document Delivery</strong> - Book our Courier Service</a></li>
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_russian_visa_voucher_application_details") }}"><strong>» Russian Visa Voucher</strong></a></li>
            
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_gov_application_police_clearance") }}"><strong>» Police Clearances</strong> - Order a Police Clearance Online</a></li>
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_application_document_legalisation_details") }}"><strong>» Document Legalisation</strong></a></li>
            {% endif %}
                
            {% if app.session.get("user_type") == "bulk-visa" %}
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_application_bulk_corporate_visa") }}"><strong>» Bulk Visa Application</strong> - Order a Bulk Visa Application online</a></li>
            {% endif %}
                
            
            <li><a type="button" class="btn btn-primary" href="{{ path("cls_client_gov_track_order") }}"><strong>» Track your Order</strong> - Track the status of your visa / police clearance application</a></li>
            {% if app.session.get("user_type") == "government" %}
            <li><a type="button" class="btn btn-default" href="{{ path("cls_client_gov_visa_information") }}"><strong>» Visa Information</strong> - Country specific application info</a></li>
            {% else %}
            <li><a type="button" class="btn btn-default" href="{{ path("cls_client_public_visa_information") }}"><strong>» Visa Information</strong> - Country specific application info</a></li>
            {% endif %}
            {% if app.session.get("user_type") == "public" or app.session.get("user_type") == "corporate" %}
            <li><a type="button" class="btn btn-default" href="{{ path("cls_client_gov_police_clearance_information") }}"><strong>» Police Clearances Information</strong> - Country specific application info</a></li>
            {% endif %}
            
            
            {% if app.session.get("user_type") == "government" %}
            <li><a type="button" class="btn btn-default" href="{{ path("cls_client_gov_past_orders") }}"><strong>» Past &amp; Pending Orders</strong> - Review your Past or Pending orders here</a></li>
            <li><a type="button" class="btn btn-default" href="{{ path("cls_client_gov_edit_details") }}"><strong>» Update your details</strong> - Review your details and update them</a></li>
            {% elseif app.session.get("user_type") == "public" %}
            <li><a type="button" class="btn btn-default" href="{{ path("cls_client_public_past_orders") }}"><strong>» Past &amp; Pending Orders</strong> - Review your Past or Pending orders here</a></li>
            <li><a type="button" class="btn btn-default" href="{{ path("cls_client_public_edit_details") }}"><strong>» Update your details</strong> - Review your details and update them</a></li>
            {% elseif app.session.get("user_type") == "corporate" %}
            <li><a type="button" class="btn btn-default" href="{{ path("cls_client_public_past_orders") }}"><strong>» Past &amp; Pending Orders</strong> - Review your Past or Pending orders here</a></li>
            <li><a type="button" class="btn btn-default" href="{{ path("cls_client_corporate_edit_details") }}"><strong>» Update your details</strong> - Review your details and update them</a></li>
            {% endif %}
        </ul>
    </div>
    
    <div class="col-lg-4">
        <a type="button" class="btn btn-primary" href="{{ path("cls_client_gov_saved_orders") }}"><strong>» Saved Orders</strong><br>Return to unfinished saved orders</a>
        
        <hr />
        
        <h3>Do more with CLS</h3>
        
        <ul>
            <li><strong>Visa Processing</strong>
                <p>Capital Link Services offers visa Processing services for any destination. Please <a href="{{ path("acme_cls_visa_processing") }}">Click Here</a></p>
            </li>
            <li><strong>Document delivery</strong>
                <p>Capital Link Services provides a high-security document delivery service to government departments, banks, professionals, and more. Please <a href="{{ path("acme_cls_document_delivery") }}" >Click Here</a></p>
            </li>
            <li><strong>Helpful Links</strong>
                <p><a href="{{ path("acme_cls_helpful_links") }}">Click here</a> to for some helpful travel links before you travel</p>
            </li>
        </ul>
        
        <hr />
        
        <h3>Need help with your requirements?</h3>
        
        <p>Please contact us to speak to a customer service representative on <a href="tel:0262827155">02 6282 7155</a> or email us: <script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "jLR6@u86C38RRCyFHLxXCuLH.uZd.8c"
  key = "xefgtDHnv8j9cEMNZzVKOip1ARFTdYwrL2U35syXah0uPbJo4GBSC6WQlkIm7q"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+link+"</a>")
}
//-->
</script><noscript>Sorry, you need Javascript on to email me.</noscript>

        </p>
    </div>
</div>
<form action="" method="post">
<input type="hidden" name="new">
<!-- Modal -->
<div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Strengthen Your Password</h4>
      </div>
      <div class="modal-body">
            <div class="row" id="msg_div" style="display:none;">
                <div class="col-lg-12">
                    <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <label id="msg"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label>The system detected that your password is weak and needs to change according to this standard.</label>
                    <div class="pass_requirement">
                        <span><b>Password must contain:</b></span><br/>
                        <span><span id="let" class="glyphicon glyphicon-remove-circle red"></span> Letter(uppercase and lowercase)</span><br/>
                        <span><span id="num" class="glyphicon glyphicon-remove-circle red"></span> Number</span><br/>
                        <span><span id="spe" class="glyphicon glyphicon-remove-circle red"></span> Special character ('/~`!@#$%^&*()_-+={}[]|;:"<>,.?\)</span><br/>
                        <span><span id="len" class="glyphicon glyphicon-remove-circle red"></span> Minimum of 6 character</span>
                    </div>
                </div> 
            </div>
              <br/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="password" class="form-control" required />
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Retype Password</label>
                        <input type="password" name="passwordConfirm" class="form-control" required />
                    </div>
                </div>
            </div>
           
      </div>
      <div class="modal-footer text-right">
            <button type="button" style="display:none;width: 80px;" id="btnDone" class="btn btn-default" data-dismiss="modal">Done</button>
            <button type="button" style="width: 130px;" id="btnUpdatePassword" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
var new_pass_req = "{{new_pass}}";       
var check_pass_url = "{{path('cls_client_public_registration_pass')}}"; 
var update_pass_url = "{{path('acme_cls_client_change_password')}}";
</script>
<script src="{{ asset("js") }}/pages/home-script.js"></script>
{% endblock %}