{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}


<div class="row">
    <div class="col-lg-12">
        <h3>{{ title }}</h3>
        <p>{{ message }}</p>
    </div>
</div>

{% endblock %}