{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block title %}Reports{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/extras/TableTools/media/css/TableTools.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-10">
        <h3>Report</h3>
    </div>
    <div class="col-lg-2 text-right ">
        
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ path("cls_client_report") }}" class="filter">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label>Date Filter</label>
                                    <input type="text" name="from" class="form-control date-picker" placeholder="From" value="{% if get.from is defined %}{{ get.from }}{% endif %}">
                                </div>
                                <div class="col-lg-6">
                                    <label>&nbsp;</label>
                                    <input type="text" name="to" class="form-control date-picker" placeholder="To" value="{% if get.to is defined %}{{ get.to }}{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Ticket Type</label>
                            <select name="ticket" class="form-control">
                                <option value=""> - All - </option>
                                {% if app.session.get('user_type') == 'government' %}
                                <option value="1" {% if get.ticket is defined and get.ticket == 1%}selected{% endif %}>Visa</option>
                                <option value="2" {% if get.ticket is defined and get.ticket == 2%}selected{% endif %}>Third Person Note (TPN)</option>
                                <option value="3" {% if get.ticket is defined and get.ticket == 3%}selected{% endif %}>TPN + Visa</option>
                                <option value="4" {% if get.ticket is defined and get.ticket == 4%}selected{% endif %}>Passport Office Pickup or Delivery</option>
                                <option value="5" {% if get.ticket is defined and get.ticket == 5%}selected{% endif %}>Police Clearances</option>
                                {% else %}
                                <option value="6" {% if get.ticket is defined and get.ticket == 6%}selected{% endif %}>Visa</option>
                                <option value="7" {% if get.ticket is defined and get.ticket == 7%}selected{% endif %}>Document Delivery</option>
                                <option value="5" {% if get.ticket is defined and get.ticket == 5%}selected{% endif %}>Police Clearances</option>
                                {% endif %}

                            </select>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Payment Status</label>
                            <select name="paymentstat" class="form-control">
                                <option value=""> - All - </option>
                                <option value="0" {% if get.paymentstat is defined and get.paymentstat != '' and get.paymentstat == 0%}selected{% endif %}>Pending</option>
                                <option value="1" {% if get.paymentstat is defined and get.paymentstat != '' and get.paymentstat == 1%}selected{% endif %}>Completed</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>On Account?</label>
                            <select name="onaccount" class="form-control">
                                <option value=""> - All - </option>
                                <option value="0" {% if get.onaccount is defined and get.onaccount != '' and get.onaccount == 0%}selected{% endif %}>Yes</option>
                                <option value="1" {% if get.onaccount is defined and get.onaccount != '' and get.onaccount == 1%}selected{% endif %}>No</option>

                            </select>
                        </div>
                    </div>

                    
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-default clear-selections" ><span class="glyphicon glyphicon-repeat"></span> Clear Selections</button>
                        <button class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span> Filter Report</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12  text-right dataTable-buttons-wrapper">
        <div class="dataTable-buttons">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="datatable-listings">
            <thead>
                <tr>    
                    <th>Date Submitted</th>
                    <th>Order No.</th>
                    <th>Ticket Type No</th>
                    <th>Ticket Type</th>
                    <th>Traveller Name</th>
                    <th>Payment Status</th>
                    <th>On Account</th>
                    <th>Total</th>
                    <th style="width: 165px;">Operations</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/TableTools.js"></script>

<script type="text/javascript">
        
// Global declarations
var list_url = "{{ path("cls_client_report_list") }}?from={% if get.from is defined %}{{ get.from }}{% endif %}"
        +"&to={% if get.to is defined %}{{ get.to }}{% endif %}"
        +"&ticket={% if get.ticket is defined %}{{ get.ticket }}{% endif %}"
        +"&paymentstat={% if get.paymentstat is defined %}{{ get.paymentstat }}{% endif %}"
        +"&onaccount={% if get.onaccount is defined %}{{ get.onaccount }}{% endif %}";
var open_order_url = "{{ path("cls_client_gov_saved_order_continue") }}";
var view_order_tpn = "{{ path("cls_client_gov_view_order_tpn") }}";
var view_order_courier = "{{ path("cls_client_gov_view_orders_courier_service") }}";
var view_order_visa = "{{ path("cls_client_gov_view_order_visa") }}";
var view_order_pulic_visa = "{{ path("cls_client_public_view_order_visa") }}";
var view_order_police_clearance = "{{ path("cls_client_gov_view_order_police_clearance") }}";
var view_order_document_delivery = "{{ path("cls_client_gov_view_order_document_delivery") }}";
var russian_visa_voucher_list_url = "{{ path("cls_client_gov_view_order_russian_visa_order") }}";
var document_legalisation_list_url = "{{ path("cls_client_gov_view_order_document_legalisation") }}";

var api_url = "{{ asset("api") }}";
</script>
    
<script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}