{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}




{% block stylesheets %}
<link href="{{ asset("api") }}/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>Bulk Visa Application</h3>
        {% else %}
            <h3>Create Order: Bulk Visa Application<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        
        <div class="application-steps">
            <span>Step 1/3</span>
            <span class="active">Details </span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
    </div>
        
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>
<form id="bulkForm" action="#" method="post">
<input type="hidden" name="hid_submit" id="hidSubmit"/>
{% if app.session.get('user_type') == 'admin-user' %}
    <input type="hidden" name="client_id" value="{{ user_details.id }}">
{% endif %}
{% if order_no is defined %}
    <input type="hidden" name="orderNumber" value="{{ order_no }}">
{% endif %}
    
<div class="order-bundle">
    
{% if post is defined %}
    {% for item in post.items %}
    {% set order_count = loop.index %}
    <div class="order">
        <div class="row">
            <div class="col-lg-6">
                <h4>Destination</h4>
            </div>
            <div class="col-lg-6 text-right">
                <button type="button" class="btn btn-danger btn-sm delete-order"><span class="glyphicon glyphicon-trash"></span> remove this order</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Choose Destination </label>

                            <select class="form-control required" name="destination[{{ order_count }}]" required>
                                <option value="">Select destination</option>
                                {% for destination in countries %}
                                    <option value="{{ destination.id }}" {% if item.destination is defined and item.destination == destination.id %}selected{% endif %}>{{ destination.countryName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Departure Date from Australia</label>
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="departure_date[{{ order_count }}]" value="{% if item.departure_date is defined %}{{ item.departure_date|date("d-m-Y")}}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label id="lbl-entry-date-country">First Entry Date to Country</label>
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="entry_date_country[{{ order_count }}]" value="{% if item.entry_date_country is defined%}{{ item.entry_date_country|date("d-m-Y")}}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label id="lbl-depart-date-country">Last Departure Date from Country</label>
                            <!--<input type="date" class="form-control required" name="departureDateCountry[]" required/>-->
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="departure_date_country[{{ order_count }}]" value="{% if item.departure_date_country is defined %}{{ item.departure_date_country|date("d-m-Y")}}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Purpose of Travel</label>
                            <textarea class="form-control purpose-text required" name="travelPurpose[{{ order_count }}]" required placeholder="[NOTE] - Many diplomatic missions will not accept generic 'Government Business' as a purpose of travel. Please clearly state the reason for your travel including some level of detail">{% if item.travel_purpose is defined %}{{ item.travel_purpose }}{% endif %}</textarea>
                        </div>
                    </div>
                </div>



            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <h4>Traveller Details</h4>
                </div>
            </div>
            <div class="col-lg-6 text-right" style="padding-top: 10px;">
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-xs btn-new-traveller" data-order="{{ order_count }}"><span class="glyphicon glyphicon-plus-sign"></span> new line</button>
                    <button type="button" class="btn btn-danger btn-xs delete-items" ><span class="glyphicon glyphicon-trash"></span> delete</button>
                </div>
            </div>
        </div>

        <div class="row">    
            <!-- Traveller Details -->
            <div class="col-lg-12">
                <div id="traveller-details">


                <table id="datatable-listings" class="table table-bordered traveller">
                    <thead>
                        <tr>
                            <th rowspan="2"><input type="checkbox" id="selectAll" class="bulk-select-all"></th>
                            {#
                            <th colspan="5" style="text-align: center; background-color: #eaf3fd">Destination</th>
                            <th colspan="3" style="text-align: center; background-color: #dffee4">Visa Options</th>
                            <th colspan="12" style="text-align: center; background-color: #eaf3fd">Traveller Details</th>
                            <th colspan="9" style="text-align: center; background-color: #dffee4">Document Details</th>
                            #}
                        </tr>
                        <tr>
                            <th style="min-width: 50px; background-color: #eaf3fd">Title</th>
                            <th style="min-width: 100px; background-color: #eaf3fd">First name</th>
                            <th style="min-width: 100px; background-color: #eaf3fd">Middle name</th>
                            <th style="min-width: 100px; background-color: #eaf3fd">Last name</th>
                            <th style="min-width: 100px; background-color: #eaf3fd">Email</th>
                            {#<th style="min-width: 150px; background-color: #eaf3fd">Occupation</th>#}
                            <th style="min-width: 100px; background-color: #eaf3fd">Phone</th>
                            {#<th style="min-width: 100px; background-color: #eaf3fd">Date of Birth</th>#}
                            <th style="min-width: 100px; background-color: #eaf3fd">Passport Type</th>
                            <th style="min-width: 150px; background-color: #eaf3fd">Nationality</th>
                            <th style="min-width: 100px; background-color: #eaf3fd">Passport No.</th>
                        </tr>
                    </thead>

                    <tbody>
                        {# tr should have id here #}
                        {% if post is defined %}
                            {% for traveller in item.travellers %}
                                <tr>
                                    <td><input type="checkbox" name="bulk_select[]" value="" class="bulk-select"></td>
                                    <td><span class="editable-item editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select title" data-source="{{ name_titles }}" data-value="{{ traveller.title }}" required></span><input class="value" type="hidden" name="travellerTitle[{{ order_count }}][]" value="{{ traveller.title }}"></td>
                                    <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="First name" data-value="{{ traveller.fname }}" required></span><input class="value" type="hidden" name="travellerFname[{{ order_count }}][]" value="{{ traveller.fname }}"></td>
                                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Middle name" data-value="{{ traveller.mname }}"></span><input class="value" type="hidden" name="travellerMname[{{ order_count }}][]" value="{{ traveller.mname }}"></td>
                                    <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Last name" data-value="{{ traveller.lname }}" required></span><input class="value" type="hidden" name="travellerLname[{{ order_count }}][]" value="{{ traveller.lname }}"></td>
                                    <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Email" data-value="{{ traveller.email }}" required></span><input class="value" type="hidden" name="travellerEmail[{{ order_count }}][]" value="{{ traveller.email }}"></td>
                                    {#<td><span class="editable-item editable-empty required" data-type="select" data-showbuttons="true" data-mode="popup" data-original-title="Occupation" data-source="{'a Contractor':'a Contractor', 'a Dependant':'a Dependant', 'a Judge':'a Judge', 'a Member':'a Member', 'a Member of Parliament':'a Member of Parliament','a Minister':'a Minister','a Researcher':'a Researcher','a Spouse':'a Spouse','an Officer':'an Officer','the Prime Minister':'the Prime Minister'}" data-value="{{ traveller.occupation }}" required></span><input class="value" type="hidden" name="travellerOccupation[{{ order_count }}][]" value="{{ traveller.occupation }}"></td>#}
                                    <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Phone" data-value="{{ traveller.phone }}" required></span><input class="value" type="hidden" name="travellerPhone[{{ order_count }}][]" value="{{ traveller.phone }}"></td>
                                    {#<td><span class="editable-item editable-empty required" data-type="date" data-showbuttons="true" data-mode="popup" data-original-title="Date of Birth" data-viewformat="dd-mm-yyyy" data-value="{{ traveller.birth_date }}" required>{{ traveller.birth_date }}</span><input class="value" type="hidden" name="travellerBirthDate[{{ order_count }}][]" value="{{ traveller.birth_date|date('d-m-Y') }}"></td>#}
                                    <td><span class="editable-item editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select type" data-source="{'1':'Diplomatic','2':'Official','3':'Regular'}" data-value="{{ traveller.passport_type }}" required></span><input class="value" type="hidden" name="travellerPassportType[{{ order_count }}][]" value="{{ traveller.passport_type }}"></td>
                                    <td><span class="editable-item editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select nationality" data-source="{{ countries_json }}" data-value="{{ traveller.nationality }}" required></span><input class="value" type="hidden" name="travellerNationality[{{ order_count }}][]" value="{{ traveller.nationality }}"></td>
                                    <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Passport Number" data-value="{{ traveller.passport_number }}" required></span><input class="value" type="hidden" name="travellerPassportNumber[{{ order_count }}][]" value="{{ traveller.passport_number }}"></td>
                                    
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                    <tfoot>
                        {% if post is not defined %}
                        <tr>
                            <td><input type="checkbox" name="bulk_select[]" class="bulk-select"></td>
                            
                            <td><span class="editable-item editable-empty" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select title" data-source="{{ name_titles }}" required></span><input class="value" type="hidden" name="travellerTitle[1][]"></td>
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="First name" required></span><input class="value" type="hidden" name="travellerFname[1][]"></td>
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Middle name"></span><input class="value" type="hidden" name="travellerMname[1][]"></td>
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Last name" required></span><input class="value" type="hidden" name="travellerLname[1][]"></td>
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Email" required>{{ app.session.get("email") }}</span><input class="value" type="hidden" name="travellerEmail[1][]" value="{{ app.session.get("email") }}"></td>
                            {#<td><span class="editable-item editable-empty" data-type="select" data-showbuttons="true" data-mode="popup" data-original-title="Occupation" data-source="{'a Contractor':'a Contractor', 'a Dependant':'a Dependant', 'a Judge':'a Judge', 'a Member':'a Member', 'a Member of Parliament':'a Member of Parliament','a Minister':'a Minister','a Researcher':'a Researcher','a Spouse':'a Spouse','an Officer':'an Officer','the Prime Minister':'the Prime Minister'}" required></span><input class="value" type="hidden" name="travellerOccupation[0]"></td>#}
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Phone" required>{{ app.session.get("phone") }}</span><input class="value" type="hidden" name="travellerPhone[1][]" value="{{ app.session.get("phone") }}"></td>
                            {#<td><span class="editable-item editable-empty" data-type="date" data-showbuttons="true" data-mode="popup" data-original-title="Date of Birth" data-viewformat="dd-mm-yyyy" required></span><input class="value" type="hidden" name="travellerBirthDate[0]"></td>#}
                            <td><span class="editable-item editable-empty" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select type" data-source="{'1':'Diplomatic','2':'Official','3':'Regular'}" required></span><input class="value" type="hidden" name="travellerPassportType[1][]"></td>
                            <td><span class="editable-item editable-empty" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select nationality" data-source="{{ countries_json }}" required></span><input class="value" type="hidden" name="travellerNationality[1][]"></td>
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Passport number" required></span><input class="value" type="hidden" name="travellerPassportNumber[1][]"></td>
                            
                        </tr>
                        {% endif %}
                    </tfoot>
                </table>
                </div>
            </div>
        </div>
        <hr/>
    </div>
    {% endfor %}
{% else %}
    <div class="order">
        <div class="row">
            <div class="col-lg-6">
                <h4>Destination</h4>
            </div>
            <div class="col-lg-6 text-right">
                <button type="button" class="btn btn-danger btn-sm delete-order"><span class="glyphicon glyphicon-trash"></span> remove this order</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Choose Destination </label>

                            <select class="form-control required" name="destination[1]" required>
                                <option value="">Select destination</option>
                                {% for destination in countries %}
                                    <option value="{{ destination.id }}">{{ destination.countryName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Departure Date from Australia</label>
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="departure_date[1]" value="" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label id="lbl-entry-date-country">First Entry Date to Country</label>
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="entry_date_country[1]" value="" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label id="lbl-depart-date-country">Last Departure Date from Country</label>
                            <!--<input type="date" class="form-control required" name="departureDateCountry[]" required/>-->
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="departure_date_country[1]" value="" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Purpose of Travel</label>
                            <textarea class="form-control purpose-text required" name="travelPurpose[1]" required placeholder="[NOTE] - Many diplomatic missions will not accept generic 'Government Business' as a purpose of travel. Please clearly state the reason for your travel including some level of detail"></textarea>
                        </div>
                    </div>
                </div>



            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <h4>Traveller Details</h4>
                </div>
            </div>
            <div class="col-lg-6 text-right" style="padding-top: 10px;">
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-xs btn-new-traveller" data-order="1"><span class="glyphicon glyphicon-plus-sign"></span> new line</button>
                    <button type="button" class="btn btn-danger btn-xs delete-items"><span class="glyphicon glyphicon-trash"></span> delete</button>
                </div>
            </div>
        </div>

        <div class="row">    
            <!-- Traveller Details -->
            <div class="col-lg-12">
                <div id="traveller-details">


                <table id="datatable-listings" class="table table-bordered traveller">
                    <thead>
                        <tr>
                            <th rowspan="2"><input type="checkbox" id="selectAll" class="bulk-select-all"></th>
                            {#
                            <th colspan="5" style="text-align: center; background-color: #eaf3fd">Destination</th>
                            <th colspan="3" style="text-align: center; background-color: #dffee4">Visa Options</th>
                            <th colspan="12" style="text-align: center; background-color: #eaf3fd">Traveller Details</th>
                            <th colspan="9" style="text-align: center; background-color: #dffee4">Document Details</th>
                            #}
                        </tr>
                        <tr>
                            <th style="min-width: 50px; background-color: #eaf3fd">Title</th>
                            <th style="min-width: 100px; background-color: #eaf3fd">First name</th>
                            <th style="min-width: 100px; background-color: #eaf3fd">Middle name</th>
                            <th style="min-width: 100px; background-color: #eaf3fd">Last name</th>
                            <th style="min-width: 100px; background-color: #eaf3fd">Email</th>
                            {#<th style="min-width: 150px; background-color: #eaf3fd">Occupation</th>#}
                            <th style="min-width: 100px; background-color: #eaf3fd">Phone</th>
                            {#<th style="min-width: 100px; background-color: #eaf3fd">Date of Birth</th>#}
                            <th style="min-width: 100px; background-color: #eaf3fd">Passport Type</th>
                            <th style="min-width: 150px; background-color: #eaf3fd">Nationality</th>
                            <th style="min-width: 100px; background-color: #eaf3fd">Passport No.</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                    <tfoot>
                        {% if post is not defined %}
                        <tr>
                            <td><input type="checkbox" name="bulk_select[]" class="bulk-select"></td>
                            
                            <td><span class="editable-item editable-empty" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select title" data-source="{{ name_titles }}" required></span><input class="value" type="hidden" name="travellerTitle[1][]"></td>
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="First name" required></span><input class="value" type="hidden" name="travellerFname[1][]"></td>
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Middle name"></span><input class="value" type="hidden" name="travellerMname[1][]"></td>
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Last name" required></span><input class="value" type="hidden" name="travellerLname[1][]"></td>
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Email" required>{{ app.session.get("email") }}</span><input class="value" type="hidden" name="travellerEmail[1][]" value="{{ app.session.get("email") }}"></td>
                            {#<td><span class="editable-item editable-empty" data-type="select" data-showbuttons="true" data-mode="popup" data-original-title="Occupation" data-source="{'a Contractor':'a Contractor', 'a Dependant':'a Dependant', 'a Judge':'a Judge', 'a Member':'a Member', 'a Member of Parliament':'a Member of Parliament','a Minister':'a Minister','a Researcher':'a Researcher','a Spouse':'a Spouse','an Officer':'an Officer','the Prime Minister':'the Prime Minister'}" required></span><input class="value" type="hidden" name="travellerOccupation[0]"></td>#}
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Phone" required>{{ app.session.get("phone") }}</span><input class="value" type="hidden" name="travellerPhone[1][]" value="{{ app.session.get("phone") }}"></td>
                            {#<td><span class="editable-item editable-empty" data-type="date" data-showbuttons="true" data-mode="popup" data-original-title="Date of Birth" data-viewformat="dd-mm-yyyy" required></span><input class="value" type="hidden" name="travellerBirthDate[0][]"></td>#}
                            <td><span class="editable-item editable-empty" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select type" data-source="{'1':'Diplomatic','2':'Official','3':'Regular'}" required></span><input class="value" type="hidden" name="travellerPassportType[1][]"></td>
                            <td><span class="editable-item editable-empty" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select nationality" data-source="{{ countries_json }}" required></span><input class="value" type="hidden" name="travellerNationality[1][]"></td>
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Passport number" required></span><input class="value" type="hidden" name="travellerPassportNumber[1][]"></td>
                            
                        </tr>
                        {% endif %}
                    </tfoot>
                </table>
                </div>
            </div>
        </div>
        <hr/>
    </div>
   
{% endif %}
    
</div>
<div class="spinner-container">
</div>
    
    
<div class="row">
    <div class="col-lg-12 text-right">
        <div class="form-group">
            <button type="button" class="btn btn-info" id="newOrder"><span class="glyphicon glyphicon-plus"></span> New Order</button>
        </div>
    </div>
</div>
    
<div class="row">
    <div class="col-lg-12">
        <h4>Document Details</h4>
                
        <p>CLS will return all of the completed Visa applications and passports to this address. <font color="red">Please ensure its accuracy</font>.</p>

        <p><label><input type="checkbox" id="chkUseDefaultAddress"> Use default document return address</label></p>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Company (If applicable)</label>
                    <input type="text" class="form-control" name="docReturnCompany" id="docReturnCompany" value="{% if post is defined %}{{ post.dd_company }}{% endif %}"/>
                </div>

                <div class="form-group">
                    <label>Document(s) Return Address</label>
                    <input type="text" class="form-control required" name="docReturnAddress" id="docReturnAddress" value="{% if post is defined %}{{ post.dd_doc_return_address}}{% endif %}"/>
                </div>

                <div class="form-group">
                    <label>City / Suburb</label>
                    <input type="text" class="form-control required" name="docReturnCity" id="docReturnCity" value="{% if post is defined %}{{ post.dd_city }}{% endif %}"/>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control required" name="docReturnState" id="docReturnState" value="{% if post is defined %}{{ post.dd_state }}{% endif %}"/>
                </div>

                <div class="form-group">
                    <label>Postcode</label>
                    <input type="text" class="form-control required" name="docReturnPostCode" id="docReturnPostCode" value="{% if post is defined %}{{ post.dd_postcode }}{% endif %}"/>
                </div>

                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control required" name="docReturnFname" id="docReturnFname" value="{% if post is defined %}{{ post.dd_fname }}{% endif %}"/>
                </div>
            </div>
                
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control required" name="docReturnLname" id="docReturnLname" value="{% if post is defined %}{{ post.dd_lname }}{% endif %}"/>
                </div>

                <div class="form-group">
                    <label>Contact number</label>
                    <input type="text" class="form-control required" name="docReturnContactNo" id="docReturnContactNo" value="{% if post is defined %}{{ post.dd_contact_no }}{% endif %}"/>
                </div>

                
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Additional comments</label>
                    <textarea type="text" class="form-control" name="additionalComments" id="additionalComments">{% if post is defined %}{{ post.dd_additional_comment }}{% endif %}</textarea>
                </div>
            </div>
        </div>
        
        
        

        

    </div>
</div>
<div class="row">
    
    <div class="col-lg-12">
        <div class="form-group">
            <div class="text-right">
                <button type="submit" id="saveProgress" class="btn btn-default save-bulk-visa"><span class="glyphicon glyphicon-floppy-save"></span> Save Progress</button>
                <button type="submit" id="nextPage" class="btn btn-primary next-page"><span class="glyphicon glyphicon-chevron-right"></span> Next</button>
            </div>
        </div>
    </div>
</div>

</form>
<div class="occupation-options">
    <ul>
        <li tag="a Contractor">a Contractor</li>
        <li tag="a Dependant">a Dependant</li>
        <li tag="a Judge">a Judge</li>
        <li tag="a Member">a Member</li>
        <li tag="a Member of Parliament">a Member of Parliament</li>
        <li tag="a Minister">a Minister</li>
        <li tag="a Researcher">a Researcher</li>
        <li tag="a Spouse">a Spouse</li>
        <li tag="an Officer">an Officer</li>
        <li tag="the Prime Minister">the Prime Minister</li>
    </ul>
</div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset("api") }}/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">
        
        // Global declarations
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var jsonpath = "{{ asset("json") }}/occupations.json";
        var get_visa_types_url = "{{ path("cls_client_application_bulk_corporate_visa_get_visa_types") }}";
        var get_visa_type_fees_url = "{{ path("cls_client_application_bulk_corporate_visa_get_visa_type_fees") }}";
        var delete_url = "{{ path("cls_client_application_bulk_corporate_visa_delete_items") }}";
        var new_order_form_url = "{{ path("cls_client_application_bulk_corporate_visa_new_order_form") }}";
        var img_url = "{{ asset("img") }}";
        
        var $json_titles = "{{ name_titles }}";
        var $json_occupations = "{'a Contractor':'a Contractor', 'a Dependant':'a Dependant', 'a Judge':'a Judge', 'a Member':'a Member', 'a Member of Parliament':'a Member of Parliament','a Minister':'a Minister','a Researcher':'a Researcher','a Spouse':'a Spouse','an Officer':'an Officer','the Prime Minister':'the Prime Minister'}";
        var $json_passport_types = "{'1':'Diplomatic','2':'Official','3':'Regular'}";
        var $json_natinalities = "{{ countries_json }}";
        var $json_visa_courier_options = "{{ visa_courier_options }}";
        var $json_smart_traveller = "{'1':'Yes', '0':'No'}";
        
        var udetails_url = "{{ path("cls_client_get_details_by_id") }}";
        
        var client_email = "{{ app.session.get("email") }}";
        var client_phone = "{{ app.session.get("phone") }}";
    </script>
    
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}