<div class="order">
    <div class="row">
        <div class="col-lg-6">
            <h4>Destination</h4>
        </div>
        <div class="col-lg-6 text-right">
            <button type="button" class="btn btn-danger btn-sm delete-order"><span class="glyphicon glyphicon-trash"></span> remove this order</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Choose Destination </label>

                        <select class="form-control required" name="destination[{{ order_count }}]" required>
                            <option value="">Select destination</option>
                            {% for destination in countries %}
                                <option value="{{ destination.id }}">{{ destination.countryName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Departure Date from Australia</label>
                        <div class="input-group date">
                            <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="departure_date[{{ order_count }}]" value="" placeholder="DD-MM-YYYY" required></input>
                            <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <label id="lbl-entry-date-country">First Entry Date to Country</label>
                        <div class="input-group date">
                            <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="entry_date_country[{{ order_count }}]" value="" placeholder="DD-MM-YYYY" required></input>
                            <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <label id="lbl-depart-date-country">Last Departure Date from Country</label>
                        <!--<input type="date" class="form-control required" name="departureDateCountry[]" required/>-->
                        <div class="input-group date">
                            <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="departure_date_country[{{ order_count }}]" value="" placeholder="DD-MM-YYYY" required></input>
                            <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Purpose of Travel</label>
                        <textarea class="form-control purpose-text required" name="travelPurpose[{{ order_count }}]" required placeholder="[NOTE] - Many diplomatic missions will not accept generic 'Government Business' as a purpose of travel. Please clearly state the reason for your travel including some level of detail"></textarea>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <h4>Traveller Details</h4>
            </div>
        </div>
        <div class="col-lg-6 text-right" style="padding-top: 10px;">
            <div class="form-group">
                <button type="button" class="btn btn-default btn-xs btn-new-traveller" data-order="{{ order_count }}"><span class="glyphicon glyphicon-plus-sign"></span> new line</button>
                <button type="button" class="btn btn-danger btn-xs delete-items" disabled="disabled"><span class="glyphicon glyphicon-trash"></span> delete</button>
            </div>
        </div>
    </div>

    <div class="row">    
        <!-- Traveller Details -->
        <div class="col-lg-12">
            <div id="traveller-details">


            <table id="datatable-listings" class="table table-bordered traveller">
                <thead>
                    <tr>
                        <th rowspan="2"><input type="checkbox" id="selectAll" class="bulk-select-all"></th>
                        {#
                        <th colspan="5" style="text-align: center; background-color: #eaf3fd">Destination</th>
                        <th colspan="3" style="text-align: center; background-color: #dffee4">Visa Options</th>
                        <th colspan="12" style="text-align: center; background-color: #eaf3fd">Traveller Details</th>
                        <th colspan="9" style="text-align: center; background-color: #dffee4">Document Details</th>
                        #}
                    </tr>
                    <tr>
                        <th style="min-width: 50px; background-color: #eaf3fd">Title</th>
                        <th style="min-width: 100px; background-color: #eaf3fd">First name</th>
                        <th style="min-width: 100px; background-color: #eaf3fd">Middle name</th>
                        <th style="min-width: 100px; background-color: #eaf3fd">Last name</th>
                        <th style="min-width: 100px; background-color: #eaf3fd">Email</th>
                        {#<th style="min-width: 150px; background-color: #eaf3fd">Occupation</th>#}
                        <th style="min-width: 100px; background-color: #eaf3fd">Phone</th>
                        {#<th style="min-width: 100px; background-color: #eaf3fd">Date of Birth</th>#}
                        <th style="min-width: 100px; background-color: #eaf3fd">Passport Type</th>
                        <th style="min-width: 150px; background-color: #eaf3fd">Nationality</th>
                        <th style="min-width: 100px; background-color: #eaf3fd">Passport No.</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
                <tfoot>
                    {% if post is not defined %}
                    <tr>
                        <td><input type="checkbox" name="bulk_select[]" class="bulk-select"></td>

                        <td><span class="editable-item editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select title" data-source="{{ name_titles }}" required></span><input class="value" type="hidden" name="travellerTitle[{{ order_count }}][]"></td>
                        <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="First name" required></span><input class="value" type="hidden" name="travellerFname[{{ order_count }}][]"></td>
                        <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Middle name"></span><input class="value" type="hidden" name="travellerMname[{{ order_count }}][]"></td>
                        <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Last name" required></span><input class="value" type="hidden" name="travellerLname[{{ order_count }}][]"></td>
                        <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Email" required>{{ app.session.get("email") }}</span><input class="value" type="hidden" name="travellerEmail[{{ order_count }}][]" value="{{ app.session.get("email") }}"></td>
                        {#<td><span class="editable-item editable-empty required" data-type="select" data-showbuttons="true" data-mode="popup" data-original-title="Occupation" data-source="{'a Contractor':'a Contractor', 'a Dependant':'a Dependant', 'a Judge':'a Judge', 'a Member':'a Member', 'a Member of Parliament':'a Member of Parliament','a Minister':'a Minister','a Researcher':'a Researcher','a Spouse':'a Spouse','an Officer':'an Officer','the Prime Minister':'the Prime Minister'}" required></span><input class="value" type="hidden" name="travellerOccupation[{{ order_count }}][]"></td>#}
                        <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Phone" required>{{ app.session.get("phone") }}</span><input class="value" type="hidden" name="travellerPhone[{{ order_count }}][]" value="{{ app.session.get("phone") }}"></td>
                        {#<td><span class="editable-item editable-empty required" data-type="date" data-showbuttons="true" data-mode="popup" data-original-title="Date of Birth" data-viewformat="dd-mm-yyyy" required></span><input class="value" type="hidden" name="travellerBirthDate[{{ order_count }}][]"></td>#}
                        <td><span class="editable-item editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select type" data-source="{'1':'Diplomatic','2':'Official','3':'Regular'}" required></span><input class="value" type="hidden" name="travellerPassportType[{{ order_count }}][]"></td>
                        <td><span class="editable-item editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select nationality" data-source="{{ countries_json }}" required></span><input class="value" type="hidden" name="travellerNationality[{{ order_count }}][]"></td>
                        <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Passport number" required></span><input class="value" type="hidden" name="travellerPassportNumber[{{ order_count }}][]"></td>

                    </tr>
                    {% endif %}
                </tfoot>
            </table>
            </div>
        </div>
    </div>
    <hr/>
</div>