{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}




{% block stylesheets %}
<link href="{{ asset("api") }}/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>Bulk Visa Application</h3>
        {% else %}
            <h3>Create Order: Bulk Visa Application<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        
        <div class="application-steps">
            <span>Step 1/3</span>
            <span class="active">Details </span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
    </div>
        
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>
<form id="bulkForm" action="#" method="post">
<input type="hidden" name="hid_submit" id="hidSubmit"/>
{% if app.session.get('user_type') == 'admin-user' %}
    <input type="hidden" name="client_id" value="{{ user_details.id }}">
{% endif %}
{% if order_no is defined %}
    <input type="hidden" name="orderNumber" value="{{ order_no }}">
{% endif %}
    


    
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <p id="error-notes"></p>
        </div>
    </div>
    <div class="col-lg-6 text-right">
        <div class="form-group">
            <button type="button" class="btn btn-default btn-xs btn-new-traveller"><span class="glyphicon glyphicon-plus-sign"></span> new line</button>
            <button type="button" id="deleteItems" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> delete</button>
        </div>
    </div>
</div>
    
<div class="row">    
    <!-- Traveller Details -->
    <div class="col-lg-12">
        <div id="traveller-details">
        
        
        <table id="datatable-listings" class="table table-bordered traveller">
            <thead>
                <tr>
                    <th rowspan="2"><input type="checkbox" id="selectAll" class="bulk-select-all"></th>
                    <th colspan="5" style="text-align: center; background-color: #eaf3fd">Destination</th>
                    <th colspan="3" style="text-align: center; background-color: #dffee4">Visa Options</th>
                    <th colspan="12" style="text-align: center; background-color: #eaf3fd">Traveller Details</th>
                    <th colspan="9" style="text-align: center; background-color: #dffee4">Document Details</th>
                </tr>
                <tr>
                    <th style="min-width: 150px; background-color: #eaf3fd">Destination</th>
                    <th style="min-width: 100px; background-color: #eaf3fd">Departure Date from Australia</th>
                    <th style="min-width: 100px; background-color: #eaf3fd">First Entry Date to Country</th>
                    <th style="min-width: 100px; background-color: #eaf3fd">Last Entry Date from Country</th>
                    <th style="min-width: 180px; background-color: #eaf3fd">Purpose of Travel</th>
                    
                    <th style="min-width: 150px; background-color: #dffee4">Visa Type</th>
                    <th style="min-width: 150px; background-color: #dffee4">Visa fee</th>
                    <th style="min-width: 150px; background-color: #dffee4">Courier</th>
                    
                    <th style="min-width: 50px; background-color: #eaf3fd">Title</th>
                    <th style="min-width: 100px; background-color: #eaf3fd">First name</th>
                    <th style="min-width: 100px; background-color: #eaf3fd">Middle name</th>
                    <th style="min-width: 100px; background-color: #eaf3fd">Last name</th>
                    <th style="min-width: 100px; background-color: #eaf3fd">Email</th>
                    <th style="min-width: 150px; background-color: #eaf3fd">Occupation</th>
                    <th style="min-width: 100px; background-color: #eaf3fd">Phone</th>
                    <th style="min-width: 100px; background-color: #eaf3fd">Date of Birth</th>
                    <th style="min-width: 100px; background-color: #eaf3fd">Passport Type</th>
                    <th style="min-width: 150px; background-color: #eaf3fd">Nationality</th>
                    <th style="min-width: 100px; background-color: #eaf3fd">Passport No.</th>
                    <th style="min-width: 180px; background-color: #eaf3fd">Would you like CLS to perform Smart Traveller Registrations</th>
                    
                    <th style="min-width: 100px; background-color: #dffee4">Company</th>
                    <th style="min-width: 180px; background-color: #dffee4">Document Return Address</th>
                    <th style="min-width: 100px; background-color: #dffee4">City / Suburb</th>
                    <th style="min-width: 70px; background-color: #dffee4">State</th>
                    <th style="min-width: 70px; background-color: #dffee4">Postcode</th>
                    <th style="min-width: 100px; background-color: #dffee4">First name</th>
                    <th style="min-width: 100px; background-color: #dffee4">Last name</th>
                    <th style="min-width: 100px; background-color: #dffee4">Contact number</th>
                    <th style="min-width: 180px; background-color: #dffee4">Additional Comment</th>
                </tr>
            </thead>

            <tbody>
                {# tr should have id here #}
                {% if post is defined %}
                    {% for item in post.items %}
                        <tr>
                            <td><input type="checkbox" name="bulk_select[]" value="{{ item.id }}" class="bulk-select"></td>
                            <td><span class="editable-item destination editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select destination" data-source="{{ countries_json }}" data-value="{{ item.destination }}" required></span><input class="value" type="hidden" name="destination[]" value="{{ item.destination }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="date" data-showbuttons="true" data-mode="popup" data-original-title="Departure date from Australia" data-viewformat="dd-mm-yyyy" data-value="{{ item.departure_date }}" required></span><input class="value" type="hidden" name="departure_date[]" value="{{ item.departure_date|date('d-m-Y') }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="date" data-showbuttons="true" data-mode="popup" data-original-title="First entry date to Country" data-viewformat="dd-mm-yyyy" data-value="{{ item.entry_date_country }}" required></span><input class="value" type="hidden" name="entry_date_country[]" value="{{ item.entry_date_country|date('d-m-Y') }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="date" data-showbuttons="true" data-mode="popup" data-original-title="Last departure date from Country" data-viewformat="dd-mm-yyyy" data-value="{{ item.departure_date_country }}" required></span><input class="value" type="hidden" name="departure_date_country[]" value="{{ item.departure_date_country|date('d-m-Y') }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="textarea" data-showbuttons="true" data-mode="popup" data-original-title="Purpose of travel" data-value="{{ item.travel_purpose }}" required></span><textarea class="value" type="hidden" name="travelPurpose[]" style="display: none">{{ item.travel_purpose }}</textarea></td>

                            <td><span class="editable-item-visa-types editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Visa type" data-value="{{ item.selected_visa_type }}" required>{{ item.selected_visa_type_name }}</span><input class="value" type="hidden" name="visaType[]" value="{{ item.selected_visa_type }}"></td>
                            <td><span class="editable-item-visa-type-fees editable-empty" data-type="checklist"  data-showbuttons="true" data-mode="popup"  data-original-title="Visa fee" {% if item.selected_visa_type_requirements_ids !="" %}data-value="{{ item.selected_visa_type_requirements_ids }}"{% endif %}>{{ item.selected_visa_type_requirements_names }}</span><input class="value" type="hidden" name="addReq[]" value="{{ item.selected_visa_type_requirements }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Choose Courier" data-source="{{ visa_courier_options }}" data-value="{{ item.visa_courier }}" required></span><input class="value" type="hidden" name="courier[]" value="{{ item.visa_courier }}"></td>

                            <td><span class="editable-item editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select title" data-source="{{ name_titles }}" data-value="{{ item.traveller_title }}" required></span><input class="value" type="hidden" name="travellerTitle[]" value="{{ item.traveller_title }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="First name" data-value="{{ item.traveller_fname }}" required></span><input class="value" type="hidden" name="travellerFname[]" value="{{ item.traveller_fname }}"></td>
                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Middle name" data-value="{{ item.traveller_mname }}"></span><input class="value" type="hidden" name="travellerMname[]" value="{{ item.traveller_mname }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Last name" data-value="{{ item.traveller_lname }}" required></span><input class="value" type="hidden" name="travellerLname[]" value="{{ item.traveller_lname }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Email" data-value="{{ item.traveller_email }}" required></span><input class="value" type="hidden" name="travellerEmail[]" value="{{ item.traveller_email }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="select" data-showbuttons="true" data-mode="popup" data-original-title="Occupation" data-source="{'a Contractor':'a Contractor', 'a Dependant':'a Dependant', 'a Judge':'a Judge', 'a Member':'a Member', 'a Member of Parliament':'a Member of Parliament','a Minister':'a Minister','a Researcher':'a Researcher','a Spouse':'a Spouse','an Officer':'an Officer','the Prime Minister':'the Prime Minister'}" data-value="{{ item.traveller_occupation }}" required></span><input class="value" type="hidden" name="travellerOccupation[]" value="{{ item.traveller_occupation }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Phone" data-value="{{ item.traveller_phone }}" required></span><input class="value" type="hidden" name="travellerPhone[]" value="{{ item.traveller_phone }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="date" data-showbuttons="true" data-mode="popup" data-original-title="Date of Birth" data-viewformat="dd-mm-yyyy" data-value="{{ item.traveller_bday }}" required></span><input class="value" type="hidden" name="travellerBirthDate[]" value="{{ item.traveller_bday|date('d-m-Y') }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select type" data-source="{'1':'Diplomatic','2':'Official','3':'Regular'}" data-value="{{ item.traveller_passport_type }}" required></span><input class="value" type="hidden" name="travellerPassportType[]" value="{{ item.traveller_passport_type }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select nationality" data-source="{{ countries_json }}" data-value="{{ item.traveller_nationality }}" required></span><input class="value" type="hidden" name="travellerNationality[]" value="{{ item.traveller_nationality }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Passport Number" data-value="{{ item.traveller_passport_no }}" required></span><input class="value" type="hidden" name="travellerPassportNumber[]" value="{{ item.traveller_passport_no }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Would you like CLS to perform Smart Traveller Registrations?" data-source="{'1':'Yes', '0':'No'}" data-value="{{ item.is_smart_traveller }}" required></span><input class="value" type="hidden" name="smartTraveller[]" value="{{ item.is_smart_traveller }}"></td>

                            <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Company" data-value="{{ item.dd_company }}"></span><input class="value" type="hidden" name="docReturnCompany[]" value="{{ item.dd_company }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Document(s) Return Address" data-value="{{ item.dd_doc_return_address }}" required></span><input class="value" type="hidden" name="docReturnAddress[]" value="{{ item.dd_doc_return_address }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="City / Suburb" data-value="{{ item.dd_city }}" required></span><input class="value" type="hidden" name="docReturnCity[]" value="{{ item.dd_city }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="State" data-value="{{ item.dd_state }}" required></span><input class="value" type="hidden" name="docReturnState[]" value="{{ item.dd_state }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Postcode" data-value="{{ item.dd_postcode }}" required></span><input class="value" type="hidden" name="docReturnPostCode[]" value="{{ item.dd_postcode }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="First name" data-value="{{ item.dd_fname }}" required></span><input class="value" type="hidden" name="docReturnFname[]" value="{{ item.dd_fname }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Last name" data-value="{{ item.dd_lname }}" required></span><input class="value" type="hidden" name="docReturnLname[]" value="{{ item.dd_lname }}"></td>
                            <td><span class="editable-item editable-empty required" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Contact number" data-value="{{ item.dd_contact_no }}" required></span><input class="value" type="hidden" name="docReturnContactNo[]" value="{{ item.dd_contact_no }}"></td>
                            <td><span class="editable-item editable-empty" data-type="textarea" data-showbuttons="true" data-mode="popup" data-original-title="Additional comments" data-value="{{ item.dd_additional_comment }}"></span><textarea class="value" type="hidden" name="additionalComments[]" style="display: none">{{ item.dd_additional_comment }}</textarea></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            <tfoot>
                {% if post is not defined %}
                <tr>
                    <td><input type="checkbox" name="bulk_select[]" class="bulk-select"></td>
                    <td><span class="editable-item destination editable-empty" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select destination" data-source="{{ countries_json }}" required></span><input class="value" type="hidden" name="destination[]"></td>
                    <td><span class="editable-item editable-empty" data-type="date" data-showbuttons="true" data-mode="popup" data-original-title="Departure date from Australia" data-viewformat="dd-mm-yyyy" required></span><input class="value" type="hidden" name="departure_date[]"></td>
                    <td><span class="editable-item editable-empty" data-type="date" data-showbuttons="true" data-mode="popup" data-original-title="First entry date to Country" data-viewformat="dd-mm-yyyy" required></span><input class="value" type="hidden" name="entry_date_country[]"></td>
                    <td><span class="editable-item editable-empty" data-type="date" data-showbuttons="true" data-mode="popup" data-original-title="Last departure date from Country" data-viewformat="dd-mm-yyyy" required></span><input class="value" type="hidden" name="departure_date_country[]"></td>
                    <td><span class="editable-item editable-empty" data-type="textarea" data-showbuttons="true" data-mode="popup" data-original-title="Purpose of travel" required></span><textarea class="value" type="hidden" name="travelPurpose[]" style="display: none"></textarea></td>

                    <td><span class="editable-item-visa-types editable-empty" data-type="select"  data-showbuttons="false" data-mode="popup"  data-original-title="Visa type" required></span><input class="value" type="hidden" name="visaType[]"></td>
                    <td><span class="editable-item-visa-type-fees editable-empty" data-type="checklist"  data-showbuttons="true" data-mode="popup"  data-original-title="Visa fee" ></span><input class="value" type="hidden" name="addReq[]"></td>
                    <td><span class="editable-item editable-empty" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Choose Courier" data-source="{{ visa_courier_options }}" required></span><input class="value" type="hidden" name="courier[]"></td>

                    <td><span class="editable-item editable-empty" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select title" data-source="{{ name_titles }}" required></span><input class="value" type="hidden" name="travellerTitle[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="First name" required></span><input class="value" type="hidden" name="travellerFname[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Middle name"></span><input class="value" type="hidden" name="travellerMname[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Last name" required></span><input class="value" type="hidden" name="travellerLname[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Email" required></span><input class="value" type="hidden" name="travellerEmail[]"></td>
                    <td><span class="editable-item editable-empty" data-type="select" data-showbuttons="true" data-mode="popup" data-original-title="Occupation" data-source="{'a Contractor':'a Contractor', 'a Dependant':'a Dependant', 'a Judge':'a Judge', 'a Member':'a Member', 'a Member of Parliament':'a Member of Parliament','a Minister':'a Minister','a Researcher':'a Researcher','a Spouse':'a Spouse','an Officer':'an Officer','the Prime Minister':'the Prime Minister'}" required></span><input class="value" type="hidden" name="travellerOccupation[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Phone" required></span><input class="value" type="hidden" name="travellerPhone[]"></td>
                    <td><span class="editable-item editable-empty" data-type="date" data-showbuttons="true" data-mode="popup" data-original-title="Date of Birth" data-viewformat="dd-mm-yyyy" required></span><input class="value" type="hidden" name="travellerBirthDate[]"></td>
                    <td><span class="editable-item editable-empty" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select type" data-source="{'1':'Diplomatic','2':'Official','3':'Regular'}" required></span><input class="value" type="hidden" name="travellerPassportType[]"></td>
                    <td><span class="editable-item editable-empty" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Select nationality" data-source="{{ countries_json }}" required></span><input class="value" type="hidden" name="travellerNationality[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Passport number" required></span><input class="value" type="hidden" name="travellerPassportNumber[]"></td>
                    <td><span class="editable-item editable-empty" data-type="select"  data-showbuttons="true" data-mode="popup"  data-original-title="Would you like CLS to perform Smart Traveller Registrations?" data-source="{'1':'Yes', '0':'No'}" required></span><input class="value" type="hidden" name="smartTraveller[]"></td>

                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Company" ></span><input class="value" type="hidden" name="docReturnCompany[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Document(s) Return Address" required></span><input class="value" type="hidden" name="docReturnAddress[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="City / Suburb" required></span><input class="value" type="hidden" name="docReturnCity[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="State" required></span><input class="value" type="hidden" name="docReturnState[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Postcode" required></span><input class="value" type="hidden" name="docReturnPostCode[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="First name" required></span><input class="value" type="hidden" name="docReturnFname[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Last name" required></span><input class="value" type="hidden" name="docReturnLname[]"></td>
                    <td><span class="editable-item editable-empty" data-type="text" data-showbuttons="true" data-mode="popup" data-original-title="Contact number" required></span><input class="value" type="hidden" name="docReturnContactNo[]"></td>
                    <td><span class="editable-item editable-empty" data-type="textarea" data-showbuttons="true" data-mode="popup" data-original-title="Additional comments"></span><textarea class="value" type="hidden" name="additionalComments[]" style="display: none"></textarea></td>
                </tr>
                {% endif %}
            </tfoot>
        </table>

        {#
        <div class="traveller-details-group">

        {% if post.travellers is defined and post.travellers|length > 0%}
            {% for traveller in post.travellers %}
            <div class="group">

            </div>
            {% endfor %}
        {% else %}

            <div class="group">

            </div>
        {% endif %}
        </div>
        #}
        </div>
    </div>
    
    
    
    
    
    
    
    
    
</div>
<br/><br/>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="text-right">
                <button type="submit" id="saveProgress" class="btn btn-default save-bulk-visa"><span class="glyphicon glyphicon-floppy-save"></span> Save Progress</button>
                <button type="submit" id="nextPage" class="btn btn-primary next-page"><span class="glyphicon glyphicon-chevron-right"></span> Next</button>
            </div>
        </div>
    </div>
</div>

</form>
<div class="occupation-options">
    <ul>
        <li tag="a Contractor">a Contractor</li>
        <li tag="a Dependant">a Dependant</li>
        <li tag="a Judge">a Judge</li>
        <li tag="a Member">a Member</li>
        <li tag="a Member of Parliament">a Member of Parliament</li>
        <li tag="a Minister">a Minister</li>
        <li tag="a Researcher">a Researcher</li>
        <li tag="a Spouse">a Spouse</li>
        <li tag="an Officer">an Officer</li>
        <li tag="the Prime Minister">the Prime Minister</li>
    </ul>
</div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset("api") }}/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">
        
        // Global declarations
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var jsonpath = "{{ asset("json") }}/occupations.json";
        var get_visa_types_url = "{{ path("cls_client_application_bulk_corporate_visa_get_visa_types") }}";
        var get_visa_type_fees_url = "{{ path("cls_client_application_bulk_corporate_visa_get_visa_type_fees") }}";
        var delete_url = "{{ path("cls_client_application_bulk_corporate_visa_delete_items") }}";
        
        var $json_titles = "{{ name_titles }}";
        var $json_occupations = "{'a Contractor':'a Contractor', 'a Dependant':'a Dependant', 'a Judge':'a Judge', 'a Member':'a Member', 'a Member of Parliament':'a Member of Parliament','a Minister':'a Minister','a Researcher':'a Researcher','a Spouse':'a Spouse','an Officer':'an Officer','the Prime Minister':'the Prime Minister'}";
        var $json_passport_types = "{'1':'Diplomatic','2':'Official','3':'Regular'}";
        var $json_natinalities = "{{ countries_json }}";
        var $json_visa_courier_options = "{{ visa_courier_options }}";
        var $json_smart_traveller = "{'1':'Yes', '0':'No'}"
    </script>
    
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}