<html>
<body>
  <p>Thank you for your recent order with Capital Link Services. Please see the summary of your order and tax invoice below:</p>
  <p><i>Note: Click on Visa Product name to download application form.</i></p>
  <table style="border-collapse:collapse" border="1" cellpadding="5" cellspacing="0">
    <tbody>
        <tr>
            <td width="50%">
                    <h3>Tax Invoice Date</h3>
                    <p>{{ date_submitted|date("d-m-Y") }}</p>
                    <p>
                        {% for ors in data.items %}
                            {{ ors.generated_order_no }},
                        {% endfor %}
                    </p>
            </td>
            <td width="50%">
                <h3>Tax Invoice/Order Number</h3>
                {#<img src="http://dev.clientcentre.capitallinkservices.com.au/assets/barcode/?OrderNumber={{ order_no }}" alt="{{ order_no }}">-->
                <img src="{{ domain ~ "/" ~  asset("api") }}/barcodegen.1d-php5.v5.1.0/index.php?number={{ order_no }}" alt="{{ order_no }}">#}
                {% for traveller in data.items %}
                <img src="{{ domain ~ "/" ~  asset("api") }}/barcode/index.php?number={{ traveller.generated_order_no }}" alt="{{ traveller.generated_order_no }}">
                <br>
                <label>
                    {{ traveller.traveller_fname ~ " " ~ traveller.traveller_mname ~ " " ~ traveller.traveller_lname }}<br/>
                    <u></u>
                </label>
                {% endfor %}
            </td>
        </tr>
            <tr>
                <td colspan="2">
                    <table border="0" cellpadding="5" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                                <th>Product</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>GST</th>
                                <th>Total</th>
                        </tr>
                        {% set items_total_cost = 0 %}
                        {% set items_total_gst = 0 %}
                        {% for destination in data.items %}
                            <tr>
                                <td><a href="{{ domain ~ asset("dev") ~ "/publicvisafiles/" ~ destination.destination ~ "/" ~ destination.selected_visa_type ~ "/" ~ destination.file_attached }}" target="_blank">{{ destination.destination_name ~ " " ~ destination.selected_visa_type_name }}</a></td>
                                {% set svtp = destination.selected_visa_type_price %}
                                {# if user.can_get_special_price == 1 %}
                                    {% set svtp = svtp + (svtp * (user.special_price/100))%}
                                {% endif #}
                                <td>${{ svtp|number_format(2) }}</td>
                                <td>1</td>
                                <td>10%</td>

                                {% set svtp = svtp * 1 %}
                                {% set item_total = svtp + (svtp * 0.10) %}
                                {% set items_total_cost = items_total_cost + svtp %}
                                {% set items_total_gst = items_total_gst + (svtp * 0.10) %}
                                <td>${{ item_total|number_format(2) }}</td>
                            </tr>

                            {% for svt in destination.selected_visa_type_requirements_array %}
                                <tr>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ svt.requirement }}</td>
                                    {% set svtrac = svt.cost %}
                                    {# if user.can_get_special_price == 1 %}
                                        {% set svtrac = svtrac + (svtrac * (user.special_price/100))%}
                                    {% endif #}
                                    <td>${{ svtrac|number_format(2) }}</td>
                                    <td>1</td>
                                    <td>0%</td>

                                    {% set svtrac = svtrac * 1 %}
                                    {# set item_total = svtrac + (svtrac * 0.10) GST #}
                                    {% set item_total = svtrac %}
                                    {% set items_total_cost = items_total_cost + svtrac %}
                                    {# set items_total_gst = items_total_gst + (svtrac * 0.10)  GST #}
                                    <td>${{ item_total|number_format(2) }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Courier: {{ destination.visa_courier_type }}</td>
                                {% set vcp = destination.visa_courier_price %}
                                {% if user.can_get_special_price == 1 %}
                                    {% set vcp = vcp + (vcp * (user.special_price/100))%}
                                {% endif %}

                                <td>${{ vcp|number_format(2) }}</td>        
                                <td>1</td>
                                <td>10%</td>
                                {% set item_total = vcp + (vcp * 0.10)%}
                                {% set items_total_cost = items_total_cost + vcp %}
                                {% set items_total_gst = items_total_gst + (vcp * 0.10) %}
                                <td>${{ item_total|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </td>
            </tr>
            
            {% set discount = 0 %}
            {% if data.discount_rate != '' and data.discount_rate > 0 %}
                {% set discount = (items_total_cost * (data.discount_rate/100)) + (items_total_gst * (data.discount_rate/100))%}
                {% set items_total_cost = items_total_cost - (items_total_cost * (data.discount_rate/100))%}
                {% set items_total_gst = items_total_gst - (items_total_gst * (data.discount_rate/100))%}
            {% endif %}
            
            
            {% if data.discount_rate > 0 %}
            <tr>
                <td colspan="2" align="right"><b>Discount</b>: ${{ discount|number_format(2) }}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" align="right"><b>Sub Total</b>: ${{ items_total_cost|number_format(2) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>GST</b>: ${{ items_total_gst|number_format(2) }}</td>
            </tr>
            
            {% set grand_total = items_total_cost + items_total_gst %}
            {% if data.payment_option == 1 %}
            {% set grand_total = grand_total + (grand_total * (data.credit_card_processing_fee/100))%}
            <tr>
                <td colspan="2" align="right"><b>Credit Card Fee</b>: ${{ (grand_total * (data.credit_card_processing_fee/100))|number_format(2) }}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" align="right"><b>Total Paid to Date</b>: ${{ grand_total|number_format(2) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>Balance Due</b>: {% if data.payment_option == 1 %}$0.00{% else %}${{ grand_total|number_format(2) }}{% endif %}</td>
            </tr>
    </tbody>
    </table>
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>