<html>
<body>
    <p>Hi {{ app.session.get("fname") }}, </p>
    <p>Your recent order has been lodged and is now being processed by CLS. Most standard orders are processed by our office within 24hours during the working week (Monday to Friday). You will receive another email notifying you of the status of your request as it gets processed.</p>
    <p>Please see a summary of your submission below:</p>
    
    
    {% for destination in data.items %}
        <h3>Travel Details</h3>
        <table border="0">
            <tbody>
                <tr>
                    <th style="text-align: left; min-width: 250px;">Order No.</th>
                    <td style="text-align: left;">{{ destination.generated_order_no }}</td>
                </tr>
                <tr>
                    <th style="text-align: left; min-width: 250px;">Destination</th>
                    <td style="text-align: left;">{{ destination.destination_name }}</td>
                </tr>
                <tr>
                    <th style="text-align: left; min-width: 250px;">Departure Date from Australia</th>
                    <td style="text-align: left;">{{ destination.departure_date|date("d-m-Y") }}</td>
                </tr>
                <tr>
                    <th style="text-align: left; min-width: 250px;">First Entry Date to Country</th>
                    <td>{{ destination.entry_date_country|date("d-m-Y") }}</td>
                </tr>
                <tr>
                    <th style="text-align: left; min-width: 250px;">Last Departure Date from Country</th>
                    <td style="text-align: left;">{{ destination.departure_date_country|date("d-m-Y") }}</td>
                </tr>
                <tr>
                    <th style="text-align: left; min-width: 250px;">Purpose of Travel</th>
                    <td style="text-align: left;">{{ destination.travel_purpose }}</td>
                </tr>
            </tbody>
        </table>

        <h3>Traveller Details</h3>
        <table border="0" cellspacing="5">
            <thead>
                <tr>
                    <th style="text-align: left;">Name</th>
                    <th style="text-align: left;">Email</th>
                    <th style="text-align: left;">Phone</th>
                    <th style="text-align: left;">Nationality</th>
                    <th style="text-align: left;">Passport type</th>
                    <th style="text-align: left;">Passport number</th>
                </tr>
            </thead>
            <tbody>
                {% for traveller in destination.travellers %}
                <tr>
                    <td style="text-align: left;">{{ traveller.fname ~ " " ~ traveller.mname ~ " " ~ traveller.lname }}</td>
                    <td style="text-align: left;">{{ traveller.email }}</td>
                    <td style="text-align: left;">{{ traveller.phone }}</td>
                    <td style="text-align: left;">{{ traveller.nationality_name }}</td>
                    <td style="text-align: left;">{{ traveller.passport_type_name }}</td>
                    <td style="text-align: left;">{{ traveller.passport_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <hr/>
    {% endfor %}
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>