{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>Bulk Visa Application</h3>
        {% else %}
            <h3>Create Order: Bulk Visa Application<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        
        {% if app.session.get('user_type') != 'admin-user' %}
        <div class="application-steps">
            <span>Step 2/3</span>
            <span><a href="{{ path("cls_client_application_bulk_corporate_visa") }}?order={{ order_no }}">Details</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% else %}
        <div class="application-steps">
            <span>Step 2/3</span>
            <span><a href="{{ path("cls_client_application_bulk_corporate_visa") }}?client={{ user_details.id }}&order={{ order_no }}">Details</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

<div class="row">

    <div class="col-lg-12">
        <table class="table table-hover">
            
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>GST</th>
                    <th>Total</th>
                </tr>
            </thead>
            
            <tbody>
                
                {% set items_total_cost = 0 %}
                {% set items_total_gst = 0 %}
                
                
                
            </tbody>
            
            <tfoot>
                <tr>
                    <td>
                        <div class="row">
                            <form action="{{ path("cls_client_application_bulk_corporate_visa_discount") }}" method="POST">
                            <input type="hidden" name="orderNumber" value="{{ order_no }}">
                            {% if app.session.get('user_type') == 'admin-user' %}
                                <input type="hidden" name="client_id" value="{{ user_details.id }}">
                            {% endif %}
                            <div class="col-lg-4">Discount Code (Case Sensitive)</div> 
                            <div class="col-lg-3"><input type="text" name="discountCode" id="discountCode" class="form-control" value="{{ data.discount_code }}"/></div> 
                            <div class="col-lg-3"><button type="submit" id="btnDiscountUpdate" class="btn btn-primary"> Update </button></div> 
                            </form>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% set discount = 0 %}
                    {% if data.discount_rate != '' and data.discount_rate > 0 %}
                        {% set discount = (items_total_cost * (data.discount_rate/100)) + (items_total_gst * (data.discount_rate/100))%}
                        {% set items_total_cost = items_total_cost - (items_total_cost * (data.discount_rate/100))%}
                        {% set items_total_gst = items_total_gst - (items_total_gst * (data.discount_rate/100))%}
                    {% endif %}
                    
                    <td>- $<span id="discount">{{ discount|number_format(2) }}</span></td>
                </tr>
                
                <tr>
                    <td>Subtotal</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td>${{ items_total_cost|number_format(2) }}</td>
                </tr>
                
                <tr>
                    <td>GST</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td>${{ items_total_gst|number_format(2) }}</td>
                </tr>
                
                
                <tr class="grand-total">
                    <td>Grand Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% set grand_total = items_total_cost + items_total_gst %}
                    <td><strong>${{ grand_total|number_format(2) }} AUD</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
        
    <div class="col-lg-12 text-right">
        <hr />
         <form action="{{ path("cls_client_application_bulk_corporate_visa_review") }}" method="post">
            <input type="hidden" name="hid_submit" id="hidSubmit">
            <input type="hidden" name="orderNumber" value="{{ order_no }}">
            {% if app.session.get('user_type') == 'admin-user' %}
                <input type="hidden" name="client_id" value="{{ user_details.id }}">
            {% endif %}
            
            {% if app.session.get('user_type') == 'admin-user' %}
                <a href="{{ path("cls_client_application_bulk_corporate_visa") }}?client={{ user_details.id }}&order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
            {% else %}
                <a href="{{ path("cls_client_application_bulk_corporate_visa") }}?order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
            {% endif %}
            <button type="submit" id="nextPage" class="btn btn-primary"><span>&raquo;</span> Next</button>
         </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
        
    // Global declarations
</script>
<script src="{{ asset("js") }}/pages/tpn-application-review-order.js"></script>
{% endblock %}