{% extends "AcmeCLStpnBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-6">
        <h3>Activity Log</h3>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-body">
        <form method="GET">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label>Date actioned</label>
                                <input type="text" name="from" class="form-control date-picker" placeholder="From" value="{% if get.from is defined %}{{ get.from }}{% endif %}">
                            </div>
                            <div class="col-lg-6">
                                <label>&nbsp;</label>
                                <input type="text" name="to" class="form-control date-picker" placeholder="To" value="{% if get.to is defined %}{{ get.to }}{% endif %}">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Name of user</label>
                        <input type="text" name="user" class="form-control" value="{% if get.user is defined %}{{ get.user }}{% endif %}">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Reference No.</label>
                        <input type="text" name="reference_no" class="form-control" placeholder="######" value="{% if get.reference_no is defined %}{{ get.reference_no }}{% endif %}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Filter logs</button>
                </div>
            </div>
        </form>
            
            
    </div>
</div>

<hr/>


<div class="row">
    <div class="col-lg-12">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="datatable-listings">
            <thead>
                <tr>    
                    <th>Date/time</th>
                    <th>Date/time</th>
                    <th>Area</th>
                    <th>User's name</th>
                    <th>User type</th>
                    <th>Details</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var api_url = "{{ asset("api") }}";
var list_url = "{{ path("dfat_activities_list") }}?from={% if get.from is defined %}{{ get.from }}{% endif %}"
    +"&to={% if get.to is defined %}{{ get.to }}{% endif %}"
    +"&user={% if get.user is defined %}{{ get.user }}{% endif %}"
    +"&reference_no={% if get.reference_no is defined %}{{ get.reference_no }}{% endif %}"
    ;
</script>
    
<script src="{{ asset("js") }}/pages/tpn-user/tpn-user-script.js"></script>
{% endblock %}