{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block stylesheets %}
<link href="{{ asset("api") }}/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% if errors is defined %}
<div class="alert alert-block alert-danger fade in">
    <span class="close" data-dismiss="alert">&times;</span>
    <!--<span class="alert-title">The form has the following errors:</span>-->
    <ul>
    {% for error in errors %}
        {{ error.message }} <br/>
    {% endfor %}
    </ul>
</div>
{%endif%}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        <h3>Process Payment</h3>
        
        <div class="application-steps">
            <span>Step 1/1</span>
            <span class="active">Submit Payment</span>
        </div>
    </div>
    <div class="col-lg-3">
    </div>
</div>

<hr/>

<div class="row">
    <form action="#" method="post">
    <input type="hidden" name="hidSubmit">
    <input type="hidden" name="grand_total">
    <!-- Payment details -->
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Order No.</label>
                            <input type="text" class="form-control" name="order_no" value="{% if post is defined %}{{ post.order_no }}{% endif %}" required>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <table id="paymentItems" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 20px;"></th>
                                    <th style="min-width: 265px;">Description</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>GST (%)</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if post is defined %}
                                    {% set sub_total = 0 %}
                                    {% set gst_total = 0 %}
                                    {% for item in post.items %}
                                        {% set line_total = (item.price * item.quantity) + ((item.price * item.quantity) * (item.gst/100))%}
                                        {% set sub_total = sub_total + item.price %}
                                        {% set gst_total = gst_total +  ((item.price * item.quantity) * (item.gst/100))%}
                                        <tr>
                                            <td><span class="glyphicon glyphicon-trash remove-line"></span></td>
                                            <td><span class="editable-item editable-empty required" data-type="text"  data-showbuttons="true" data-mode="popup"  data-original-title="Description" required>{{ item.description }}</span><input class="value" type="hidden" name="description[]" value="{{ item.description }}"></td>
                                            <td><span class="editable-item editable-empty required price" data-type="number"  data-showbuttons="true" data-mode="popup"  data-original-title="Unit Price" required>{{ item.price }}</span><input class="value tprice" type="hidden" name="price[]" value="{{ item.price }}"></td>
                                            <td><span class="editable-item editable-empty required quantity" data-type="number"  data-showbuttons="true" data-mode="popup"  data-original-title="Quantity" required>{{ item.quantity }}</span><input class="value tquantity" type="hidden" name="quantity[]" value="{{ item.quantity }}"></td>
                                            <td><span class="editable-item editable-empty required gst" data-type="number"  data-showbuttons="true" data-mode="popup"  data-original-title="GST" required>{{ item.gst }}</span><input class="value tgst" type="hidden" name="gst[]" value="{{ item.gst }}"></td>
                                            <td class="text-right">$<span class="total">{{ line_total }}</span></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td><span class="glyphicon glyphicon-trash remove-line"></span></td>
                                        <td><span class="editable-item editable-empty required" data-type="text"  data-showbuttons="true" data-mode="popup"  data-original-title="Description" required></span><input class="value" type="hidden" name="description[]"></td>
                                        <td><span class="editable-item editable-empty required price" data-type="number"  data-showbuttons="true" data-mode="popup"  data-original-title="Unit Price" required></span><input class="value tprice" type="hidden" name="price[]"></td>
                                        <td><span class="editable-item editable-empty required quantity" data-type="number"  data-showbuttons="true" data-mode="popup"  data-original-title="Quantity" required></span><input class="value tquantity" type="hidden" name="quantity[]"></td>
                                        <td><span class="editable-item editable-empty required gst" data-type="number"  data-showbuttons="true" data-mode="popup"  data-original-title="GST" required></span><input class="value tgst" type="hidden" name="gst[]"></td>
                                        <td class="text-right">$<span class="total">0</span></td>
                                    </tr>
                                {% endif %}
                                
                            </tbody>
                            <tfoot>
                                {% if post is defined %}
                                    <tr>
                                        <td colspan="5">Sub Total</td>
                                        <td class="text-right">$<span class="sub-total">{{ sub_total }}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">GST </td>
                                        <td class="text-right">$<span class="gst">{{ gst_total }}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">Credit Card Fee ({{ credit_card_processing_fee }}%)</td>
                                        {% set credit_card_total = ((sub_total + gst_total) * (credit_card_processing_fee/100)) %}
                                        <td class="text-right">$<span class="credit-card">{{ credit_card_total }}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><b>Grand Total</b></td>
                                        {% set grand_total =  sub_total + gst_total + credit_card_total %}
                                        <td class="text-right"><b>$<span class="grand-total">{{ grand_total }}</span></b></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">Sub Total</td>
                                        <td class="text-right">$<span class="sub-total">0</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">GST </td>
                                        <td class="text-right">$<span class="gst">0</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">Credit Card Fee ({{ credit_card_processing_fee }}%)</td>
                                        <td class="text-right">$<span class="credit-card">0</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><b>Grand Total</b></td>
                                        <td class="text-right"><b>$<span class="grand-total">0</span></b></td>
                                    </tr>
                                {% endif %}
                            </tfoot>
                        </table>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-default btn-xs new-line"><span class="glyphicon glyphicon-plus-sign"></span> new line</button>
                    </div>
                </div>
            </div>
        </div>
            
        <hr/>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Payment Details</h4>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Firstname</label>
                            <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control" id="txtFname" placeholder="First Name" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Lastname</label>
                            <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control" id="txtLname" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Email Address</label>
                            <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" id="txtEmail" placeholder="Email address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Contact Phone Number</label>
                            <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control" id="txtPhone" placeholder="Phone number" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Mobile Phone Number</label>
                            <input type="text" name="mobile" value="{% if post.mobile is defined %}{{ post.mobile }}{% endif %}" class="form-control" id="txtMobile" placeholder="Mobile number">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Address</label>
                            <input type="address" name="address" value="{% if post.address is defined %}{{ post.address }}{% endif %}" class="form-control" id="txtAddress" placeholder="Address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>City</label>
                            <input type="text" name="city" value="{% if post.city is defined %}{{ post.city }}{% endif %}" class="form-control" id="txtCity" placeholder="City" required>
                        </div>
                        <div class="col-lg-6">
                            <label>State</label>
                            <input type="text" name="state" value="{% if post.state is defined %}{{ post.state }}{% endif %}" class="form-control" id="txtState" placeholder="State">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Postcode</label>
                            <input type="text" name="postcode" value="{% if post.postcode is defined %}{{ post.postcode }}{% endif %}" class="form-control" id="txtPostCode" placeholder="Post code" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Country</label>
                            <select name="country" id="sltCountry" class="form-control" required>
                                <option value="">Select country</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}" {% if post.country is defined and country.id == post.country %}selected{% endif %}>{{ country.countryName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Additional address details</label>
                            <textarea name="additionalAddressDetails" class="form-control">{% if post.additionalAddressDetails is defined %}{{ post.additionalAddressDetails }}{% endif %}</textarea>
                        </div>
                    </div>
                </div>

                <hr/>


                <h4>Billing Details</h4>
                <label><input type="checkbox" id="chkCopyPaymentDetails" /> Copy Payment Details</label>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Organization Name</label>
                            <input type="text" name="company"  id="txtCompany" class="form-control" value="{% if post.company is defined %}{{ post.company }}{% endif %}" placeholder="Company">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Billing Address</label>
                            <input type="address" name="billingAddress" value="{% if post.billingAddress is defined %}{{ post.billingAddress }}{% endif %}" class="form-control" id="txtBillingAddress" placeholder="Billing address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>City</label>
                            <input type="text" name="billingCity" value="{% if post.billingCity is defined %}{{ post.billingCity }}{% endif %}" class="form-control" id="txtBillingCity" placeholder="City" required>
                        </div>
                        <div class="col-lg-6">
                            <label>State</label>
                            <input type="text" name="billingState" value="{% if post.billingState is defined %}{{ post.billingState }}{% endif %}" class="form-control" id="txtBillingState" placeholder="State">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Postcode</label>
                            <input type="text" name="billingPostcode" value="{% if post.billingPostcode is defined %}{{ post.billingPostcode }}{% endif %}" class="form-control" id="txtBillingPostCode" placeholder="Post code" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Country</label>
                            <select name="billingCountry" id="sltBillingCountry" class="form-control" required>
                                <option value="">Select country</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}" {% if post.billingCountry is defined and country.id == post.billingCountry %}selected{% endif %}>{{ country.countryName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        
        
    <!-- Payment options -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Total Order Price</h4>
                <h4>$<span id="totalOrderPrice">{% if post is defined %}{{ grand_total }}{% else %}0{% endif %}</span> AUD</h4>

                <hr/>
                
                <div class="payment-option-fields credit-card">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Name on Card</label>
                                <input type="text" name="nameOnCard" value="{% if post.nameOnCard is defined %}{{ post.nameOnCard }}{% endif %}" class="form-control pay-required" id="txtNameOnCard" placeholder="Name on card" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Number</label>
                                <input type="text" name="cardNumber" value="{% if post.cardNumber is defined %}{{ post.cardNumber }}{% endif %}" class="form-control pay-required" id="txtCardNumber" placeholder="Card number" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Expiry</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <select name="cardExpiryMonth" class="form-control pay-required">
                                    {% for i in 1..12 %}
                                    <option>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <select name="cardExpiryYear" class="form-control pay-required">
                                    {% for i in 0..10 %}
                                        {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                    <option>{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Type</label>
                                <select name="cardType" class="form-control pay-required">
                                    <option value="">Select country</option>
                                    {% for type in cardtypes %}
                                        <option value="{{ type.id }}" {% if post.cardtype is defined and type.id == post.cardtype %}selected{% endif %}>{{ type.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>CCV Number</label>
                                <input type="text" name="ccvNumber" value="{% if post.ccvNumber is defined %}{{ post.ccvNumber }}{% endif %}" class="form-control pay-required" id="txtCcvNumber" placeholder="CCV number" required>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </form>
</div>



{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        
        // Global declarations
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var ccp_fee = {{ credit_card_processing_fee }};
    </script>
    <script src="{{ asset("api") }}/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}