<html>
<body>
    {% if for_admin is defined %}
        <p>Please see the summary of the order and tax invoice below:</p>
    {% else %}
        <p>Thank you for your recent order with Capital Link Services. Please see the summary of your order and tax invoice below:</p>
    {% endif %}
        
  <table style="border-collapse:collapse" border="1" cellpadding="5" cellspacing="0">
    <tbody>
        <tr>
            <td width="50%">
                    <h3>Tax Invoice Date</h3>
                    <p> {{ post.order_no }} / {{ date_submitted|date("d-m-Y") }}</p>
            </td>
            <td width="50%">
                <h3>Tax Invoice/Order Number</h3>
                {#<img src="http://dev.clientcentre.capitallinkservices.com.au/assets/barcode/?OrderNumber={{ order_no }}" alt="{{ order_no }}">-->
                <img src="{{ domain ~ "/" ~  asset("api") }}/barcodegen.1d-php5.v5.1.0/index.php?number={{ order_no }}" alt="{{ order_no }}">#}
                <img src="{{ domain ~ "/" ~  asset("api") }}/barcode/index.php?number={{ post.order_no }}" alt="{{ post.order_no }}">
                <br>
                <label>
                    {{ post.fname ~ " " ~ post.lname }}<br/>
                    <u></u>
                </label>
            
            </td>
        </tr>
            <tr>
                <td colspan="2">
                    <table border="0" cellpadding="5" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                                <th style="min-width: 200px;">Description</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>GST</th>
                                <th>Total</th>
                        </tr>
                        
                        {% set sub_total = 0 %}
                        {% set gst_total = 0 %}
                        {% for item in post.items %}
                            {% set line_total = (item.price * item.quantity) + ((item.price * item.quantity) * (item.gst/100))%}
                            {% set sub_total = sub_total + item.price %}
                            {% set gst_total = gst_total +  ((item.price * item.quantity) * (item.gst/100))%}
                            <tr>
                                <td style="min-width: 200px;">{{ item.description }}</td>
                                <td>${{ item.price|number_format(2) }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.gst }}%</td>
                                <td>${{ line_total|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                    </table>
                </td>
            </tr>
            
            
            <tr>
                <td colspan="2" align="right"><b>Sub Total</b>: ${{ sub_total|number_format(2) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>GST</b>: ${{ gst_total|number_format(2) }}</td>
            </tr>
            <tr>
                {% set credit_card_total = ((sub_total + gst_total) * (credit_card_processing_fee/100)) %}
                <td colspan="2" align="right"><b>Credit Card Fee ({{ credit_card_processing_fee }}%)</b>: ${{ credit_card_total|number_format(2) }}</td>
            </tr>
            <tr>
                {% set grand_total =  sub_total + gst_total + credit_card_total %}
                <td colspan="2" align="right"><b>Total Paid to Date</b>: ${{ grand_total|number_format(2) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>Balance Due</b>: $0.00</td>
            </tr>
    </tbody>
    </table>
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>