{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-12">
        <h3>Saved Orders</h3>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="datatable-listings">
            <thead>
                <tr>    
                    <th>Date Saved</th>
                    <th>Order No. <br/> Ticket Type</th>
                    <th>Primary Applicant Name</th>
                    <th>Destination</th>
                    <th>Departure Date</th>
                    <th>Type</th>
                    <th style="width: 185px!important;">Operations</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var list_url = "{{ path("cls_client_gov_saved_orders_list") }}";
var open_order_url = "{{ path("cls_client_gov_saved_order_continue") }}";
var del_order_url = "{{ path("cls_client_gov_delete_saved_order") }}";
</script>
    
<script src="{{ asset("js") }}/pages/saved-orders.js"></script>
{% endblock %}