<html>
<body>
  <p>Hi CLS,</p>
  <p>Someone submitted a form from Free Visa Pre-Check service.<br>
  Below are the details:</a>
  </p>
  
  
  <h2>Sender Details</h2>
  <p>
      <b>Fullname : </b> {{ post.fullname }}<br/>
      <b>Email : </b> {{ post.email }}<br/>
      <b>Phone : </b> {{ post.phone }}<br/>
  </p>
  
  <h2>Traveller Details</h2>
  <p>
      <b>Traveller name : </b> {{ post.traveller_name }}<br/>
      <b>Passport No. : </b> {{ post.passport_no }}<br/>
      <b>Passport Expiry : </b> {{ post.passport_exp }}<br/>
      <b>Date of Birth : </b> {{ post.birth_date }}<br/>
      <b>Nationality : </b> {{ post.nationality }}<br/>
  </p>
  
  <h2>Destination Country</h2>
  <p>
      {% for dest in post.destinations %}
          <p>
          <b>Destination : </b> {{ dest.country}}<br/>
          <b>Entry Date : </b> {{ dest.entry_date}}<br/>
          <b>Exit Date : </b> {{ dest.exit_date}}<br/>
          <b>Visa Type : </b> {{ dest.visa_type}}<br/>
          <b>No. of Entries : </b> {{ dest.no_of_entries}}
          </p>
      {% endfor %}
  </p>
      
  <h2>Attach Files</h2>
  <p><i>Note: Files were attached with this email.</i></p>
  <p>
      <b>Passport Information Page: </b> {{ post.passport_info }}<br/>
      <b>Filled out Visa Application Form: </b> {{ post.visa_app_form }}<br/>
      <b>Any supporting document if required: </b> {{ post.supporting_doc }}<br/>
  </p>
</body>
</html>