{% extends "AcmeCLShomeBundle::layout.html.twig" %}

{% block body %}
<!--<a href="{% if app.session.get('user_type') == 'public' or app.session.get('user_type') == 'corporate' %}{{ path("cls_client_aplication_document_delivery") }}{% else %}{{ path("acme_cls_document_delivery_redirect") }}{% endif %}" class="btn btn-primary">APPLY NOW</a>-->
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
    
    
{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% if errors is defined %}
<div class="alert alert-block alert-danger fade in">
    <span class="close" data-dismiss="alert">&times;</span>
    <!--<span class="alert-title">The form has the following errors:</span>-->
    <ul>
    {% for error in errors %}
        {{ error.message }} <br/>
    {% endfor %}
    {# if recaptcha_error is defined and recaptcha_error != ''%}
        {{ recaptcha_error }}
    {% endif #}
    </ul>
</div>
{%endif%}

<form action="{{ path("acme_cls_pre_check_service") }}" method="post" enctype="multipart/form-data">
<input type="hidden" name="submit">
<div class="row">
    <div class="col-lg-8">
        <h1>CLS Capital Link Services is now offering a FREE visa requirements verification service for our customers</h1>

        <p>If your Visa application is urgent and you need to make sure that there will be no delays in it’s processing, our team can assess your application BEFORE submitting to ensure that there will be no delays due to any errors or missing information. 
            We pride ourselves on being able to provide a timely, quality service, and will get back to you the same business day for any orders that are received with 12 Hours. (During working days). 
            To get started, simply fill in the form below. </p>
        
        
        <hr/>
        <h2>Your Details</h2>
                   
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Fullname</label>
                    <input type="text" class="form-control" name="fullname" placeholder="Fullname" value="{% if post.fullname is defined %}{{ post.fullname }}{% endif %}" required>
                </div>
            </div>
                
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" placeholder="example@email.com" value="{% if post.email is defined %}{{ post.email }}{% endif %}" required>
                </div>
            </div>
                
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" name="phone" placeholder="Phone number" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}">
                </div>
            </div>
        </div>
                  
        <hr/>
        
        <h2>Traveller Details</h2>
        
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Traveller Name</label>
                    <input type="text" class="form-control" name="traveller_name" placeholder="Traveller name" value="{% if post.traveller_name is defined %}{{ post.traveller_name }}{% endif %}" required>
                </div>
            </div>
                
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Passport number</label>
                    <input type="text" class="form-control" name="passport_no" placeholder="Passport number" value="{% if post.passport_no is defined %}{{ post.passport_no }}{% endif %}" required>
                </div>
            </div>
                
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Passport Expiry</label>
                    <input class="form-control date-picker" data-format="dd-MM-yyyy" type="text" name="passport_exp" value="{% if post.passport_exp is defined %}{{ post.passport_exp }}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                </div>
            </div>
        </div>
        
        
        
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Date of Birth</label>
                    <input class="form-control date-picker" data-format="dd-MM-yyyy" type="text" name="birth_date" value="{% if post.birth_date is defined %}{{ post.birth_date }}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                </div>
            </div>
                
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Nationality</label>
                    <input class="form-control" type="text" name="nationality" value="{% if post.nationality is defined %}{{ post.nationality }}{% endif %}" required></input>
                </div>
            </div>
        </div>
                        
        <hr/>
        
        <h2>Destination Country</h2>
        
        
        
        <div id="destinations">
            {% if post.destinations is defined and post.destinations|length > 0 %}
                {% for dest in post.destinations %}
                    <div class="panel panel-default group">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <select class="form-control {% if loop.index == 1 %}main-country{% endif %} country" name="country[]"  required>
                                            <option value="">Select country</option>
                                            {% for country in countries %}
                                                <option value="{{ country.id }}" {% if dest.country == country.countryName %}selected{% endif %}>{{ country.countryName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Entry Date</label>
                                        <input class="form-control date-picker" data-format="dd-MM-yyyy" type="text" value="{{ dest.entry_date }}" name="entry_date[]" placeholder="DD-MM-YYYY" required></input>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Exit Date</label>
                                        <input class="form-control date-picker" data-format="dd-MM-yyyy" type="text" value="{{ dest.exit_date }}" name="exit_date[]" placeholder="DD-MM-YYYY" required></input>
                                    </div>
                                </div>

                            </div>

                            <div class="row">


                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Visa type</label>
                                        <select class="form-control visa-type" name="visa_type[]" required>
                                            <option>Select type</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>No. of Entries</label>
                                        <input class="form-control" type="number" name="no_of_entries[]" value="{{ dest.no_of_entries }}" required></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="panel panel-default group">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="form-control main-country country" name="country[]"  required>
                                        <option value="">Select country</option>
                                        {% for country in countries %}
                                            <option value="{{ country.id }}">{{ country.countryName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Entry Date</label>
                                    <input class="form-control date-picker" data-format="dd-MM-yyyy" type="text" name="entry_date[]" placeholder="DD-MM-YYYY" required></input>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Exit Date</label>
                                    <input class="form-control date-picker" data-format="dd-MM-yyyy" type="text" name="exit_date[]" placeholder="DD-MM-YYYY" required></input>
                                </div>
                            </div>

                        </div>

                        <div class="row">


                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Visa type</label>
                                    <select class="form-control visa-type" name="visa_type[]" required>
                                        <option>Select type</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>No. of Entries</label>
                                    <input class="form-control" type="number" name="no_of_entries[]" required></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
               
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary btn-xs add-country"><span class="glyphicon glyphicon-plus-sign"></span> Add another country</button>
            </div>
        </div>
                 
        <hr/>
        
        <h2>Attach Files</h2>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Passport Information Page</label>
                    <input type="file" name="passport_info"/>
                </div>
                    
                <div class="form-group">
                    <label>Filled out Visa Application Form (Contact us if required)</label>
                    <input type="file" name="visa_app_form"/>
                </div>
                    
                <div class="form-group">
                    <label>Any supporting document if required</label>
                    <input type="file" name="supporting_doc"/>
                </div>
            </div>
        </div>
        
        <hr/>
        
        <h2>Disclaimer <font color="red">please read *</font></h2>
        
        <p>Application requirements and fees for Passports and visas are not in the control of CLS Capital Link Services Pty Ltd and are subject to change without notice. Changes may include, but are not limited to, changes in embassy consular fees, processing procedures, application forms and documentation required for visa issuance. CLS Capital Link Services Pty Ltd is not responsible for changes in application requirements or fees or for any loss or delay relating to such changes.</p>
        <p>Completed passports and visas are normally sent by TNT, Australian Air Express, DHL, Express Post, Registered Post or any Airline Courier Service and are subject to the terms and conditions set by these companies. CLS Capital Link Services Pty Ltd is not responsible for any loss or delays incurred for shipments consigned to these delivery services.</p>
        <p>We stand by our service 100%. If we fail to meet our commitment of service to you we will refund 100% of your service fee. We cannot be held responsible for actions or delays caused by any foreign embassies, consulates or third party services such as couriers or other delivery services. This guarantee does not cover damages and is limited to the refund of our service fee.</p>
        <p>CLS Capital Link Services Pty Ltd is not responsible for damages resulting from incorrect information from applicants or errors caused by applicants.</p>
        <p>CLS Capital Link Services Pty Ltd. liability for processing delays, loss, damages whether direct, incidental, special or consequential including but not limited to the loss of profit or income regardless of whether CLS Capital Link Services Pty Ltd. may have had knowledge that such damages may be incurred is limited to the amount of service fee paid to CLS Capital Link Services Pty Ltd.</p>
        <p>CLS Capital Link Services Pty Ltd. liability for damage to or loss of the passport, visa or other documents caused by CLS Capital Link Services Pty Ltd, is limited to the cost of replacement or $200.00 whichever less is.</p>
        <p>Customer acknowledges and agrees that CLS Capital Link Services Pty Ltd., will not be liable or responsible for any damage, loss or delay caused by third parties, delivery companies or events beyond the control of CLS Capital Link Services Pty Ltd including but not limited to civil commotions, Acts of God, war, terrorist acts, strikes, embassy closure, acts or omissions of public authorities, agencies, consular offices and consular officials.</p>
        <p>Customer acknowledges and agrees that embassy consular officials and other agencies may request customer to provide additional documentation or may request revised documentation. Customer also acknowledges and agrees that the official responsible for the issuance of the passport or visa may not give a reason for the denial of the passport or visa. Customer acknowledges and agrees that CLS Capital Link Services Pty Ltd is not responsible for the inaction or action of those officials.</p>
        <p>All quotes of processing times are approximate. Processing time cannot be guaranteed and the processing time quotes cannot and should not be relied upon.</p>
        <p>Passport and Visa requirements are established by each country and are subject to change without notice. CLS Capital Link Services Pty Ltd provides the best possible information available but cannot guarantee that the information provided is the most current and complete.</p>
        <p>CLS Capital Link Services Pty Ltd in its sole and absolute discretion may refuse to process any passport, visa or other document.</p>
        <p>Passports and Visas should first be secured and in customer's possession prior to customer purchasing non-refundable tickets or reservations.</p>
        <p>Customer's act of transmitting the application to CLS Capital Link Services Pty Ltd is customer's acceptance of the above stated terms and conditions.</p>
        
        <p><label><input type="checkbox" name="agree" required/> <b>I agree to the terms and conditions</b></label></p>
        
        
        <hr/>
        
        <div class="form-group">
            <div class="form-control form-top control-catpcha"><img src="{{ captcha }}" alt="CATCHA"></div>
            <input type="text" class="form-control form-bottom" name="captcha" placeholder="Type text" required>
        </div>
        <div class="form-group clearfix">
            <p class="pull-left"><button type="submit" class="btn btn-primary">Submit</button></p>
        </div>
        
        
    </div>
        
        
    <div class="col-lg-4">
        <p><a href="#"><img src="{{ asset('img') }}/front-ads-rotator/ad_services.jpg"></a></p>
        <p><a href="{{ path("acme_cls_visa_processing") }}"><img src="{{ asset('img') }}/front-ads-rotator/ad_destination.jpg"></a></p>
        <p><a href="{{path("acme_cls_document_delivery") }}"><img src="{{ asset('img') }}/front-ads-rotator/ad_document.jpg"></a></p>
    </div>
    
</div>
        
</form>
</section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var visa_types_url = "{{ path("acme_cls_pre_check_service_visa_types") }}";
    </script>
    <script type="text/javascript" src="{{ asset("js") }}/pages/home-script.js"></script>
{% endblock %}