<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="t2cNTJVWEl0Zu5q9aJVYfi87qmCq-rIT_GwOIzr9t9w" />
    
    <title>CLS - Your Gateway to the World {% block title %}{% endblock %}</title>
    
    
    <link rel="icon" type="image/gif" href="{{ asset('img') }}/favicon.gif" />
    <!-- Bootstrap Core CSS -->
    {# icons not working with local css #}
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    {#<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">#}
    <link href="{{ asset("css") }}/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    
    <link href="{{ asset("css") }}/main.css" rel="stylesheet">
    <link href="{{ asset("api") }}/datepicker/css/datepicker.css" rel="stylesheet">
    <link href="{{ asset("api") }}/signature_pad/jquery.signaturepad.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset("api") }}/datetimepicker/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" />
    {% block stylesheets %}{% endblock %}
</head>

<body id="{{ app.session.get("page_name") }}" class="{{ app.session.get("page_class") }}">
    <div class="wrapper">
        <header class="client" style="padding:20px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a href="{{ path("acme_cls_homepage") }}"><img class="logo" src="{{ asset("img") }}/logo-cls.jpg" /></a>
                </div>
                <div class="col-lg-6 text-right">
                    <a href="{{ path("acme_cls_admin_staff_edit") }}?id={{ app.session.get("admin_id") }}" title="Edit details" class="welcome-name text-right">{{ app.session.get("admin_fname") }}</a> (<a href="{{ path("acme_cls_client_logout") }}">logout</a>)
            
                </div>
           </div>
        </div>
    </header>

    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
   
        <div id="map"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="col-lg-4">
                        Copyright © 2012 Capital Link Services Pty Ltd.

                    </div>

                    
                </div>
            </div>
        </div>
    </footer>
    <!-- Core JavaScript Files -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
    {% if app.session.get("page_name") == 'admin-view-order' %}
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>#}
        <script src="{{ asset("js") }}/jquery/jquery1.8.3.min.js"></script>
        
        <script type="text/javascript" src="{{ asset("api") }}/moment/moment-develop/min/moment-with-locales.js"></script>
        <script type="text/javascript" src="{{ asset("api") }}/bootstrap/transition.js"></script>
        <script type="text/javascript" src="{{ asset("api") }}/bootstrap/collapse.js"></script>
    {% else %}
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
        <script src="{{ asset("js") }}/jquery/jquery1.10.2.min.js"></script>
    {% endif %}
    
    
    
    {#<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>#}
    <script src="{{ asset("js") }}/bootstrap.min.js"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>#}
    <script src="{{ asset("js") }}/jquery/jquery.easing.1.3.min.js"></script>
    {#<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>#}
    {% if app.session.get("page_name") == 'admin-view-order' %}
        {#<script src="//code.jquery.com/ui/1.8.3/jquery-ui.js"></script>#}
        <script src="{{ asset("js") }}/jquery/jquery-ui.1.8.3.js"></script>
    {% else %}
        {#<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>#}
        <script src="{{ asset("js") }}/jquery/jquery-ui.1.10.4.js"></script>
    {% endif %}
    <!-- Google Maps API Key - You will need to use your own API key to use the map feature 
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->

    <!-- Custom Theme JavaScript -->
    
    

    <script src="{{ asset("api") }}/jquery-dateFormat/src/dateFormat.js"></script>
    <script src="{{ asset("api") }}/jquery-dateFormat/src/jquery.dateFormat.js"></script>
    
    <script src="{{ asset("js") }}/main.js"></script>
    <script src="{{ asset("js") }}/typeahead.js"></script>
    <script src="{{ asset("js") }}/bootbox.js"></script>
    
    <script src="{{ asset("api") }}/datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ asset("api") }}/datetimepicker/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="{{ asset("api") }}/datetimepicker/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
    <script src="{{ asset("api") }}/signature_pad/jquery.signaturepad.js"></script>
  <script>
    $(document).ready(function() {
        var jsonStr = JSON.parse(sig.replace(/&quot;/g,'"'));
            $('.sigPad').signaturePad({displayOnly : true}).regenerate(jsonStr);
            
        var jsonStr1 = JSON.parse(sig1.replace(/&quot;/g,'"'));
            $('.sigPad1').signaturePad({displayOnly : true}).regenerate(jsonStr1);
    });
  </script>
  <script src="{{ asset("api") }}/signature_pad/json2.min.js"></script>
    {% block javascripts %}{% endblock %}
    
    <script type="text/javascript">
var reachlocalTRKDOM="rtsys.rtrk.com.au";
(function() {
var rlocal_load = document.createElement("script");
rlocal_load.type = "text/javascript";
rlocal_load.src = document.location.protocol+"//"+reachlocalTRKDOM+"/rct_lct/js/rlrct1.js";
(document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild (rlocal_load);
})(); </script>
    
</body>

</html>
