<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="t2cNTJVWEl0Zu5q9aJVYfi87qmCq-rIT_GwOIzr9t9w" />

    <title>CLS - Your Gateway to the World ({% block title %}{% endblock %})</title>

    <link rel="icon" type="image/gif" href="{{ asset('img') }}/favicon.gif" />
    
    <!-- Bootstrap Core CSS -->
    {# icons not working with local css #}
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    

    <!-- Custom Theme CSS -->
    <link type="text/css" rel="stylesheet" href="{{ asset('js') }}/scripts2013/carousels.css" />
    <link href="{{ asset("css") }}/main.css" rel="stylesheet">
    <link href="{{ asset("api") }}/datepicker/css/datepicker.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body id="{{ app.session.get("page_name") }}">
    <div class="wrapper">
    <header class="client">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <center><a href="{{ path("acme_cls_homepage") }}"><img class="logo" src="{{ asset("img") }}/logo-cls.jpg" /></a></center>
                </div>
                
            </div>
        </div>
    </header>


    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
   
        <div id="map"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        Copyright © 2012 Capital Link Services Pty Ltd.
                        <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
                        <tr>
                        <td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=https://capitallinkservices.com.au/&amp;size=S&amp;lang=en"></script><br />
                        <a href="http://www.geotrust.com/ssl/" target="_blank" style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a></td>
                        </tr>
                        </table>
                    </div>
                    <div class="col-lg-4">
                        
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- Core JavaScript Files -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
    <script src="{{ asset("js") }}/jquery/jquery1.10.2.min.js"></script>
    {#<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>#}
    <script src="{{ asset("js") }}/bootstrap.min.js"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>#}
    <script src="{{ asset("js") }}/jquery/jquery.easing.1.3.min.js"></script>

    <!-- Google Maps API Key - You will need to use your own API key to use the map feature 
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js") }}/main.js"></script>
    <script src="{{ asset("js") }}/typeahead.js"></script>
    <script src="{{ asset("js") }}/bootbox.js"></script>
    <script src="{{ asset("api") }}/datepicker/js/bootstrap-datepicker.js"></script>


</body>

</html>
