{% extends "AcmeCLSadminBundle::layout.html.twig" %}


{% block body %}

    {% if errors is defined %}
    <div class="alert alert-block alert-danger fade in">
        <span class="close" data-dismiss="alert">&times;</span>
        <!--<span class="alert-title">The form has the following errors:</span>-->
        <ul>
        {% for error in errors %}
            {{ error.message }} <br/>
        {% endfor %}
        {% if recaptcha_error is defined and recaptcha_error != ''%}
            {{ recaptcha_error }}
        {% endif %}
        </ul>
    </div>
    {%endif%}

    {% if success is defined %}
    <div class="alert alert-block alert-success fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat lobortis quam vitae auctor. 
    </div>
    {%endif%}

    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
    <div class="row">  
        <div class="col-lg-12">
            <h3>Update Client Details</h3>
        </div>
    </div>

    <hr />
    
    <div class="row">    
            <div class="col-lg-8">    
                <form role="form" id="regoForm" action="{{ path('acme_cls_admin_clients_edit') }}" method="post">
                    
                    <input type="hidden" name="hid_submit">
                    <input type="hidden" name="clientId" value="{{ post.id }}">
                    <h4>Client Details</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Title</label>
                                <select name="title" class="form-control" required>
                                    <option value="">Select title</option>
                                    {% for title in name_titles%}
                                    <option value="{{ title.id }}" {% if post.title is defined and title.id == post.title %}selected{% endif %}>{{ title.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Firstname</label>
                                <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control" id="regoFormFn" placeholder="First Name" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Lastname</label>
                                <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control" id="regoFormLn" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Email address </label> 
                                <span class="glyphicon glyphicon-question-sign tips" data-toggle="tooltip" data-placement="right" title="This will be his/her username to login to the Client Center"></span>
                                <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" id="regoFormEmail" placeholder="Email" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Password</label>
                                <span class="glyphicon glyphicon-question-sign tips" data-toggle="tooltip" data-placement="right" title="Please leave the password fields blank if no changes"></span>
                                <input type="password" name="password" value="{% if post.password is defined %}{{ post.password }}{% endif %}" class="form-control form-top" id="regoFormPW" placeholder="Password">
                            </div>
                            <div class="col-lg-4">
                                <label>Confirm Password</label>
                                <input type="password" name="passwordConfirm" class="form-control form-bottom" id="regoFormState" placeholder="Confirm Password">
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Contact Phone Number</label> 
                                <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control" placeholder="Phone number" required>
                            </div>
                                
                            <div class="col-lg-4">
                                <label>Mobile Phone Number</label> 
                                <input type="text" name="mobile" value="{% if post.mobile is defined %}{{ post.mobile }}{% endif %}" class="form-control" placeholder="Mobile phone number" required>
                            </div>
                                
                            {% if post.type == 'government'%}
                            <div id="department" class="col-lg-4">
                                <label>Department</label> 
                                <select name="department" class="form-control" required>
                                    <option value="">Select Department</option>
                                    {% for department in departments %}
                                        <option value="{{ department.id }}" {% if post.department_id is defined and department.id == post.department_id %}selected{% endif %}>{{ department.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% else %}
                            <div id="company" class="col-lg-4">
                                <label>Company</label> 
                                <input type="text" class="form-control" name="company" value="{% if post.company is defined %}{{ post.company }}{% endif %}" required/>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    
                    <h4>Address Details</h4>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" name="address" id="address" value="{% if post.address is defined %}{{ post.address }}{% endif %}" class="form-control" placeholder="Address" required>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" name="city" id="city" value="{% if post.city is defined %}{{ post.city }}{% endif %}" class="form-control" placeholder="City" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>State</label>
                                <input type="text" name="state" id="state" value="{% if post.state is defined %}{{ post.state }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Postcode</label>
                                <input type="text" name="postcode" id="postcode" value="{% if post.postcode is defined %}{{ post.postcode }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Country</label> 
                                <select name="country" id="country" class="form-control" required>
                                    <option value="">Select country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if post.country_id is defined and country.id == post.country_id %}selected{% endif %}>{{ country.countryName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label><input type="checkbox" id="copyMainDoc"> Use this as my main document return delivery address</label>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-lg-12">
                                <label><input type="checkbox" id="copyMainBilling"> Use this as my main billing address</label>
                            </div>
                        </div>
                    </div>
                    
                    <hr/>
                    
                    
                    <h4>Main document delivery address</h4>
                    
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" name="mddaAddress" id="mddaAddress" value="{% if post.mdda_address is defined %}{{ post.mdda_address }}{% endif %}" class="form-control" placeholder="Address" required>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" name="mddaCity" id="mddaCity" value="{% if post.mdda_city is defined %}{{ post.mdda_city }}{% endif %}" class="form-control" placeholder="City" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>State</label>
                                <input type="text" name="mddaState" id="mddaState" value="{% if post.mdda_state is defined %}{{ post.mdda_state }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Postcode</label>
                                <input type="text" name="mddaPostcode" id="mddaPostcode" value="{% if post.mdda_postcode is defined %}{{ post.mdda_postcode }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Country</label> 
                                <select name="mddaCountry" id="mddaCountry" class="form-control" required>
                                    <option value="">Select country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if post.mdda_country_id is defined and country.id == post.mdda_country_id %}selected{% endif %}>{{ country.countryName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <h4>Main billing address</h4>
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" name="mbaAddress" id="mbaAddress" value="{% if post.mba_address is defined %}{{ post.mba_address }}{% endif %}" class="form-control" placeholder="Address" required>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" name="mbaCity" id="mbaCity" value="{% if post.mba_city is defined %}{{ post.mba_city }}{% endif %}" class="form-control" placeholder="City" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>State</label>
                                <input type="text" name="mbaState" id="mbaState" value="{% if post.mba_state is defined %}{{ post.mba_state }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Postcode</label>
                                <input type="text" name="mbaPostcode" id="mbaPostcode" value="{% if post.mba_postcode is defined %}{{ post.mba_postcode }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Country</label> 
                                <select name="mbaCountry" id="mbaCountry" class="form-control" required>
                                    <option value="">Select country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if post.mba_country_id is defined and country.id == post.mba_country_id %}selected{% endif %}>{{ country.countryName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <hr/>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label><input type="checkbox" name="canChargeCostToAccount" {% if post.can_charge_cost_to_account is defined and post.can_charge_cost_to_account == 1%}checked{% endif %}> Client can charge costs to account</label>
                            </div>
                            <div class="col-lg-6">
                                <label><input type="checkbox" name="canGetSpecialPrice" {% if post.can_get_special_price is defined and post.can_get_special_price == 1%}checked{% endif %}> Client can get special price</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Account Number</label>
                                <input type="text" name="accountNumber" class="form-control" value="{% if post.account_no is defined %}{{ post.account_no }}{% endif %}"/>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>Special Price (%)</label>
                                <input type="text" name="specialPrice" class="form-control" value="{% if post.special_price is defined %}{{ post.special_price }}{% endif %}"/>
                            </div>
                        </div>
                    </div>
                    
                    <hr/>
                    
                    
                    <div class="form-group clearfix text-right">
                        <a href="{{ path("acme_cls_admin_clients") }}" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
                    </div>
                </form>
                <p>&nbsp;<br>&nbsp;<br></p>

            </div><!--col-->

            
            
            
            
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Order History</h4>       
                    </div>
                    <div class="col-lg-6">
                        <!-- Single button -->
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Create a New Order <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            {% if post.type == 'government'%}
                                <li><a href="{{ path("cls_client_gov_application_visa") }}?client={{ post.id }}">VISA</a></li>
                                <li><a href="{{ path("cls_client_gov_application_tpn") }}?client={{ post.id }}">Third Person Note (TPN)</a></li>
                                <li><a href="{{ path("cls_client_gov_application_tpn_visa") }}?client={{ post.id }}">VISA+TPN</a></li>
                                <li><a href="{{ path("cls_client_gov_passport_office_pickup_or_delivery") }}?client={{ post.id }}">Passport Office Pickup or Delivery</a></li>
                            {% else %}
                                <li><a href="{{ path("cls_client_public_application_visa") }}?client={{ post.id }}">VISA</a></li>
                                <li><a href="{{ path("cls_client_aplication_document_delivery") }}?client={{ post.id }}">Document Delivery</a></li>
                                <li><a href="{{ path("cls_client_russian_visa_voucher_application_details") }}?client={{ post.id }}">Russian Visa Voucher</a></li>
                                <li><a href="{{ path("cls_client_application_document_legalisation_details") }}?client={{ post.id }}">Document Legalisation</a></li>
                            {% endif %}
                            
                            <li><a href="{{ path("cls_client_gov_application_police_clearance") }}?client={{ post.id }}">Police Clearance</a></li>
                            
                            
                          </ul>
                        </div>
                    </div>
                </div>
                
                
                {% if tickets|length == 0%}
                <p>There is no saved order..</p>
                {% else %}
                
                    {% for ticket in tickets %}
                    {# 1=visa; 2=tpn; 3=tpn+visa; 4=passport delivery; 5=police clearance; 6=public visa; 7=document delivery #}
                    <div class="panel {% if ticket.s_paid == 1 and ticket.status == 12 %}panel-primary{% elseif ticket.status == 10 %}panel-info{% else %}panel-default{% endif %} client-ticket">
                        <div class="panel-heading"><h4>
                            {% if ticket.order_type == 1 %}
                                VISA
                            {% elseif ticket.order_type == 2 %}
                                TPN
                            {% elseif ticket.order_type == 3 %}
                                TPN+VISA
                            {% elseif ticket.order_type == 4 %}
                                Passport Delivery
                            {% elseif ticket.order_type == 5 %}
                                Police Clearance
                            {% elseif ticket.order_type == 6 %}
                                VISA
                            {% elseif ticket.order_type == 7 %}
                                Document Delivery
                            {% elseif ticket.order_type == 8 %}
                                Russian Visa Voucher
                            {% elseif ticket.order_type == 9 %}
                                Document Legalisation
                            {% endif %}</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <strong>Date Submitted:</strong>
                                </div>
                                <div class="col-lg-6">
                                    {% if ticket.date_submitted != '' %}
                                        {{ ticket.date_submitted|date('d-m-Y') }}
                                    {% else %}
                                        {{ ticket.date_last_saved|date('d-m-Y') }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <strong>Order Number:</strong>
                                </div>
                                <div class="col-lg-6">
                                    {{ ticket.order_no }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <strong>Payment Status:</strong>
                                </div>
                                <div class="col-lg-6">
                                    {% if ticket.s_paid is null %}
                                        Saved
                                    {% elseif ticket.s_paid == 0 %}
                                        Pending
                                    {% elseif ticket.s_paid == 1 %}
                                        Paid - Online
                                    {% elseif ticket.s_paid == 2 %}
                                        Paid - By Account
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <strong>Order Status:</strong>
                                </div>
                                <div class="col-lg-6">
                                    {# 1=destination; 2=Review TPN; 3=Review Order; 4=Place Order; 10= ordered; 11=paid; 12=completed #}
                                    {% if ticket.order_type == 2 %}

                                        {% if ticket.status == 1 %}
                                            Destination
                                        {% elseif ticket.status == 2 %}
                                            Review TPN
                                        {% elseif ticket.status == 3 %}
                                            Review Order
                                        {% elseif ticket.status == 4 %}
                                            Place Order
                                        {% elseif ticket.status == 10 or ticket.status == 11 %}
                                            Ordered
                                        {% elseif ticket.status == 12 %}
                                            Completed
                                        {% endif %}

                                    {% elseif ticket.order_type == 1 or ticket.order_type == 3 or ticket.order_type == 6 %}

                                        {% if ticket.status == 1 %}
                                            Destination
                                        {% elseif ticket.status == 2 %}
                                            VISA Options
                                        {% elseif ticket.status == 3 %}
                                            Review TPN
                                        {% elseif ticket.status == 4 %}
                                            Review Order
                                        {% elseif ticket.status == 5 %}
                                            Place Order
                                        {% elseif ticket.status == 10 or ticket.status == 11 %}
                                            Ordered
                                        {% elseif ticket.status == 12 %}
                                            Completed
                                        {% endif %}

                                    {% elseif ticket.order_type == 4 or ticket.order_type == 5 or ticket.order_type == 7 %}
                                        {% if ticket.status == 1 %}
                                            Details
                                        {% elseif ticket.status == 2 %}
                                            Review Order
                                        {% elseif ticket.status == 3 %}
                                            Place Order
                                        {% elseif ticket.status == 10 or ticket.status == 11 %}
                                            Ordered
                                        {% elseif ticket.status == 12 %}
                                            Completed
                                        {% endif %}
                                            
                                    {% elseif ticket.order_type == 8 %}
                                        {% if ticket.status == 1 %}
                                            Details
                                        {% elseif ticket.status == 2 %}
                                            Voucher type
                                        {% elseif ticket.status == 3 %}
                                            Review Order
                                        {% elseif ticket.status == 4 %}
                                            Place Order
                                        {% elseif ticket.status == 10 or ticket.status == 11 %}
                                            Ordered
                                        {% elseif ticket.status == 12 %}
                                            Completed
                                        {% endif %}
                                    {% elseif ticket.order_type == 9 %}
                                        {% if ticket.status == 1 %}
                                            Saved
                                        {% elseif ticket.status == 10 or ticket.status == 11 %}
                                            Ordered
                                        {% elseif ticket.status == 12 %}
                                            Completed
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                                <hr/>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <!--href="{{ path("acme_cls_admin_delete_client_order") }}?order_no={{ ticket.order_no }}"-->
                                    <a  onclick="javascript: deleteOrder({{ ticket.order_no }}, {{ ticket.client_id }})" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                                    {% if ticket.status < 10 %}
                                        <a href="{{ path("cls_client_gov_saved_order_continue") }}?client={{ post.id }}&order={{ ticket.order_no }}"  class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                                    {% else %}
                                        <a href="{{ path("acme_cls_admin_view_order") }}?order_no={{ ticket.order_no }}"  class="btn btn-primary btn-sm"><span>&raquo;</span> View</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                
            </div><!--col-->
    </div><!--row-->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js") }}/pages/admin-script.js"></script>
    <script type="text/javascript">
        function deleteOrder($order_no, $client_id){
            bootbox.confirm("Are you sure?", function(result) {
                if(result == true){
                    window.location = "{{ path("acme_cls_admin_delete_client_order") }}?order_no=" + $order_no + "&client=" + $client_id;
                }
            }); 
        }
    </script>
    
{% endblock %}