{% extends "AcmeCLSadminBundle::layout.html.twig" %}


{% block body %}

    {% if errors is defined %}
    <div class="alert alert-block alert-danger fade in">
        <span class="close" data-dismiss="alert">&times;</span>
        <!--<span class="alert-title">The form has the following errors:</span>-->
        <ul>
        {% for error in errors %}
            {{ error.message }} <br/>
        {% endfor %}
        {% if recaptcha_error is defined and recaptcha_error != ''%}
            {{ recaptcha_error }}
        {% endif %}
        </ul>
    </div>
    {%endif%}

    {% if success is defined %}
    <div class="alert alert-block alert-success fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat lobortis quam vitae auctor. 
    </div>
    {%endif%}

    <div class="row">  
        <div class="col-lg-12">
            <h3>Create a New Client</h3>
        </div>
    </div>

    <hr />
    
    <div class="row">    
            <div class="col-lg-8">    
                <form role="form" id="regoForm" action="{{ path('acme_cls_admin_clients_new') }}" method="post">
                    
                    <input type="hidden" name="hid_submit">
                    
                    <h4>Client Type</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label><input type="radio" name="clientType" id="govClient" class="client-type" value="government"> Government Client</label>
                            </div>
                            <div class="col-lg-3">
                                <label><input type="radio" name="clientType" id="privateClient" class="client-type" value="public"> Public Client</label>
                            </div>
                            <div class="col-lg-3">
                                <label><input type="radio" name="clientType" id="corporateClient" class="client-type" value="corporate"> Corporate Client</label>
                            </div>
                            <div class="col-lg-3">
                                <label><input type="radio" name="clientType" id="bulkVisaClient" class="client-type" value="bulk-visa"> Bulk Visa Application Client</label>
                            </div>
                        </div>
                    </div>
                    <h4>Client Details</h4>
                    <div class="form-group">
                        
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Title</label>
                                <select name="title" class="form-control" required>
                                    <option value="">Select title</option>
                                    {% for title in name_titles%}
                                    <option value="{{ title.id }}" {% if post.title is defined and title.id == post.title %}selected{% endif %}>{{ title.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Firstname</label>
                                <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control" id="regoFormFn" placeholder="First Name" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Lastname</label>
                                <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control" id="regoFormLn" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Email address </label> 
                                <span class="glyphicon glyphicon-question-sign tips" data-toggle="tooltip" data-placement="right" title="This will be his/her username to login to the Client Center"></span>
                                <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" id="regoFormEmail" placeholder="Email" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Password</label>
                                <input type="password" name="password" value="{% if post.password is defined %}{{ post.password }}{% endif %}" class="form-control form-top" id="regoFormPW" placeholder="Password" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Confirm Password</label>
                                <input type="password" name="passwordConfirm" class="form-control form-bottom" id="regoFormState" placeholder="Confirm Password" required>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Contact Phone Number</label> 
                                <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control" placeholder="Phone number" required>
                            </div>
                                
                            <div class="col-lg-4">
                                <label>Mobile Phone Number</label> 
                                <input type="text" name="mobile" value="{% if post.mobile is defined %}{{ post.mobile }}{% endif %}" class="form-control" placeholder="Mobile phone number" required>
                            </div>
                                
                            <div id="department" class="col-lg-4">
                                <label>Department</label> 
                                <select name="department" class="form-control" required>
                                    <option value="">Select Department</option>
                                    {% for department in departments %}
                                        <option value="{{ department.id }}" {% if post.department is defined and department.id == post.department %}selected{% endif %}>{{ department.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                                
                            <div id="company" class="col-lg-4">
                                <label>Company</label> 
                                <input type="text" class="form-control" name="company" value="{% if post.company is defined %}{{ post.company }}{% endif %}" required/>
                            </div>
                        </div>
                    </div>
                    
                    <h4>Address Details</h4>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" name="address" id="address" value="{% if post.address is defined %}{{ post.address }}{% endif %}" class="form-control" placeholder="Address" required>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" name="city" id="city" value="{% if post.city is defined %}{{ post.city }}{% endif %}" class="form-control" placeholder="City" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>State</label>
                                <input type="text" name="state" id="state" value="{% if post.state is defined %}{{ post.state }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Postcode</label>
                                <input type="text" name="postcode" id="postcode" value="{% if post.postcode is defined %}{{ post.postcode }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Country</label> 
                                <select name="country" id="country" class="form-control" required>
                                    <option value="">Select country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if post.country is defined and country.id == post.country %}selected{% elseif country.countryName == 'Australia'%}selected{% endif %}>{{ country.countryName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label><input type="checkbox" id="copyMainDoc"> Use this as his/her main document return delivery address</label>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-lg-12">
                                <label><input type="checkbox" id="copyMainBilling"> Use this as his/her main billing address</label>
                            </div>
                        </div>
                    </div>
                    
                    <hr/>
                    
                    
                    <h4>Main document delivery address</h4>
                    
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" name="mddaAddress" id="mddaAddress" value="{% if post.mddaAddress is defined %}{{ post.mddaAddress }}{% endif %}" class="form-control" placeholder="Address" required>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" name="mddaCity" id="mddaCity" value="{% if post.mddaCity is defined %}{{ post.mddaCity }}{% endif %}" class="form-control" placeholder="City" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>State</label>
                                <input type="text" name="mddaState" id="mddaState" value="{% if post.mddaState is defined %}{{ post.mddaState }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Postcode</label>
                                <input type="text" name="mddaPostcode" id="mddaPostcode" value="{% if post.mddaPostcode is defined %}{{ post.mddaPostcode }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Country</label> 
                                <select name="mddaCountry" id="mddaCountry" class="form-control" required>
                                    <option value="">Select country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if post.mddaCountry is defined and country.id == post.mddaCountry %}selected{% elseif country.countryName == 'Australia'%}selected{% endif %}>{{ country.countryName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <h4>Main billing address</h4>
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" name="mbaAddress" id="mbaAddress" value="{% if post.mbaAddress is defined %}{{ post.mbaAddress }}{% endif %}" class="form-control" placeholder="Address" required>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" name="mbaCity" id="mbaCity" value="{% if post.mbaCity is defined %}{{ post.mbaCity }}{% endif %}" class="form-control" placeholder="City" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>State</label>
                                <input type="text" name="mbaState" id="mbaState" value="{% if post.mbaState is defined %}{{ post.mbaState }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Postcode</label>
                                <input type="text" name="mbaPostcode" id="mbaPostcode" value="{% if post.mbaPostcode is defined %}{{ post.mbaPostcode }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Country</label> 
                                <select name="mbaCountry" id="mbaCountry" class="form-control" required>
                                    <option value="">Select country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if post.mbaCountry is defined and country.id == post.mbaCountry %}selected{% elseif country.countryName == 'Australia'%}selected{% endif %}>{{ country.countryName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <hr/>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label><input type="checkbox" name="canChargeCostToAccount" {% if post.canChargeCostToAccount is defined and post.canChargeCostToAccount == 1%}checked{% endif %}> Client can charge costs to account</label>
                            </div>
                            <div class="col-lg-6">
                                <label><input type="checkbox" name="canGetSpecialPrice" {% if post.canChargeCostToAccount is defined and post.canChargeCostToAccount == 1%}checked{% endif %}> Client can get special price</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Account Number</label>
                                <input type="text" name="accountNumber" class="form-control" value="{% if post.accountNumber is defined %}{{ post.accountNumber }}{% endif %}"/>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>Special Price (%)</label>
                                <input type="text" name="specialPrice" class="form-control" value="{% if post.specialPrice is defined %}{{ post.specialPrice }}{% endif %}"/>
                            </div>
                        </div>
                    </div>
                    
                    <hr/>
                    
                    <div class="form-group clearfix text-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                <p>&nbsp;<br>&nbsp;<br></p>

            </div><!--col-->

            
            
    </div><!--row-->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var client_type = "{% if post.type is defined %}{{ post.type }}{% endif %}";
    </script>
    <script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}