{% extends "AcmeCLStpnBundle::layout.html.twig" %}


{% block title %}Reports{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/extras/TableTools/media/css/TableTools.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Reports</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ path("acme_cls_tpn_reports") }}" class="filter">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label>Date TPN submitted</label>
                                    <input type="text" name="dtpn_submitted_from" class="form-control date-picker" placeholder="From" value="{% if get.dtpn_submitted_from is defined %}{{ get.dtpn_submitted_from }}{% endif %}">
                                </div>
                                <div class="col-lg-6">
                                    <label>&nbsp;</label>
                                    <input type="text" name="dtpn_submitted_to" class="form-control date-picker" placeholder="To" value="{% if get.dtpn_submitted_to is defined %}{{ get.dtpn_submitted_to }}{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label>Date TPN authorised </label>
                                    <input type="text" name="dtpn_autorised_from" class="form-control date-picker" placeholder="From" value="{% if get.dtpn_autorised_from is defined %}{{ get.dtpn_autorised_from }}{% endif %}">
                                </div>
                                <div class="col-lg-6">
                                    <label>&nbsp;</label>
                                    <input type="text" name="dtpn_autorised_to" class="form-control date-picker" placeholder="To" value="{% if get.dtpn_autorised_to is defined %}{{ get.dtpn_autorised_to }}{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Departure date of applicant </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <input type="text" name="ddfrom" class="form-control date-picker" placeholder="From" value="{% if get.ddfrom is defined %}{{ get.ddfrom }}{% endif %}">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="ddto" class="form-control date-picker" placeholder="To" value="{% if get.ddto is defined %}{{ get.ddto }}{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                        
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Date application submitted by applicant </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <input type="text" name="dsubmitted_by_applicant_from" class="form-control date-picker" placeholder="From" value="{% if get.dsubmitted_by_applicant_from is defined %}{{ get.dsubmitted_by_applicant_from }}{% endif %}">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="dsubmitted_by_applicant_to" class="form-control date-picker" placeholder="To" value="{% if get.dsubmitted_by_applicant_to is defined %}{{ get.dsubmitted_by_applicant_to }}{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    {#
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Date application submitted to the appropriate Mission </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <input type="text" name="dsubmitted_to_embassy_from" class="form-control date-picker" placeholder="From" value="{% if get.dsubmitted_to_embassy_from is defined %}{{ get.dsubmitted_to_embassy_from }}{% endif %}">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="dsubmitted_to_embassy_to" class="form-control date-picker" placeholder="To" value="{% if get.dsubmitted_to_embassy_to is defined %}{{ get.dsubmitted_to_embassy_to }}{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Date application collected from the Mission </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <input type="text" name="dcollected_from_embassy_from" class="form-control date-picker" placeholder="From" value="{% if get.dcollected_from_embassy_from is defined %}{{ get.dcollected_from_embassy_from }}{% endif %}">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="dcollected_from_embassy_to" class="form-control date-picker" placeholder="To" value="{% if get.dcollected_from_embassy_to is defined %}{{ get.dcollected_from_embassy_to }}{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    #}
                        
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Date passport is returned to applicant </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <input type="text" name="dpassport_returned_to_applicant_from" class="form-control date-picker" placeholder="From" value="{% if get.dpassport_returned_to_applicant_from is defined %}{{ get.dpassport_returned_to_applicant_from }}{% endif %}">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="dpassport_returned_to_applicant_to" class="form-control date-picker" placeholder="To" value="{% if get.dpassport_returned_to_applicant_to is defined %}{{ get.dpassport_returned_to_applicant_to }}{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Department or Agency</label>
                            <select name="department" class="form-control">
                                <option value=""> - All - </option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}" {% if get.department is defined and get.department == department.id%}selected{% endif %}>{{ department.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                </div>
                        
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Country destination</label>
                                    <select name="destination" class="form-control">
                                        <option value=""> - All - </option>
                                        {% for destination in destinations %}
                                            <option value="{{ destination.id }}" {% if get.destination is defined and get.destination == destination.id%}selected{% endif %}>{{ destination.countryName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Traveller's surname</label>
                                    <input type="text" name="traveller_lname" class="form-control" placeholder="" value="{% if get.traveller_lname is defined %}{{ get.traveller_lname }}{% endif %}">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>TPN number</label>
                                    <input type="text" name="tpn_number" class="form-control" placeholder="########" value="{% if get.tpn_number is defined %}{{ get.tpn_number }}{% endif %}">
                                </div>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>TPN status</label>
                                <select name="stat" class="form-control">
                                    <option value=""> - All - </option>
                                    <option value="0" {% if get.stat is defined and get.stat != '' and get.stat == 0%}selected{% endif %}>Pending</option>
                                    <option value="1" {% if get.stat is defined and get.stat != '' and get.stat == 1%}selected{% endif %}>Approved</option>
                                    <option value="2" {% if get.stat is defined and get.stat != '' and get.stat == 2%}selected{% endif %}>Rejected</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-lg-4">
                        <label>TPN application status</label>
                        <select name="tpn_application_stat" class="form-control">
                            <option value=""> - All - </option>
                            <option value="0" {% if get.tpn_application_stat is defined and get.tpn_application_stat != '' and get.tpn_application_stat == 0%}selected{% endif %}>TPN only</option>
                            <option value="1" {% if get.tpn_application_stat is defined and get.tpn_application_stat != '' and get.tpn_application_stat == 1%}selected{% endif %}>Full TPN and Visa Courier Service</option>
                        </select>
                    </div>    
                      
                </div>
                        
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Passport type</label>
                                <select name="passport_type" class="form-control">
                                    <option value=""> - All - </option>
                                    {% for type in passport_types %}
                                        <option value="{{ type.id }}" {%if get.passport_type is defined and get.passport_type == type.id%}selected{% endif %}>{{ type.type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="col-lg-6">
                                <label>Tracking number</label>
                                <input type="text" name="tracking_number" class="form-control" placeholder="########" value="{% if get.tracking_number is defined %}{{ get.tracking_number }}{% endif %}">
                            </div>
                        </div>
                        
                    </div>    
                </div>
                        
                        
                        
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-default clear-selections" ><span class="glyphicon glyphicon-repeat"></span> Clear Selections</button>
                        <button class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span> Filter Report</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<hr/>


<div class="row">
    <div class="col-lg-12  text-right dataTable-buttons-wrapper">
        <div class="dataTable-buttons">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="datatable-listings">
            <thead>
                <tr>
                    <th>Date TPN submitted</th>
                    <th>Date TPN submitted</th>
                    <th>Date TPN authorised</th>
                    <th>Date TPN authorised</th>
                    <th>Departure date of applicant</th>
                    <th>Departure date of applicant</th>
                    <th>Date application submitted by applicant</th>
                    <th>Date application submitted by applicant</th>
                    <th>Date passport is returned to applicant</th>
                    <th>Date passport is returned to applicant</th>
                    <th>Department or Agency</th>
                    <th>Country destination</th>
                    <th>TPN number</th>
                    <th>TPN status</th>
                    <th>TPN application status</th>
                    <th>Travellers</th>
                    <th>Passport type</th>
                    <th>Tracking number</th>
                    <th style="width: 165px;">Operations</th>
                </tr>
            </thead>
                {#
                <tr>
                    <th>Date Submitted</th>
                    <th>Date Submitted</th>
                    <th>Date Updated</th>
                    <th>Department</th>
                    <th>TPN Number</th>
                    <th>Name</th>
                    <th>Destination</th>
                    <th>Departure Date</th>
                    <th>Status</th>
                    <th style="width: 165px;">Operations</th>
                </tr>
            </thead>
#}
        </table>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/TableTools.js"></script>

<script type="text/javascript">
        
// Global declarations
var list_url = "{{ path("acme_cls_tpn_reports_list") }}?dtpn_submitted_from={% if get.dtpn_submitted_from is defined %}{{ get.dtpn_submitted_from }}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}"
    +"&dtpn_submitted_to={% if get.dtpn_submitted_to is defined %}{{ get.dtpn_submitted_to }}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}"
    +"&dtpn_autorised_from={% if get.dtpn_autorised_from is defined %}{{ get.dtpn_autorised_from }}{% endif %}"
    +"&dtpn_autorised_to={% if get.dtpn_autorised_to is defined %}{{ get.dtpn_autorised_to }}{% endif %}"
    +"&ddfrom={% if get.ddfrom is defined %}{{ get.ddfrom }}{% endif %}"
    +"&ddto={% if get.ddto is defined %}{{ get.ddto }}{% endif %}"
    +"&dsubmitted_by_applicant_from={% if get.dsubmitted_by_applicant_from is defined %}{{ get.dsubmitted_by_applicant_from }}{% endif %}"
    +"&dsubmitted_by_applicant_to={% if get.dsubmitted_by_applicant_to is defined %}{{ get.dsubmitted_by_applicant_to }}{% endif %}"
    +"&dsubmitted_to_embassy_from={% if get.dsubmitted_to_embassy_from is defined %}{{ get.dsubmitted_to_embassy_from }}{% endif %}"
    +"&dsubmitted_to_embassy_to={% if get.dsubmitted_to_embassy_to is defined %}{{ get.dsubmitted_to_embassy_to }}{% endif %}"
    +"&dcollected_from_embassy_from={% if get.dcollected_from_embassy_from is defined %}{{ get.dcollected_from_embassy_from }}{% endif %}"
    +"&dcollected_from_embassy_to={% if get.dcollected_from_embassy_to is defined %}{{ get.dcollected_from_embassy_to }}{% endif %}"
    +"&dpassport_returned_to_applicant_from={% if get.dpassport_returned_to_applicant_from is defined %}{{ get.dpassport_returned_to_applicant_from }}{% endif %}"
    +"&dpassport_returned_to_applicant_to={% if get.dpassport_returned_to_applicant_to is defined %}{{ get.dpassport_returned_to_applicant_to }}{% endif %}"
    +"&department={% if get.department is defined %}{{ get.department }}{% endif %}"
    +"&destination={% if get.destination is defined %}{{ get.destination }}{% endif %}"
    +"&traveller_lname={% if get.traveller_lname is defined %}{{ get.traveller_lname }}{% endif %}"
    +"&tpn_number={% if get.tpn_number is defined %}{{ get.tpn_number }}{% endif %}"
    +"&stat={% if get.stat is defined %}{{ get.stat }}{% endif %}"
    +"&tpn_application_stat={% if get.tpn_application_stat is defined %}{{ get.tpn_application_stat }}{% endif %}"
    +"&passport_type={% if get.passport_type is defined %}{{ get.passport_type }}{% endif %}"
    +"&tracking_number={% if get.tracking_number is defined %}{{ get.tracking_number }}{% endif %}"
    ;
    
var open_order_url = "{{ path("acme_cls_tpn_review") }}";
var api_url = "{{ asset("api") }}";
var params_ ="?dtpn_submitted_from={% if get.dtpn_submitted_from is defined %}{{ get.dtpn_submitted_from }}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}"
    +"&dtpn_submitted_to={% if get.dtpn_submitted_to is defined %}{{ get.dtpn_submitted_to }}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}"
    +"&dtpn_autorised_from={% if get.dtpn_autorised_from is defined %}{{ get.dtpn_autorised_from }}{% endif %}"
    +"&dtpn_autorised_to={% if get.dtpn_autorised_to is defined %}{{ get.dtpn_autorised_to }}{% endif %}"
    +"&ddfrom={% if get.ddfrom is defined %}{{ get.ddfrom }}{% endif %}"
    +"&ddto={% if get.ddto is defined %}{{ get.ddto }}{% endif %}"
    +"&dsubmitted_by_applicant_from={% if get.dsubmitted_by_applicant_from is defined %}{{ get.dsubmitted_by_applicant_from }}{% endif %}"
    +"&dsubmitted_by_applicant_to={% if get.dsubmitted_by_applicant_to is defined %}{{ get.dsubmitted_by_applicant_to }}{% endif %}"
    +"&dsubmitted_to_embassy_from={% if get.dsubmitted_to_embassy_from is defined %}{{ get.dsubmitted_to_embassy_from }}{% endif %}"
    +"&dsubmitted_to_embassy_to={% if get.dsubmitted_to_embassy_to is defined %}{{ get.dsubmitted_to_embassy_to }}{% endif %}"
    +"&dcollected_from_embassy_from={% if get.dcollected_from_embassy_from is defined %}{{ get.dcollected_from_embassy_from }}{% endif %}"
    +"&dcollected_from_embassy_to={% if get.dcollected_from_embassy_to is defined %}{{ get.dcollected_from_embassy_to }}{% endif %}"
    +"&dpassport_returned_to_applicant_from={% if get.dpassport_returned_to_applicant_from is defined %}{{ get.dpassport_returned_to_applicant_from }}{% endif %}"
    +"&dpassport_returned_to_applicant_to={% if get.dpassport_returned_to_applicant_to is defined %}{{ get.dpassport_returned_to_applicant_to }}{% endif %}"
    +"&department={% if get.department is defined %}{{ get.department }}{% endif %}"
    +"&destination={% if get.destination is defined %}{{ get.destination }}{% endif %}"
    +"&traveller_lname={% if get.traveller_lname is defined %}{{ get.traveller_lname }}{% endif %}"
    +"&tpn_number={% if get.tpn_number is defined %}{{ get.tpn_number }}{% endif %}"
    +"&stat={% if get.stat is defined %}{{ get.stat }}{% endif %}"
    +"&tpn_application_stat={% if get.tpn_application_stat is defined %}{{ get.tpn_application_stat }}{% endif %}"
    +"&passport_type={% if get.passport_type is defined %}{{ get.passport_type }}{% endif %}"
    +"&tracking_number={% if get.tracking_number is defined %}{{ get.tracking_number }}{% endif %}";
</script>
    
<script src="{{ asset("js") }}/pages/tpn-user/tpn-user-script.js"></script>
{% endblock %}