{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        <h3>Visa Application</h3>
        
        <div class="application-steps">
            <span>Step 2/4</span>
            <span><a href="{{ path("cls_client_gov_application_visa") }}?order={{ order_no }}">Destination</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Visa Options</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>



<div class="row">
    
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Choose type of courier</h4>
                <select name="courier" class="form-control">
                    <option value=""> Select courier </option>
                    {% for courier in visa_courier_options %}
                        <option value="{{ courier.id }}">{{ courier.type ~ " - $" ~ courier.cost }}</option>
                    {% endfor %}
                </select>

                <hr/>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    {% for travel in post.travels %}
                        <li  class="{% if loop.index == 1%}active{% endif %}"><a href="#tab{{ loop.index }}" data-toggle="tab">{{ travel.countryName }}</a></li>
                    {% endfor %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div class="spacing"></div>

                    {% for travel in post.travels %}

                    <div class="tab-pane fade {% if loop.index == 1%}in active{% endif%}" id="tab{{ loop.index }}">


                        <div class="row">
                            <div class="col-lg-6">
                                <label><strong>Choose type of Visa</strong></label>
                                <select name="visaType[]" class="form-control visa-type">
                                    <option value=""> Select type </option>
                                    {% for visa_type in travel.visa_types %}
                                        <option value="{{ visa_type.id }}">{{ visa_type.type ~ " - $" ~ visa_type.cost }}</option>
                                    {% endfor %}
                                </select>
                                <div class="spacing"></div>
                                <p>Please review visa requirements in the Visa Information Panel below before making selections.</p>
                            </div>

                            <div class="col-lg-6">
                                <label><strong>Additional Requirements</strong></label>
                                <div class="visa-type-requirements">
                                    
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <label><strong>Visa Information</strong></label>
                                {{ travel.visa_information|raw }}
                            </div>
                        </div>


                    </div>

                {% endfor %}
                </div>
            </div>
        </div>
    </div>
        
    
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>CLS Visa Service Charges</h4>
                <div class="panel panel-default bg-info price-display">
                    <div class="panel-body">
                        $0.00 UAD
                    </div>
                </div>
                
                <h4>Document Details</h4>
                
                <p>CLS will return all of the completed Visa applications and passports to this address. <font color="red">Please ensure its accuracy</font>.</p>
                
                <p><label><input type="checkbox" id="chkUseDefaultAddress"> Use default document return address</label></p>
                
                <div class="form-group">
                    <label>Document(s) Return Address</label>
                    <input type="text" class="form-control" name="docReturnAddress"/>
                </div>
                
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="docReturnCity"/>
                </div>
                
                <div class="form-group">
                    <label>Postcode</label>
                    <input type="text" class="form-control" name="docReturnPostCode"/>
                </div>
                
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" name="docReturnFname"/>
                </div>
                
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="docReturnLname"/>
                </div>
                
                <div class="form-group">
                    <label>Contact number</label>
                    <input type="text" class="form-control" name="docReturnContactNo"/>
                </div>
                
                <div class="form-group">
                    <label>Contact number</label>
                    <textarea type="text" class="form-control" name="additionalComments"></textarea>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var url = "{{ path("cls_client_gov_application_visa_options_get_visa_type_add_reqs") }}";
        var asset = "{{ asset("img") }}";
    </script>
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}