{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block stylesheets %}
<link href="{{ asset("api") }}/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% if errors is defined %}
<div class="alert alert-block alert-danger fade in">
    <span class="close" data-dismiss="alert">&times;</span>
    <!--<span class="alert-title">The form has the following errors:</span>-->
    <ul>
    {% for error in errors %}
        {{ error.message }} <br/>
    {% endfor %}
    </ul>
</div>
{%endif%}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        <h3>Backup</h3>
        
        <div class="application-steps">
            {#
            Use below login details whenever download file page ask you to login. This is to protect these files from public.<br/>
            Username: CLSADMIN<br/>
            Password: cls#admin!2014
            #}
        </div>
    </div>
    <div class="col-lg-3">
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Size</th>
                    <th>Date</th>
                    <th style="width: 100px;"></th>
                </tr>
            </thead>
            <tbody>
                {% set db_backup = asset("db_backup") %}
                {% if 'web/db_backup/' in db_backup %}
                    {% set db_backup = asset("db_backup") %}
                {% else %}
                    {% set db_backup = db_backup|replace({'/db_backup':'/web/db_backup'}) %}
                {% endif %}
                {% set db_backup = db_backup|replace({'web/web':'web'}) %}
                {% for item in files %}
                    {% if item.extension == 'sql' %}
                        <tr>
                            
                            <td><a href="{{ db_backup }}/{{ item.basename }}" target="_blank">{{ item.basename }}</a></td>
                            <td>{{ item.filesize }}</td>
                            <td>{{ item.datecreated }}</td>
                            <td style="width: 100px;">
                                <a class="btn btn-primary btn-xs" href="{{ db_backup }}/{{ item.basename }}"  target="_blank"><span class="glyphicon glyphicon-download"></span> download</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        
    </script>
    <script src="{{ asset("api") }}/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}