{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}
{% if errors is defined %}
<div class="alert alert-block alert-danger fade in">
    <span class="close" data-dismiss="alert">&times;</span>
    <!--<span class="alert-title">The form has the following errors:</span>-->
    <ul>
    {% for error in errors %}
        {{ error.message }} <br/>
    {% endfor %}
    </ul>
</div>
{%endif%}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('validation-error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>Passport Office Courier Service Booking</h3>
        {% else %}
            <h3>Create Order: Passport Office Courier Service Booking<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
                        
        {% if app.session.get('user_type') != 'admin-user' %}
        <div class="application-steps">
            <span>Step 1/3</span>
            <span class="active">Details</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% else %}
        <div class="application-steps">
            <span>Step 1/3</span>
            <span class="active">Details</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

{% if user.can_get_special_price == 1 %}
    {% set special_price = user.special_price %}
{% else %}
    {% set special_price = 0 %}
{% endif %}

<div class="row">
    <form action="{{ path("cls_client_gov_passport_office_pickup_or_delivery") }}" method="post">
    <input type="hidden" id="hidSubmit" name="hid_submit">
    {% if app.session.get('user_type') == 'admin-user' %}
        <input type="hidden" name="client_id" value="{{ user_details.id }}">
    {% endif %}
        
    {% if order_no is defined %}
        <input type="hidden" name="orderNumber" value="{{ order_no }}">
    {% endif %}
        
    <!-- Payment details -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Order Details</h4>
            </div>
            <div class="panel-body">
                <h4>Passport Details</h4>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Passport Office Booking Number</label>
                            <input type="text" name="passportOfficeBookingNumber" value="{% if post.passport_office_booking_no is defined %}{{ post.passport_office_booking_no }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'passportOfficeBookingNumber' in post.blank_inputs %}ie-required{% endif %}" id="txtFname" placeholder="Passport office booking number" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Passport Office Booking Time</label>
                            <input type="text" name="passportOfficeBookingTime" value="{% if post.passport_office_booking_time is defined %}{{ post.passport_office_booking_time|date("d-m-Y") }}{% endif %}" class="form-control date-picker required {% if post.blank_inputs is defined and 'passportOfficeBookingTime' in post.blank_inputs %}ie-required{% endif %}" id="txtFname" placeholder="DD-MM-YYYY"  required>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Hour</label>
                            <select name="passportOfficeBookingTimeHour" class="form-control required {% if post.blank_inputs is defined and 'passportOfficeBookingTimeHour' in post.blank_inputs %}ie-required{% endif %}" required>
                                {% for i in 0..23 %}
                                    <option value="{{ "%02d"|format(i) }}" {% if post is defined and post.passport_office_booking_time_hr == i %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                {% endfor %}
                            </select>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Min</label>
                            <select name="passportOfficeBookingTimeMin" class="form-control required {% if post.blank_inputs is defined and 'passportOfficeBookingTimeMin' in post.blank_inputs %}ie-required{% endif %}" required>
                                <option value="00" {% if post is defined and post.passport_office_booking_time_min == "00" %}selected{% endif %}>00</option>
                                <option value="10" {% if post is defined and post.passport_office_booking_time_min == "10" %}selected{% endif %}>10</option>
                                <option value="20" {% if post is defined and post.passport_office_booking_time_min == "20" %}selected{% endif %}>20</option>
                                <option value="30" {% if post is defined and post.passport_office_booking_time_min == "30" %}selected{% endif %}>30</option>
                                <option value="40" {% if post is defined and post.passport_office_booking_time_min == "40" %}selected{% endif %}>40</option>
                                <option value="50" {% if post is defined and post.passport_office_booking_time_min == "50" %}selected{% endif %}>50</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="applicants">
                    {% if post.passport_applicants is defined and post.passport_applicants|length > 0%}
                        {% for applicant in post.passport_applicants %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Passport Applicant Full Name (<a class="link remove remove-passport-applicant">remove applicant</a>)</label>
                                    <input type="text" name="passportApplicantFullname[{{ loop.index - 1 }}]" value="{{ applicant.fullname }}" class="form-control {% if post.blank_inputs is defined and ('passportApplicantFullname' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" placeholder="Passport applicant full name"  required>

                                    <ul style="margin-left: 10px; margin-top: 10px;">
                                        <li><label><input type="checkbox" name="personalPassport[{{ loop.index - 1 }}]" {% if applicant.personal_passport == 1 %}checked{% endif %}> Personal Passport </label></li>
                                        <li><label><input type="checkbox" name="doPassport[{{ loop.index - 1}}]" {% if applicant.diplomatic_official_passport == 1 %}checked{% endif %}> Diplomatic/Official Passport </label></li>
                                        <li><label><input type="checkbox" name="birthCertificate[{{ loop.index - 1 }}]" {% if applicant.birth_certificate == 1 %}checked{% endif %}> Birth Certificate </label></li>
                                        <li><label><input type="checkbox" name="marriageCertificate[{{ loop.index - 1 }}]" {% if applicant.marriage_certificate == 1 %}checked{% endif %}> Marriage Certificate </label></li>
                                        <li><label><input type="checkbox" name="certOfAustralianCitizenship[{{ loop.index - 1 }}]" {% if applicant.certificate_of_australian_citizenship == 1 %}checked{% endif %}> Certificate of Australian Citizenship </label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Passport Applicant Full Name</label>
                                <input type="text" name="passportApplicantFullname[0]" value="" class="form-control required" placeholder="Passport applicant full name"  required>
                                
                                <ul style="margin-left: 10px; margin-top: 10px;">
                                    <li><label><input type="checkbox" name="personalPassport[0]"> Personal Passport </label></li>
                                    <li><label><input type="checkbox" name="doPassport[0]"> Diplomatic/Official Passport </label></li>
                                    <li><label><input type="checkbox" name="birthCertificate[0]"> Birth Certificate </label></li>
                                    <li><label><input type="checkbox" name="marriageCertificate[0]"> Marriage Certificate </label></li>
                                    <li><label><input type="checkbox" name="certOfAustralianCitizenship[0]"> Certificate of Australian Citizenship </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                
                <div class="text-right">
                    <button id="addApplicant" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Add an applicant</button>
                    <!--<button id="removeLastApplicant" type="button" class="btn btn-danger btn-xs" style="display: none"><span class="glyphicon glyphicon-minus-sign"></span> Remove last applicant</button>-->
                </div>
            </div>
        </div>
    </div>
    
        
    <!-- Payment options -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Document Details</h4>
            </div>
            <div class="panel-body">
                <div class="bg-info" style="overflow: hidden;">
                    <div class="col-lg-12">
                        <h4>Have you made a booking with the passport office?</h4>
                        <p>You need to have a booking with the passport office and link before we can pickup you order.</p>
                        <p><a href="https://www.passports.gov.au/Web/index.aspx" target="_blank">Click Here to open the passport oce website in a new window and complete the passport application form before you proceed.</a></p>
                    </div>
                </div>
                    
                <hr/>
                
                <div class="text-right">
                    <button type="submit" id="saveProgress" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> Save Progress</button>
                    <button type="submit" id="nextPage" class="btn btn-primary"><span>&raquo;</span> Next</button>
                </div>
            </div>
        </div>
        </div>
    </form>
    </div>
    
</div>


{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        
        // Global declarations
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var cost = {{ cost.cost }};
        var ccp_fee = {{ credit_card_processing_fee }};
        var additional_cost = {{ cost.additionalCost }};
        var special_price = {% if user.can_get_special_price == 1 %}{{ user.special_price }}{% else %}0{% endif %};
    </script>
    
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}