<html>
<body>
    {% if manual_order is defined %}
        <p>Please see the summary of the manual order and tax invoice below:</p>
    {% else %}
        <p>Thank you for your recent order with Capital Link Services. Please see the summary of your order and tax invoice below:</p>
    {% endif %}
  
  <table style="border-collapse:collapse" border="1" cellpadding="5" cellspacing="0">
    <tbody>
        <tr class="header">
            <td width="50%">
                    <h3>Tax Invoice Date</h3>
                    <p> {{ order_no }} / {{ date_submitted|date("d-m-Y") }}</p>
            </td>
            <td width="50%">
                <h3>Tax Invoice/Order Number</h3>
                {#<img src="http://dev.clientcentre.capitallinkservices.com.au/assets/barcode/?OrderNumber={{ order_no }}" alt="{{ order_no }}">
                <img src="{{ domain ~ "/" ~  asset("api") }}/barcodegen.1d-php5.v5.1.0/index.php?number={{ order_no }}" alt="{{ order_no }}">#}
                <img src="{{ domain ~ "/" ~  asset("api") }}/barcode/index.php?number={{ order_no }}" alt="{{ order_no }}">
                <br>
                <label>
                    {% for traveller in data.passport_applicants %}
                        {{ traveller.fullname  }}<br/>
                    {% endfor %}
                    <u></u>
                </label>
            </td>
        </tr>
            <tr>
                <td colspan="2">
                    <table border="0" cellpadding="5" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <th>Product</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>GST</th>
                            <th>Total</th>
                        </tr>
                        {% set items_total_cost = 0 %}
                        {% set items_total_gst = 0 %}
                        {% set counter = 1 %}
                        {% if post is defined %}
                            {% for item in post.items %}
                                
                                <tr>
                                        <td>{{item.description}}</td>
                                    
                                    {% set svtp = item.price %}

                                    <td>${{ item.price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{item.gst}}</td>

                                    {% set svtp = svtp * item.quantity %}
                                    {% set item_total = svtp + (svtp * 0.10) %}
                                    {% set items_total_cost = items_total_cost + svtp %}
                                    {% set items_total_gst = items_total_gst + (svtp * 0.10) %}
                                    <td>${{ item_total|number_format(2) }}</td>
                                </tr>
                                {% set counter = counter+1 %}
                            {%endfor%}
                        {% else %}
                            <tr>
                                <td>Passport Office Courier Service Booking</td>
                                {% set item_cost = settings_passport.cost %}
                                {% if data.can_get_special_price == 1 %}
                                    {% set item_cost = settings_passport.cost + (settings_passport.cost * (data.special_price/100)) %}
                                {% endif %}
                                <td>${{ item_cost|number_format(2) }}</td>

                                <td>1</td>
                                <td>10%</td>

                                {% set item_total = item_cost + (item_cost * 0.10)%}
                                {% set items_total_cost = items_total_cost + item_cost %}
                                {% set items_total_gst = items_total_gst + (item_cost * 0.10) %}
                                <td>${{ item_total|number_format(2) }}</td>
                                <!--<td>${{ item_cost|number_format(2) }}</td>-->
                            </tr>
                            {% if (data.passport_applicants|length - 1) > 0 %}
                            <tr>
                                <td>Passport Office Courier Service Booking - Additional</td>
                                {% set item_additional_cost = settings_passport.additional_cost * (data.passport_applicants|length - 1) %}
                                {% if data.can_get_special_price == 1 %}
                                    {% set item_additional_cost = item_additional_cost + (item_additional_cost * (data.special_price/100)) %}
                                {% endif %}
                                <td>${{ item_additional_cost|number_format(2) }}</td>

                                <td>{{ (data.passport_applicants|length - 1) }}</td>
                                <td>10%</td>

                                {% set item_additional_total = item_additional_cost + (item_additional_cost * 0.10)%}
                                {% set items_total_cost = items_total_cost + item_additional_cost %}
                                {% set items_total_gst = items_total_gst + (item_additional_cost * 0.10) %}
                                <td>${{ item_additional_total|number_format(2) }}</td>
                                <!--<td>${{ item_additional_cost|number_format(2) }}</td>-->
                            </tr>
                            {% endif %}
                       {% endif %}
                    </tbody>
                    </table>
                </td>
            </tr>
            
            {% set discount = 0 %}
            {% if data.discount_rate != '' and data.discount_rate > 0 %}
                {% set discount = (items_total_cost * (data.discount_rate/100)) %}
            
                
                {# set discount = (items_total_cost * (data.discount_rate/100)) + (items_total_gst * (data.discount_rate/100))#}
                {% set items_total_cost = items_total_cost - (items_total_cost * (data.discount_rate/100))%}
                {% set items_total_gst = items_total_gst - (items_total_gst * (data.discount_rate/100))%}
            {% endif %}
            
            
            {% if data.discount_rate > 0 %}
            <tr>
                <td colspan="2" align="right"><b>Discount</b>: ${{ discount|number_format(2) }}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" align="right"><b>Sub Total</b>: ${{ items_total_cost|number_format(2) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>GST</b>: ${{ items_total_gst|number_format(2) }}</td>
            </tr>
            {% set grand_total = items_total_cost + items_total_gst %}
            {% if data.payment_option == 1 %}
            {% set grand_total = grand_total + (grand_total * (data.credit_card_processing_fee/100))%}
            <tr>
                <td colspan="2" align="right"><b>Credit Card Fee</b>: ${{ (grand_total * (data.credit_card_processing_fee/100))|number_format(2) }}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" align="right"><b>Total Paid to Date</b>: ${{ grand_total|number_format(2) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>Balance Due</b>: {% if data.payment_option == 1 %}$0.00{% else %}${{ grand_total|number_format(2) }}{% endif %}</td>
            </tr>
    </tbody>
    </table>
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>