{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block title %}Reports{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/extras/TableTools/media/css/TableTools.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-10">
        <h3>Help Center</h3>
    </div>
    <div class="col-lg-2 text-right ">
        
    </div>
</div>


<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/Government_User/CLS03761_GOV-USER_Login_150417.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
                    <h5>Tutorial: How to login</h5>
            </div>
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/Government_User/CLS03761_GOV-USER_Visa-Only-App_150417.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video> 
                    <h5>Tutorial: How to order a Visa</h5>
            </div>    
        </div>
        <br/>    
       <div class="row">
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/Government_User/CLS03761_GOV-USER_TPN-App_150417.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
                    <h5>Tutorial: How to order a TPN</h5>
            </div>
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/Government_User/CLS03761_GOV-USER_TPN+VISA-App_150417.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video> 
                    <h5>Tutorial: How to order a Visa & TPN in a single order</h5>
            </div>    
        </div>     
        <br/>       
        <div class="row">
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/Government_User/CLS03761_GOV-USER_Passport-Pickup-Delivery_150417.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
                    <h5>Tutorial: How to order a secure passport pickup</h5>
            </div>
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/Government_User/CLS03761_GOV-USER_Secure-Doc-Delivery_150414.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video> 
                    <h5>Tutorial: How to order a secure document delivery pickup and dropoff</h5>
            </div>    
        </div>  
        <br/>       
        <div class="row">
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/Government_User/CLS03761_GOV-USER_Past-Pending-Order_150417.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
                    <h5>Tutorial: How to review your past and/or pending orders</h5>
            </div>
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/Government_User/CLS03761_GOV-USER_tracking_150414.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video> 
                    <h5>Tutorial: How to track the order</h5>
            </div>    
        </div>   
        <br/>       
        <div class="row">
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/Government_User/CLS03761_GOV-USER_Report-Manifest_150417.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
                    <h5>Tutorial: How to run reports and manifest</h5>
            </div>
            <div class="col-lg-6">
                
            </div>    
        </div>   
    </div>
    <div class="col-lg-3">
        <h4>Need Help with your requirements?</h4>
        <br/>
        Please contact us to speak to a customer service representative on <a href="tel:02 6282 7155">02 6282 7155</a> or email us: <a href="mailto:help@capitallinkservices.com.au">help@capitallinkservices.com.au</a>
    </div>
</div>


{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/TableTools.js"></script>

<script type="text/javascript">

</script>
    
<script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}