{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}


<div class="row">
    <div class="col-lg-9">
        <h3>Order View -
            {% if post.order_type == 1 %}
                Visa Application
            {% elseif post.order_type == 2 %}
                TPN Application
            {% elseif post.order_type == 3 %}
                TPN + VISA Application
            {% elseif post.order_type == 4 %}
                Passport Office Pickup or Delivery Application
            {% elseif post.order_type == 5 %}
                Police Clearance Application
            {% elseif post.order_type == 6 %}
                Visa - Pub. Client Application
            {% elseif post.order_type == 7 %}
                Document Delivery
            {% endif %}
            <br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ post.client_id }}">{{ post.client_fname ~ ' ' ~ post.client_lname }}</a></b></span>
        </h3>
        
    </div>
    <div class="col-lg-3">
        <h3>Order Number: {{ post.order_no }}</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_view_order") }}" method="post">
<input type="hidden" name="orderNo" value="{{ post.order_no }}">
<input type="hidden" name="updateDocumentDeliveryOrder">
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h4>Order</h4>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h5><a href="{{ site_url }}{{ asset("api") }}/pdfc/safe-hand-delivery-consignment-note.php?order={{ post.order_no }}" target="_blank" class="btn btn-xs btn-info">Safe Hand Delivery Con. Note</a></h5>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <h4>Your Details</h4>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Firstname</label>
                            <input type="text" name="fname" value="{% if post.payer_fname is defined %}{{ post.payer_fname }}{% endif %}" class="form-control" id="txtFname" placeholder="First Name" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Lastname</label>
                            <input type="text" name="lname" value="{% if post.payer_lname is defined %}{{ post.payer_lname }}{% endif %}" class="form-control" id="txtLname" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Email Address</label>
                            <input type="email" name="email" value="{% if post.payer_email is defined %}{{ post.payer_email }}{% endif %}" class="form-control" id="txtEmail" placeholder="Email address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Contact Phone Number</label>
                            <input type="text" name="phone" value="{% if post.payer_phone is defined %}{{ post.payer_phone }}{% endif %}" class="form-control" id="txtPhone" placeholder="Phone number">
                        </div>
                        <div class="col-lg-6">
                            <label>Mobile Phone Number</label>
                            <input type="text" name="mobile" value="{% if post.payer_mobile is defined %}{{ post.payer_mobile }}{% endif %}" class="form-control" id="txtMobile" placeholder="Mobile number">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Receiver Name / Department</label>
                            <input type="text" name="receiverName" value="{% if post.doc_receiver_name is defined %}{{ post.doc_receiver_name }}{% endif %}" class="form-control" id="txtPhone" placeholder="Receiver name / department" required>
                        </div>
                    </div>
                </div>
                <hr/>


                <h4>Pick Up Details</h4>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Pickup Address (Street)</label>
                            <input type="text" name="pickupAddress" value="{% if post.doc_pickup_address is defined %}{{ post.doc_pickup_address }}{% endif %}" class="form-control" id="txtFname" placeholder="Pickup address" required>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Suburb/City</label>
                            <input type="text" name="pickupCity" value="{% if post.doc_pickup_city is defined %}{{ post.doc_pickup_city }}{% endif %}" class="form-control"  placeholder="Suburb/city">
                        </div>
                        <div class="col-lg-6">
                            <label>Postcode</label>
                            <input type="text" name="pickupPostcode" value="{% if post.doc_pickup_postcode is defined %}{{ post.doc_pickup_postcode }}{% endif %}" class="form-control" placeholder="Postcode">
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Telephone and Mobile</label>
                            <input type="text" name="pickupContactNo" value="{% if post.doc_pickup_contact_no is defined %}{{ post.doc_pickup_contact_no }}{% endif %}" class="form-control"  placeholder="########">
                        </div>
                            
                        <div class="col-lg-6">
                            <label>Contact Area</label>
                            <input type="text" name="pickupContactArea" value="{% if post.doc_pickup_contact_area is defined %}{{ post.doc_pickup_contact_area }}{% endif %}" class="form-control"  placeholder="Contact area">
                        </div>
                    </div>
                </div>
                
                
                
                <h4>Delivery Details</h4>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Delivery Recipient Name</label>
                            <input type="text" name="deliveryRecipientName" value="{% if post.doc_delivery_recipient_name is defined %}{{ post.doc_delivery_recipient_name }}{% endif %}" class="form-control" id="txtFname" placeholder="Delivery recipient name" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Delivery Address (Street)</label>
                            <input type="text" name="deliveryAddress" value="{% if post.doc_delivery_address is defined %}{{ post.doc_delivery_address }}{% endif %}" class="form-control" id="txtFname" placeholder="Pickup address" required>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Suburb/City</label>
                            <input type="text" name="deliveryCity" value="{% if post.doc_delivery_city is defined %}{{ post.doc_delivery_city }}{% endif %}" class="form-control"  placeholder="Suburb/city">
                        </div>
                        <div class="col-lg-6">
                            <label>Postcode</label>
                            <input type="text" name="deliveryPostcode" value="{% if post.doc_delivery_postcode is defined %}{{ post.doc_delivery_postcode }}{% endif %}" class="form-control" placeholder="Postcode">
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Telephone and Mobile</label>
                            <input type="text" name="deliveryContactNo" value="{% if post.doc_delivery_contact_no is defined %}{{ post.doc_delivery_contact_no }}{% endif %}" class="form-control"  placeholder="########">
                        </div>
                    </div>
                </div>
                
                
                <h4>Package Details</h4>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Total Pieces for Pickup</label>
                            <input type="text" name="packageTotalPieces" value="{% if post.doc_package_total_pieces is defined %}{{ post.doc_package_total_pieces }}{% endif %}" class="form-control"  placeholder="0">
                        </div>
                        <div class="col-lg-6">
                            <label>Pickup Date</label>
                            <input type="text" name="packagePickupDate" value="{% if post.doc_package_pickup_date is defined %}{{ post.doc_package_pickup_date|date("d-m-Y") }}{% endif %}" class="form-control date-picker" placeholder="DD-MM-YYYY">
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>My Package will be ready by</label>
                            <div class="row">
                                <div class="col-lg-4">
                                    <select name="packageReadyHr" class="form-control" required>
                                        <option value="">Hr</option>
                                        {% for i in 1..10 %}
                                            <option value="{{ "%02d"|format(i) }}" {% if post.doc_package_ready_hr is defined and post.doc_package_ready_hr == "%02d"|format(i) %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    
                                <div class="col-lg-4">
                                    <select name="packageReadyMin" class="form-control" required>
                                        <option value="">Min</option>
                                        <option value="00" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "00" %}selected{% endif %}>00</option>
                                        <option value="10" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "10" %}selected{% endif %}>10</option>
                                        <option value="20" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "20" %}selected{% endif %}>20</option>
                                        <option value="30" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "30" %}selected{% endif %}>30</option>
                                        <option value="40" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "40" %}selected{% endif %}>40</option>
                                        <option value="50" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "50" %}selected{% endif %}>50</option>
                                    </select>
                                </div>
                                    
                                <div class="col-lg-4">
                                    <select name="packageReadyAmPm" class="form-control required" required>
                                        <option value="AM" {% if post.doc_package_ready_ampm is defined and post.doc_package_ready_ampm == "AM" %}selected{% endif %}>AM</option>
                                        <option value="PM" {% if post.doc_package_ready_ampm is defined and post.doc_package_ready_ampm == "PM" %}selected{% endif %}>PM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-lg-6">
                            <label>Office Closes at</label>
                            <div class="row">
                                <div class="col-lg-4">
                                    <select name="packageOfficeCloseHr" class="form-control" required>
                                        <option value="">Hr</option>
                                        {% for i in 1..10 %}
                                            <option value="{{ "%02d"|format(i) }}" {% if post.doc_package_office_close_hr is defined and post.doc_package_office_close_hr == "%02d"|format(i) %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    
                                <div class="col-lg-4">
                                    <select name="packageOfficeCloseMin" class="form-control" required>
                                        <option value="">Min</option>
                                        <option value="00" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "00" %}selected{% endif %}>00</option>
                                        <option value="10" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "10" %}selected{% endif %}>10</option>
                                        <option value="20" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "20" %}selected{% endif %}>20</option>
                                        <option value="30" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "30" %}selected{% endif %}>30</option>
                                        <option value="40" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "40" %}selected{% endif %}>40</option>
                                        <option value="50" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "50" %}selected{% endif %}>50</option>
                                    </select>
                                </div>
                                    
                                <div class="col-lg-4">
                                    <select name="packageOfficeCloseAmPm" class="form-control required" required>
                                        <option value="AM" {% if post.doc_package_office_close_ampm is defined and post.doc_package_office_close_ampm == "AM" %}selected{% endif %}>AM</option>
                                        <option value="PM" {% if post.doc_package_office_close_ampm is defined and post.doc_package_office_close_ampm == "PM" %}selected{% endif %}>PM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
        </div>
    </div>
        
        
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Payment Details</h4></div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Type of Document Delivery</label><br/>
                    <b>{{ post.doc_delivery_type }}</b>
                </div>
                    
                <div class="form-group">
                    <label>Order Status</label>
                    <select name="orderStatus" class="form-control">
                        <option value="10" {% if post.status is defined and post.status == 10 %}selected{% endif %}>Pending</option>
                        <option value="12" {% if post.status is defined and post.status == 12 %}selected{% endif %}>Completed</option>
                    </select>
                </div>
                    
                <div class="form-group">
                    <label>Payment Status</label>
                    <select name="paymentStatus" class="form-control">
                        <option value="0" {% if post.s_paid is defined and post.s_paid == 0 %}selected{% endif %}>Pending</option>
                        <option value="1" {% if post.s_paid is defined and post.s_paid == 1 %}selected{% endif %}>Paid - Online</option>
                        <option value="2" {% if post.s_paid is defined and post.s_paid == 2 %}selected{% endif %}>Paid - By Account</option>
                    </select>
                </div>
                    
                <div class="form-group">    
                    <label>Account Number</label>
                    <input type="text" name="accountNumber" class="form-control" placeholder="#######" value="{{ post.account_no }}">
                </div>
                    
                <hr>
                
                <div class="form-group">    
                    <label>Security Tag Number</label>
                    <input type="text" name="securityNumber" class="form-control" placeholder="#######" value="{{ post.doc_delivery_security_no }}">
                </div>
                    
                <div class="text-right">
                    <a href="" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
                    <a class="btn btn-info" href="{{ path("acem_cls_admin_pay_now") }}?order={{ post.order_no }}&client={{ post.client_id }}">Pay Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
        
// Global declarations
var tpn_list_url = "{{ path("acme_cls_admin_open_tpn_list") }}";
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}