{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}


<div class="row">
    <div class="col-lg-9">
        <h3>Order View -
            {% if post.order_type == 1 %}
                Visa Application
            {% elseif post.order_type == 2 %}
                TPN Application
            {% elseif post.order_type == 3 %}
                TPN + VISA Application
            {% elseif post.order_type == 4 %}
                Passport Office Pickup or Delivery Application
            {% elseif post.order_type == 5 %}
                Police Clearance Application
            {% elseif post.order_type == 6 %}
                Visa - Pub. Client Application
            {% elseif post.order_type == 7 %}
                Document Delivery
            {% elseif post.order_type == 8 %}
                Russian Visa Voucher
            {% elseif post.order_type == 9 %}
                Document Legalisation
            {% endif %}
            <br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ post.client_id }}">{{ post.client_fname ~ ' ' ~ post.client_lname }}</a></b></span>
        </h3>
    </div>
    <div class="col-lg-3">
        <h3>Order Number: {{ post.order_no }}</h3>
    </div>
</div>

<hr/>

<h4>Order Process</h4>
<form action="#" method="post">
<input type="hidden" name="updateDocLegalisationOrderProcess">
<input type="hidden" name="orderNo" value="{{ post.order_no }}">
<div class="row">
    
    <div class="col-lg-4">
        <div class="form-group">
            <label>All items received at CLS</label>
            <input type="text" name="allItemsReceivedAtCLS" class="form-control date-picker" placeholder="DD-MM-YYYY" value="{% if post.police_clearance_date_cls_received_all_items != ''%}{{ post.police_clearance_date_cls_received_all_items|date("d-m-Y") }}{% endif %}">
        </div>
            
        <div class="form-group">
            <label>Submitted for processing</label>
            <input type="text" name="submittedForProcessing" class="form-control date-picker" placeholder="DD-MM-YYYY" value="{% if post.police_clearance_date_submitted_for_processing != ''%}{{ post.police_clearance_date_submitted_for_processing|date("d-m-Y") }}{% endif %}">
        </div>
            
        <div class="form-group">
            <label>Completed & received at CLS</label>
            <input type="text" name="completedReceivedAtCLS" class="form-control date-picker" placeholder="DD-MM-YYYY" value="{% if post.police_clearance_date_completed_and_received_at_cls != ''%}{{ post.police_clearance_date_completed_and_received_at_cls|date("d-m-Y") }}{% endif %}">
        </div>
            
        <div class="form-group">
            <label>Order on route and closed</label>
            <input type="text" name="orderOnRouteAndClosed" class="form-control date-picker" placeholder="DD-MM-YYYY" value="{% if post.police_clearance_date_order_on_route_and_closed != ''%}{{ post.police_clearance_date_order_on_route_and_closed|date("d-m-Y") }}{% endif %}">
        </div>
    </div>
    
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Shipped by</label>
                    <select name="dl_visa_shipped_by" class="form-control">
                        <option value="">Select value</option>
                        <option value="TNT" {% if post.dl_visa_shipped_by is defined and post.dl_visa_shipped_by == 'TNT'%}selected{% endif %}>TNT</option>
                        <option value="DHL" {% if post.dl_visa_shipped_by is defined and post.dl_visa_shipped_by == 'DHL'%}selected{% endif %}>DHL</option>
                        <option value="Toll" {% if post.dl_visa_shipped_by is defined and post.dl_visa_shipped_by == 'Toll'%}selected{% endif %}>Toll</option>
                        <option value="CLS" {% if post.dl_visa_shipped_by is defined and post.dl_visa_shipped_by == 'CLS'%}selected{% endif %}>CLS</option>
                        <option value="Express Post Platinum" {% if post.dl_visa_shipped_by is defined and post.dl_visa_shipped_by == 'Express Post Platinum'%}selected{% endif %}>Express Post Platinum</option>
                        <option value="Registered Post" {% if post.dl_visa_shipped_by is defined and post.dl_visa_shipped_by == 'Registered Post'%}selected{% endif %}>Registered Post</option>
                        <option value="Picked up by client" {% if post.dl_visa_shipped_by is defined and post.dl_visa_shipped_by == 'Picked up by client'%}selected{% endif %}>Picked up by client</option>
                        <option value="Next Flight Service" {% if post.dl_visa_shipped_by is defined and post.dl_visa_shipped_by == 'Next Flight Service'%}selected{% endif %}>Next Flight Service</option>
                        <option value="Star Track" {% if travel.visa_shipped_by == 'Star Track'%}selected{% endif %}>Star Track</option>
                    </select>
                </div>
            </div>
                
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Con Note Out</label>
                    <input type="text" class="form-control" name="dl_visa_com_note_no" value="{% if post.dl_visa_com_note_no is defined %}{{post.dl_visa_com_note_no }}{% endif %}"/>
                </div>
            </div>
                
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Con Note In</label>
                    <input type="text" class="form-control" name="dl_visa_com_note_in" value="{% if post.dl_visa_com_note_in is defined %}{{post.dl_visa_com_note_in }}{% endif %}"/>
                </div>
            </div>
                
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Invoice No.</label>
                    <input type="text" class="form-control" name="dl_visa_invoice_no" value="{% if post.dl_visa_invoice_no is defined %}{{post.dl_visa_invoice_no}}{% endif %}"/>
                </div>
            </div>
        </div>
            
            
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Ticket Comments</label>
                    <textarea name="ticketComments" class="form-control"></textarea>
                </div>

                <ul id="notes">
                    {% for note in post.order_notes%}
                        {% if note.is_admin == 0 %}
                            <li>{% if note.user_type == 'Admin'%}<a style="cursor: pointer" tag="{{ note.note }}" onclick="javascript: editAdminComment({{ note.id }}, this);">[Edit]</a>{% endif%} <span class="note-text">{{ note.note|replace({"\n":"<br/>"})|raw }}</span><br/><span class="noted-by"><i>- by {{ note.note_by_name ~ " (" ~ note.user_type ~")"}} {{ note.date_added }}</i></span></li>
                        {% endif%}    
                    {% endfor %}
                </ul>
                
                <div class="form-group">
                    <label>Admin comment</label>
                    <textarea name="ticketAdminComments" class="form-control"></textarea>
                </div>
                <ul id="adminNotes">
                    {% for note in post.order_notes%}
                        {% if note.is_admin == 1 %}
                            <li><a style="cursor: pointer" tag="{{ note.note }}" onclick="javascript: editAdminComment({{ note.id }}, this);">[Edit]</a> <span class="note-text">{{ note.note|replace({"\n":"<br/>"})|raw }}</span><br/><span class="noted-by"><i>- by {{ note.note_by_name}} {{ note.date_added }}</i></span></li>
                        {% endif%}
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>
        
</div>
<hr/>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>CLS Team Member</label>
            <select name="clsTeamMember" class="form-control">
            <option value="">Select team member</option>
                {% for staff in cls_staff %}
                    <option value="{{ staff.id }}" {% if post.visa_cls_team_member == staff.id %}selected{% endif %}>{{ staff.fname ~ ' ' ~ staff.lname }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
        
    <div class="col-lg-3">
        <div class="form-group">
            <label><input type="checkbox" name="sDeliveredToEmbassy" {% if post.visa_is_delivered_to_embassy == 1%}checked{% endif %}/> Delivered to Embassy</label>            
        </div>
    </div>
        
    <div class="col-lg-3">
        <div class="form-group">
            <label>Next Embassy</label>
            <input type="text" name="nextEmbassy" class="form-control" value="{{ post.visa_next_embassy }}">
        </div>
    </div>
        
    <div class="col-lg-2">
        <div class="form-group">
            <label>Follow up date</label>
            <input type="text" class="form-control date-picker" name="follow_up_date" value="{% if post.follow_up_date !='' %}{{ post.follow_up_date|date("d-m-Y") }}{% endif %}" placeholder="DD-MM-YYYY">
        </div>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-lg-12">
        <div class="text-right">
            <label><input type="checkbox" name="chkSendUpdate"/> Do not email client update</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-right">
        <div class="form-group">
            <a href="{{ site_url }}{{ asset("api") }}/pdfc/print-label.php?order={{ post.order_no }}" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-print"></span> Print Embassy Label</a>
            <a href="{{ site_url }}{{ asset("api") }}/pdfc/print-return-address-label.php?order={{ post.order_no }}" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-print"></span> Print Return Address Label</a>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Update Order Process</button>
        </div>
    </div>
</div>
</form>
<hr/>

<div class="row">
    <form action="#" method="post">
    <input type="hidden" name="hidSubmit" id="hidSubmit"/>
    <input type="hidden" name="updateDocLegalisation">
    <input type="hidden" name="orderNo" value="{{ post.order_no }}">
    {% if app.session.get('user_type') == 'admin-user' %}
        <input type="hidden" name="client_id" value="{{ post.client_id }}">
    {% endif %}
        
    <div id="travel-details" class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Details</h4>
            </div>
            
            <div class="panel-body">
                <h4>Contact Information</h4>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Company Name</label>
                            <input type="text" name="dl_company" value="{% if post.dl_company is defined %}{{ post.dl_company }}{% endif %}" class="form-control required" placeholder="Company name" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-8">
                            <label>Address</label>
                            <input type="text" name="dl_address" value="{% if post.dl_address is defined %}{{ post.dl_address }}{% endif %}" class="form-control required" placeholder="Address" required>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Nationality</label>
                            <select class="form-control required" name="dl_nationality" required>
                                <option value="">Select nationality</option>
                                {% for nationality in countries %}
                                    <option value="{{ nationality.id }}" {% if post.dl_nationality == nationality.id%}selected{% endif %}>{{ nationality.countryName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>City / Suburb</label>
                            <input type="text" name="dl_city" value="{% if post.dl_city is defined %}{{ post.dl_city }}{% endif %}" class="form-control required" placeholder="City / Suburb" required>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>State</label>
                            <input type="text" name="dl_state" value="{% if post.dl_state is defined %}{{ post.dl_state }}{% endif %}" class="form-control required" placeholder="State" required>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Postcode</label>
                            <input type="text" name="dl_postcode" value="{% if post.dl_postcode is defined %}{{ post.dl_postcode }}{% endif %}" class="form-control required" placeholder="Postcode" required>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Contact Name</label>
                            <input type="text" name="dl_contact_name" value="{% if post.dl_contact_name is defined %}{{ post.dl_contact_name }}{% endif %}" class="form-control required" placeholder="Contact Name" required>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Mobile</label>
                            <input type="text" name="dl_mobile" value="{% if post.dl_mobile is defined %}{{ post.dl_mobile }}{% endif %}" class="form-control required" placeholder="Mobile No." required>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Email</label>
                            <input type="text" name="dl_email" value="{% if post.dl_email is defined %}{{ post.dl_email }}{% endif %}" class="form-control required" placeholder="example@email.com" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-8">
                            <label>Latest date you need your documents returned in time for your Shipment</label>
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="dl_date_doc_returned" placeholder="DD-MM-YYYY" value="{% if post is defined and post.dl_date_doc_returned != '' %}{{ post.dl_date_doc_returned|date('d-m-Y') }}{% endif %}" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>From embassy of</label>
                            <select class="form-control required" name="dl_embassy" required>
                                <option value="">Select country</option>
                                {% for embassy in countries %}
                                    <option value="{{ embassy.id }}" {% if post.dl_embassy == embassy.id%}selected{% endif %}>{{ embassy.countryName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
                
                <hr/>
                
                <h4>Documents Legalisation Checklist</h4>
                
                <div class="dls-group">
                    {% if post.dl_checklist is defined %}
                        {% for type in post.dl_checklist %}
                        <div class="form-group group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>Type of document enclosed</label>
                                    <input type="text" class="form-control required" name="dl_type[]" placeholder="Type" value="{{ type.type }}" required>
                                </div>

                                <div class="col-lg-2">
                                    <label>Number</label>
                                    <input type="number" class="form-control required" name="dl_number[]" placeholder="0" value="{{ type.number }}" required>
                                </div>

                                <div class="col-lg-4">
                                    <label>Note</label>
                                    <input type="text" class="form-control" name="dl_note[]" placeholder="note" value="{{ type.note }}">
                                </div>

                                <div class="col-lg-2" style="padding-top: 27px;">
                                    <button type="button" class="btn btn-danger btn-sm remove-doc-type"><span class="glyphicon glyphicon-remove "></span> remove</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="form-group group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>Type of document enclosed</label>
                                    <input type="text" class="form-control required" name="dl_type[]" placeholder="Type" required>
                                </div>

                                <div class="col-lg-2">
                                    <label>Number</label>
                                    <input type="number" class="form-control required" name="dl_number[]" placeholder="0" required>
                                </div>

                                <div class="col-lg-4">
                                    <label>Note</label>
                                    <input type="text" class="form-control" name="dl_note[]" placeholder="note">
                                </div>

                                <div class="col-lg-2" style="padding-top: 27px;">
                                    <button type="button" class="btn btn-danger btn-sm remove-doc-type"><span class="glyphicon glyphicon-remove "></span> remove</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <a id="addNewDocType" style="cursor: pointer; cursor: hand;"><span class="glyphicon glyphicon-plus-sign"></span> Add new type of document enclosed</a>
                    </div>
                </div>
                
                <hr/>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Reference No.</label>
                            <input type="text" class="form-control required" name="dl_ref_no" value="{% if post is defined and post.dl_ref_no != '' %}{{ post.dl_ref_no }}{% endif %}" required>
                        </div>
                            
                        <div class="col-lg-6">
                            <label>Commercial Invoice No.</label>
                            <input type="text" class="form-control required" name="dl_com_invoice_no" value="{% if post is defined and post.dl_com_invoice_no != '' %}{{ post.dl_com_invoice_no }}{% endif %}" required>
                        </div>
                    </div>
                    
                </div>
                
                
                
                
            </div>
        </div>
            
            
            
            
            
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Previous quotes</h4>
            </div>
                
            <div class="panel-body">
                
                {% for group in post.dl_quotes %}
                <div class="row">
                    <div class="col-lg-6 ">
                        <label>{{ group.sent_date|date("g:ia \-\- F d, Y") }}</label>
                    </div>
                    <div class="col-lg-6 text-right">
                        <a class="delete-dl-quote" data-order-no="{{ group.order_no }}" data-group="{{ group.sent_group }}"><span class="glyphicon glyphicon-remove-circle"></span> delete quote</a>
                    </div>
                    
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="60%">Description</th>
                            <th class="price header" style="text-align: right">Quantity</th>
                            <th class="price header" style="text-align: right">Price</th>
                            <th class="price header" style="text-align: right">+GST</th>
                            <th class="price header" style="text-align: right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set grand_total = 0 %}
                        {% for item in group.quotes %}
                            {% set total = (item.price * item.quantity) %}
                            {% set gst = total * (item.gst/100)%}
                            {% set total = total + gst %}
                            {% set grand_total = grand_total + total %}
                            <tr class="item">
                                <td>{{ item.description|replace({"\n":"<br/>"})|raw }}</td>
                                <td class="price" style="text-align: right">{{ item.quantity }}</td>
                                <td class="price" style="text-align: right">${{ item.price|number_format(2) }}</td>
                                <td class="price" style="text-align: right">{{ item.gst }}%</td>
                                <td class="price" style="text-align: right">{{ total|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b><i>Total</i></b></td>
                            <td class="price grand-total" style="text-align: right"><b><i>${{ grand_total|number_format(2) }}</i></b></td>
                        </tr>
                    </tfoot>
                </table>
                {% endfor %}
                
                    
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary btn-create-quote"><span class="glyphicon glyphicon-plus"></span> Create a quote</button>
                    </div>
                </div>
            </div>
        </div>
        
            
            
    </div>
    
    
    
    
    <div class="col-lg-4">    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Payment Details</h4>
                
            </div>
            <div class="panel-body">
                
                <h4>Payment type</h4>
                {{ post.dl_payment_type }}
                <hr/>
                <h4>Type of Courier</h4>
                
                {{ post.selected_visa_courier }}
                
                <hr/>
                <h4>Return Address</h4>
                <div class="form-group">
                    <label>Company (If applicable)</label>
                    <input type="text" class="form-control" name="docReturnCompany" id="docReturnCompany" value="{% if post is defined %}{{ post.visa_mdd_company }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Document(s) Return Address</label>
                    <input type="text" class="form-control" name="docReturnAddress" id="docReturnAddress" value="{% if post is defined %}{{ post.visa_mdd_address }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>City / Suburb</label>
                    <input type="text" class="form-control" name="docReturnCity" id="docReturnCity" value="{% if post is defined %}{{ post.visa_mdd_city }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" name="docReturnState" id="docReturnState" value="{% if post is defined %}{{ post.visa_mdd_state }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Postcode</label>
                    <input type="text" class="form-control" name="docReturnPostCode" id="docReturnPostCode" value="{% if post is defined %}{{ post.visa_mdd_postcode }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" name="docReturnFname" id="docReturnFname" value="{% if post is defined %}{{ post.visa_mdd_fname }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="docReturnLname" id="docReturnLname" value="{% if post is defined %}{{ post.visa_mdd_lname }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Contact number</label>
                    <input type="text" class="form-control" name="docReturnContactNo" id="docReturnContactNo" value="{% if post is defined %}{{ post.visa_mdd_contact }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Additional comments</label>
                    <textarea type="text" class="form-control" name="additionalComments" id="additionalComments">{% if post is defined %}{{ post.visa_additional_comment }}{% endif %}</textarea>
                </div>
                
               <hr/>
               <div class="form-group">
                    <h4>Order Status</h4>
                    <select name="orderStatus" class="form-control">
                        <option value="10" {% if post.status is defined and post.status == 10 %}selected{% endif %}>Pending</option>
                        <option value="12" {% if post.status is defined and post.status == 12 %}selected{% endif %}>Completed</option>
                    </select>
                </div>
                    
                <div class="form-group">
                    <h4>Payment Status</h4>
                    <select name="paymentStatus" class="form-control">
                        <option value="0" {% if post.s_paid is defined and post.s_paid == 0 %}selected{% endif %}>Pending</option>
                        <option value="1" {% if post.s_paid is defined and post.s_paid == 1 %}selected{% endif %}>Paid - Online</option>
                        <option value="2" {% if post.s_paid is defined and post.s_paid == 2 %}selected{% endif %}>Paid - By Account</option>
                    </select>
                </div>
                <hr/>
                
                <div class="text-right">
                    <button type="submit" id="nextPage" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Update Order Details</button>
                    <a class="btn btn-info" href="{{ path("cls_client_order_doc_legalisation_quote_payment") }}?client={{ post.client_id }}&order={{ post.order_no }}&group={{ post.dl_quotes_latest_group }}" target="_blank">Pay Now</a>
                </div>
                
            </div>
        </div>
    </div>
    
    
    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="modEditComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Comment</h4>
      </div>
      <div class="modal-body">
          <input type="hidden" id="txtEditCommentId"/>
          <textarea id="txtEditComment" class="form-control"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveCommentChanges();">Save changes</button>
      </div>
    </div>
  </div>
</div>


<form action="{{ path("acme_cls_admin_create_quote") }}" method="post">
<input type="hidden" name="order_no" value="{{ post.order_no }}">
<!-- Modal -->
<div class="modal fade" id="modCreateQuote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a quote</h4>
      </div>
      <div class="modal-body">
          <p>Note: Please insert numbers only for Quantity and Price.</p>
          <table id="items" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price($)</th>
                    <th style="width: 70px;">+GST</th>
                    <th>Total</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="item">
                    <td class="remove-item-col">
                        <a class="btn-remove-item"><span class="glyphicon glyphicon-remove-circle"></span> </a>
                    </td>
                    <td style="width: 220px;">
                        <textarea class="form-control description" style="max-width: 220px;" name="qdescription[]" placeholder="Type description here..." required></textarea>
                    </td>
                    <td>
                        <input type="number" class="form-control quantity" name="quantity[]" placeholder="#" required>
                    </td>
                    <td>
                        <input type="text" class="form-control price" name="qprice[]" placeholder="0.00" required>
                    </td>
                    <td>
                        <label><input type="checkbox" class="gst"> 10% <input type="hidden" name="gst[]" class="val"></label>
                    </td>
                    <td>
                        <span class="total"></span>
                    </td>
                    
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td class="grand-total">$<span>0.00</span></td>
                </tr>
            </tfoot>
        </table>
        
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default btn-add-line"><span class="glyphicon glyphicon-plus"></span> Add another line item</button>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Email Quote</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
        
// Global declarations
var tpn_list_url = "{{ path("acme_cls_admin_open_tpn_list") }}";
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";
var edit_comment_url = "{{ path("acme_cls_admin_edit_dl_comment") }}";
var delete_dl_quote_url = "{{ path("acme_cls_admin_delete_quote") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}