<html>
<body>
  <p>Hi {{ data.user_fname }},</p>
  
  <p>RE: Order number {{ data.order_no }}</p>

  <p>
      {% if message is defined and message != '' %}
          {{ message }}
      {% else %}
        Your current Order has been processed by our staff recently.
      {% endif %}
      <br/>
      Please login to the CLS Client Centre and proceed to the 'Track your order' menu item to see the latest status of your order, or <a href="{{domain ~ path("cls_client_gov_track_order") }}">Click Here</a>.
  </p>
 
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>