{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}


<div class="row">
    <div class="col-lg-9">
        <h3>Order View -
            {% if post.order_type == 1 %}
                Visa Application
            {% elseif post.order_type == 2 %}
                TPN Application
            {% elseif post.order_type == 3 %}
                TPN + VISA Application
            {% elseif post.order_type == 4 %}
                Passport Office Pickup or Delivery Application
            {% elseif post.order_type == 5 %}
                Police Clearance Application
            {% elseif post.order_type == 6 %}
                Visa - Pub. Client Application
            {% elseif post.order_type == 7 %}
                Document Delivery
            {% elseif post.order_type == 8 %}
                Russian Visa Voucher
            {% endif %}
            <br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ post.client_id }}">{{ post.client_fname ~ ' ' ~ post.client_lname }}</a></b></span>
        </h3>
    </div>
    <div class="col-lg-3">
        <h3>Order Number: {{ post.order_no }}</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_view_order") }}" method="post">
<input type="hidden" name="orderNo" value="{{ post.order_no }}">
<input type="hidden" name="updateRussianVisaVoucherOrder">
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Travel Details</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Date of first entry to Russia</label>
                    <div class="input-group date">
                        <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="rvv_first_entry_date" placeholder="DD-MM-YYYY" value="{% if post is defined and post.rvv_first_entry_date != '' %}{{ post.rvv_first_entry_date|date('d-m-Y') }}{% endif %}" required></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>


                <div class="form-group">
                    <label>Date of first departure from Russia</label>
                    <div class="input-group date">
                        <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="rvv_first_departure_date" placeholder="DD-MM-YYYY" value="{% if post is defined and post.rvv_first_departure_date != '' %}{{ post.rvv_first_departure_date|date('d-m-Y') }}{% endif %}" required></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Date of second entry to Russia</label>
                    <div class="input-group date">
                        <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="rvv_second_entry_date" placeholder="DD-MM-YYYY" value="{% if post is defined and post.rvv_second_entry_date != '' %}{{ post.rvv_second_entry_date|date('d-m-Y') }}{% endif %}" required></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Date of second departure from Russia</label>
                    <div class="input-group date">
                        <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="rvv_second_departure_date" placeholder="DD-MM-YYYY" value="{% if post is defined and post.rvv_second_departure_date != '' %}{{ post.rvv_second_departure_date|date('d-m-Y') }}{% endif %}" required></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>List of cities to be visited (max of 6)</label>
                    <textarea class="form-control" name="rvv_list_of_cities">{% if post is defined %}{{ post.rvv_list_of_cities }}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <label>List of hotels in Russia</label>
                    <textarea class="form-control" name="rvv_list_of_hotels">{% if post is defined %}{{ post.rvv_list_of_hotels }}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <label>Visa to be applied at</label><br/>
                    {% set other = 0 %}
                    <label><input type="radio" name="rvv_visa_applied_at" {% if post is defined and post.rvv_visa_applied_at == 'The Russian Embassy, 78 Canberra Avenue, Griffith ACT– CANBERRA AUSTRALIA' %}checked{% set other = 1 %}{% endif %} value="The Russian Embassy, 78 Canberra Avenue, Griffith ACT– CANBERRA AUSTRALIA"/> The Russian Embassy, 78 Canberra Avenue, Griffith ACT– CANBERRA AUSTRALIA</label><br/>
                    <label><input type="radio" name="rvv_visa_applied_at" {% if post is defined and post.rvv_visa_applied_at == 'The Consulate General of Russian Federation ,7-9 Fullerton St, Woollahra NSW 2025' %}checked {% set other = 1 %}{% endif %} value="The Consulate General of Russian Federation ,7-9 Fullerton St, Woollahra NSW 2025"/> The Consulate General of Russian Federation ,7-9 Fullerton St, Woollahra NSW 2025</label><br/>
                    <label><input type="radio" name="rvv_visa_applied_at" value="" {% if other == 0 %}checked{% endif %}/> Other: </label>
                    <input type="text" class="form-control rvv-visa-applied-other" value="{% if other == 0 and post is defined %}{{ post.rvv_visa_applied_at }}{% endif%}"/>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Applicant Details</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Title</label>
                    <select class="form-control required" name="rvv_applicant_title"  required>
                        <option value="">Select title</option>
                        {% for title in name_titles %}
                            <option value="{{ title.id }}" {% if post.travellers[0]['title'] is defined and post.travellers[0]['title'] == title.id %}selected{% elseif post.title is defined and post.title == title.id %}selected{% endif %}>{{ title.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control required" name="rvv_applicant_fname" value="{% if post.travellers[0]['fname'] is defined %}{{ post.travellers[0]['fname'] }}{% elseif post.fname is defined %}{{ post.fname }}{% endif %}" required/>
                </div>

                <div class="form-group">
                    <label>Middle name</label>
                    <input type="text" class="form-control required" name="rvv_applicant_mname" value="{% if post.travellers[0]['mname'] is defined %}{{ post.travellers[0]['mname'] }}{% elseif post.mname is defined %}{{ post.mname }}{% endif %}"/>
                </div>

                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control required" name="rvv_applicant_lname" value="{% if post.travellers[0]['lname'] is defined %}{{ post.travellers[0]['lname'] }}{% elseif post.lname is defined %}{{ post.lname }}{% endif %}" required/>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control required" name="rvv_applicant_email" value="{% if post.travellers[0]['email'] is defined %}{{ post.travellers[0]['email'] }}{% elseif post.email is defined %}{{ post.email }}{% endif %}" required/>
                </div>

                <div class="form-group">
                    <label>Citizenship</label>
                    <input type="text" class="form-control required occupation" name="rvv_applicant_citizenship" value="{% if post.travellers[0]['rvv_citizenship'] is defined %}{{ post.travellers[0]['rvv_citizenship'] }}{% elseif post.rvv_citizenship is defined %}{{ post.rvv_citizenship }}{% endif %}" required/>
                </div>

                <div class="form-group">
                    <label>Sex</label>
                    <select name="rvv_applicant_sex" class="form-control required" required>
                        <option value="">Please select</option>
                        <option value="male" {% if post.travellers[0]['rvv_sex'] is defined and post.travellers[0]['rvv_sex'] == 'male' %}selected{% elseif post.rvv_sex is defined and  post.rvv_sex == 'male'%}selected{% endif %}>Male</option>
                        <option value="female" {% if post.travellers[0]['rvv_sex'] is defined and post.travellers[0]['rvv_sex'] == 'female' %}selected{% elseif post.rvv_sex is defined and  post.rvv_sex == 'female'%}selected{% endif %}>Female</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Phone</label>
                    <input type="phone" class="form-control required" name="rvv_applicant_phone" value="{% if post.travellers[0]['phone'] is defined %}{{ post.travellers[0]['phone'] }}{% elseif post.phone is defined %}{{ post.phone }}{% endif %}" required/>
                </div>

                <div class="form-group">
                    <label>Place of birth</label>
                    <input type="text" class="form-control required" name="rvv_applicant_birth_place" value="{% if post.travellers[0]['rvv_birth_place'] is defined %}{{ post.travellers[0]['rvv_birth_place'] }}{% elseif post.rvv_birth_place is defined %}{{ post.rvv_birth_place }}{% endif %}" required/>
                </div>

                <div class="form-group">
                    <label>Date of Birth</label>
                    <div class="input-group date">
                        <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="rvv_applicant_birth_date" value="{% if post.travellers[0]['birth_date'] is defined %}{{ post.travellers[0]['birth_date']|date('d-m-Y') }}{% elseif post.birth_date is defined %}{{ post.birth_date }}{% endif %}" required></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Passport Number</label>
                    <input type="text" class="form-control required" name="rvv_applicant_passport_no" value="{% if post.travellers[0]['passport_number'] is defined %}{{ post.travellers[0]['passport_number'] }}{% elseif post.passport_number is defined %}{{ post.passport_number }}{% endif %}" required/>
                </div>

                <div class="form-group">
                    <label>Passport issue date</label>
                    <div class="input-group date">
                        <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="rvv_applicant_passport_issue_date" value="{% if post.travellers[0]['rvv_passport_issue_date'] is defined %}{{ post.travellers[0]['rvv_passport_issue_date'] }}{% elseif post.rvv_passport_issue_date is defined %}{{ post.rvv_passport_issue_date }}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Passport expiration date</label>
                    <div class="input-group date">
                        <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="rvv_applicant_passport_exp_date" value="{% if post.travellers[0]['rvv_passport_exp_date'] is defined %}{{ post.travellers[0]['rvv_passport_exp_date'] }}{% elseif post.rvv_passport_exp_date is defined %}{{ post.rvv_passport_exp_date }}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Employment Information</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Your company name</label>
                    <input type="text" class="form-control required" name="rvv_company" value="{% if post.travellers[0]['rvv_company'] is defined %}{{ post.travellers[0]['rvv_company'] }}{% elseif post.rvv_company is defined %}{{ post.rvv_company }}{% endif %}" required>
                </div>
                    
                <div class="form-group">
                    <label>Your Position</label>
                    <input type="text" class="form-control required" name="rvv_position" value="{% if post.travellers[0]['rvv_position'] is defined %}{{ post.travellers[0]['rvv_position'] }}{% elseif post.rvv_position is defined %}{{ post.rvv_position }}{% endif %}" required>
                </div>
                    
                <div class="form-group">
                    <label>Street Address</label>
                    <input type="text" class="form-control required" name="rvv_address" value="{% if post.travellers[0]['rvv_address']  is defined %}{{ post.travellers[0]['rvv_address'] }}{% elseif post.rvv_address is defined %}{{ post.rvv_address }}{% endif %}" required>
                </div>
                    
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control required" name="rvv_city" value="{% if post.travellers[0]['rvv_city']  is defined %}{{ post.travellers[0]['rvv_city'] }}{% elseif post.rvv_city is defined %}{{ post.rvv_city }}{% endif %}" required>
                </div>
                    
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control required" name="rvv_state" value="{% if post.travellers[0]['rvv_state'] is defined %}{{ post.travellers[0]['rvv_state'] }}{% elseif post.rvv_state is defined %}{{ post.rvv_state }}{% endif %}" required>
                </div>
                    
                <div class="form-group">
                    <label>Zipcode/Postcode</label>
                    <input type="text" class="form-control required" name="rvv_postcode" value="{% if post.travellers[0]['rvv_postcode'] is defined %}{{ post.travellers[0]['rvv_postcode'] }}{% elseif post.rvv_postcode is defined %}{{ post.rvv_postcode }}{% endif %}" required>
                </div>

                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control required" name="rvv_country"  required>
                        <option value="">Select country</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}" {% if post.travellers[0]['rvv_country'] is defined and post.travellers[0]['rvv_country'] == country.id%}selected{% elseif post.rvv_country is defined and post.rvv_country == country.id %}selected{% endif %}>{{ country.countryName }}</option>
                        {% endfor %}
                    </select>
                </div>
                    
                <div class="form-group">
                    <label>Company fax</label>
                    <input type="text" class="form-control" name="rvv_company_fax" value="{% if post.travellers[0]['rvv_company_fax'] is defined %}{{ post.travellers[0]['rvv_company_fax'] }}{% elseif post.rvv_company_fax is defined %}{{ post.rvv_company_fax }}{% endif %}">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Payment Details</h4></div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Voucher Type</label><br/>
                    <b>{{ post.russian_visa_voucher_name }}</b>
                </div>
                    
                {% if post.rvv_file != '' %}
                <div class="form-group">
                    <label>Attached File</label><br/>
                    <a href="{{ asset("dev") ~ "/rvv/" ~ post.client_id ~ "/" ~ post.order_no ~ "/" ~ post.rvv_file }}" target="_blank">{{ post.rvv_file }}</a>
                </div>
                {% endif %}
                    
                <div class="form-group">
                    <label>Comments</label><br/>
                    <b>{{ post.rvv_comments }}</b>
                </div>
                    
                <hr/>
                <div class="form-group">
                    <label>Order Status</label>
                    <select name="orderStatus" class="form-control">
                        <option value="10" {% if post.status is defined and post.status == 10 %}selected{% endif %}>Pending</option>
                        <option value="12" {% if post.status is defined and post.status == 12 %}selected{% endif %}>Completed</option>
                    </select>
                </div>
                    
                <div class="form-group">
                    <label>Payment Status</label>
                    <select name="paymentStatus" class="form-control">
                        <option value="0" {% if post.s_paid is defined and post.s_paid == 0 %}selected{% endif %}>Pending</option>
                        <option value="1" {% if post.s_paid is defined and post.s_paid == 1 %}selected{% endif %}>Paid - Online</option>
                        <option value="2" {% if post.s_paid is defined and post.s_paid == 2 %}selected{% endif %}>Paid - By Account</option>
                    </select>
                </div>
                    
                <div class="form-group">    
                    <label>Account Number</label>
                    <input type="text" name="accountNumber" class="form-control" placeholder="#######" value="{{ post.account_no }}">
                </div>
                    
                <div class="text-right">
                    <a href="" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
                    <a class="btn btn-info" href="{{ path("acem_cls_admin_pay_now") }}?order={{ post.order_no }}&client={{ post.client_id }}">Pay Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
        
// Global declarations
var tpn_list_url = "{{ path("acme_cls_admin_open_tpn_list") }}";
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}