{% extends "AcmeCLSadminBundle::layout.html.twig" %}


{% block title %}(Manifest Orders Report){% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/extras/TableTools/media/css/TableTools.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-10">
        <h3>Order Report - Manifest</h3>
    </div>
    <div class="col-lg-2 text-right ">
        
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ path("acme_cls_admin_orders_report_manifest") }}" class="filter">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                        <label>Date completed and recieved at cls</label> <label><input type="checkbox" class="chkDateToday"> <i>today</i></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            
                                            <input type="text" name="from" class="form-control date-picker" placeholder="From" value="{% if get.from is defined %}{{ get.from }}{% endif %}">
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" name="to" class="form-control date-picker" placeholder="To" value="{% if get.to is defined %}{{ get.to }}{% endif %}">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Department</label>
                            <select name="department" class="form-control">
                                <option value=""> - All - </option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}" {% if get.department is defined and get.department == department.id%}selected{% endif %}>{{ department.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label>Account No.</label>
                        <input type="text" name="accountno" class="form-control" placeholder="## ##### #####" value="{% if get.accountno is defined %}{{ get.accountno }}{% endif %}">
                    </div>
                        
                    
                </div>
                        
                <div class="row">
                    <div class="col-lg-12" style="padding-top: 20px;">
                        <button class="btn btn-default clear-selections" ><span class="glyphicon glyphicon-repeat"></span> Clear Selections</button>
                        <button class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span> Filter Report</button>
                    </div>
                </div>
                        
                <div class="row">
                    
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12  text-right dataTable-buttons-wrapper">
        <div class="dataTable-buttons-1">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="visa-listings">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Date Submitted</th>
                    <th style="width: 200px;">Date Completed & Received at CLS</th>
                    <th>Traveller Name</th>
                    <th>Passport No.</th>
                    <th>Destination</th>
                    <th>Account No.</th>
                    <th>Order No.</th>
                </tr>
            </thead>
        </table>
            
    </div>
</div>


<hr/>

<div class="row">
    <div class="col-lg-12  text-right dataTable-buttons-wrapper">
        <div class="dataTable-buttons-2">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
            
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="passport-listings">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Date Submitted</th>
                    <th>Document Sent Date</th>
                    <th>Passport Sent Date</th>
                    <th>Applicant Name</th>
                    <th>Document Types</th>
                    <th>Account No.</th>
                    <th>Order No.</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/TableTools.js"></script>

<script type="text/javascript">
        
// Global declarations
var params = "?from={% if get.from is defined %}{{ get.from }}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}"
    +"&to={% if get.to is defined %}{{ get.to }}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}"
    +"&ddfrom={% if get.ddfrom is defined %}{{ get.ddfrom }}{% endif %}"
    +"&ddto={% if get.ddto is defined %}{{ get.ddto }}{% endif %}"
    +"&department={% if get.department is defined %}{{ get.department }}{% endif %}"
    +"&destination={% if get.destination is defined %}{{ get.destination }}{% endif %}"
    +"&paymentstat={% if get.paymentstat is defined %}{{ get.paymentstat }}{% endif %}"
    +"&onaccount={% if get.onaccount is defined %}{{ get.onaccount }}{% endif %}"
    +"&accountno={% if get.accountno is defined %}{{ get.accountno }}{% endif %}"
    +"&clsteammem={% if get.clsteammem is defined %}{{ get.clsteammem }}{% endif %}"
    ;
var list_url1 = "{{ path("acme_cls_admin_orders_report_manifest_list1") }}" + params;
    
var list_url2 = "{{ path("acme_cls_admin_orders_report_manifest_list2") }}" + params;
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";

var api_url = "{{ asset("api") }}";
var img_url = "{{ asset("img") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}