<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Level</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="glyphicon glyphicon-ok"></span></td>
            <td>Order submitted to CLS</td>
            <td><span id="dateSubmittedToCLS">{{ data.date_submitted|date('d-m-Y H:i:s') }}</span></td>
        </tr>
        <tr>
            <td>{% if data.police_clearance_date_cls_received_all_items != '' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
            <td>All items received at CLS</td>
            <td><span id="dateReceivedAtCLS">{% if data.police_clearance_date_cls_received_all_items != '' %}{{ data.police_clearance_date_cls_received_all_items|date('d-m-Y H:i:s') }}{% endif %}</span></td>
        </tr>

        <tr>
            <td>{% if data.police_clearance_date_submitted_for_processing != '' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
            <td>Submitted for processing</td>
            <td><span id="dateSubmittedForProcessing">{% if data.police_clearance_date_submitted_for_processing != '' %}{{ data.police_clearance_date_submitted_for_processing|date('d-m-Y H:i:s') }}{% endif %}</span></td>
        </tr>

        <tr>
            <td>{% if data.police_clearance_date_completed_and_received_at_cls != '' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
            <td>Completed & received at CLS</td>
            <td><span id="dateCompletedAndReceivedAtCLS">{% if data.police_clearance_date_completed_and_received_at_cls != '' %}{{ data.police_clearance_date_completed_and_received_at_cls|date('d-m-Y H:i:s') }}{% endif %}</span></td>
            
        </tr>

        <tr>
            <td>{% if data.police_clearance_date_order_on_route_and_closed != '' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
            <td>Order on route and closed</td>
            <td><span id="dateOnRouteAndClosed">{% if data.police_clearance_date_order_on_route_and_closed != '' %}{{ data.police_clearance_date_order_on_route_and_closed|date('d-m-Y H:i:s') }}{% endif %}</span></td>
        </tr>
    </tbody>
</table>



<h4>Ticket Notes</h4>
<ul id="orderNotes">
    {% for note in data.order_notes %}
        {% if note.is_admin == 0 %}
            <li><span class="note-text">{{ note.note|raw }}</span><br/><span class="noted-by"><i>- by {{ note.note_by_name ~ " (" ~ note.user_type ~")"}} {{ note.date_added|date("d-m-Y H:i:s") }}</i></span></li>
        {% endif %}
    {% endfor %}
</ul>
<textarea id="note" class="form-control"></textarea>