<html>
<body>
    <p>Hi {{ admin_name }}</p>
    
    <p>{{gov_client_name }} had added a note for the {{ order_type }} application with the order number {{ order_number }}:</p>
    <p><i>{{ note|raw }}</i></p>
    
    <p>Kind regards,<br/>
        Capital Link Services<br/>
        <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
    </p>

    <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
</body>
</html>
