{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-12">
        <h3>Track your Order</h3>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="ticketTabs">
          <li class="active"><a href="#gov-visa" data-toggle="tab" class="click-active">Visa Tickets <span id="visaTicketsCount" class="badge">0</span></a></li>
          <li><a href="#police-clearance" data-toggle="tab">Police Clearances <span id="policeClearanceOrderCount" class="badge">0</span></a></li>
          <li><a href="#doc-legalisation" data-toggle="tab">Document Legalisations <span id="docLegalisationOrderCount" class="badge">0</span></a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="gov-visa">
                <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="gov-visa-listings">
                    <thead>
                        <tr>    
                            <th>Order Submitted</th>
                            <th>Order No. </th>
                            <th>Primary Applicant Name</th>
                            <th>Destination</th>
                            <th style="width: 165px;">Operations</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
                
            <div class="tab-pane" id="police-clearance">
                <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="police-clearance-listings">
                    <thead>
                        <tr>    
                            <th>Order Submitted</th>
                            <th>Order No. </th>
                            <th>Applicant Name</th>
                            <th>Passport No.</th>
                            <th style="width: 165px;">Operations</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
                
            <div class="tab-pane" id="doc-legalisation">
                <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="doc-legalisation-listings">
                    <thead>
                        <tr>    
                            <th>Order Submitted</th>
                            <th>Order No. </th>
                            <th style="width: 165px;">Operations</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="trackOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span id="title"></span></h4>
      </div>
      <div id="trackOrderBody" class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnSaveChanges">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var list_url_visa = "{{ path("cls_client_gov_track_order_list") }}";
var list_url_police_clearance = "{{ path("cls_client_gov_track_order_list_police_clearance") }}";
var list_url_doc_legalisation = "{{ path("cls_client_gov_track_order_list_doc_legalisation") }}";
var open_order_url = "{{ path("cls_client_gov_saved_order_continue") }}";
var tracking_url = "{{ path("cls_client_gov_track_order_template") }}";
var tracking_police_clearance_url = "{{ path("cls_client_gov_track_police_clearance_order_template") }}";
var add_note_url = "{{ path("cls_client_gov_add_order_note") }}";
var add_police_clearance_note_url = "{{ path("cls_client_gov_add_police_clearance_order_note") }}";
var asset = "{{ asset("img") }}";
</script>
    
<script src="{{ asset("js") }}/pages/track-orders.js"></script>
{% endblock %}