<html>
<body>
  <p>Hi {{ app.session.get("fname") }},</p>
  
  {% if manual_order is defined %}
    <p>Please see a summary of the submission below:</p>
  {% else %}
    <p>Thank you for your Courier service booking.</p>
    <p>Please see a summary of your submission below:</p>
  {% endif %}
  <h3>Document Delivery</h3>
  
  <p><b>Order Number: </b> {{ order_no }}</p>
  
  <h4>Your Details</h4>
  
  <p>
      <b>Name:</b> {{ data.payer_fname }}<br/>
      <b>Email:</b> {{ data.payer_email }}<br/>
      <b>Phone Number:</b> {{ data.payer_phone }}<br/>
      <b>Receiver Name / Department:</b> {{ data.doc_receiver_name }}<br/>
  </p>
  
  <h4>Pick Up Details</h4>
  
  <p>
      <b>Address:</b> {{ data.doc_pickup_address ~ " " ~ data.doc_pickup_city ~ " " ~ data.doc_pickup_postcode }}<br/>
      <b>Telephone and Mobile:</b> {{ data.doc_pickup_contact_no }}<br/>
      <b>Contact Area:</b> {{ data.doc_pickup_contact_area }}
  </p>
  
  
  <h4>Delivery Details</h4>
  
  <p>
      <b>Delivery Recipient Name:</b> {{ data.doc_delivery_recipient_name }}<br/>
      <b>Delivery Address:</b> {{ data.doc_delivery_address ~ " " ~ data.doc_delivery_city ~ " " ~ data.doc_delivery_postcode }}<br/>
      <b>Telephone and Mobile:</b> {{ data.doc_delivery_contact_no }}
  </p>
  
  <h4>Delivery Details</h4>
  <p>
      <b>Total pieces for pickup:</b> {{ data.doc_package_total_pieces }}<br/>
      <b>Pickup Date:</b> {{ data.doc_package_pickup_date }}<br/>
      <b>My Package will be ready by:</b> {{ data.doc_package_ready_hr ~ ":" ~ data.doc_package_ready_min ~ " " ~ data.doc_package_ready_ampm }}<br/>
      <b>Office closes at:</b> {{ data.doc_package_office_close_hr ~ ":" ~ data.doc_package_office_close_min ~ " " ~ data.doc_package_office_close_ampm }}<br/>
      <b>Selected Product:</b> {{ data.doc_delivery_type }}
  </p>
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>