{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}
{% if errors is defined %}
<div class="alert alert-block alert-danger fade in">
    <span class="close" data-dismiss="alert">&times;</span>
    <!--<span class="alert-title">The form has the following errors:</span>-->
    <ul>
    {% for error in errors %}
        {{ error.message }} <br/>
    {% endfor %}
    </ul>
</div>
{%endif%}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>Document Delivery</h3>
        {% else %}
            <h3>Create Order: Document Delivery<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        {% if app.session.get('user_type') != 'admin-user' %}
        <div class="application-steps">
            <span>Step 1/3</span>
            <span class="active">Details</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% else %}
        <div class="application-steps">
            <span>Step 1/3</span>
            <span class="active">Details</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3">
    </div>
</div>

<hr/>

{% if user.can_get_special_price == 1 %}
    {% set special_price = user.special_price %}
{% else %}
    {% set special_price = 0 %}
{% endif %}

<div class="row">
    <form action="{{ path("cls_client_aplication_document_delivery") }}" method="post">
    <input type="hidden" name="hidSubmit">
    {% if app.session.get('user_type') == 'admin-user' %}
        <input type="hidden" name="client_id" value="{{ user_details.id }}">
    {% endif %}
        
    {% if order_no is defined %}
        <input type="hidden" name="orderNumber" value="{{ order_no }}">
    {% endif %}
    <!-- Payment details -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Order Details</h4>
            </div>
            <div class="panel-body">
                <h4>Your Details</h4>
                <label><input type="checkbox" id="chkUseDefaultAddress" /> Use my Default Billing Address</label>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Firstname</label>
                            <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control required" id="txtFname" placeholder="First Name" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Lastname</label>
                            <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control" id="txtLname" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Email Address</label>
                            <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control required" id="txtEmail" placeholder="Email address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Contact Phone Number</label>
                            <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control" id="txtPhone" placeholder="Phone number">
                        </div>
                        <div class="col-lg-6">
                            <label>Mobile Phone Number</label>
                            <input type="text" name="mobile" value="{% if post.mobile is defined %}{{ post.mobile }}{% endif %}" class="form-control" id="txtMobile" placeholder="Mobile number">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Receiver Name / Department</label>
                            <input type="text" name="receiverName" value="{% if post.receiverName is defined %}{{ post.receiverName }}{% endif %}" class="form-control required" id="txtPhone" placeholder="Receiver name / department" required>
                        </div>
                    </div>
                </div>
                <hr/>


                <h4>Pick Up Details</h4>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Pickup Address (Street)</label>
                            <input type="text" name="pickupAddress" value="{% if post.pickupAddress is defined %}{{ post.pickupAddress }}{% endif %}" class="form-control required" id="txtFname" placeholder="Pickup address" required>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Suburb/City</label>
                            <input type="text" name="pickupCity" value="{% if post.pickupCity is defined %}{{ post.pickupCity }}{% endif %}" class="form-control"  placeholder="Suburb/city">
                        </div>
                        <div class="col-lg-6">
                            <label>Postcode</label>
                            <input type="text" name="pickupPostcode" value="{% if post.pickupPostcode is defined %}{{ post.pickupPostcode }}{% endif %}" class="form-control" placeholder="Postcode">
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Telephone and Mobile</label>
                            <input type="text" name="pickupContactNo" value="{% if post.pickupContactNo is defined %}{{ post.pickupContactNo }}{% endif %}" class="form-control"  placeholder="########">
                        </div>
                    </div>
                </div>
                
                
                
                <h4>Delivery Details</h4>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Delivery Recipient Name</label>
                            <input type="text" name="deliveryRecipientName" value="{% if post.deliveryRecipientName is defined %}{{ post.deliveryRecipientName }}{% endif %}" class="form-control required" id="txtFname" placeholder="Delivery recipient name" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Delivery Address (Street)</label>
                            <input type="text" name="deliveryAddress" value="{% if post.deliveryAddress is defined %}{{ post.deliveryAddress }}{% endif %}" class="form-control required" id="txtFname" placeholder="Pickup address" required>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Suburb/City</label>
                            <input type="text" name="deliveryCity" value="{% if post.deliveryCity is defined %}{{ post.deliveryCity }}{% endif %}" class="form-control"  placeholder="Suburb/city">
                        </div>
                        <div class="col-lg-6">
                            <label>Postcode</label>
                            <input type="text" name="deliveryPostcode" value="{% if post.deliveryPostcode is defined %}{{ post.deliveryPostcode }}{% endif %}" class="form-control" placeholder="Postcode">
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Telephone and Mobile</label>
                            <input type="text" name="deliveryContactNo" value="{% if post.deliveryContactNo is defined %}{{ post.deliveryContactNo }}{% endif %}" class="form-control"  placeholder="########">
                        </div>
                    </div>
                </div>
                
                
                <h4>Package Details</h4>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Total Pieces for Pickup</label>
                            <input type="text" name="packageTotalPieces" value="{% if post.packageTotalPieces is defined %}{{ post.packageTotalPieces }}{% endif %}" class="form-control"  placeholder="0">
                        </div>
                        <div class="col-lg-6">
                            <label>Pickup Date</label>
                            <input type="text" name="packagePickupDate" value="{% if post.packagePickupDate is defined %}{{ post.packagePickupDate }}{% endif %}" class="form-control date-picker" placeholder="0000-00-00">
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>My Package will be ready by</label>
                            <div class="row">
                                <div class="col-lg-6">
                                    <select name="packageReadyHr" class="form-control required" required>
                                        <option value="">Hr</option>
                                        {% for i in 1..12 %}
                                            <option value="{{ "%02d"|format(i) }}" {% if post.packageReadyHr is defined and post.packageReadyHr == "%02d"|format(i) %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    
                                <div class="col-lg-6">
                                    <select name="packageReadyMin" class="form-control required" required>
                                        <option value="">Min</option>
                                        <option value="00" {% if post.packageReadyMin is defined and post.packageReadyMin == "00" %}selected{% endif %}>00</option>
                                        <option value="10" {% if post.packageReadyMin is defined and post.packageReadyMin == "10" %}selected{% endif %}>10</option>
                                        <option value="20" {% if post.packageReadyMin is defined and post.packageReadyMin == "20" %}selected{% endif %}>20</option>
                                        <option value="30" {% if post.packageReadyMin is defined and post.packageReadyMin == "30" %}selected{% endif %}>30</option>
                                        <option value="40" {% if post.packageReadyMin is defined and post.packageReadyMin == "40" %}selected{% endif %}>40</option>
                                        <option value="50" {% if post.packageReadyMin is defined and post.packageReadyMin == "50" %}selected{% endif %}>50</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-lg-6">
                            <label>Office Closes at</label>
                            <div class="row">
                                <div class="col-lg-6">
                                    <select name="packageOfficeCloseHr" class="form-control required" required>
                                        <option value="">Hr</option>
                                        {% for i in 1..12 %}
                                            <option value="{{ "%02d"|format(i) }}" {% if post.packageOfficeCloseHr is defined and post.packageOfficeCloseHr == "%02d"|format(i) %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    
                                <div class="col-lg-6">
                                    <select name="packageOfficeCloseMin" class="form-control required" required>
                                        <option value="">Min</option>
                                        <option value="00" {% if post.packageOfficeCloseMin is defined and post.packageOfficeCloseMin == "00" %}selected{% endif %}>00</option>
                                        <option value="10" {% if post.packageOfficeCloseMin is defined and post.packageOfficeCloseMin == "10" %}selected{% endif %}>10</option>
                                        <option value="20" {% if post.packageOfficeCloseMin is defined and post.packageOfficeCloseMin == "20" %}selected{% endif %}>20</option>
                                        <option value="30" {% if post.packageOfficeCloseMin is defined and post.packageOfficeCloseMin == "30" %}selected{% endif %}>30</option>
                                        <option value="40" {% if post.packageOfficeCloseMin is defined and post.packageOfficeCloseMin == "40" %}selected{% endif %}>40</option>
                                        <option value="50" {% if post.packageOfficeCloseMin is defined and post.packageOfficeCloseMin == "50" %}selected{% endif %}>50</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
        
    <!-- Payment options -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Payment Details</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Type of Document Delivery</label>
                            <select name="paymentDocType" id="paymentDocType" class="form-control required" required>
                                <option val="" tag="0"> Select type </option>
                                {% for type in doc_types %}
                                    {% set type_cost = type.cost + (type.cost * (special_price/100)) %}
                                    <option value="{{ type.id }}" tag="{{ type_cost }}" {% if post.paymentDocType is defined and post.paymentDocType == type.id %}selected{% endif %}>{{ type.type ~ ' ($' ~ type_cost ~ ')'}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <hr/>
                <div class="text-right">
                    <button type="submit" id="saveProgress" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> Save Progress</button>
                    <button type="submit" id="nextPage" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                </div>
            </div>
        </div>
        </div>
    </form>
    </div>
    
</div>



{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        
        // Global declarations
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var cost = 0.00;
        var ccp_fee = {{ credit_card_processing_fee }};
        var special_price = {% if user.can_get_special_price == 1 %}{{ user.special_price }}{% else %}0{% endif %};
    </script>
    
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}