<html>
<body>
    {% if manual_order is defined %}
        <p>Please see the summary of your manual order and tax invoice below:</p>
    {% else %}
        <p>Thank you for your recent order with Capital Link Services. Please see the summary of your order and tax invoice below:</p>
    {% endif %}
  
  
  <table style="border-collapse:collapse" border="1" cellpadding="5" cellspacing="0">
    <tbody>
        <tr>
            <td width="50%">
                    <h3>Tax Invoice Date</h3>
                    <p> {{ order_no }} / {{ date_submitted|date("d-m-Y") }}</p>
            </td>
            <td width="50%">
                <h3>Tax Invoice/Order Number</h3>
                {#<img src="http://dev.clientcentre.capitallinkservices.com.au/assets/barcode/?OrderNumber={{ order_no }}" alt="{{ order_no }}">-->
                <!--<img src="{{ domain ~ "/" ~  asset("api") }}/barcodegen.1d-php5.v5.1.0/index.php?number={{ order_no }}" alt="{{ order_no }}">#}
                <img src="{{ domain ~ "/" ~  asset("api") }}/barcode/index.php?number={{ order_no }}" alt="{{ order_no }}">
            </td>
        </tr>
            <tr>
                <td colspan="2">
                    <table border="0" cellpadding="5" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                                <th>Product</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>GST</th>
                                <th>Total</th>
                        </tr>
                        {% set items_total_cost = 0 %}
                        {% set items_total_gst = 0 %}

                        <tr>
                            <td>{{ data.doc_delivery_type_name }}</td>
                            {% if data.can_get_special_price == 0 %}
                                {% set item_cost = data.doc_delivery_cost %}
                            {% else %}
                                {% set item_cost = data.doc_delivery_cost + (data.doc_delivery_cost * (data.special_price/100)) %}
                            {% endif %}
                            
                            <td>${{ item_cost|number_format(2) }}</td>

                            <td>1</td>
                            <td>10%</td>
                            
                            {% set item_total = item_cost + (item_cost * 0.10)%}
                            {% set items_total_cost = items_total_cost + item_cost %}
                            {% set items_total_gst = items_total_gst + (item_cost * 0.10) %}
                            <td>${{ item_total|number_format(2) }}</td>
                            <!--<td>${{ item_cost|number_format(2) }}</td>-->
                        </tr>
                    </tbody>
                    </table>
                </td>
            </tr>
            
            {% set discount = 0 %}
            {% if data.discount_rate != '' and data.discount_rate > 0 %}
                {% set discount = (items_total_cost * (data.discount_rate/100)) %}
                {# set discount = (items_total_cost * (data.discount_rate/100)) + (items_total_gst * (data.discount_rate/100)) #}
                {% set items_total_cost = items_total_cost - (items_total_cost * (data.discount_rate/100))%}
                {% set items_total_gst = items_total_gst - (items_total_gst * (data.discount_rate/100))%}
            {% endif %}
            
            
            {% if data.discount_rate > 0 %}
            <tr>
                <td colspan="2" align="right"><b>Discount</b>: ${{ discount|number_format(2) }}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" align="right"><b>Sub Total</b>: ${{ items_total_cost|number_format(2) }}</td>
            </tr>
            
            <tr>
                <td colspan="2" align="right"><b>GST</b>: ${{ items_total_gst|number_format(2) }}</td>
            </tr>
            
            {% set grand_total = items_total_cost + items_total_gst %}
            {% if data.payment_option == 1 %}
            {% set grand_total = grand_total + (grand_total * (data.credit_card_processing_fee/100))%}
            <tr>
                <td colspan="2" align="right"><b>Credit Card Fee</b>: ${{ (grand_total * (data.credit_card_processing_fee/100))|number_format(2) }}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" align="right"><b>Total Paid to Date</b>: ${{ grand_total|number_format(2) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>Balance Due</b>: {% if data.payment_option == 1 %}$0.00{% else %}${{ grand_total|number_format(2) }}{% endif %}</td>
            </tr>
    </tbody>
    </table>
  
    <p>Please follow this link and print your Safe Hand Delivery Consignment Note: <br/><a href="{{ domain }}{{ asset("api") }}/pdfc/safe-hand-delivery-consignment-note.php?order={{ order_no }}" target="_blank">{{ domain }}{{ asset("api") }}/pdfc/safe-hand-delivery-consignment-note.php?order={{ order_no }}</a></p>
    
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>