{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>Document Delivery</h3>
        {% else %}
            <h3>Create Order: Document Delivery<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        
        {% if app.session.get('user_type') != 'admin-user' %}
        <div class="application-steps">
            <span>Step 2/3</span>
            <span><a href="{{ path("cls_client_aplication_document_delivery") }}?order={{ order_no }}">Details</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% else %}
        <div class="application-steps">
            <span>Step 2/3</span>
            <span><a href="{{ path("cls_client_aplication_document_delivery") }}?client={{ user_details.id }}&order={{ order_no }}">Details</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

<div class="row">

    <div class="col-lg-12">
        <table class="table table-hover">
            
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>GST</th>
                    <th>Total</th>
                </tr>
            </thead>
            {% set items_total_cost = 0 %}
            {% set items_total_gst = 0 %}
            <tbody>
                <tr>
                    <td>{{ data.doc_delivery_type_name }}</td>
                    {% set pcp = data.doc_delivery_cost %}
                    {% if data.can_get_special_price == 1 %}
                        {% set pcp = pcp + (pcp * (data.special_price/100))%}
                    {% endif %}
                    <td>${{ pcp|number_format(2) }}</td>
                    <td>1</td>
                    <td>10%</td>
                    {% set item_total = pcp + (pcp * 0.10)%}
                    {% set items_total_cost = items_total_cost + pcp %}
                    {% set items_total_gst = items_total_gst + (pcp * 0.10) %}
                    <td colspan="2" align="right">${{ item_total|number_format(2) }}</td>
                    <!--<td>${{ pcp|number_format(2) }}</td>-->
                </tr>
                
                
            </tbody>
            
            <tfoot>
                <tr>
                    <td>
                        <div class="row">
                            <form action="{{ path("cls_client_aplication_document_delivery_discount") }}" method="POST">
                            <input type="hidden" name="orderNumber" value="{{ order_no }}">
                            {% if app.session.get('user_type') == 'admin-user' %}
                                <input type="hidden" name="client_id" value="{{ user_details.id }}">
                            {% endif %}
                            <div class="col-lg-4">Discount Code (Case Sensitive)</div> 
                            <div class="col-lg-3"><input type="text" name="discountCode" id="discountCode" class="form-control" value="{{ data.discount_code }}"/></div> 
                            <div class="col-lg-3"><button type="submit" id="btnDiscountUpdate" class="btn btn-primary"> Update </button></div> 
                            </form>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% set discount = 0 %}
                    {% if data.discount_rate != '' and data.discount_rate > 0 %}
                        {% set discount = (items_total_cost * (data.discount_rate/100)) + (items_total_gst * (data.discount_rate/100))%}
                        {% set items_total_cost = items_total_cost - (items_total_cost * (data.discount_rate/100))%}
                        {% set items_total_gst = items_total_gst - (items_total_gst * (data.discount_rate/100))%}
                    {% endif %}
                    
                    <td colspan="2" align="right">- $<span id="discount">{{ discount|number_format(2) }}</span></td>
                </tr>
                
                <tr>
                    <td><b>Sub Total</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right">${{ items_total_cost|number_format(2) }}</td>
                </tr>

                <tr>
                    <td><b>GST</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right">${{ items_total_gst|number_format(2) }}</td>
                </tr>

                {% set grand_total = items_total_cost %}
                {% set grand_total = items_total_cost + items_total_gst %}
                {% if data.payment_option == 1 %}
                    {% set grand_total = grand_total + (grand_total * (data.credit_card_processing_fee/100))%}
                    <tr>
                        <td><b>Credit Card Fee</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2" align="right">${{ (grand_total * (data.credit_card_processing_fee/100))|number_format(2) }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td><b>Grand Total</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right"><b>${{ grand_total|number_format(2) }}</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
        
    <div class="col-lg-12 text-right">
        <hr />
         <form action="{{ path("cls_client_aplication_document_delivery_review_order") }}" method="post">
            <input type="hidden" name="hid_submit" id="hidSubmit">
            <input type="hidden" name="orderNumber" value="{{ order_no }}">
            {% if app.session.get('user_type') == 'admin-user' %}
                <input type="hidden" name="client_id" value="{{ user_details.id }}">
            {% endif %}
            
            {% if app.session.get('user_type') == 'admin-user' %}
                <a href="{{ path("cls_client_aplication_document_delivery") }}?client={{ user_details.id }}&order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
            {% else %}
                <a href="{{ path("cls_client_aplication_document_delivery") }}?order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
            {% endif %}
            <button type="submit" id="nextPage" class="btn btn-primary"><span>&raquo;</span> Next</button>
         </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
        
    // Global declarations
</script>
<script src="{{ asset("js") }}/pages/tpn-application-review-order.js"></script>
{% endblock %}