{% extends "AcmeCLStpnBundle::layout.html.twig" %}

{% block body %}
{% if error is defined %}
<div class="alert alert-block alert-danger fade in">
     <span class="close" data-dismiss="alert">&times;</span>
    {{ error }}
</div>
{%endif%}

<div class="col-lg-5">
    <h2>Login</h2>
    <form class="form-horizontal" action="{{ path('acme_cls_tpn_login') }}" method="post">
        <input type="hidden" name="hid_submit">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" value="{% if email is defined %}{{ email }}{% endif %}" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Sign in</button>
          <button type="button" class="btn btn-default">Reset Password</button>
        </div>
      </div>
    </form>
</div>
<div class="col-lg-4">
    <h2>Need help?</h2>
    <p>Please contact us to speak to a customer service representative on <a href="tel:0262827155">02 6282 7155</a> or email us: <script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "wpve@WMensMvvniVtp2lnWpt.W8G.MC"
  key = "v0XzfyFMs8Rh2NnLYdZOc4H9CkeT3UGlA17x6gatoDwrEiSBQqPWbKjuVpIJ5m"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+link+"</a>")
}
//-->
</script><noscript>Sorry, you need Javascript on to email me.</noscript>
</p>
</div>
{% endblock %}