{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-12">
        <h3>Travel Alerts</h3>
    </div>
</div>



<div class="row">
    <div class="col-lg-8">
        <hr/>
        <ul class="travel-alerts">
            {% for item in post %}
                <li>
                    <p>
                        <h4>{{ item.subject }} <br/><span class="date">{{ item.alert_date|date("F d, Y") }}</span></h4>
                        
                    </p>
                    <p>{{ item.body|replace({"\n":"<br/>"})|raw }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
</script>
    
<script src="{{ asset("js") }}/pages/track-orders.js"></script>
{% endblock %}