{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-6">
        <h3>Clients</h3>
    </div>
    <div class="col-lg-6 text-right">
        <h3><a class="btn btn-default" href="{{ path("acme_cls_admin_clients_new") }}">Create a New Client</a></h3>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="client-listings">
              <thead>
                  <tr>    
                      <th>Organization</th>
                      <th>Name</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Client Type</th>
                      <th>Country</th>
                      <th style="width: 165px;">Operations</th>
                  </tr>
              </thead>
          </table>
    </div>
</div>





{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var list_url = "{{ path("acme_cls_admin_clients_list") }}";
var open_url = "{{ path("acme_cls_admin_clients_edit") }}";
var delete_url = "{{ path("acme_cls_admin_client_delete") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}