{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Manage - Credit Card Processing Fee</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_manage_credit_card_processing_fee") }}" method="post">
<input type="hidden" name="hidSubmit"/>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label> Credit Card Processing Fee (%)</label> 
            <input type="text" name="fee" value="{% if post.fee is defined %}{{ post.fee }}{% endif %}" class="form-control"  placeholder="0.00" required>
        </div>
            
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
{% endblock %}