{% extends "AcmeCLShomeBundle::layout.html.twig" %}


{% block metadescription %}Capital Link Services has in-depth experience and knowledge of document delivery. Complete and sign the form on this page to get started. {% endblock %}

{% block title %}Document Delivery | Capital Link Services{% endblock %}


{% block body %}


<!--<a href="{% if app.session.get('user_type') == 'public' or app.session.get('user_type') == 'corporate' %}{{ path("cls_client_aplication_document_delivery") }}{% else %}{{ path("acme_cls_document_delivery_redirect") }}{% endif %}" class="btn btn-primary">APPLY NOW</a>-->
<!--<<div class="headerBottom"></div>-->
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
<div class="row">
    <div class="col-lg-8">
        <h1>Document Delivery</h1>

        <p>Capital Link Services provides a high-security document delivery service for government departments, banks, professionals, and the general public. We understand how important it is to get documents to their destination securely! </p>

        <p>Our trained team and fleet of delivery cars have years of experience in door-to-door, high security document pickup and delivery. In working with CLS, you can be assured that your document will be picked up and delivered directly to the location or person where it needs to go.</p>

        <h2>State wide - Australia wide - Internationally</h2>
        
        <h3>Your Details</h3>
        
        <form action="{{ path("cls_client_aplication_document_delivery") }}" method="post">
        <input type="hidden" name="public">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>Firstname</label>
                    <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control required" id="txtFname" placeholder="First Name" required>
                </div>
                <div class="col-lg-6">
                    <label>Lastname</label>
                    <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control" id="txtLname" placeholder="Last Name">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <label>Email Address</label>
                    <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control required" id="txtEmail" placeholder="Email address" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>Contact Phone Number</label>
                    <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control" id="txtPhone" placeholder="Phone number">
                </div>
                <div class="col-lg-6">
                    <label>Mobile Phone Number</label>
                    <input type="text" name="mobile" value="{% if post.mobile is defined %}{{ post.mobile }}{% endif %}" class="form-control" id="txtMobile" placeholder="Mobile number">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <label>Receiver Name / Department</label>
                    <input type="text" name="doc_receiver_name" class="form-control required" id="txtPhone" placeholder="Receiver name / department" required>
                </div>
            </div>
        </div>
    
        
        <hr/>


        <h4>Pick Up Details</h4>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <label>Pickup Address (Street)</label>
                    <input type="text" name="doc_pickup_address"  class="form-control required" id="txtFname" placeholder="Pickup address" required>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>Suburb/City</label>
                    <input type="text" name="doc_pickup_city" class="form-control"  placeholder="Suburb/city">
                </div>
                <div class="col-lg-6">
                    <label>Postcode</label>
                    <input type="text" name="doc_pickup_postcode" class="form-control" placeholder="Postcode">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>Telephone and Mobile</label>
                    <input type="text" name="doc_pickup_contact_no" class="form-control"  placeholder="########">
                </div>
                <div class="col-lg-6">
                    <label>Contact Area</label>
                    <input type="text" name="doc_pickup_contact_area" class="form-control" placeholder="Contact Area">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>Contact Area (Alternate 1)</label>
                    <input type="text" name="doc_pickup_contact_area_alt1" class="form-control" placeholder="Contact Area">
                </div>
                <div class="col-lg-6">
                    <label>Contact Area (Alternate 2)</label>
                    <input type="text" name="doc_pickup_contact_area_alt2" class="form-control" placeholder="Contact Area">
                </div>
            </div>
        </div>



        <h4>Delivery Details</h4>
        
        <div class="primary">
            <b>Primary</b>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Delivery Recipient Name</label>
                        <input type="text" name="doc_delivery_recipient_name" class="form-control required" placeholder="Delivery recipient name" required>
                    </div>
                    <div class="col-lg-6">
                        <label>Company</label>
                        <input type="text" name="doc_delivery_company" class="form-control required" placeholder="Company" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Delivery Address (Street)</label>
                        <input type="text" name="doc_delivery_address" class="form-control required" placeholder="Pickup address" required>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Suburb/City</label>
                        <input type="text" name="doc_delivery_city" class="form-control"  placeholder="Suburb/city">
                    </div>
                    <div class="col-lg-6">
                        <label>Postcode</label>
                        <input type="text" name="doc_delivery_postcode" class="form-control" placeholder="Postcode">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Telephone and Mobile</label>
                        <input type="text" name="doc_delivery_contact_no" class="form-control"  placeholder="########">
                    </div>
                </div>
            </div>
        </div>

        <div class="alternate" data-alt="_alt1">
            <b>Alternate 1</b> <label><input type="checkbox" class="home-copy-details-from-primary"> copy from primary details</label>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Delivery Recipient Name</label>
                        <input type="text" name="doc_delivery_recipient_name_alt1" class="form-control required" placeholder="Delivery recipient name">
                    </div>
                    <div class="col-lg-6">
                        <label>Company</label>
                        <input type="text" name="doc_delivery_company_alt1" class="form-control required" placeholder="Company" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Delivery Address (Street)</label>
                        <input type="text" name="doc_delivery_address_alt1" class="form-control required" placeholder="Pickup address" >
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Suburb/City</label>
                        <input type="text" name="doc_delivery_city_alt1" class="form-control"  placeholder="Suburb/city">
                    </div>
                    <div class="col-lg-6">
                        <label>Postcode</label>
                        <input type="text" name="doc_delivery_postcode_alt1" class="form-control" placeholder="Postcode">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Telephone and Mobile</label>
                        <input type="text" name="doc_delivery_contact_no_alt1" class="form-control"  placeholder="########">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="alternate" data-alt="_alt2">
            <b>Alternate 2</b> <label><input type="checkbox" class="home-copy-details-from-primary"> copy from primary details</label>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Delivery Recipient Name</label>
                        <input type="text" name="doc_delivery_recipient_name_alt2" class="form-control required" placeholder="Delivery recipient name">
                    </div>
                    <div class="col-lg-6">
                        <label>Company</label>
                        <input type="text" name="doc_delivery_company_alt2" class="form-control required" placeholder="Company" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Delivery Address (Street)</label>
                        <input type="text" name="doc_delivery_address_alt2" class="form-control required" placeholder="Pickup address" >
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Suburb/City</label>
                        <input type="text" name="doc_delivery_city_alt2" class="form-control"  placeholder="Suburb/city">
                    </div>
                    <div class="col-lg-6">
                        <label>Postcode</label>
                        <input type="text" name="doc_delivery_postcode_alt2" class="form-control" placeholder="Postcode">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Telephone and Mobile</label>
                        <input type="text" name="doc_delivery_contact_no_alt2" class="form-control"  placeholder="########">
                    </div>
                </div>
            </div>
        </div>

        <hr/>
        
        
        <h4>Package Details</h4>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>Total Pieces for Pickup</label>
                    <input type="text" name="doc_package_total_pieces" class="form-control"  placeholder="0">
                </div>
                <div class="col-lg-6">
                    <label>Pickup Date</label>
                    <input type="text" name="doc_package_pickup_date" class="form-control date-picker" placeholder="DD-MM-YYYY">
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>My Package will be ready by</label>
                    <div class="row">
                        <div class="col-lg-4">
                            <select name="doc_package_ready_hr" class="form-control required" required>
                                <option value="">Hr</option>
                                {% for i in 1..12 %}
                                    <option value="{{ "%02d"|format(i) }}" {% if post.doc_package_ready_hr is defined and post.doc_package_ready_hr == "%02d"|format(i) %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-lg-4">
                            <select name="doc_package_ready_min" class="form-control required" required>
                                <option value="">Mins</option>
                                <option value="00" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "00" %}selected{% endif %}>00</option>
                                <option value="10" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "10" %}selected{% endif %}>10</option>
                                <option value="20" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "20" %}selected{% endif %}>20</option>
                                <option value="30" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "30" %}selected{% endif %}>30</option>
                                <option value="40" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "40" %}selected{% endif %}>40</option>
                                <option value="50" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "50" %}selected{% endif %}>50</option>
                            </select>
                        </div>

                        <div class="col-lg-4">
                            <select name="doc_package_ready_ampm" class="form-control required" required>
                                <option value="AM" {% if post.doc_package_ready_ampm is defined and post.doc_package_ready_ampm == "AM" %}selected{% endif %}>AM</option>
                                <option value="PM" {% if post.doc_package_ready_ampm is defined and post.doc_package_ready_ampm == "PM" %}selected{% endif %}>PM</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <label>Office Closes at</label>
                    <div class="row">
                        <div class="col-lg-4">
                            <select name="doc_package_office_close_hr" class="form-control required" required>
                                <option value="">Hr</option>
                                {% for i in 1..12 %}
                                    <option value="{{ "%02d"|format(i) }}" {% if post.doc_package_office_close_hr is defined and post.doc_package_office_close_hr == "%02d"|format(i) %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-lg-4">
                            <select name="doc_package_office_close_min" class="form-control required" required>
                                <option value="">Mins</option>
                                <option value="00" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "00" %}selected{% endif %}>00</option>
                                <option value="10" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "10" %}selected{% endif %}>10</option>
                                <option value="20" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "20" %}selected{% endif %}>20</option>
                                <option value="30" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "30" %}selected{% endif %}>30</option>
                                <option value="40" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "40" %}selected{% endif %}>40</option>
                                <option value="50" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "50" %}selected{% endif %}>50</option>
                            </select>
                        </div>

                        <div class="col-lg-4">
                            <select name="doc_package_office_close_ampm" class="form-control required" required>
                                <option value="AM" {% if post.doc_package_office_close_ampm is defined and post.doc_package_office_close_ampm == "AM" %}selected{% endif %}>AM</option>
                                <option value="PM" {% if post.doc_package_office_close_ampm is defined and post.doc_package_office_close_ampm == "PM" %}selected{% endif %}>PM</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <label>Amount</label>
                    <select name="doc_delivery_type" id="paymentDocType" class="form-control required" required>
                        <option value="" tag="0"> Select type </option>
                        {% for type in doc_types %}
                            {# set type_cost = type.cost + (type.cost * (special_price/100)) #}
                            {% set type_cost = type.cost %}
                            <option value="{{ type.id }}" tag="{{ type_cost }}" {% if post.doc_delivery_type is defined and post.doc_delivery_type == type.id %}selected{% endif %}>{{ type.type ~ ' ($' ~ type_cost ~ ')'}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        
        <hr/>
        
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        </form>
    </div>
        
        
    <div class="col-lg-4">
        <p><a href="#"><img src="{{ asset('img') }}/front-ads-rotator/ad_services.jpg" alt="all services"></a></p>
        <p><a href="{{ path("acme_cls_visa_processing") }}"><img src="{{ asset('img') }}/front-ads-rotator/ad_destination.jpg" alt="destination"></a></p>
        <p><a href="{{path("acme_cls_document_delivery") }}"><img src="{{ asset('img') }}/front-ads-rotator/ad_document.jpg" alt="document delivery"></a></p>
    </div>
    
</div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}