{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}


{% if post is not defined %}
{% if app.session.get('russian_visa_form_post') is defined and app.session.get('russian_visa_form_post')|length > 0 %}
    {% set post = app.session.get('russian_visa_form_post') %}
{% endif %}
{% endif %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>Russian Visa Voucher Application</h3>
        {% else %}
            <h3>Create Order: Russian Visa Voucher Application<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        
        {% if app.session.get('user_type') != 'admin-user' %}
        <div class="application-steps">
            <span>Step 2/4</span>
            <span><a href="{{ path("cls_client_russian_visa_voucher_application_details") }}?order={{ order_no }}">Details</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Voucher type</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% else %}
        <div class="application-steps">
            <span>Step 2/4</span>
            <span><a href="{{ path("cls_client_russian_visa_voucher_application_details") }}?client={{ user_details.id }}&order={{ order_no }}">Details</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Voucher type</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

{% if user.can_get_special_price == 1 %}
    {% set special_price = user.special_price %}
{% else %}
    {% set special_price = 0 %}
{% endif %}

<form action="{{ path("cls_client_russian_visa_voucher_application_options") }}" method="post" enctype="multipart/form-data">
<input type="hidden" name="hidSubmit" id="hidSubmit">
<input type="hidden" name="orderNumber" value="{{ order_no }}">
{% if app.session.get('user_type') == 'admin-user' %}
    <input type="hidden" name="client_id" value="{{ user_details.id }}">
{% endif %}
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Voucher type</h4>
            </div>
            <div class="panel-body">
                <table class="display table table-striped table-bordered dataTable">
                    <tr>
                        <th class="text-center">Invitation type</th>
                        <th class="text-center">3 days processing</th>
                        <th class="text-center">1-2 days processing</th>
                        <th class="text-center" >12 hours processing</th>
                    </tr>
                    
                    {% for type in voucher_types %}
                        {% if type.type == 'invitation'%}
                        <tr>
                            <td>{{ type.name }}</td>
                            <td class="text-center">
                                <label>
                                {% if type.three_days_process_fee != '' or type.three_days_process_fee != 0 %}
                                    ${{ type.three_days_process_fee|number_format(2) }}<br/>
                                    <input type="radio" name="voucher" value="{{ type.id ~ ':1' }}" {% if post is defined and post.russian_visa_voucher_id == type.id and post.russian_visa_voucher_col_no == '1' %}checked{% endif %}/>
                                {% else %}
                                    -
                                {% endif %}
                                </label>
                            </td>
                            <td class="text-center">
                                <label>
                                {% if type.one_two_days_process_fee != '' or type.one_two_days_process_fee != 0 %}
                                    ${{ type.one_two_days_process_fee|number_format(2) }}<br/>
                                    <input type="radio" name="voucher" value="{{ type.id ~ ':2' }}" {% if post is defined and post.russian_visa_voucher_id == type.id and post.russian_visa_voucher_col_no == '2' %}checked{% endif %}/>
                                {% else %}
                                    -
                                {% endif %}
                                </label>
                            </td>
                            <td class="text-center">
                                <label>
                                {% if type.twelve_hrs_process_fee != '' or type.twelve_hrs_process_fee != 0 %}
                                    ${{ type.twelve_hrs_process_fee|number_format(2) }}<br/>
                                    <input type="radio" name="voucher" value="{{ type.id ~ ':3' }}" {% if post is defined and post.russian_visa_voucher_id == type.id and post.russian_visa_voucher_col_no == '3' %}checked{% endif %}/>
                                {% else %}
                                    -
                                {% endif %}
                                </label>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    
                </table>
                    
                    
                <table class="display table table-striped table-bordered dataTable">
                    <tr>
                        <th class="text-center">Business visa</th>
                        <th class="text-center">13 days</th>
                        <th class="text-center">4 days</th>
                    </tr>
                    
                    {% for type in voucher_types %}
                        {% if type.type == 'business'%}
                        <tr>
                            <td>{{ type.name }}</td>
                            <td class="text-center">
                                <label>
                                {% if type.thirteen_days != '' or type.thirteen_days != 0 %}
                                    ${{ type.thirteen_days|number_format(2) }}<br/>
                                    <input type="radio" name="voucher" value="{{ type.id ~ ':4' }}" {% if post is defined and post.russian_visa_voucher_id == type.id and post.russian_visa_voucher_col_no == '4' %}checked{% endif %}/>
                                {% else %}
                                    -
                                {% endif %}
                                </label>
                            </td>
                            <td class="text-center">
                                <label>
                                {% if type.four_days != '' or type.four_days != 0 %}
                                    ${{ type.four_days|number_format(2) }}<br/>
                                    <input type="radio" name="voucher" value="{{ type.id ~ ':5' }}" {% if post is defined and post.russian_visa_voucher_id == type.id and post.russian_visa_voucher_col_no == '5' %}checked{% endif %}/>
                                {% else %}
                                    -
                                {% endif %}
                                </label>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
        
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Notes</h4>
            </div>
            <div class="panel-body">
                <ol>
                    <li>Please Complete CLS Russian Visa Invitation/Voucher order form.</li>
                    <li>Please Attach a copy of the first page of your passport.</li>
                    <li>All invitations will be processed through the Russian Ministry of internal Affairs. Official visa support will be emailed to our CLS office.</li>
                    <li>We will start processing your request on the same day if we receive the above documents before 10.00 am, otherwise they will go for processing the next business day.</li>
                </ol>
                    
                <hr/>
                
                <p>Attach a copy of the first page of your passport. <i>100Mb Limit</i>.</p>
                <p>(We can organise an alternative method for transferring a copy of your passport should you require.)</p>
                
                {% if post is defined and post.rvv_file != '' %}
                    <p><a href="{{ asset("dev") }}/rvv/{{ user.id }}/{{ post.order_no }}/{{ post.rvv_file }}" target="_blank">Open current file</a></p>
                {% endif %}
                <div class="form-group">
                    <input type="file" class="form-control" name="file"/>
                </div>
                <div class="form-group">
                    <label>Comments</label>
                    <textarea class="form-control" name="comments">{% if post is defined %}{{ post.rvv_comments }}{% endif %}</textarea>
                </div>
                
                <div class="text-right">
                    <a class="btn btn-default" href="{{ path("cls_client_russian_visa_voucher_application_details") }}?order={{ order_no }}" ><span>«</span> Back</a>
                    <button type="submit" id="saveProgress" class="btn btn-default"> Save Progress</button>
                    <button type="submit" id="nextPage" class="btn btn-primary"><span>»</span> Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
    
</form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var url = "{{ path("cls_client_public_application_visa_options_get_visa_type_add_reqs") }}";
        var udetails_url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if _detailsuser_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var asset = "{{ asset("img") }}";
        
        $(document).ready(function(){
            
            $.ajax({
                url: "{{ path("cls_client_public_application_visa_options_remove_log_session") }}",
                method: 'POST',
                data: {},
                success: function(data) {
                },
                error:function(){
                }
            });
            
        });
        
        
    </script>
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}