{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css') }}/stylesheets2013/screen-backend.css"/>
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-6">
        <h3>Manage Content Pages - {{ content.title }}</h3>
    </div>
    <div class="col-lg-6 text-right">
        
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-1">
        <p><strong>Tags: </strong></p>
    </div>
    <div class="col-lg-11">
        <p>
            [services_ads],[popular_destinations],[visa_application_select_country_form], [order_visa_online_button], [police_clearance_list], [document_delivery_apply_now_button],
            [register_for_our_specialised_government_system_button], [agent_registration_button], [corporate_registration_button], 
            [right_side_ads],[travel_alerts]
        </p>
    </div>
</div>
<form action="{{ path("acme_cls_admin_manage_content_pages") }}?page={{ content.id }}" method="post">
    <input type="hidden" name="hidSubmit">
    <input type="hidden" name="page" value="{{ content.id }}">
    <div class="row">
        <div class="col-lg-12 manage-content">
            <textarea id="manageContent" name="manageContent">{{ content.html }}</textarea>
        </div>
    </div>
    <div class="spacing"></div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <a href="{{ path("acme_cls_admin_home") }}" class="btn btn-default"><span class="glyphicon glyphicon-remove"> Cancel</a>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Update Content</button>
        </div>
    </div>
</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('api') }}/nicEdit/nicEdit.js"></script>

<script type="text/javascript">
        
// Global declarations
var plugins_path = "{{ asset('api') }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}