{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Edit Visa Courier Option</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_manage_visa_courier_options_edit") }}" method="post">
<input type="hidden" name="hidSubmit"/>
<input type="hidden" name="id" value="{% if post.id is defined %}{{ post.id }}{% endif %}"/>
<div class="row">
    <div class="col-lg-4">
        <h4>Details</h4>
        <div class="form-group">
            <label>Type of Courier Option </label> 
            <input type="text" name="type" value="{% if post.type is defined %}{{ post.type }}{% endif %}" class="form-control"  placeholder="Type of Courier Option" required>
        </div>
            
        <div class="form-group">
            <label>Cost $(Ex GST)</label> 
            <input type="text" name="cost" value="{% if post.cost is defined %}{{ post.cost }}{% endif %}" class="form-control"  placeholder="0.00" required>
        </div>
        
        <div class="form-group">{{dump(post.s_available_for_gov)}}
            <label><input type="checkbox" name="sActive" {% if post.sActive is defined and post.sActive == 1%}checked{% endif %}> is Active</label> 
            <label><input type="checkbox" name="s_available_for_gov" {% if post.s_available_for_gov is defined and post.s_available_for_gov == 1%}checked{% endif %}> Government</label> 
            <label><input type="checkbox" name="s_available_for_public" {% if post.s_available_for_public is defined and post.s_available_for_public == 1%}checked{% endif %}> Public</label> 
            <label><input type="checkbox" name="s_dhl" {% if post.s_dhl is defined and post.s_dhl == 1%}checked{% endif %}> is DHL</label> 
        </div>
            
        <a class="btn btn-default" href="{{ path("acme_cls_admin_manage_visa_courier_options") }}">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
{% endblock %}