{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Update Travel Alert</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_manage_travel_alerts_edit") }}" method="post">
<input type="hidden" name="hidSubmit"/>
<input type="hidden" name="id" value="{% if post.id is defined %}{{ post.id }}{% endif %}"/>
<div class="row">
    <div class="col-lg-4">
        <h4>Details</h4>
        <div class="form-group">
            <label>Travel alert date</label> 
            <div class="input-group date">
                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="alert_date" value="{% if post.alert_date is defined %}{{ post.alert_date|date("d-m-Y") }}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
            
        <div class="form-group">
            <label>Subject</label> 
            <input type="text" name="subject" value="{% if post.subject is defined %}{{ post.subject }}{% endif %}" class="form-control"  placeholder="Subject" required>
        </div>
        
        <div class="form-group">
            <label>Message</label> 
            <textarea name="body" class="form-control" style="min-height: 200px;" placeholder="Type message here..." required>{% if post.body is defined %}{{ post.body }}{% endif %}</textarea>
        </div>
            
        <div class="form-group">
            <label>Status</label> 
            <select name="status" class="form-control">
                <option value="finalised" {% if post.status is defined and post.status=='finalised' %}selected{% endif %}>Finalised</option>
                <option value="draft" {% if post.status is defined and post.status=='draft' %}selected{% endif %}>Draft</option>
            </select>
        </div>
        
        <a class="btn btn-default" href="{{ path("acme_cls_admin_manage_departments") }}">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
{% endblock %}