{% extends "AcmeCLSembassyBundle::layout.html.twig" %}

{% block title %}(Embassy Report){% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/extras/TableTools/media/css/TableTools.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Current Visa Applications</h3>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12  text-right dataTable-buttons-wrapper">
        <div class="dataTable-buttons">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="datatable-listings">
            <thead>
                <tr>    
                    <th>Order No.</th>
                    <th>Date of Departure</th>
                    <th>Date received at the embassy</th>
                    <th>Date dispatched back to CLS</th>
                    <th>Traveller Name (Passport No.)</th>
                    <th>Visa Type</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<form action="" method="post">
<input type="hidden" name="new">
<!-- Modal -->
<div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Strengthen Your Password</h4>
      </div>
      <div class="modal-body">
            <div class="row" id="msg_div" style="display:none;">
                <div class="col-lg-12">
                    <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <label id="msg"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label>The system detected that your password is weak and needs to change according to this standard.</label>
                    <div class="pass_requirement">
                        <span><b>Password must contain:</b></span><br/>
                        <span><span id="let" class="glyphicon glyphicon-remove-circle red"></span> Letter(uppercase and lowercase)</span><br/>
                        <span><span id="num" class="glyphicon glyphicon-remove-circle red"></span> Number</span><br/>
                        <span><span id="spe" class="glyphicon glyphicon-remove-circle red"></span> Special character ('/~`!@#$%^&*()_-+={}[]|;:"<>,.?\)</span><br/>
                        <span><span id="len" class="glyphicon glyphicon-remove-circle red"></span> Minimum of 6 character</span>
                    </div>
                </div> 
            </div>
              <br/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="password" class="form-control" required />
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Retype Password</label>
                        <input type="password" name="passwordConfirm" class="form-control" required />
                    </div>
                </div>
            </div>
           
      </div>
      <div class="modal-footer text-right">
            <button type="button" style="display:none;width: 80px;" id="btnDone" class="btn btn-default" data-dismiss="modal">Done</button>
            <button type="button" style="width: 130px;" id="btnUpdatePassword" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/TableTools.js"></script>

<script type="text/javascript">
        
// Global declarations
var list_url = "{{ path("acme_cls_embassy_visa_applications") }}";
var api_url = "{{ asset("api") }}";
var new_pass_req = "{{new_pass}}";       
var check_pass_url = "{{path('cls_client_public_registration_pass')}}"; 
var update_pass_url = "{{path('acme_cls_embassy_change_password')}}";
</script>
    
<script src="{{ asset("js") }}/pages/embassy-script.js"></script>
{% endblock %}