{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Edit Embassy Client Details</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_embassy_edit") }}" method="post">
<input type="hidden" name="hidSubmit"/>
<input type="hidden" name="id" value="{{ post.id }}">

<div class="row">
    <div class="col-lg-4">
        <h4>Details</h4>
        <div class="form-group">
            <label>Country </label>

            <select class="form-control required" name="country" required>
                <option value="">Select country</option>
                {% for country in countries %}
                    <option value="{{ country.id }}" {% if post.country is defined and post.country == country.id %}selected{% endif %}>{{ country.countryName }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label>Title</label>
            <select name="title" class="form-control" required>
                <option value="">Select title</option>
                {% for title in name_titles%}
                <option value="{{ title.id }}" {% if post.title is defined and title.id == post.title %}selected{% endif %}>{{ title.title }}</option>
                {% endfor %}
            </select>
        </div>
        
        
        
        <div class="form-group">
            <label>Firstname </label> 
            <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control"  placeholder="Firstname" required>
        </div>
            
        <div class="form-group">
            <label>Lastname </label> 
            <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control"  placeholder="Lastname" required>
        </div>
            
        <div class="form-group">
            <label>Email address </label> 
            <span class="glyphicon glyphicon-question-sign tips" data-toggle="tooltip" data-placement="right" title="This will be his/her username to login"></span>
            <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" id="regoFormEmail" placeholder="Email" required>
        </div>
        
        <div class="form-group">
            <label>Phone </label> 
            <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control"  placeholder="Phone number" >
        </div>
        
        <div class="form-group">
            <label>Mobile </label> 
            <input type="text" name="mobile" value="{% if post.mobile is defined %}{{ post.mobile }}{% endif %}" class="form-control"  placeholder="Mobile number" >
        </div>
        
        <div class="form-group">
            <label>New Password </label> 
            <input type="password" name="password"  class="form-control"  placeholder="Password">
        </div>
        
        <div class="form-group">
            <label>Confirm Password </label> 
            <input type="password" name="passwordConfirm"  class="form-control"  placeholder="Confirm Password">
        </div>
        
        
        <hr/>
        <div class="form-group">
            <label>Notes </label> 
            <textarea name="notes" class="form-control">{% if post.notes is defined %}{{ post.notes }}{% endif %}</textarea>
        </div>
        <hr/>
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
{% endblock %}