{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('validation-error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>Russian Visa Voucher Application</h3>
        {% else %}
            <h3>Create Order: Russian Visa Voucher Application<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        
        <div class="application-steps">
            <span>Step 1/4</span>
            <span class="active">Details </span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="">Voucher type</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
    </div>
        
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

<div class="row">
    
        
        
    <form action="#" method="post">
    <input type="hidden" name="hid_submit" id="hidSubmit"/>
    {% if app.session.get('user_type') == 'admin-user' %}
        <input type="hidden" name="client_id" value="{{ user_details.id }}">
    {% endif %}
    {% if order_no is defined %}
        <input type="hidden" name="orderNumber" value="{{ order_no }}">
    {% endif %}
        
    {% if post is not defined %}
    {% if app.session.get('russian_visa_form_post') is defined and app.session.get('russian_visa_form_post')|length > 0 %}
        {% set post = app.session.get('russian_visa_form_post') %}
    {% endif %}
    {% endif %}
        
    <!-- Travel Details -->
    <div id="travel-details" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Travel Details</h4>
            </div>
            
            <div class="panel-body">
                <div class="travel-details-group">

                    <div class="group">

                        <div class="form-group">
                            <label>Date of first entry to Russia</label>
                            <div class="input-group date {% if post.blank_inputs is defined and 'rvv_first_entry_date' in post.blank_inputs %}ie-required{% endif %}">
                                <input class="form-control date-picker required " data-format="dd-MM-yyyy" type="text" name="rvv_first_entry_date" placeholder="DD-MM-YYYY" value="{% if post is defined and post.rvv_first_entry_date != '' %}{{ post.rvv_first_entry_date|date('d-m-Y') }}{% endif %}" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Date of first departure from Russia</label>
                            <div class="input-group date {% if post.blank_inputs is defined and 'rvv_first_departure_date' in post.blank_inputs %}ie-required{% endif %}">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="rvv_first_departure_date" placeholder="DD-MM-YYYY" value="{% if post is defined and post.rvv_first_departure_date != ''%}{{ post.rvv_first_departure_date|date('d-m-Y') }}{% endif %}" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Date of second entry to Russia</label>
                            <div class="input-group date {% if post.blank_inputs is defined and 'rvv_second_entry_date' in post.blank_inputs %}ie-required{% endif %}">
                                <input class="form-control date-picker" data-format="dd-MM-yyyy" type="text" name="rvv_second_entry_date" placeholder="DD-MM-YYYY" value="{% if post is defined and post.rvv_second_entry_date != '' %}{{ post.rvv_second_entry_date|date('d-m-Y') }}{% endif %}"></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Date of second departure from Russia</label>
                            <div class="input-group date {% if post.blank_inputs is defined and 'rvv_second_departure_date' in post.blank_inputs %}ie-required{% endif %}">
                                <input class="form-control date-picker" data-format="dd-MM-yyyy" type="text" name="rvv_second_departure_date" placeholder="DD-MM-YYYY" value="{% if post is defined and post.rvv_second_departure_date !='' %}{{ post.rvv_second_departure_date|date('d-m-Y') }}{% endif %}"></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label>List of cities to be visited (max of 6)</label>
                            <textarea class="form-control" name="rvv_list_of_cities">{% if post is defined %}{{ post.rvv_list_of_cities }}{% endif %}</textarea>
                        </div>
                        
                        <div class="form-group">
                            <label>List of hotels in Russia</label>
                            <textarea class="form-control" name="rvv_list_of_hotels">{% if post is defined %}{{ post.rvv_list_of_hotels }}{% endif %}</textarea>
                        </div>
                        
                        <div class="form-group">
                            <label>Visa to be applied at</label><br/>
                            {% set other = 0 %}
                            <label><input type="radio" name="rvv_visa_applied_at" {% if post is defined and post.rvv_visa_applied_at == 'The Russian Embassy, 78 Canberra Avenue, Griffith ACT– CANBERRA AUSTRALIA' %}checked{% set other = 1 %}{% endif %} value="The Russian Embassy, 78 Canberra Avenue, Griffith ACT– CANBERRA AUSTRALIA"/> The Russian Embassy, 78 Canberra Avenue, Griffith ACT– CANBERRA AUSTRALIA</label><br/>
                            <label><input type="radio" name="rvv_visa_applied_at" {% if post is defined and post.rvv_visa_applied_at == 'The Consulate General of Russian Federation ,7-9 Fullerton St, Woollahra NSW 2025' %}checked {% set other = 1 %}{% endif %} value="The Consulate General of Russian Federation ,7-9 Fullerton St, Woollahra NSW 2025"/> The Consulate General of Russian Federation ,7-9 Fullerton St, Woollahra NSW 2025</label><br/>
                            <label><input type="radio" name="rvv_visa_applied_at" value="" {% if other == 0 %}checked{% endif %}/> Other: </label>
                            <input type="text" class="form-control rvv-visa-applied-other" value="{% if other == 0 and post is defined %}{{ post.rvv_visa_applied_at }}{% endif%}"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Traveller Details -->
    <div id="traveller-details" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Applicant Details</h4>
            </div>
            <div class="panel-body">
                <label><input type="checkbox" id="useMyDetails"/> Use my details</label>
                <div class="traveller-details-group">
                    <div class="group">

                        <div class="form-group">
                            <label>Title</label>
                            <select class="form-control required {% if post.blank_inputs is defined and 'rvv_applicant_title' in post.blank_inputs %}ie-required{% endif %}" name="rvv_applicant_title"  required>
                                <option value="">Select title</option>
                                {% for title in name_titles %}
                                    <option value="{{ title.id }}" {% if post.travellers[0]['title'] is defined and post.travellers[0]['title'] == title.id %}selected{% elseif post.title is defined and post.title == title.id %}selected{% endif %}>{{ title.title }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>First name</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and 'rvv_applicant_fname' in post.blank_inputs %}ie-required{% endif %}" name="rvv_applicant_fname" value="{% if post.travellers[0]['fname'] is defined %}{{ post.travellers[0]['fname'] }}{% elseif post.fname is defined %}{{ post.fname }}{% endif %}" required/>
                        </div>

                        <div class="form-group">
                            <label>Middle name</label>
                            <input type="text" class="form-control" name="rvv_applicant_mname" value="{% if post.travellers[0]['mname'] is defined %}{{ post.travellers[0]['mname'] }}{% elseif post.mname is defined %}{{ post.mname }}{% endif %}"/>
                        </div>

                        <div class="form-group">
                            <label>Last name</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and 'rvv_applicant_lname' in post.blank_inputs %}ie-required{% endif %}" name="rvv_applicant_lname" value="{% if post.travellers[0]['lname'] is defined %}{{ post.travellers[0]['lname'] }}{% elseif post.lname is defined %}{{ post.lname }}{% endif %}" required/>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control required {% if post.blank_inputs is defined and 'rvv_applicant_email' in post.blank_inputs %}ie-required{% endif %}" name="rvv_applicant_email" value="{% if post.travellers[0]['email'] is defined %}{{ post.travellers[0]['email'] }}{% elseif post.email is defined %}{{ post.email }}{% endif %}" required/>
                        </div>

                        <div class="form-group">
                            <label>Organisation</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and 'rvv_applicant_organisation' in post.blank_inputs %}ie-required{% endif %}" name="rvv_applicant_organisation" value="{% if post.travellers[0]['organisation'] is defined %}{{ post.travellers[0]['organisation'] }}{% elseif post.organisation is defined %}{{ post.organisation }}{% endif %}" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>Citizenship</label>
                            <input type="text" class="form-control required occupation {% if post.blank_inputs is defined and 'rvv_applicant_citizenship' in post.blank_inputs %}ie-required{% endif %}" name="rvv_applicant_citizenship" value="{% if post.travellers[0]['rvv_citizenship'] is defined %}{{ post.travellers[0]['rvv_citizenship'] }}{% elseif post.rvv_citizenship is defined %}{{ post.rvv_citizenship }}{% endif %}" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>Sex</label>
                            <select name="rvv_applicant_sex" class="form-control required {% if post.blank_inputs is defined and 'rvv_applicant_sex' in post.blank_inputs %}ie-required{% endif %}" required>
                                <option value="">Please select</option>
                                <option value="male" {% if post.travellers[0]['rvv_sex'] is defined and post.travellers[0]['rvv_sex'] == 'male' %}selected{% elseif post.rvv_sex is defined and  post.rvv_sex == 'male'%}selected{% endif %}>Male</option>
                                <option value="female" {% if post.travellers[0]['rvv_sex'] is defined and post.travellers[0]['rvv_sex'] == 'female' %}selected{% elseif post.rvv_sex is defined and  post.rvv_sex == 'female'%}selected{% endif %}>Female</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="phone" class="form-control required {% if post.blank_inputs is defined and 'rvv_applicant_phone' in post.blank_inputs %}ie-required{% endif %}" name="rvv_applicant_phone" value="{% if post.travellers[0]['phone'] is defined %}{{ post.travellers[0]['phone'] }}{% elseif post.phone is defined %}{{ post.phone }}{% endif %}" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>Place of birth</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and 'rvv_applicant_birth_place' in post.blank_inputs %}ie-required{% endif %}" name="rvv_applicant_birth_place" value="{% if post.travellers[0]['rvv_birth_place'] is defined %}{{ post.travellers[0]['rvv_birth_place'] }}{% elseif post.rvv_birth_place is defined %}{{ post.rvv_birth_place }}{% endif %}" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>Date of Birth</label>
                            <div class="input-group date">
                                <input class="form-control date-picker required {% if post.blank_inputs is defined and 'rvv_applicant_birth_date' in post.blank_inputs %}ie-required{% endif %}" data-format="dd-MM-yyyy" type="text" name="rvv_applicant_birth_date" value="{% if post.travellers[0]['birth_date'] is defined %}{{ post.travellers[0]['birth_date']|date('d-m-Y') }}{% elseif post.birth_date is defined %}{{ post.birth_date }}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Passport Number</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and 'rvv_applicant_passport_no' in post.blank_inputs %}ie-required{% endif %}" name="rvv_applicant_passport_no" value="{% if post.travellers[0]['passport_number'] is defined %}{{ post.travellers[0]['passport_number'] }}{% elseif post.passport_number is defined %}{{ post.passport_number }}{% endif %}" required/>
                        </div>

                        <div class="form-group">
                            <label>Passport issue date</label>
                            <div class="input-group date {% if post.blank_inputs is defined and 'rvv_applicant_passport_issue_date' in post.blank_inputs %}ie-required{% endif %}">
                                <input class="form-control date-picker required " data-format="dd-MM-yyyy" type="text" name="rvv_applicant_passport_issue_date" value="{% if post.travellers[0]['rvv_passport_issue_date'] is defined %}{{ post.travellers[0]['rvv_passport_issue_date'] }}{% elseif post.rvv_passport_issue_date is defined %}{{ post.rvv_passport_issue_date }}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label>Passport expiration date</label>
                            <div class="input-group date {% if post.blank_inputs is defined and 'rvv_applicant_passport_exp_date' in post.blank_inputs %}ie-required{% endif %}">
                                <input class="form-control date-picker required " data-format="dd-MM-yyyy" type="text" name="rvv_applicant_passport_exp_date" value="{% if post.travellers[0]['rvv_passport_exp_date'] is defined %}{{ post.travellers[0]['rvv_passport_exp_date'] }}{% elseif post.rvv_passport_exp_date is defined %}{{ post.rvv_passport_exp_date }}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    
    
    
    
    
    
    <!-- Primary Department Contact -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Applicant Employment Information</h4>
            </div>
                
                
            <div class="panel-body">
                <div class="form-group">
                    <label>Your company name</label>
                    <input type="text" class="form-control required {% if post.blank_inputs is defined and 'rvv_company' in post.blank_inputs %}ie-required{% endif %}" name="rvv_company" value="{% if post.travellers[0]['rvv_company'] is defined %}{{ post.travellers[0]['rvv_company'] }}{% elseif post.rvv_company is defined %}{{ post.rvv_company }}{% endif %}" required>
                </div>
                    
                <div class="form-group">
                    <label>Your Position</label>
                    <input type="text" class="form-control required {% if post.blank_inputs is defined and 'rvv_position' in post.blank_inputs %}ie-required{% endif %}" name="rvv_position" value="{% if post.travellers[0]['rvv_position'] is defined %}{{ post.travellers[0]['rvv_position'] }}{% elseif post.rvv_position is defined %}{{ post.rvv_position }}{% endif %}" required>
                </div>
                    
                <div class="form-group">
                    <label>Street Address</label>
                    <input type="text" class="form-control required {% if post.blank_inputs is defined and 'rvv_address' in post.blank_inputs %}ie-required{% endif %}" name="rvv_address" value="{% if post.travellers[0]['rvv_address']  is defined %}{{ post.travellers[0]['rvv_address'] }}{% elseif post.rvv_address is defined %}{{ post.rvv_address }}{% endif %}" required>
                </div>
                    
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control required {% if post.blank_inputs is defined and 'rvv_city' in post.blank_inputs %}ie-required{% endif %}" name="rvv_city" value="{% if post.travellers[0]['rvv_city']  is defined %}{{ post.travellers[0]['rvv_city'] }}{% elseif post.rvv_city is defined %}{{ post.rvv_city }}{% endif %}" required>
                </div>
                    
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control required {% if post.blank_inputs is defined and 'rvv_state' in post.blank_inputs %}ie-required{% endif %}" name="rvv_state" value="{% if post.travellers[0]['rvv_state'] is defined %}{{ post.travellers[0]['rvv_state'] }}{% elseif post.rvv_state is defined %}{{ post.rvv_state }}{% endif %}" required>
                </div>
                    
                <div class="form-group">
                    <label>Zipcode/Postcode</label>
                    <input type="text" class="form-control required {% if post.blank_inputs is defined and 'rvv_postcode' in post.blank_inputs %}ie-required{% endif %}" name="rvv_postcode" value="{% if post.travellers[0]['rvv_postcode'] is defined %}{{ post.travellers[0]['rvv_postcode'] }}{% elseif post.rvv_postcode is defined %}{{ post.rvv_postcode }}{% endif %}" required>
                </div>

                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control required {% if post.blank_inputs is defined and 'rvv_country' in post.blank_inputs %}ie-required{% endif %}" name="rvv_country"  required>
                        <option value="">Select country</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}" {% if post.travellers[0]['rvv_country'] is defined and post.travellers[0]['rvv_country'] == country.id%}selected{% elseif post.rvv_country is defined and post.rvv_country == country.id %}selected{% endif %}>{{ country.countryName }}</option>
                        {% endfor %}
                    </select>
                </div>
                    
                <div class="form-group">
                    <label>Company fax</label>
                    <input type="text" class="form-control" name="rvv_company_fax" value="{% if post.travellers[0]['rvv_company_fax'] is defined %}{{ post.travellers[0]['rvv_company_fax'] }}{% elseif post.rvv_company_fax is defined %}{{ post.rvv_company_fax }}{% endif %}">
                </div>

                <div class="text-right">
                    <button type="submit" id="saveProgress" class="btn btn-default"><span class="glyphicon glyphicon-floppy-save"></span> Save Progress</button>
                    <button type="submit" id="nextPage" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> Next</button>
                </div>
            </div>
        </div>
    </div>
    
    
    </form>
</div>



<div class="occupation-options">
    <ul>
        <li tag="a Contractor">a Contractor</li>
        <li tag="a Dependant">a Dependant</li>
        <li tag="a Judge">a Judge</li>
        <li tag="a Member">a Member</li>
        <li tag="a Member of Parliament">a Member of Parliament</li>
        <li tag="a Minister">a Minister</li>
        <li tag="a Researcher">a Researcher</li>
        <li tag="a Spouse">a Spouse</li>
        <li tag="an Officer">an Officer</li>
        <li tag="the Prime Minister">the Prime Minister</li>
    </ul>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        
        // Global declarations
        var mydetails_url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var jsonpath = "{{ asset("json") }}/occupations.json";
    </script>
    
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}