{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}


{% block body %}

    {% if errors is defined %}
    <div class="alert alert-block alert-danger fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <!--<span class="alert-title">The form has the following errors:</span>-->
        <ul>
        {% for error in errors %}
            {{ error.message }} <br/>
        {% endfor %}
        {% if password_error is defined and password_error != ''%}
            {{ password_error }}
        {% endif %}  
        </ul>
    </div>
    {%endif%}

    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
    
    <div class="row">    
            <div class="col-lg-12">
                <h2>Update Profile</h2>
            </div>
            <div class="col-lg-8">
                <form role="form" id="regoForm" action="{{ path('cls_client_corporate_edit_details') }}" method="post">
                    
                    <input type="hidden" name="hid_submit">
                    <h4>Your Details</h4>
                    <div class="form-group">
                        
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Title</label>
                                <select name="title" class="form-control" required>
                                    <option value="">Select title</option>
                                    {% for title in name_titles%}
                                     <option value="{{ title.id }}" {% if post.title is defined and title.id == post.title %}selected{% endif %}>{{ title.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Firstname</label>
                                <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control" id="regoFormFn" placeholder="First Name" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Lastname</label>
                                <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control" id="regoFormLn" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Contact Phone Number</label> 
                                <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control" placeholder="Phone number" required>
                            </div>
                                
                            <div class="col-lg-4">
                                <label>Mobile Phone Number</label> 
                                <input type="text" name="mobile" value="{% if post.mobile is defined %}{{ post.mobile }}{% endif %}" class="form-control" placeholder="Mobile phone number" required>
                            </div>
                                
                            <div class="col-lg-4">
                                <label>Company</label> 
                                <input type="text" name="company" value="{% if post.company is defined %}{{ post.company }}{% endif %}" class="form-control" placeholder="Company">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Email address </label> 
                                <span class="glyphicon glyphicon-question-sign tips" data-toggle="tooltip" data-placement="right" title="" data-original-title="This will be your username to login to the Client Center"></span>
                                <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" id="regoFormEmail" placeholder="Email" required>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>New Password</label>
                                <input type="password" name="password" value="{% if post.password is defined %}{{ post.password }}{% endif %}" class="form-control form-top" id="regoFormPW" placeholder="Password" required>
                                <br/>
                                <label>Confirm Password</label>
                                <input type="password" name="passwordConfirm" class="form-control form-bottom" id="regoFormState" placeholder="Confirm Password" required>
                            </div>
                            <div class="col-lg-7">
                                <div class="pass_requirement">
                                    <span><b>Password must contain:</b></span><br/>
                                    <span><span id="let" class="glyphicon glyphicon-remove-circle red"></span> Letter(uppercase and lowercase)</span><br/>
                                    <span><span id="num" class="glyphicon glyphicon-remove-circle red"></span> Number</span><br/>
                                    <span><span id="spe" class="glyphicon glyphicon-remove-circle red"></span> Special character ('/~`!@#$%^&*()_-+={}[]|;:"<>,.?\)</span><br/>
                                    <span><span id="len" class="glyphicon glyphicon-remove-circle red"></span> Minimum of 6 character</span>
                                </div>
                            </div>    
                        </div>
                        
                    </div>
                    
                    <h4>Address Details</h4>
                    
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" name="address" id="address" value="{% if post.address is defined %}{{ post.address }}{% endif %}" class="form-control" placeholder="Address" required>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" name="city" id="city" value="{% if post.city is defined %}{{ post.city }}{% endif %}" class="form-control" placeholder="City" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>State</label>
                                <input type="text" name="state" id="state" value="{% if post.state is defined %}{{ post.state }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Postcode</label>
                                <input type="text" name="postcode" id="postcode" value="{% if post.postcode is defined %}{{ post.postcode }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Country</label> 
                                <select name="country" id="country" class="form-control" required>
                                    <option value="">Select country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if post.country_id is defined and country.id == post.country_id %}selected{% endif %}>{{ country.countryName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label><input type="checkbox" id="copyMainDoc"> Use this as my main document return delivery address</label>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-lg-12">
                                <label><input type="checkbox" id="copyMainBilling"> Use this as my main billing address</label>
                            </div>
                        </div>
                    </div>
                    
                    <hr/>
                    
                    
                    <h4>Main document delivery address</h4>
                    
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" name="mddaAddress" id="mddaAddress" value="{% if post.mdda_address is defined %}{{ post.country_id }}{% endif %}" class="form-control" placeholder="Address" required>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" name="mddaCity" id="mddaCity" value="{% if post.mdda_city is defined %}{{ post.mdda_city }}{% endif %}" class="form-control" placeholder="City" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>State</label>
                                <input type="text" name="mddaState" id="mddaState" value="{% if post.mdda_state is defined %}{{ post.mdda_state }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Postcode</label>
                                <input type="text" name="mddaPostcode" id="mddaPostcode" value="{% if post.mdda_postcode is defined %}{{ post.mdda_postcode }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Country</label> 
                                <select name="mddaCountry" id="mddaCountry" class="form-control" required>
                                    <option value="">Select country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if post.mdda_country_id is defined and country.id == post.mdda_country_id %}selected{% endif %}>{{ country.countryName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <h4>Main billing address</h4>
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" name="mbaAddress" id="mbaAddress" value="{% if post.mba_address is defined %}{{ post.mba_address }}{% endif %}" class="form-control" placeholder="Address" required>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" name="mbaCity" id="mbaCity" value="{% if post.mba_city is defined %}{{ post.mba_city }}{% endif %}" class="form-control" placeholder="City" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>State</label>
                                <input type="text" name="mbaState" id="mbaState" value="{% if post.mba_state is defined %}{{ post.mba_state }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Postcode</label>
                                <input type="text" name="mbaPostcode" id="mbaPostcode" value="{% if post.mba_postcode is defined %}{{ post.mba_postcode }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Country</label> 
                                <select name="mbaCountry" id="mbaCountry" class="form-control" required>
                                    <option value="">Select country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if post.mba_country_id is defined and country.id == post.mba_country_id %}selected{% endif %}>{{ country.countryName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <hr />
                    
                    <div class="form-group clearfix">
                        <p class="pull-left"><button type="submit" class="btn btn-primary">Update Profile</button></p>
                    </div>
                </form>
                <p>&nbsp;<br>&nbsp;<br></p>

            </div><!--col-->

            <div class="col-lg-4">
                
                <h3>Want to speak to someone?</h3>
                <p>Please contact us to speak to a customer service representative on <a href="tel:0262827155">02 6282 7155</a> between 8:30AM & 5:00 PM, Monday to Friday.</p>
            </div><!--col-->
    </div><!--row-->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js") }}/pages/registration.js"></script>
    <script>
        var check_pass_url = "{{path('cls_client_public_registration_pass')}}";
    </script> 
{% endblock %}