{% extends "AcmeCLShomeBundle::layout.html.twig" %}

{% block metadescription %}Register for a Capital Link Services Government Client Centre Account.{% endblock %}

{% block title %} Government Client Registration | Capital Link Services{% endblock %}

{% block body %}

    {% if errors is defined %}
    <div class="alert alert-block alert-danger fade in">
        <span class="close" data-dismiss="alert">&times;</span>
        <!--<span class="alert-title">The form has the following errors:</span>-->
        <ul>
        {% for error in errors %}
            {{ error.message }} <br/>
        {% endfor %}
       {% if recaptcha_error is defined and recaptcha_error != ''%}
            {{ recaptcha_error }}<br/>
        {% endif %}
        {% if password_error is defined and password_error != ''%}
            {{ password_error }}
        {% endif %}  
        </ul>
    </div>
    {%endif%}

    {% if success is defined %}
    <div class="alert alert-block alert-success fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat lobortis quam vitae auctor. 
    </div>
    {%endif%}

<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
    <div class="row">  
        <div class="col-lg-12">
            <h1>Register for a CLS Government Client Centre Account</h1>
        </div>
    </div>
    <div class="row">    
            
            
            <div class="col-lg-8">    
                <form role="form" id="regoForm" action="{{ path('cls_client_gov_registration') }}" method="post">
                    
                    <input type="hidden" name="hid_submit">
                    <h2>Your Details</h2>
                    <div class="form-group">
                        
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Title</label>
                                <select name="title" class="form-control" required>
                                    <option value="">Select title</option>
                                    {% for title in name_titles%}
                                    <option value="{{ title.id }}" {% if post.title is defined and title.id == post.title %}selected{% endif %}>{{ title.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Firstname</label>
                                <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control" id="regoFormFn" placeholder="First Name" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Lastname</label>
                                <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control" id="regoFormLn" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Contact Phone Number</label> 
                                <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control" placeholder="Phone number" required>
                            </div>
                                
                            <div class="col-lg-4">
                                <label>Mobile Phone Number</label> 
                                <input type="text" name="mobile" value="{% if post.mobile is defined %}{{ post.mobile }}{% endif %}" class="form-control" placeholder="Mobile phone number" required>
                            </div>
                                
                            <div class="col-lg-4">
                                <label>Department</label> 
                                <select name="department" class="form-control" required>
                                    <option value="">Select Department</option>
                                    {% for department in departments %}
                                        <option value="{{ department.id }}" {% if post.department is defined and department.id == post.department %}selected{% endif %}>{{ department.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Email address </label> 
                                <span class="glyphicon glyphicon-question-sign tips" data-toggle="tooltip" data-placement="right" title="" data-original-title="This will be your username to login to the Client Center"></span>
                                <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" id="regoFormEmail" placeholder="Email" required>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Password</label>
                                <input type="password" name="password" value="{% if post.password is defined %}{{ post.password }}{% endif %}" class="form-control form-top" id="regoFormPW" placeholder="Password" required>
                                <br/>
                                <label>Confirm Password</label>
                                <input type="password" name="passwordConfirm" class="form-control form-bottom" id="regoFormState" placeholder="Confirm Password" required>
                            </div>
                            <div class="col-lg-7">
                                <div class="pass_requirement">
                                    <span><b>Password must contain:</b></span><br/>
                                    <span><span id="let" class="glyphicon glyphicon-remove-circle red"></span> Letter(uppercase and lowercase)</span><br/>
                                    <span><span id="num" class="glyphicon glyphicon-remove-circle red"></span> Number</span><br/>
                                    <span><span id="spe" class="glyphicon glyphicon-remove-circle red"></span> Special character ('/~`!@#$%^&*()_-+={}[]|;:"<>,.?\)</span><br/>
                                    <span><span id="len" class="glyphicon glyphicon-remove-circle red"></span> Minimum of 6 character</span>
                                </div>
                            </div>    
                        </div>
                        
                    </div>
                    
                    <h2>Address Details</h2>
                    
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" name="address" id="address" value="{% if post.address is defined %}{{ post.address }}{% endif %}" class="form-control" placeholder="Address" required>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" name="city" id="city" value="{% if post.city is defined %}{{ post.city }}{% endif %}" class="form-control" placeholder="City" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>State</label>
                                <input type="text" name="state" id="state" value="{% if post.state is defined %}{{ post.state }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Postcode</label>
                                <input type="text" name="postcode" id="postcode" value="{% if post.postcode is defined %}{{ post.postcode }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Country</label> 
                                <select name="country" id="country" class="form-control" required>
                                    <option value="">Select country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if post.country is defined and country.id == post.country %}selected{% endif %}>{{ country.countryName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label><input type="checkbox" id="copyMainDoc"> Use this as my main document return delivery address</label>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-lg-12">
                                <label><input type="checkbox" id="copyMainBilling"> Use this as my main billing address</label>
                            </div>
                        </div>
                    </div>
                    
                    <hr/>
                    
                    
                    <h2>Main document delivery address</h2>
                    
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" name="mddaAddress" id="mddaAddress" value="{% if post.mddaAddress is defined %}{{ post.mddaAddress }}{% endif %}" class="form-control" placeholder="Address" required>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" name="mddaCity" id="mddaCity" value="{% if post.mddaCity is defined %}{{ post.mddaCity }}{% endif %}" class="form-control" placeholder="City" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>State</label>
                                <input type="text" name="mddaState" id="mddaState" value="{% if post.mddaState is defined %}{{ post.mddaState }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Postcode</label>
                                <input type="text" name="mddaPostcode" id="mddaPostcode" value="{% if post.mddaPostcode is defined %}{{ post.mddaPostcode }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Country</label> 
                                <select name="mddaCountry" id="mddaCountry" class="form-control" required>
                                    <option value="">Select country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if post.mddaCountry is defined and country.id == post.mddaCountry %}selected{% endif %}>{{ country.countryName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <h2>Main billing address</h2>
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Address</label>
                                <input type="text" name="mbaAddress" id="mbaAddress" value="{% if post.mbaAddress is defined %}{{ post.mbaAddress }}{% endif %}" class="form-control" placeholder="Address" required>
                            </div>
                                
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" name="mbaCity" id="mbaCity" value="{% if post.mbaCity is defined %}{{ post.mbaCity }}{% endif %}" class="form-control" placeholder="City" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>State</label>
                                <input type="text" name="mbaState" id="mbaState" value="{% if post.mbaState is defined %}{{ post.mbaState }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Postcode</label>
                                <input type="text" name="mbaPostcode" id="mbaPostcode" value="{% if post.mbaPostcode is defined %}{{ post.mbaPostcode }}{% endif %}" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-lg-4">
                                <label>Country</label> 
                                <select name="mbaCountry" id="mbaCountry" class="form-control" required>
                                    <option value="">Select country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if post.mbaCountry is defined and country.id == post.mbaCountry %}selected{% endif %}>{{ country.countryName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <hr/>
                    
                    
                    
                    <h2>DISCLAIMER <font color="red">please read *</font></h2>
                    
                    <p>Application requirements and fees for Passports and visas are not in the control of CLS Capital Link Services Pty Ltd and are subject to change without notice. Changes may include, but are not limited to, changes in embassy consular fees, processing procedures, application forms and documentation required for visa issuance. CLS Capital Link Services Pty Ltd is not responsible for changes in application requirements or fees or for any loss or delay relating to such changes.</p>
                    <p>Completed passports and visas are normally sent by TNT, Australian Air Express, DHL, Express Post, Registered Post or any Airline Courier Service and are subject to the terms and conditions set by these companies. CLS Capital Link Services Pty Ltd is not responsible for any loss or delays incurred for shipments consigned to these delivery services.</p>
                    <p>We stand by our service 100%. If we fail to meet our commitment of service to you we will refund 100% of your service fee. We cannot be held responsible for actions or delays caused by any foreign embassies, consulates or third party services such as couriers or other delivery services. This guarantee does not cover damages and is limited to the refund of our service fee.</p>
                    <p>CLS Capital Link Services Pty Ltd is not responsible for damages resulting from incorrect information from applicants or errors caused by applicants.</p>
                    <p>CLS Capital Link Services Pty Ltd. liability for processing delays, loss, damages whether direct, incidental, special or consequential including but not limited to the loss of profit or income regardless of whether CLS Capital Link Services Pty Ltd. may have had knowledge that such damages may be incurred is limited to the amount of service fee paid to CLS Capital Link Services Pty Ltd.</p>
                    <p>CLS Capital Link Services Pty Ltd. liability for damage to or loss of the passport, visa or other documents caused by CLS Capital Link Services Pty Ltd, is limited to the cost of replacement or $200.00 whichever less is.</p>
                    <p>Customer acknowledges and agrees that CLS Capital Link Services Pty Ltd., will not be liable or responsible for any damage, loss or delay caused by third parties, delivery companies or events beyond the control of CLS Capital Link Services Pty Ltd including but not limited to civil commotions, Acts of God, war, terrorist acts, strikes, embassy closure, acts or omissions of public authorities, agencies, consular offices and consular officials.</p>
                    <p>Customer acknowledges and agrees that embassy consular officials and other agencies may request customer to provide additional documentation or may request revised documentation. Customer also acknowledges and agrees that the official responsible for the issuance of the passport or visa may not give a reason for the denial of the passport or visa. Customer acknowledges and agrees that CLS Capital Link Services Pty Ltd is not responsible for the inaction or action of those officials.</p>
                    <p>All quotes of processing times are approximate. Processing time cannot be guaranteed and the processing time quotes cannot and should not be relied upon.</p>
                    <p>Passport and Visa requirements are established by each country and are subject to change without notice. CLS Capital Link Services Pty Ltd provides the best possible information available but cannot guarantee that the information provided is the most current and complete.</p>
                    <p>CLS Capital Link Services Pty Ltd in its sole and absolute discretion may refuse to process any passport, visa or other document.</p>
                    <p>Passports and Visas should first be secured and in customer's possession prior to customer purchasing non-refundable tickets or reservations.</p>
                    <p>Customer's act of transmitting the application to CLS Capital Link Services Pty Ltd is customer's acceptance of the above stated terms and conditions</p>
                    
                    <label><input type="checkbox" id="agreeTerms" required/> <b>I agree to the terms and conditions</b></label>
                    
                    
                    <hr/>
                    
                    
                    <div class="form-group">
                        <div class="form-control form-top control-catpcha"><img src="{{ captcha }}" alt="CATCHA"></div>
                        <input type="text" class="form-control form-bottom" name="captcha" placeholder="Type text" required>
                    </div>
                    <div class="form-group clearfix">
                        <p class="pull-left"><button type="submit" class="btn btn-primary">Register</button></p>
                    </div>
                </form>
                <p>&nbsp;<br>&nbsp;<br></p>

            </div><!--col-->

            <div class="col-lg-4">
                <h2>What do you get with a Client Centre Account?</h2>
                <p>An easy, secure and streamlined way to:</p>           
                <ul>
                    <li><span class="glyphicon glyphicon-check"></span> Order Visas & Police Clearances</li>
                    <li><span class="glyphicon glyphicon-check"></span> Order Secure Document Delivery</li>
                    <li><span class="glyphicon glyphicon-check"></span> Track Your Order Online</li>
                    <li><span class="glyphicon glyphicon-check"></span> Save Your Order Progress</li>
                    <li><span class="glyphicon glyphicon-check"></span> Access Past Order History</li>
                </ul>
                
                <h3>Want to speak to someone?</h3>
                <p>Please contact us to speak to a customer service representative on <a href="tel:0262827155">02 6282 7155</a> between 8:30AM & 5:00 PM, Monday to Friday.</p>
            </div><!--col-->
    </div><!--row-->
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js") }}/pages/registration.js"></script>
    <script>
        var check_pass_url = "{{path('cls_client_public_registration_pass')}}";
    </script>  
{% endblock %}