<html>
<body>
  <p>Hi {{fname}},</p>
    
  <p>Congratulations!</p>
  <p>This email is to confirm your successful registration for an account with CLS Capital Link Services. You can now log in to place an order for any of our services.</p>
  <p>If you experience any difficulties, or if you have any questions regarding the process, please do not hesitate to <a href="https://www.capitallinkservices.com.au/inquiries">contact us</a>. Our friendly staff is waiting to assist you.</p>
  <p>Thank you for choosing CLS Capital Link Services and we look forward to working with you.</p>
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
</body>
</html>