{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-6">
        <h3>Manage - Public Visas<br/><span class="small-note">Country: <strong>{{ post.country_name }}</strong></span></h3>
    </div>
    <div class="col-lg-6 text-right">
        
    </div>
</div>


<form action="{{ path("acme_cls_admin_manage_public_visas_management") }}" method="post" enctype="multipart/form-data">
<input type="hidden" name="hidSubmit">
<input type="hidden" name="id" value="{{ post.country_id }}">
<input type="hidden" name="countryName" value="{{ post.country_name }}">
<input type="hidden" name="visaTypeRemove" id="visaTypeRemove">


<div class="row">
    <div class="col-lg-6">
        <label><input type="checkbox" id="sNoVisaRequired" name="sNoVisaRequired" {% if post.public_s_no_visa_required == 1 %}checked{% endif %}/> No Visa Required</label>
    </div>
    <div class="col-lg-6 text-right">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save Changes</button>
    </div>
</div>


<hr/>

<div class="row no-visa-required-container">
    <div class="col-lg-12">
        <h4>Visa Information</h4>
        <textarea id="noVisaRequiredInformation" name="noVisaRequiredInformation">{{ post.public_s_no_visa_required_html }}</textarea>
    </div>
</div>
<div class="row visa-types-container">
    <div class="col-lg-12">
        <div class="visa-types">
            {% if post.visa_types is defined and post.visa_types|length > 0 %}
                {% for type in post.visa_types %}
                    {% set visa_type_no =  loop.index - 1 %}
                    <div class="type-group panel panel-default" id="{{ visa_type_no }}">
                        <input type="hidden" class="visa-type-id" name="visaTypeId[{{visa_type_no}}]" value="{{ type.id }}">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <h4>Type of Visa</h4>
                                    <div class="form-group">
                                        <input type="text" name="visaType[{{visa_type_no}}]" class="form-control required" placeholder="Ex. Diplomatic/Official" value="{{ type.type }}" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Cost $(Ex GST)</label>
                                        <input type="text" name="visaCost[{{visa_type_no}}]" class="form-control required" placeholder="0.00" value="{{ type.cost }}" required>
                                    </div>

                                    <div class="form-group">
                                        <label>File attachment (sent to client on purchase)</label>
                                        {% if type.file_attachment != '' %}
                                        <label><a href="{{ fileUrl ~ "/dev/publicvisafiles/"~ post.country_id ~ "/" ~ type.id ~ "/" ~ type.file_attachment }}" target="_blank">Open current file</a></label>
                                        {% endif %}
                                        <input type="file" name="visaFile[{{visa_type_no}}]" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label><input type="checkbox" class="is-active" {% if type.status == 1%}checked{% endif %}> is Active</label>
                                        <input type="hidden" name="visaStatus[{{visa_type_no}}]" value="{{ type.status }}">
                                    </div>
                                </div>
                                <div class="col-lg-8 additional-requirements">
                                    <h4>Additional Requirements</h4>
                                    <div class="content">
                                        {% if type.additional_requirements|length > 0%}
                                            <input type="hidden" name="additionalRequirementRemove[{{visa_type_no}}]" class="additionalRequirementRemove">
                                        {% endif %}

                                        {% for requirement in type.additional_requirements %}
                                        <div class="row requirement sortable">
                                            <input type="hidden" class="requirement-id" name="additionalRequirementId[{{visa_type_no}}][]" value="{{ requirement.id }}">

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <textarea name="additionalRequirement[{{visa_type_no}}][]" class="form-control required" placeholder="Ex. Single Entry Visa" required>{{ requirement.requirement }}</textarea>
                                                </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <input type="text" name="additionalRequirementCost[{{visa_type_no}}][]" class="form-control required" value="{{ requirement.cost }}" placeholder="Cost $(Ex GST)" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-3" style="padding-top: 5px;">
                                                <div class="form-group">
                                                    <label style="padding-right: 10px;"><input type="checkbox" class="additional-requirement-required" {% if requirement.s_required == 1%}checked{% endif %}> Required <input type="hidden"  name="additionalRequirementIsRequired[{{visa_type_no}}][]" value="{{ requirement.s_required }}"></label>
                                                    <label><input type="checkbox" class="additional-requirement-active" {% if requirement.status == 1%}checked{% endif %}> Active <input type="hidden"  name="additionalRequirementIsActive[{{visa_type_no}}][]" value="{{ requirement.status }}"></label>                                                
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group" style="padding-top: 1px;">
                                                    <button type="button" class="btn btn-danger btn-sm btn-remove-requirement"><span class="glyphicon glyphicon-remove-circle"></span> Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                    <div>
                                        <a class="btn-add-requirement"><span class="glyphicon glyphicon-plus-sign"></span> Add additional requirement</a>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4>Visa Information</h4>
                                    <textarea id="visaInformation[{{ loop.index - 1}}]" name="visaInformation[{{visa_type_no}}]">{{ type.visa_information }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-danger btn-sm btn-delete-visa-type"><span class="glyphicon glyphicon-remove-circle"></span> Delete Visa Type</button>
                            <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-disk"></span> Update Visa Type</button>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="type-group panel panel-default" id="0">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <h4>Type of Visa</h4>
                                <div class="form-group">
                                    <input type="text" name="visaType[0]" class="form-control required" placeholder="Ex. Diplomatic/Official" required>
                                </div>

                                <div class="form-group">
                                    <label>Cost $(Ex GST)</label>
                                    <input type="text" name="visaCost[0]" class="form-control required" placeholder="0.00" required>
                                </div>

                                <div class="form-group">
                                    <label>File attachment (sent to client on purchase)</label>
                                    <input type="file" name="visaFile[0]" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label><input type="checkbox" class="is-active"> is Active</label>
                                    <input type="hidden" name="visaStatus[0]" value="0">
                                </div>
                            </div>
                            <div class="col-lg-8 additional-requirements">
                                <h4>Additional Requirements</h4>
                                <div class="content">
                                </div>
                                <div>
                                    <a class="btn-add-requirement"><span class="glyphicon glyphicon-plus-sign"></span> Add additional requirement</a>
                                </div>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Visa Information</h4>
                                <textarea id="visaInformation[0]" name="visaInformation[0]"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-danger btn-sm btn-delete-visa-type"><span class="glyphicon glyphicon-remove-circle"></span> Delete Visa Type</button>
                        <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-disk"></span> Update Visa Type</button>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-right">
                <!--<button id="addNewVisaType" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add new Visa Type</button>-->
                <a id="addNewVisaType"><span class="glyphicon glyphicon-plus-sign"></span> Add new Visa Type</a>
            </div>
        </div>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save Changes</button>
    </div>
</div>

</form>


{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('api') }}/nicEdit/nicEdit.js"></script>
<script type="text/javascript">
    
// Global declarations
var plugins_path = "{{ asset('api') }}";
</script>

<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}