{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-12">
        <h3>Order History</h3>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#pendingTpn" data-toggle="tab">Pending TPN  <span id="totalPendingTPN" class="badge">0</span></a></li>
          <li><a href="#pastTpn" data-toggle="tab">Past TPN <span id="totalPastTPN" class="badge">0</span></a></li>
          <li><a href="#courierService" data-toggle="tab">Courier Service <span id="totalCouriers" class="badge">0</span></a></li>
          <li><a href="#pendingVisa" data-toggle="tab">Pending Visa <span id="totalPendingVisa" class="badge">0</span></a></li>
          <li><a href="#pastVisa" data-toggle="tab">Past Visa <span id="totalPastVisa" class="badge">0</span></a></li>
          <li><a href="#documentDelivery" data-toggle="tab">Document Delivery <span id="totalDocDelivery" class="badge">0</span></a></li>
          <li><a href="#policeClearance" data-toggle="tab">Police Clearance <span id="totalPoliceClearance" class="badge">0</span></a></li>
          <li><a href="#documentLegalisation" data-toggle="tab">Document Legalisation <span id="totalDocLegalisation" class="badge">0</span></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="pendingTpn">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="pending-tpn-listings">
                    <thead>
                        <tr>    
                            <th>Order No.</th>
                            <th>Date Submitted</th>
                            <th>Primary Applicant Name</th>
                            <th>Destination</th>
                            <th>Departure Date</th>
                            <th style="width: 165px;">Operations</th>
                        </tr>
                    </thead>
                </table>
          </div>
          
          
          <div class="tab-pane" id="pastTpn">
                <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="past-tpn-listings">
                    <thead>
                        <tr>    
                            <th>Order No.</th>
                            <th>Date Submitted</th>
                            <th>Primary Applicant Name</th>
                            <th>Destination</th>
                            <th>Departure Date</th>
                            <th style="width: 165px;">Operations</th>
                        </tr>
                    </thead>
                </table>
          </div>      
                
                
                
          <div class="tab-pane" id="courierService">
                <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="courier-listings">
                    <thead>
                        <tr>    
                            <th>Order No.</th>
                            <th>Date Submitted</th>
                            <th>Pay on Account</th>
                            <th>Grand Total</th>
                            <th>Order Status</th>
                            <th style="width: 165px;">Operations</th>
                        </tr>
                    </thead>
                </table>
          </div>
          
          <div class="tab-pane" id="pendingVisa">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="pending-visa-listings">
                    <thead>
                        <tr>    
                            <th>Order No.</th>
                            <th>Date Submitted</th>
                            <th>Primary Applicant Name</th>
                            <th>Destination</th>
                            <th>Departure Date</th>
                            <th style="width: 165px;">Operations</th>
                        </tr>
                    </thead>
                </table>
          </div>
          <div class="tab-pane" id="pastVisa">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="past-visa-listings">
                    <thead>
                        <tr>    
                            <th>Order No.</th>
                            <th>Date Submitted</th>
                            <th>Primary Applicant Name</th>
                            <th>Destination</th>
                            <th>Departure Date</th>
                            <th style="width: 165px;">Operations</th>
                        </tr>
                    </thead>
                </table>
          </div>
         
          <div class="tab-pane" id="documentDelivery">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="document-delivery-listings">
                    <thead>
                        <tr>    
                            <th>Order No.</th>
                            <th>Date Submitted</th>
                            <th>Document Delivery</th>
                            <th>Pay on Account</th>
                            <th>Grand Total</th>
                            <th>Status</th>
                            <th style="width: 165px;">Operations</th>
                        </tr>
                    </thead>
                </table>
          </div>      
                
          <div class="tab-pane" id="policeClearance">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="police-clearance-listings">
                    <thead>
                        <tr>    
                            <th>Order No.</th>
                            <th>Date Submitted</th>
                            <th>Primary Applicant Name</th>
                            <th>Police Clearance</th>
                            <th>Pay on Account</th>
                            <th>Grand Total</th>
                            <th>Order Status</th>
                            <th style="width: 165px;">Operations</th>
                        </tr>
                    </thead>
                </table>
          </div>
          
          <div class="tab-pane" id="documentLegalisation">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="doc-legalisation-listings">
                <thead>
                    <tr>    
                        <th>Date Submitted</th>
                        <th>Order No.</th>
                        <th>Status</th>
                        <th style="width: 165px;">Operations</th>
                    </tr>
                </thead>
            </table>
          </div>
          
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var pending_tpn_list_url = "{{ path("cls_client_gov_past_orders_pending_tpn") }}";
var past_tpn_list_url = "{{ path("cls_client_gov_past_orders_past_tpn") }}";
var pending_visa_list_url = "{{ path("cls_client_public_past_orders_pending_visa") }}";
var past_visa_list_url = "{{ path("cls_client_public_past_orders_past_visa") }}";
var courier_service_list_url = "{{ path("cls_client_gov_past_orders_courier_service") }}";
var police_clearance_list_url = "{{ path("cls_client_orders_past_police_clearance") }}";
var document_delivery_list_url = "{{ path("cls_client_orders_past_document_delivery") }}";
var russian_visa_voucher_list_url = "{{ path("cls_client_orders_past_russian_visa_voucher") }}";
var document_legalisation_list_url = "{{ path("cls_client_orders_past_document_legalisation") }}";


var open_visa_url = "{{ path("cls_client_gov_view_order_visa") }}";
var open_courier_service_url = "{{ path("cls_client_gov_view_orders_courier_service") }}";
var open_tpn_order_url = "{{ path("cls_client_gov_view_order_tpn") }}";
var open_police_clearance_url = "{{ path("cls_client_gov_view_order_police_clearance") }}";
var open_doc_delivery_url = "{{ path("cls_client_gov_view_order_document_delivery") }}";
var open_russian_visa_voucher_url = "{{ path("cls_client_gov_view_order_russian_visa_order") }}";
var open_doc_legalisation_url = "{{ path("cls_client_gov_view_order_document_legalisation") }}";

var del_order_url = "{{ path("cls_client_gov_delete_order") }}";
</script>
    
<script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}