{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block title %}(Police Clearance Tickets Report){% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/extras/TableTools/media/css/TableTools.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-10">
        <h3>Tickets Report - Police Clearance</h3>
    </div>
    <div class="col-lg-2 text-right ">
        
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ path("acme_cls_admin_tickets_report_police_clearance") }}" class="filter">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label>Date Submitted</label>
                                    <input type="text" name="from" class="form-control date-picker" placeholder="From" value="{% if get.from is defined %}{{ get.from }}{% endif %}">
                                </div>
                                <div class="col-lg-6">
                                    <label>&nbsp;</label>
                                    <input type="text" name="to" class="form-control date-picker" placeholder="To" value="{% if get.to is defined %}{{ get.to }}{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label>Payment Status</label>
                        <select name="paymentstat" class="form-control">
                            <option value=""> - All - </option>
                            <option value="0" {% if get.paymentstat is defined and get.paymentstat != '' and get.paymentstat == 0%}selected{% endif %}>Pending</option>
                            <option value="1" {% if get.paymentstat is defined and get.paymentstat != '' and get.paymentstat == 1%}selected{% endif %}>Paid</option>
                        </select>
                    </div>
                        
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>On Account?</label>
                            <select name="onaccount" class="form-control">
                                <option value=""> - All - </option>
                                <option value="0" {% if get.onaccount is defined and get.onaccount != '' and get.onaccount == 0%}selected{% endif %}>Yes</option>
                                <option value="1" {% if get.onaccount is defined and get.onaccount != '' and get.onaccount == 1%}selected{% endif %}>No</option>

                            </select>
                        </div>
                    </div>
                    
                </div>
                        
                <div class="row">
                    
                        
                    <div class="col-lg-3">
                        <label>Account No.</label>
                        <input type="text" name="accountno" class="form-control" placeholder="## ##### #####" value="{% if get.accountno is defined %}{{ get.accountno }}{% endif %}">
                    </div>
                        
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>CLS Team Member</label>
                            <select name="clsteammem" class="form-control">
                                <option value=""> - All - </option>
                                {% for member in cls_members %}
                                    <option value="{{ member.id }}" {% if get.clsteammem is defined and get.clsteammem == member.id %}selected{% endif %}>{{ member.fname ~ " " ~ member.lname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                        
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-default clear-selections" ><span class="glyphicon glyphicon-repeat"></span> Clear Selections</button>
                        <button class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span> Filter Report</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12  text-right dataTable-buttons-wrapper">
        <div class="dataTable-buttons">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="datatable-listings">
            <thead>
                <tr>
                    <th>Date Submitted</th>
                    <th>Date Submitted</th>
                    <th>Account No.</th>
                    <th>Order No.</th>
                    <th>Applicant Name</th>
                    <th>Passport No.</th>
                    <th>Departure Date</th>
                    <th>Order Stat.</th>
                    <th>CLS Team Mem.</th>
                    <th style="width: 100px;">Operations</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/TableTools.js"></script>

<script type="text/javascript">
        
// Global declarations
var params = "?from={% if get.from is defined %}{{ get.from }}{% endif %}"
    +"&to={% if get.to is defined %}{{ get.to }}{% endif %}"
    +"&paymentstat={% if get.paymentstat is defined %}{{ get.paymentstat }}{% endif %}"
    +"&onaccount={% if get.onaccount is defined %}{{ get.onaccount }}{% endif %}"
    +"&accountno={% if get.accountno is defined %}{{ get.accountno }}{% endif %}"
    +"&clsteammem={% if get.clsteammem is defined %}{{ get.clsteammem }}{% endif %}";
    
var list_url = "{{ path("acme_cls_admin_tickets_report_police_clearance_list") }}" + params;
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";

var api_url = "{{ asset("api") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}