{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>New Visa Courier Option</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_manage_police_clearances_new") }}" method="post" enctype="multipart/form-data">
<input type="hidden" name="hidSubmit"/>
<div class="row">
    
    <div class="col-lg-7">
        <h4>General Information</h4>
        <textarea name="genInfo" id="genInfo">{% if post.genInfo is defined %}{{ post.genInfo }}{% endif %}</textarea>
    </div>
    <div class="col-lg-5">
        <h4>Details</h4>
        <div class="row">
            <div class="col-lg-9">
                <div class="form-group">
                    <label>Police Clearance Name</label> 
                    <input type="text" name="name1" value="{% if post.name1 is defined %}{{ post.name1 }}{% endif %}" class="form-control"  placeholder="Police Clearance Certificate" required>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Price</label> 
                    <input type="text" name="price1" value="{% if post.price1 is defined %}{{ post.price1 }}{% endif %}" class="form-control"  placeholder="0.00" required>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-9">
                <div class="form-group">
                    <label>Addition</label> 
                    <input type="text" name="name2" value="{% if post.name2 is defined %}{{ post.name2 }}{% endif %}" class="form-control"  placeholder="Addition application in the same package" required>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Price</label> 
                    <input type="text" name="price2" value="{% if post.price2 is defined %}{{ post.price2 }}{% endif %}" class="form-control"  placeholder="0.00" required>
                </div>
            </div>
        </div>
            
        <div class="form-group">
            <label>File attachment</label>
            <!--<label><a href="#" target="_blank">Open current file</a></label>-->
            <input type="file" name="clearanceFile" class="form-control">
        </div>
        <div class="form-group">
            <label><input type="checkbox" name="sActive" {% if post.sActive is defined and post.sActive == 1%}checked{% endif %}> is Active</label> 
        </div>
            
        <div class="text-right">
            <a class="btn btn-default" href="{{ path("acme_cls_admin_manage_police_clearances") }}">Cancel</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var plugins_path = "{{ asset("api") }}";
</script>
<script type="text/javascript" src="{{ asset('api') }}/nicEdit/nicEdit.js"></script>
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}