{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}

{% if errors is defined %}
<div class="alert alert-block alert-danger fade in">
    <span class="close" data-dismiss="alert">&times;</span>
    <!--<span class="alert-title">The form has the following errors:</span>-->
    <ul>
    {% for error in errors %}
        {{ error.message }} <br/>
    {% endfor %}
    </ul>
</div>
{%endif%}
{% for flashMessage in app.session.flashbag.get('validation-error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>Police Clearance Application</h3>
        {% else %}
            <h3>Create Order: Police Clearance Application<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        {% if app.session.get('user_type') != 'admin-user' %}
        <div class="application-steps">
            <span>Step 1/3</span>
            <span class="active">Details</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% else %}
        <div class="application-steps">
            <span>Step 1/3</span>
            <span class="active">Details</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% endif %}
    </div>
        
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

<div class="row">
    
    <form action="#" method="post">
    <input type="hidden" name="hid_submit" id="hidSubmit"/>
    {% if app.session.get('user_type') == 'admin-user' %}
        <input type="hidden" name="client_id" value="{{ user_details.id }}">
    {% endif %}
        
    {% if order_no is defined %}
        <input type="hidden" name="orderNumber" value="{{ order_no }}">
    {% endif %}
    <!-- Travel Details -->
    <div id="travel-details" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Police Clearance</h4>
            </div>
            
            <div class="panel-body">
                <div class="form-group">
                    <label>Police Clearance</label>
                    <select class="form-control required {% if post.blank_inputs is defined and 'policeClearance' in post.blank_inputs %}ie-required{% endif %}" name="policeClearance" id="policeClearance" required>
                        <option value="">Select clearance</option>
                        {% for clearance in clearances %}
                            <option value="{{ clearance.id }}" {% if post.police_clearance_id is defined and post.police_clearance_id == clearance.id %}selected{% elseif app.session.get("selected_police_clearance_id") == clearance.id %}selected{% endif %}>{{ clearance.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <hr/>
                
                <h4>Gen. Information</h4>
                
                <div id="genInfo">
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    <!-- Traveller Details -->
    <div id="applicant-details" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Applicant Details</h4>
            </div>
                
            <div class="panel-body">
                <label><input type="checkbox" id="useMyDetails"/> Use my details</label>
                <div class="applicant-details-group">
                {% if post.police_clearance_applicants is defined and post.police_clearance_applicants|length > 0%}
                    {% for applicant in post.police_clearance_applicants %}
                    <div class="group">

                        {% if loop.index > 1%}<hr />{% endif %}

                        <div class="form-group">
                            <label>First name</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and ('fname' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="fname[]" {% if loop.index == 1%}id="fname"{% endif %} value="{{ applicant.fname }}" required/>
                        </div>

                        <div class="form-group">
                            <label>Middle name</label>
                            <input type="text" class="form-control" name="mname[]" {% if loop.index == 1%}id="mname"{% endif %} value="{{ applicant.mname }}"/>
                        </div>

                        <div class="form-group">
                            <label>Last name</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and ('lname' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="lname[]" {% if loop.index == 1%}id="lname"{% endif %} value="{{ applicant.lname }}" required/>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control required {% if post.blank_inputs is defined and ('email' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="email[]" {% if loop.index == 1%}id="email"{% endif %} value="{{ applicant.email }}" required/>
                        </div>

                        <div class="form-group">
                            <label>Contact Phone</label>
                            <input type="phone" class="form-control required {% if post.blank_inputs is defined and ('phone' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="phone[]" {% if loop.index == 1%}id="phone"{% endif %} value="{{ applicant.phone }}" required/>
                        </div>
                            
                        <div class="form-group">
                            <label>Mobile Phone</label>
                            <input type="phone" class="form-control required {% if post.blank_inputs is defined and ('mobile' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="mobile[]" {% if loop.index == 1%}id="mobile"{% endif %} value="{{ applicant.mobile }}" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and ('address' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="address[]" {% if loop.index == 1%}id="address"{% endif %} value="{{ applicant.address }}" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and ('city' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="city[]" {% if loop.index == 1%}id="city"{% endif %} value="{{ applicant.city }}" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>Postcode</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and ('postcode' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="postcode[]" {% if loop.index == 1%}id="postcode"{% endif %} value="{{ applicant.postcode }}" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and ('state' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="state[]" {% if loop.index == 1%}id="state"{% endif %} value="{{ applicant.state }}" required/>
                        </div>

                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control main-nationality required {% if post.blank_inputs is defined and ('country' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="country[]" {% if loop.index == 1%}id="country"{% endif %} required>
                                <option value="">Select country</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}" {% if applicant.country_id == country.id%}selected{% endif %}>{{ country.countryName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Passport Number</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and ('passportNumber' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="passportNumber[]" {% if loop.index == 1%}id="passportNumber"{% endif %} value="{{ applicant.passport_no }}" required/>
                        </div>

                        {#
                        <div class="form-group">
                            <label>Departure Date</label>
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="departureDate[]" {% if loop.index == 1%}id="departureDate"{% endif %} value="{{ applicant.departure_date|date("d-m-Y") }}" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        #}
                        
                    </div>
                    {% endfor %}
                {% else %}

                    <div class="group">

                        <div class="form-group">
                            <label>First name</label>
                            <input type="text" class="form-control required" name="fname[]" id="fname" required/>
                        </div>

                        <div class="form-group">
                            <label>Middle name</label>
                            <input type="text" class="form-control" name="mname[]" id="mname"/>
                        </div>

                        <div class="form-group">
                            <label>Last name</label>
                            <input type="text" class="form-control required" name="lname[]" id="lname" required/>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control required" name="email[]" id="email" required/>
                        </div>


                        <div class="form-group">
                            <label>Contact Phone</label>
                            <input type="phone" class="form-control required" name="phone[]" id="phone" required/>
                        </div>
                            
                        <div class="form-group">
                            <label>Mobile Phone</label>
                            <input type="phone" class="form-control required" name="mobile[]" id="mobile" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control required" name="address[]" id="address" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" class="form-control required" name="city[]" id="city" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>Postcode</label>
                            <input type="text" class="form-control required" name="postcode[]" id="postcode" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" class="form-control required" name="state[]" id="state" required/>
                        </div>

                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control main-nationality required" name="country[]" id="country" required>
                                <option value="">Select country</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}">{{ country.countryName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Passport Number</label>
                            <input type="text" class="form-control required" name="passportNumber[]" id="passportNumber" required/>
                        </div>
                        {#
                        <div class="form-group">
                            <label>Departure Date</label>
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="departureDate[]" id="departureDate" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        #}
                    </div>
                {% endif %}
                </div>


                <div id="btn-container" class="text-right">
                    <a type="button" class="btn btn-danger btn-sm remove"><span class="glyphicon glyphicon-remove"></span> Remove last applicant</a>
                    <a type="button" class="btn btn-default btn-sm add"><span class="glyphicon glyphicon-plus"></span> Additional applicant</a>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    <!-- Payment options -->
    <div class="col-lg-4">    
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h4>Document Details</h4>
            </div>
            <div class="panel panel-body">
                <h4>Total Order Price</h4>
                <h4>$<span id="totalOrderPrice">0.00</span> AUD </h4>
                
                <hr/>
                <p>CLS will return all correspondence to this address. <b>Please ensure its accuracy</b>.</p>
                
                <p><label><input type="checkbox" id="chkUseDefaultDocReturnAddress"> Use default document return address</label></p>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Company (If applicable)</label>
                            <input type="text" name="drCompany" id="drCompany" value="{% if post.visa_mdd_company is defined %}{{ post.visa_mdd_company }}{% endif %}" class="form-control" placeholder="Company name">
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Document(s) Return Address</label>
                            <input type="text" name="drAddress" id="drAddress" value="{% if post.visa_mdd_address is defined %}{{ post.visa_mdd_address }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'drAddress' in post.blank_inputs %}ie-required{% endif %}" placeholder="Address" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>City / Suburb</label>
                            <input type="text" name="drCity" id="drCity" value="{% if post.visa_mdd_city is defined %}{{ post.visa_mdd_city }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'drCity' in post.blank_inputs %}ie-required{% endif %}" placeholder="City / Suburb" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>State</label>
                            <input type="text" name="drState" id="drState" value="{% if post.visa_mdd_state is defined %}{{ post.visa_mdd_state }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'drState' in post.blank_inputs %}ie-required{% endif %}" placeholder="State" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Postcode</label>
                            <input type="text" name="drPostcode" id="drPostcode" value="{% if post.visa_mdd_postcode is defined %}{{ post.visa_mdd_postcode }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'drPostcode' in post.blank_inputs %}ie-required{% endif %}" placeholder="Postcode" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>First name</label>
                            <input type="text" name="drFname" id="drFname" value="{% if post.visa_mdd_fname is defined %}{{ post.visa_mdd_fname }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'drFname' in post.blank_inputs %}ie-required{% endif %}" placeholder="First name" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Last name</label>
                            <input type="text" name="drLname" id="drLname" value="{% if post.visa_mdd_lname is defined %}{{ post.visa_mdd_lname }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'drLname' in post.blank_inputs %}ie-required{% endif %}" placeholder="Last name" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Contact number</label>
                            <input type="text" name="drContactNo" id="drContactNo" value="{% if post.visa_mdd_contact is defined %}{{ post.visa_mdd_contact }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'drContactNo' in post.blank_inputs %}ie-required{% endif %}" placeholder="Contact No." required>
                        </div>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Email</label>
                            <input type="text" name="drEmail" id="drEmail" value="{% if post.drEmail is defined %}{{ post.drEmail }}{% endif %}" class="form-control required" placeholder="Email address" required>
                        </div>
                    </div>
                </div>
                -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Additional Comments</label>
                            <textarea name="drAdditionalComment" id="drAdditionalComment" class="form-control">{% if post.visa_additional_comment is defined %}{{ post.visa_additional_comment }}{% endif %}</textarea>
                        </div>
                    </div>
                </div>
                
                <div class="text-right">
                    <button type="submit" id="saveProgress" class="btn btn-default"><span class="glyphicon glyphicon-floppy-save"></span> Save Progress</button>
                    <button type="submit" id="nextPage" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> Next</button>
                </div>
                
            </div>
        </div>
    </div>
    
    
    
    </form>
</div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        
        // Global declarations
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var get_clearance_info_url = "{{ path("cls_client_gov_police_clearance_information_get_info") }}";
        var jsonpath = "{{ asset("json") }}/occupations.json";
        var img_asset = "{{ asset("img") }}";
        var clearance_price = 0;
        var clearance_price_additional = 0;
        var ccp_fee = {{ credit_card_processing_fee }};
        var orig_price = 0;
        var special_price = {% if user.can_get_special_price == 1 %}{{ user.special_price }}{% else %}0{% endif %};
        
        
        $(document).ready(function(){
            
            $.ajax({
                url: "{{ path("cls_client_gov_application_police_clearance_remove_log") }}",
                method: 'POST',
                data: {},
                success: function(data) {
                },
                error:function(){
                }
            });
            
        });
    </script>
    
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}