<html>
<body>
    
  <p>Hi {{ post.fname }},</p>
  
  <p>You've been registered as a DFAT user for the CLS website.</p>
  <p>Visit <a href="https://www.capitallinkservices.com.au">https://www.capitallinkservices.com.au</a> to log on to CLS.</p>
    
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ site_url ~ "/" ~ asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>