{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}
{% if errors is defined %}
<div class="alert alert-block alert-danger fade in">
    <span class="close" data-dismiss="alert">&times;</span>
    <!--<span class="alert-title">The form has the following errors:</span>-->
    <ul>
    {% for error in errors %}
        {{ error.message }} <br/>
    {% endfor %}
    </ul>
</div>
{%endif%}
{% for flashMessage in app.session.flashbag.get('validation-error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>Safe Hand Delivery</h3>
        {% else %}
            <h3>Create Order: Safe Hand Delivery<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        {% if app.session.get('user_type') != 'admin-user' %}
        <div class="application-steps">
            <span>Step 1/3</span>
            <span class="active">Details</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% else %}
        <div class="application-steps">
            <span>Step 1/3</span>
            <span class="active">Details</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

{% if user.can_get_special_price == 1 %}
    {% set special_price = user.special_price %}
{% else %}
    {% set special_price = 0 %}
{% endif %}

<div class="row">
    <form action="{{ path("cls_client_aplication_document_delivery") }}" method="post">
    <input type="hidden" id="hidSubmit" name="hid_submit">
    {% if app.session.get('user_type') == 'admin-user' %}
        <input type="hidden" name="client_id" value="{{ user_details.id }}">
    {% endif %}
        
    {% if order_no is defined %}
        <input type="hidden" name="orderNumber" value="{{ order_no }}">
    {% endif %}
        
    {% if post is not defined %}
    {% if app.session.get('doc_post') is defined and app.session.get('doc_post')|length > 0 %}
        {% set post = app.session.get('doc_post') %}
    {% endif %}
    {% endif %}
    
    <!-- Payment details -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Order Details</h4>
            </div>
            <div class="panel-body">
                <h4>Receiver Name / Department</h4>
                

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" name="receiverName" value="{% if post.doc_receiver_name is defined %}{{ post.doc_receiver_name }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'receiverName' in post.blank_inputs %}ie-required{% endif %}" placeholder="Receiver name / department" required>
                        </div>
                    </div>
                </div>
                <hr/>


                <h4>Pick Up Details</h4> 
                <label><input type="checkbox" id="chkUseDefaultAddress"> Use my Default Address</label>
                
                <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Company</label>
                                <input type="text" name="doc_pickup_company" value="{% if post.doc_pickup_company is defined %}{{ post.doc_pickup_company }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'deliveryCompany' in post.blank_inputs %}ie-required{% endif %}"  placeholder="Company" required>
                            </div>
                        </div>
                    </div>
                            
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Pickup Address (Street)</label>
                            <input type="text" name="pickupAddress" value="{% if post.doc_pickup_address is defined %}{{ post.doc_pickup_address }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'pickupAddress' in post.blank_inputs %}ie-required{% endif %}"  placeholder="Pickup address" required>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Suburb/City</label>
                            <input type="text" name="pickupCity" value="{% if post.doc_pickup_city is defined %}{{ post.doc_pickup_city }}{% endif %}" class="form-control"  placeholder="Suburb/city">
                        </div>
                        <div class="col-lg-6">
                            <label>Postcode</label>
                            <input type="text" name="pickupPostcode" value="{% if post.doc_pickup_postcode is defined %}{{ post.doc_pickup_postcode }}{% endif %}" class="form-control" placeholder="Postcode">
                        </div>
                    </div>
                </div>
                
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Contact Name</label>
                            <input type="text" name="doc_pickup_contact_name" value="{% if post.doc_pickup_contact_name is defined %}{{ post.doc_pickup_contact_name }}{% endif %}" class="form-control" placeholder="Contact name">
                        </div>
                        <div class="col-lg-6">
                            <label>Contact Area</label>
                            <input type="text" name="pickupContactArea" value="{% if post.doc_pickup_contact_area is defined %}{{ post.doc_pickup_contact_area }}{% endif %}" class="form-control" placeholder="Contact Area">
                        </div>
                    </div>
                </div>
                        
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Telephone and Mobile</label>
                            <input type="text" name="pickupContactNo" value="{% if post.doc_pickup_contact_no is defined %}{{ post.doc_pickup_contact_no }}{% endif %}" class="form-control"  placeholder="########">
                        </div>
                        
                        <div class="col-lg-6">
                            <label>Email Address</label>
                            <input type="text" name="doc_pickup_email" value="{% if post.doc_pickup_email is defined %}{{ post.doc_pickup_email }}{% endif %}" class="form-control"  placeholder="example@email.com">
                        </div>
                    </div>
                </div>
                        
                {#<div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Contact Area (Alternate 1)</label>
                            <input type="text" name="pickupContactAreaAlt1" value="{% if post.doc_pickup_contact_area_alt1 is defined %}{{ post.doc_pickup_contact_area_alt1 }}{% endif %}" class="form-control" placeholder="Contact Area">
                        </div>
                        <div class="col-lg-6">
                            <label>Contact Area (Alternate 2)</label>
                            <input type="text" name="pickupContactAreaAlt2" value="{% if post.doc_pickup_contact_area_alt2 is defined %}{{ post.doc_pickup_contact_area_alt2 }}{% endif %}" class="form-control" placeholder="Contact Area">
                        </div>
                    </div>
                </div>#}
                
                
                <h4>Delivery Details</h4>
                <div class="primary">
                    <div class="form-group">
                        <div class="row">
                            {#<div class="col-lg-6">
                                <label>Delivery Recipient Name</label>
                                <input type="text" name="deliveryRecipientName" value="{% if post.doc_delivery_recipient_name is defined %}{{ post.doc_delivery_recipient_name }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'deliveryRecipientName' in post.blank_inputs %}ie-required{% endif %}" id="txtFname" placeholder="Delivery recipient name" required>
                            </div>#}
                            <div class="col-lg-12">
                                <label>Company</label>
                                <input type="text" name="deliveryCompany" value="{% if post.doc_delivery_company is defined %}{{ post.doc_delivery_company }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'deliveryCompany' in post.blank_inputs %}ie-required{% endif %}" placeholder="Company" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Delivery Address (Street)</label>
                                <input type="text" name="deliveryAddress" value="{% if post.doc_delivery_address is defined %}{{ post.doc_delivery_address }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'deliveryAddress' in post.blank_inputs %}ie-required{% endif %}" placeholder="Pickup address" required>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Suburb/City</label>
                                <input type="text" name="deliveryCity" value="{% if post.doc_delivery_city is defined %}{{ post.doc_delivery_city }}{% endif %}" class="form-control"  placeholder="Suburb/city">
                            </div>
                            <div class="col-lg-6">
                                <label>Postcode</label>
                                <input type="text" name="deliveryPostcode" value="{% if post.doc_delivery_postcode is defined %}{{ post.doc_delivery_postcode }}{% endif %}" class="form-control" placeholder="Postcode">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Telephone and Mobile</label>
                                <input type="text" name="deliveryContactNo" value="{% if post.doc_delivery_contact_no is defined %}{{ post.doc_delivery_contact_no }}{% endif %}" class="form-control"  placeholder="########">
                            </div>

                            {#<div class="col-lg-6">
                                <label>Email Address</label>
                                <input type="email" name="deliveryEmail" value="{% if post.doc_delivery_email is defined %}{{ post.doc_delivery_email }}{% endif %}" class="form-control"  placeholder="########">
                            </div>#}
                        </div>
                    </div>
                </div>
                          
                <h4>Primary Receipient</h4>
                <div class="primary-receipient">
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Contact Name</label>
                                <input type="text" name="doc_delivery_primary_receipient_contact_name" value="{% if post.doc_delivery_primary_receipient_contact_name is defined %}{{ post.doc_delivery_primary_receipient_contact_name }}{% endif %}" class="form-control" placeholder="Contact name">
                            </div>
                            <div class="col-lg-6">
                                <label>Contact Area</label>
                                <input type="text" name="doc_delivery_primary_receipient_contact_area" value="{% if post.doc_delivery_primary_receipient_contact_area is defined %}{{ post.doc_delivery_primary_receipient_contact_area }}{% endif %}" class="form-control" placeholder="Contact area" >
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Telephone and Mobile</label>
                                <input type="text" name="doc_delivery_primary_receipient_contact_no" value="{% if post.doc_delivery_primary_receipient_contact_no is defined %}{{ post.doc_delivery_primary_receipient_contact_no }}{% endif %}" class="form-control"  placeholder="########">
                            </div>

                            <div class="col-lg-6">
                                <label>Email Address</label>
                                <input type="email" name="doc_delivery_primary_receipient_email" value="{% if post.doc_delivery_primary_receipient_email is defined %}{{ post.doc_delivery_primary_receipient_email }}{% endif %}" class="form-control"  placeholder="example@email.com">
                            </div>
                        </div>
                    </div>
                </div>
                            
                <h4>Alternate Contacts</h4> 
                <div class="alternate" data-alt="Alt1">
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Alternate Contact Name 1</label>
                                <input type="text" name="deliveryRecipientNameAlt1" value="{% if post.doc_delivery_recipient_name_alt1 is defined %}{{ post.doc_delivery_recipient_name_alt1 }}{% endif %}" class="form-control" placeholder="Alternate Contact Name 1">
                            </div>
                            <div class="col-lg-6">
                                <label>Contact Area</label>
                                <input type="text" name="pickupContactAreaAlt1" value="{% if post.doc_pickup_contact_area_alt1 is defined %}{{ post.doc_pickup_contact_area_alt1 }}{% endif %}" class="form-control" placeholder="Contact Area">
                            </div>
                            {#<div class="col-lg-6">
                                <label>Company</label>
                                <input type="text" name="deliveryCompanyAlt1" value="{% if post.doc_delivery_company_alt1 is defined %}{{ post.doc_delivery_company_alt1 }}{% endif %}" class="form-control" placeholder="Company" >
                            </div>#}
                        </div>
                    </div>

                    {#<div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Delivery Address (Street)</label>
                                <input type="text" name="deliveryAddressAlt1" value="{% if post.doc_delivery_address_alt1 is defined %}{{ post.doc_delivery_address_alt1 }}{% endif %}" class="form-control" placeholder="Pickup address" >
                            </div>
                        </div>
                    </div>#}


                    {#<div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Suburb/City</label>
                                <input type="text" name="deliveryCityAlt1" value="{% if post.doc_delivery_city_alt1 is defined %}{{ post.doc_delivery_city_alt1 }}{% endif %}" class="form-control"  placeholder="Suburb/city">
                            </div>
                            <div class="col-lg-6">
                                <label>Postcode</label>
                                <input type="text" name="deliveryPostcodeAlt1" value="{% if post.doc_delivery_postcode_alt1 is defined %}{{ post.doc_delivery_postcode_alt1 }}{% endif %}" class="form-control" placeholder="Postcode">
                            </div>
                        </div>
                    </div>#}

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Telephone and Mobile</label>
                                <input type="text" name="deliveryContactNoAlt1" value="{% if post.doc_delivery_contact_no_alt1 is defined %}{{ post.doc_delivery_contact_no_alt1 }}{% endif %}" class="form-control"  placeholder="########">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="alternate" data-alt="Alt2">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Alternate Contact Name 2</label>
                                <input type="text" name="deliveryRecipientNameAlt2" value="{% if post.doc_delivery_recipient_name_alt2 is defined %}{{ post.doc_delivery_recipient_name_alt2 }}{% endif %}" class="form-control" placeholder="Delivery recipient name" >
                            </div>
                            {#<div class="col-lg-6">
                                <label>Company</label>
                                <input type="text" name="deliveryCompanyAlt2" value="{% if post.doc_delivery_company_alt2 is defined %}{{ post.doc_delivery_company_alt2 }}{% endif %}" class="form-control"  placeholder="Company" >
                            </div>#}
                            <div class="col-lg-6">
                                <label>Contact Area</label>
                                <input type="text" name="pickupContactAreaAlt2" value="{% if post.doc_pickup_contact_area_alt2 is defined %}{{ post.doc_pickup_contact_area_alt2 }}{% endif %}" class="form-control" placeholder="Contact Area">
                            </div>
                        </div>
                    </div>

                    {#<div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Delivery Address (Street)</label>
                                <input type="text" name="deliveryAddressAlt2" value="{% if post.doc_delivery_address_alt2 is defined %}{{ post.doc_delivery_address_alt2 }}{% endif %}" class="form-control" placeholder="Pickup address" >
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Suburb/City</label>
                                <input type="text" name="deliveryCityAlt2" value="{% if post.doc_delivery_city_alt2 is defined %}{{ post.doc_delivery_city_alt2 }}{% endif %}" class="form-control"  placeholder="Suburb/city">
                            </div>
                            <div class="col-lg-6">
                                <label>Postcode</label>
                                <input type="text" name="deliveryPostcodeAlt2" value="{% if post.doc_delivery_postcode_alt2 is defined %}{{ post.doc_delivery_postcode_alt2 }}{% endif %}" class="form-control" placeholder="Postcode">
                            </div>
                        </div>
                    </div>#}

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Telephone and Mobile</label>
                                <input type="text" name="deliveryContactNoAlt2" value="{% if post.doc_delivery_contact_no_alt2 is defined %}{{ post.doc_delivery_contact_no_alt2 }}{% endif %}" class="form-control"  placeholder="########">
                            </div>


                        </div>
                    </div>
                </div>
                
                
                <h4>Package Details</h4>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Total Pieces for Pickup</label>
                            <input type="text" name="packageTotalPieces" value="{% if post.doc_package_total_pieces is defined %}{{ post.doc_package_total_pieces }}{% endif %}" class="form-control"  placeholder="0">
                        </div>
                        <div class="col-lg-6">
                            <label>Pickup Date</label>
                            <input type="text" name="packagePickupDate" value="{% if post.doc_package_pickup_date is defined %}{{ post.doc_package_pickup_date|date("d-m-Y") }}{% endif %}" class="form-control date-picker" placeholder="DD-MM-YYYY">
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>My Package will be ready by</label>
                            <div class="row">
                                <div class="col-lg-4">
                                    <select name="packageReadyHr" class="form-control required" required>
                                        <option value="">Hr</option>
                                        {% for i in 1..12 %}
                                            <option value="{{ "%02d"|format(i) }}" {% if post.doc_package_ready_hr is defined and post.doc_package_ready_hr == "%02d"|format(i) %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    
                                <div class="col-lg-4">
                                    <select name="packageReadyMin" class="form-control required" required>
                                        <option value="">Mins</option>
                                        <option value="00" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "00" %}selected{% endif %}>00</option>
                                        <option value="10" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "10" %}selected{% endif %}>10</option>
                                        <option value="20" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "20" %}selected{% endif %}>20</option>
                                        <option value="30" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "30" %}selected{% endif %}>30</option>
                                        <option value="40" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "40" %}selected{% endif %}>40</option>
                                        <option value="50" {% if post.doc_package_ready_min is defined and post.doc_package_ready_min == "50" %}selected{% endif %}>50</option>
                                    </select>
                                </div>
                                
                                <div class="col-lg-4">
                                    <select name="packageReadyAmPm" class="form-control required" required>
                                        <option value="AM" {% if post.doc_package_ready_ampm is defined and post.doc_package_ready_ampm == "AM" %}selected{% endif %}>AM</option>
                                        <option value="PM" {% if post.doc_package_ready_ampm is defined and post.doc_package_ready_ampm == "PM" %}selected{% endif %}>PM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-lg-6">
                            <label>Office Closes at</label>
                            <div class="row">
                                <div class="col-lg-4">
                                    <select name="packageOfficeCloseHr" class="form-control required" required>
                                        <option value="">Hr</option>
                                        {% for i in 1..12 %}
                                            <option value="{{ "%02d"|format(i) }}" {% if post.doc_package_office_close_hr is defined and post.doc_package_office_close_hr == "%02d"|format(i) %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    
                                <div class="col-lg-4">
                                    <select name="packageOfficeCloseMin" class="form-control required" required>
                                        <option value="">Mins</option>
                                        <option value="00" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "00" %}selected{% endif %}>00</option>
                                        <option value="10" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "10" %}selected{% endif %}>10</option>
                                        <option value="20" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "20" %}selected{% endif %}>20</option>
                                        <option value="30" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "30" %}selected{% endif %}>30</option>
                                        <option value="40" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "40" %}selected{% endif %}>40</option>
                                        <option value="50" {% if post.doc_package_office_close_min is defined and post.doc_package_office_close_min == "50" %}selected{% endif %}>50</option>
                                    </select>
                                </div>
                                    
                                <div class="col-lg-4">
                                    <select name="packageOfficeCloseAmPm" class="form-control required" required>
                                        <option value="AM" {% if post.doc_package_office_close_ampm is defined and post.doc_package_office_close_ampm == "AM" %}selected{% endif %}>AM</option>
                                        <option value="PM" {% if post.doc_package_office_close_ampm is defined and post.doc_package_office_close_ampm == "PM" %}selected{% endif %}>PM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <!-- Payment options -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Payment Details</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Type of Document Delivery</label>
                            <select name="paymentDocType" id="paymentDocType" class="form-control required {% if post.blank_inputs is defined and 'paymentDocType' in post.blank_inputs %}ie-required{% endif %}" required>
                                <option value="" tag="0"> Select type </option>
                                {% for type in doc_types %}
                                    {% set type_cost = type.cost + (type.cost * (special_price/100)) %}
                                    <option value="{{ type.id }}" tag="{{ type_cost }}" {% if post.doc_delivery_type is defined and post.doc_delivery_type == type.id %}selected{% endif %}>{{ type.type ~ ' ($' ~ type_cost ~ ')'}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <hr/>
                
                <div class="form-group">    
                    <label>Security Tag Number</label>
                    <input type="text" name="securityNumber" class="form-control required {% if post.blank_inputs is defined and 'securityNumber' in post.blank_inputs %}ie-required{% endif %}" placeholder="#######" required value="{% if post.doc_delivery_security_no is defined %}{{ post.doc_delivery_security_no }}{% endif %}">
                </div>
                
                <hr/>
                <div class="text-right">
                    <button type="submit" id="saveProgress" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> Save Progress</button>
                    <button type="submit" id="nextPage" class="btn btn-primary"><span>&raquo;</span> Next</button>
                </div>
            </div>
        </div>
        </div>
    </form>
    </div>
    
</div>



{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        
        // Global declarations
        var udetails_url = "{{ path("cls_client_get_details_by_id") }}";
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var cost = 0.00;
        var ccp_fee = {{ credit_card_processing_fee }};
        var special_price = {% if user.can_get_special_price == 1 %}{{ user.special_price }}{% else %}0{% endif %};
    </script>
    
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}