{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-6">
        <h3>Manage - Visas</h3>
    </div>
    <div class="col-lg-6 text-right">
        
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <ul class="country-list">
            {% for country in countries %}
                <li><a href="{{ path("acme_cls_admin_manage_visas_management")}}?country={{ country.id }}">{{ country.countryName }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>





{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var list_url = "{{ path("acme_cls_admin_clients_list") }}";
var open_url = "{{ path("acme_cls_admin_clients_edit") }}";
var delete_url = "{{ path("acme_cls_admin_client_delete") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}