<html>
<body>
    {% if manual_order is defined %}
        <p>Please see a summary of the submission below:</p>
    {% else %}
        <p>Hi {{ app.session.get("fname") }}, </p>
        <p>Your recent order has been lodged and is now being processed by CLS. Most standard orders are processed by our office within 24hours during the working week (Monday to Friday). You will receive another email notifying you of the status of your request as it gets processed.</p>
        <p>Please see a summary of your submission below:</p>
    {% endif %}
  
  
  
  
  <p>Order Number: {{ data.order_no }}<br/>
      Submitted Date: {{ data.date_submitted|date("d-m-Y") }}
  </p>
  <table border="0">
  <tr>
  <td style="vertical-align: top; width: 33%">
    <div>
        <div style="color:#333;background-color:#f5f5f5;border:1px solid #ddd;padding: 10px 15px;border-bottom: 1px solid transparent;border-top-right-radius: 3px;border-top-left-radius: 3px;">
            <h4>Travel Details</h4>
        </div>
        <div style="padding: 15px; border: 1px solid #ddd;">
            {% for travel in data.travels %}
              {% if loop.index > 1%}<hr />{% endif %}
              <p><strong>Destination</strong><br/>{{ travel.destination }}</p>
              <p><strong>Departure Date from Australia</strong><br/>{{ travel.departure_date|date("d-m-Y") }}</p>
              <p><strong>Number of Entries </strong><br/>{% if travel.entry_option == 1 %}Single Entry{% elseif travel.entry_option == 2 %}Double Entry{% elseif travel.entry_option == 3 %}Multiple Entry{% else %}Undefined{% endif %}</p>
              <p><strong>First Entry Date to Country</strong><br/>{{ travel.entry_date_country|date("d-m-Y") }}</p>
              <p><strong>Last Departure Date from Country</strong><br/>{{ travel.departure_date_country|date("d-m-Y") }}</p>
              <p><strong>Purpose of Travel</strong><br/>{{ travel.travel_purpose }}</p>
            {% endfor %}
        </div>
    </div>
  </td>
  
  <td style="vertical-align: top; width: 33%">
      <div>
        <div style="color:#333;background-color:#f5f5f5;border:1px solid #ddd;padding: 10px 15px;border-bottom: 1px solid transparent;border-top-right-radius: 3px;border-top-left-radius: 3px;">
            <h4>Traveller Details</h4>
        </div>
        <div style="padding: 15px; border: 1px solid #ddd;">

            {% for traveller in data.travellers %}
                <p><strong>Title</strong><br/>{{ traveller.title_name }}</p>
                <p><strong>First name</strong><br/>{{ traveller.fname }}</p>
                <p><strong>Middle name</strong><br/>{{ traveller.mname }}</p>
                <p><strong>Last name</strong><br/>{{ traveller.lname }}</p>
                <p><strong>Email</strong><br/>{{ traveller.email }}</p>
                <p><strong>Organisation</strong><br/>{{ traveller.organisation }}</p>
                <p><strong>Occupation</strong><br/>{{ traveller.occupation }}</p>
                <p><strong>Phone</strong><br/>{{ traveller.phone }}</p>
                <p><strong>Date of Birth</strong><br/>{{ traveller.birth_date|date("d-m-Y") }}</p>
                <p><strong>Passport type</strong><br/>{{ traveller.passport_type_name }}</p>
                <p><strong>Nationality</strong><br/>{{ traveller.nationality_name }}</p>
                <p><strong>Passport Number</strong><br/>{{ traveller.passport_number }}</p>
            {% endfor %}
        </div> 
    </div>
  </td>
  <td style="vertical-align: top; width: 33%">
    <div>
        <div style="color:#333;background-color:#f5f5f5;border:1px solid #ddd;padding: 10px 15px;border-bottom: 1px solid transparent;border-top-right-radius: 3px;border-top-left-radius: 3px;">
            <h4>Primary Department Contact</h4>
        </div>
        <div style="padding: 15px; border: 1px solid #ddd;">
            <p><strong>Department</strong><br/>{{ data.department_name }}</p>
            <p><strong>First Name</strong><br/>{{ data.pri_dept_contact_fname }}</p>
            <p><strong>Last Name</strong><br/>{{ data.pri_dept_contact_lname }}</p>
            <p><strong>Email</strong><br/>{{ data.pri_dept_contact_email }}</p>
            <p><strong>Phone</strong><br/>{{ data.pri_dept_contact_phone }}</p>
        </div> 
    </div>
  
    <div style="margin-top: 5px;">
        <div style="color:#333;background-color:#f5f5f5;border:1px solid #ddd;padding: 10px 15px;border-bottom: 1px solid transparent;border-top-right-radius: 3px;border-top-left-radius: 3px;">
            <h4>Payment Details</h4>
        </div>
        <div style="padding: 15px; border: 1px solid #ddd;">
            <p><strong>Name</strong><br/>{{ data.payer_fname ~ " " ~ data.payer_lname }}</p>
            <p><strong>Email</strong><br/>{{ data.payer_email }}</p>
            <p><strong>Contact Phone Number</strong><br/>{{ data.payer_phone }}</p>
            <p><strong>Mobile</strong><br/>{{ data.payer_mobile }}</p>
            <p><strong>Address</strong><br/>{{ data.payer_address }}</p>
        </div> 
    </div>
  
    <div style="margin-top: 5px;">
        <div style="color:#333;background-color:#f5f5f5;border:1px solid #ddd;padding: 10px 15px;border-bottom: 1px solid transparent;border-top-right-radius: 3px;border-top-left-radius: 3px;">
            <h4>Billing Details</h4>
        </div>
        <div style="padding: 15px; border: 1px solid #ddd;">
            <p><strong>Address</strong><br/>{{ data.mba_address }}</p>
        </div> 
    </div>
  </td>
  </tr>
  </table>
  
  
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>