{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Resubmit TPN<br/><span class="small-note">Please check over the draft carefully to ensure your details are correct. <br/>
                Please note that the Note Number and Date of issue will be auto-filled when your TPN is approved.</span></h3>
    </div>
</div>
<hr />


<form id="frmTpn" action="{{ path("cls_client_gov_resubmit_tpn") }}" method="post">
    <input type="hidden" name="hidSubmit"/>
    <input type="hidden" name="submitType" id="submitType"/>
    <input type="hidden" name="tpnNo" value="{{ data.tpn_no }}"/>
    <input type="hidden" name="tpnRejectNote" id="tpnRejectNote">
    <div class="row">
        <div class="col-lg-12">
            <textarea name="tpnSrc" id="tpnSrc">{{ data.tpn_src }}</textarea>
        </div>
    </div>
    <div class="map20"></div>
    
    <div class="row">
        <div class="col-lg-12 text-right">
            
            <button type="submit" id="btnSubmit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
        </div>
    </div>
</form>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <h4>Notes</h4>
        <ul id="tpnNotes">
            {% for note in tpn_notes %}
                <li><span class="note-text">{{ note.note }}</span><br/><span class="noted-by"><i>- by {{ note.note_by["fname"] ~ " (" ~ note.user_type ~")"}} {{ note.date_added }}</i></span></li>
            {% endfor %}
        </ul>
    </div>
</div>

<!--
<div class="row">
    <div class="col-lg-12 text-right">
        <textarea id="note" class="form-control"></textarea>
        <div class="map20"></div>
        <a class="btn btn-primary" id="addNote">Add Note</a>
    </div>
</div>
-->
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('api') }}/nicEdit/nicEdit.js"></script>
<script type="text/javascript">
   var plugins_path = "{{ asset('api') }}";
   var add_note_url = "{{ path("acme_cls_tpn_add_note") }}";
   var tpn_no = "{{ data.tpn_no }}";
</script>
<script src="{{ asset("js") }}/pages/government-user-script.js"></script>

{% endblock %}