{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>New Staff</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_staff_new") }}" method="post">
<input type="hidden" name="hidSubmit"/>
<div class="row">
    <div class="col-lg-4">
        <h4>Details</h4>
        <div class="form-group">
            <label>Firstname </label> 
            <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control"  placeholder="Firstname" required>
        </div>
            
        <div class="form-group">
            <label>Lastname </label> 
            <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control"  placeholder="Lastname" required>
        </div>
            
        <div class="form-group">
            <label>Email address </label> 
            <span class="glyphicon glyphicon-question-sign tips" data-toggle="tooltip" data-placement="right" title="This will be his/her username to login"></span>
            <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" id="regoFormEmail" placeholder="Email" required>
        </div>
            
        <div class="form-group">
            <label>Password </label> 
            <input type="password" name="password" value="{% if post.password is defined %}{{ post.password }}{% endif %}" class="form-control"  placeholder="●●●●●●●●●" required>
        </div>
            
        <div class="form-group">
            <label>Confirm Password </label> 
            <input type="password" name="passwordConfirm"  class="form-control"  placeholder="●●●●●●●●●" required>
        </div>
        <div class="form-group">
                <input type="checkbox" name="s_driver" value="1" {% if post.s_driver is defined and  post.s_driver ==1 %}checked{% endif %}  /> Is driver
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
{% endblock %}