{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-6">
        <h3>Public Visa Information <br/>
            <span class="small-note">Country: <b>{{ data.country_name }}</b></span>
        </h3>
    </div>
    <div class="col-lg-6 text-right">
        
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-8">
        {% for info in data.visa_types %}
            <h4>{{ info.type }}</h4>
            <div class="panel panel-default">
                <div class="panel panel-body">
                    {{ info.visa_information|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-lg-4 text-right">
        <a href="{{ path("cls_client_public_visa_information") }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back to main country list</a>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="visaInformation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var open_url = "{{ path("cls_client_gov_visa_information_get_info") }}";
var asset = "{{ asset("img") }}";
</script>
    
<script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}