<html>
<body>
    
    {% if manual_order is defined %}
        <p>Please see the summary of the order below:</p>
    {% else %}
        <p>Hi {{ user.fname }},</p>
        <p>Thank you for your recent order with Capital Link Services. Please see the summary of your order below:</p>
    {% endif %}
    <h4>CLS Order No. {{ order_no }}</h4>
    <h4>Contact Information</h4>
    
    <b>Company Name</b><br/>
    {{ post.dl_company }}<br/>

    <b>Address</b><br/>
    {{ post.dl_address }}<br/>
    
    <b>City / Suburb</b><br/>
    {{ post.dl_city }}<br/>
    
    <b>State</b><br/>
    {{ post.dl_state }}<br/>
    
    <b>Postcode</b><br/>
    {{ post.dl_postcode }}<br/>

    <b>Contact Name</b><br/>
    {{ post.dl_contact_name }}<br/>

    <b>Mobile</b><br/>
    {{ post.dl_mobile }}<br/>

    <b>Email</b><br/>
    {{ post.dl_email }}<br/>
                
    <b>Latest date you need your documents returned in time for your Shipment</b><br/>
    {{ post.dl_date_doc_returned|date('d-m-Y') }}<br/>

    <b>From embassy of</b><br/>
    {{ post.dl_embassy_name }}<br/>


    <hr/>

    <h4>Documents Legalisation Checklist</h4>

    <div class="dls-group">
        <table class="table">
            <thead>
                <tr>
                    <th>Type of documents enclosed</th>
                    <th>Number</th>
                    <th>Notes</th>
                </tr>
            </thead>
        {% for type in post.dl_checklist %}

            <tbody>
                <tr>
                    <td>{{ type.type }}</td>
                    <td>{{ type.number }}</td>
                    <td>{{ type.note }}</td>
                </tr>
            </tbody>
        {% endfor %}
        </table>

    </div>


    <hr/>

    <b>Reference No.</b><br/>
    {{ post.dl_ref_no }}<br/>

    <b>Commercial Invoice No.</b><br/>
    {{ post.dl_com_invoice_no }}<br/>
    
    <hr/>
    
    <h4>Payments</h4>
    {{ post.dl_payment_type }}<br/>
    
    <hr/>
    <h4>Return Documents Courier</h4>

    {{ post.selected_visa_courier }}<br/>

    <hr/>
    
    <h4>Return Address</h4>
    <b>Company (If applicable)</b><br/>
    {{ post.visa_mdd_company }}<br/>

    <b>Document(s) Return Address</b><br/>
    {{ post.visa_mdd_address }}<br/>

    <b>City / Suburb</b><br/>
    {{ post.visa_mdd_city }}<br/>

    <b>State</b><br/>
    {{ post.visa_mdd_state }}<br/>

    <b>Postcode</b><br/>
    {{ post.visa_mdd_postcode }}<br/>

    <b>First name</b><br/>
    {{ post.visa_mdd_fname }}<br/>

    <b>Last name</b><br/>
    {{ post.visa_mdd_lname }}<br/>

    <b>Contact number</b><br/>
    {{ post.visa_mdd_contact }}<br/>

    <b>Additional comments</b><br/>
    {{ post.visa_additional_comment }}<br/>
    
    <p>Please download the attached Order Form, complete it and send it to our office along with your other documents.</p>
    
    
    <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
</body>
</html>