/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


.small-note {
    font-size: 13px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */




/* CONTENT
-------------------------------------------------- */

#homepage ul.interactiveList {
    padding: 0px;
}

#homepage ul.interactiveList li {
    list-style: none;
    text-decoration: none;
}

.map {
    width: 100%;
    height: 100px;
}

.map50 {
    width: 100%;
    height: 50px;
}

label.service {
    font-weight: normal;
}

.control-catpcha{overflow:hidden; padding: 0px!important; height: auto}

ul.nav li.active {
    background-color: #eeeeee;
}


.bg-primary {
    background-color: #428bca;
}

.bg-success {
    background-color: #dff0d8;
}

.bg-info {
    background-color: #d9edf7;
}

.bg-warning {
    background-color: #fcf8e;
}

.bg-danger {
    background-color: #f2dede;
}


.alert {
    position: absolute;
    top: 70px;
    left: 40%;
    min-width: 320px;
    max-width: 320px;
    z-index: 1;
}

.welcome-name {
    text-decoration: underline;
    color: #000000;
}
ul.country-list {
    padding: 0px;
}
ul.country-list li {
    list-style: none;
}
ul.country-list li {
    float: left;
    min-width: 260px;
}
div.spacing {
    height: 20px;
    width: 100%;
}

div.visa-type-requirements ul {
    padding: 0px;
}

div.visa-type-requirements ul li {
    list-style: none;
}

div.visa-type-requirements ul li label {
    font-weight: normal!important;
}


.carousel-inner > .item > img {
    width: auto!important;
    min-width: auto!important;
    max-width: auto!important;
    height: 100%!important;
}

.btn {
    text-decoration: none;
}

/* FOOTER
-------------------------------------------------- */


/* Featurettes
------------------------- */



