{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>New Discount</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_manage_discount_new") }}" method="post">
<input type="hidden" name="hidSubmit"/>
<div class="row">
    <div class="col-lg-4">
        <h4>Details</h4>
        <div class="form-group">
            <label>Discount Code </label> 
            <input type="text" name="code" value="{% if post.code is defined %}{{ post.code }}{% endif %}" class="form-control"  placeholder="Code" required>
        </div>
            
        <div class="form-group">
            <label>Discount Name </label> 
            <input type="text" name="name" value="{% if post.name is defined %}{{ post.name }}{% endif %}" class="form-control"  placeholder="Name" required>
        </div>
        
        <div class="form-group">
            <label>Discount Rate(%) </label> 
            <input type="text" name="rate" value="{% if post.rate is defined %}{{ post.rate }}{% endif %}" class="form-control"  placeholder="Rate" required>
        </div>
            
        <a class="btn btn-default" href="{{ path("acme_cls_admin_manage_departments") }}">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
{% endblock %}