{% extends "AcmeCLShomeBundle::layout.html.twig" %}

{% block body %}
<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for image in carousel_images %}
        <li data-target="#myCarousel" data-slide-to="{{ loop.index - 1 }}" class="{% if loop.index == 1 %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
      
      <!--<img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">-->
      {% for image in carousel_images %}
        <div class="item {% if loop.index == 1 %}active{% endif %}">
          <img src="{{ asset('img') }}/carousel_images/{{ image.image }}">
          <div class="container">
            <div class="carousel-caption">
              {{ image.front_html|raw }}
            </div>
          </div>
        </div>
      {% endfor %}
    
      
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
<div class="container">
    {% set content_html = content.html %}
        
    <!-- [visa_application_select_country_form] -->
    {% set select_country_form_countries = '' %}
    {% for country in countries %}
        {% set select_country_form_countries = select_country_form_countries ~ '<option value="'~country.id~'">'~country.countryName ~'</option>' %} 
    {% endfor %}
    {% set select_country_form = '
    <div class="col-lg-12">
        <h4>APPLY FOR A VISA ONLINE</h4>
        <p><a href="'~ path("acme_cls_visa_search") ~'">Click here to see all of our destinations</a> or select a country from the list below.</p>
        <form action="' ~ path("acme_cls_visa_search_visa_info") ~ '" method="get">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <select name="id" class="form-control" required>
                        <option value="">Select country</option>
                        '~ select_country_form_countries ~'
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Apply Now</button>
                </div>
            </div>
        </div>
        </form>
    </div>
    ' %}
    
    
    <!-- [order_visa_online_button] -->
    {% if app.session.get("user_type") == "government" %}
        {% set order_visa_online_url = path("cls_client_gov_application_visa") %}
    {% elseif app.session.get("user_type") == "public" or app.session.get("user_type") == "corporate" %}
        {% set order_visa_online_url = path("cls_client_public_application_visa") %}
    {% else %}
        {% set order_visa_online_url = path("acme_cls_visa_search") %}
    {% endif %}
        
    {% set order_visa_online_button = '<a href="'~ order_visa_online_url ~'" class="btn btn-primary">Order your visa online now</a>' %}
    
    
    
    <!-- [police_clearance_list] -->
    {% set police_clearance_list = '<ul>' %}
    {% for clearance in clearances %}
        {% set police_clearance_list = police_clearance_list ~ '<li><a href="'~path("acme_cls_police_clearance") ~'?id='~ clearance.id ~'">'~ clearance.name ~'</a></li>' %}
    {% endfor %}
    {% set police_clearance_list = police_clearance_list ~ '</ul>' %}
    
    
    <!-- [document_delivery_apply_now_button] -->
    {% set document_delivery_apply_now_button = '<a href="'~ path("acme_cls_document_delivery_redirect") ~'" class="btn btn-primary">APPLY NOW</a>' %}
    
    <!-- [register_for_our_specialised_government_system_button] -->
    {% set register_for_our_specialised_government_system_button = '<a class="btn btn-primary" href="'~ path("cls_client_gov_registration") ~'">Register for our specialised government system</a>' %}
    
    
    <!-- [agent_registration_button] -->
    {% set agent_registration_button = '<a href="'~ path("cls_client_public_registration") ~'" class="btn btn-primary">REGISTER NOW</a>' %}
    
    <!-- [corporate_registration_button] -->
    {% set corporate_registration_button = '<a href="'~ path("cls_client_corporate_registration") ~'" class="btn btn-primary">REGISTER NOW</a>' %}
    
    <!-- replace tags -->
    {% set content_html = content_html|replace({"[visa_application_select_country_form]": select_country_form}) %}
    {% set content_html = content_html|replace({"[order_visa_online_button]": order_visa_online_button}) %}
    {% set content_html = content_html|replace({"[police_clearance_list]": police_clearance_list}) %}
    {% set content_html = content_html|replace({"[document_delivery_apply_now_button]": document_delivery_apply_now_button}) %}
    {% set content_html = content_html|replace({"[register_for_our_specialised_government_system_button]": register_for_our_specialised_government_system_button}) %}
    {% set content_html = content_html|replace({"[agent_registration_button]": agent_registration_button}) %}
    {% set content_html = content_html|replace({"[corporate_registration_button]": corporate_registration_button}) %}
    
    
    
    
    
    {{ content_html|raw }}
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}