{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}
{% if errors is defined %}
<div class="alert alert-block alert-danger fade in">
    <span class="close" data-dismiss="alert">&times;</span>
    <!--<span class="alert-title">The form has the following errors:</span>-->
    <ul>
    {% for error in errors %}
        {{ error.message }} <br/>
    {% endfor %}
    </ul>
</div>
{%endif%}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        
        <h3>Payment<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        
        
        <div class="application-steps">
            <span>Step 1/1</span>
            <span class="active">Payment</span>
        </div>
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>




<div class="row">
    <form action="{{ path("acem_cls_admin_pay_now") }}" method="post">
    <input type="hidden" name="hidSubmit">
    <input type="hidden" name="orderNumber" value="{{ order_no }}">
    {% if app.session.get('user_type') == 'admin-user' %}
        <input type="hidden" name="client_id" value="{{ user_details.id }}">
    {% endif %}
    <!-- Payment details -->
    <div class="col-lg-8">
        
        <div class="row">

    <div class="col-lg-12">
        <h4>Invoice Details</h4>
{% if data.order_type ==  1%}
        <table class="table table-hover">
            
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>GST</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            
            <tbody>
                {% set items_total_cost = 0 %}
                {% set items_total_gst = 0 %}
                {% for destination in data.travels %}
                    <tr>
                        <td>{{ destination.selected_visa_type_name }}</td>
                        {% set svtp = destination.selected_visa_type_price %}
                        {% if user.can_get_special_price == 1 %}
                            {% set svtp = svtp + (svtp * (user.special_price/100))%}
                        {% endif %}
                        <td>${{ svtp|number_format(2) }}</td>
                        <td>{{ data.travellers|length }}</td>
                        <td>10%</td>
                        
                        {% set svtp = svtp * data.travellers|length %}
                        {% set item_total = svtp + (svtp * 0.10) %}
                        {% set items_total_cost = items_total_cost + svtp %}
                        {% set items_total_gst = items_total_gst + (svtp * 0.10) %}
                        <td class="text-right">${{ item_total|number_format(2) }}</td>
                    </tr>
                    
                    {% for svt in destination.selected_visa_type_requirements_array %}
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ svt.requirement }}</td>
                            {% set svtrac = svt.cost %}
                            {# if user.can_get_special_price == 1 %}
                                {% set svtrac = svtrac + (svtrac * (user.special_price/100))%}
                            {% endif #}
                            <td>${{ svtrac|number_format(2) }}</td>
                            <td>{{ data.travellers|length }}</td>
                            <td>0%</td>
                            
                            {% set svtrac = svtrac * data.travellers|length %}
                            {# set item_total = svtrac + (svtrac * 0.10) GST#}
                            {% set item_total = svtrac %}
                            {% set items_total_cost = items_total_cost + svtrac %}
                            {# set items_total_gst = items_total_gst + (svtrac * 0.10) GST #}
                            <td class="text-right">${{ item_total|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                
                <tr>
                    <td>{{ data.selected_visa_courier }}</td>
                    {% set vcp = data.visa_courier_price %}
                    {# if user.can_get_special_price == 1 %}
                        {% set vcp = vcp + (vcp * (user.special_price/100))%}
                    {% endif #}
                    
                    <td>${{ vcp|number_format(2) }}</td>        
                    <td>1</td>
                    <td>10%</td>
                    {% set item_total = vcp + (vcp * 0.10)%}
                    {% set items_total_cost = items_total_cost + vcp %}
                    {% set items_total_gst = items_total_gst + (vcp * 0.10) %}
                    <td class="text-right">${{ item_total|number_format(2) }}</td>
                </tr>
            </tbody>
            
            <tfoot>
                {% set discount = 0 %}
                {% if data.discount_rate != '' and data.discount_rate > 0 %}
                    {% set discount = (items_total_cost * (data.discount_rate/100)) + (items_total_gst * (data.discount_rate/100))%}
                    {% set items_total_cost = items_total_cost - (items_total_cost * (data.discount_rate/100))%}
                    {% set items_total_gst = items_total_gst - (items_total_gst * (data.discount_rate/100))%}
                {% endif %}
                {% if discount > 0 %}
                <tr>
                    <td>
                        Discount
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    
                    <td class="text-right">- $<span id="discount">{{ discount|number_format(2) }}</span></td>
                </tr>
                {% endif %}
                
                <tr>
                    <td>Subtotal</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td class="text-right">${{ items_total_cost|number_format(2) }}</td>
                </tr>
                
                <tr>
                    <td>GST</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td class="text-right">${{ items_total_gst|number_format(2) }}</td>
                </tr>
                
                <tr class="grand-total">
                    <td>Grand Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% set grand_total = items_total_cost + items_total_gst %}
                    <td class="text-right"><strong>${{ grand_total|number_format(2) }} AUD</strong></td>
                </tr>
            </tfoot>
        </table>
        
        
        
        
{% elseif data.order_type ==  2%}  
        
        
        <table class="table table-hover">
            
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>GST</th>
                    <th>Total</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>Third Person Note (TPN)</td>
                    
                    {# if data.can_get_special_price == 1%}
                        {% set tpn_price = tpn_settings.tpn + (tpn_settings.tpn * (data.special_price/100)) %}
                    {% else #}
                        {% set tpn_price = tpn_settings.tpn %}
                    {# endif #}
                    <td>${{ tpn_price|number_format(2) }}</td>
                    <td>{{ data.travels|length }}</td>
                    <td>10%</td>
                    {% set total_tpn =  tpn_price *  data.travels|length %}
                    {% set tpn_gst = (total_tpn * 0.10) %}
                    {% set total_tpn_wgst = total_tpn + tpn_gst %}
                    <td>${{ total_tpn_wgst|number_format(2) }}</td>
                </tr>
                
                <tr>
                    <td>Third Person Note (TPN) Additional Applicant</td>
                    {# if data.can_get_special_price == 1%}
                        {% set additional_tpn_price = tpn_settings.tpnAdditional + (tpn_settings.tpnAdditional * (data.special_price/100)) %}
                    {% else #}
                        {% set additional_tpn_price = tpn_settings.tpnAdditional %}
                    {# endif #}
                    <td>${{ additional_tpn_price|number_format(2) }}</td>
                    <td>{{ data.travellers|length - 1}}</td>
                    <td>10%</td>
                    {% set total_tpn_additional =  additional_tpn_price *  (data.travellers|length - 1) %}
                    {% set tpn_additional_gst = (total_tpn_additional * 0.10) %}
                    {% set total_tpn_additional_wgst = total_tpn_additional + tpn_additional_gst %}
                    <td>${{ total_tpn_additional_wgst|number_format(2) }}</td>
                </tr>
                
                
            </tbody>
            
            {% set subtotal = total_tpn + total_tpn_additional %}
            {% set subtotal_discount = subtotal * (data.discount_rate / 100) %}
            {% set subtotal = subtotal - subtotal_discount %}
            
            {% set gst = tpn_gst + tpn_additional_gst %}
            {% set gst_discount = gst * (data.discount_rate / 100) %}
            {% set gst = gst - gst_discount %}
            
            {% set discount = subtotal_discount + gst_discount %}
            <tfoot>
                {% if discount > 0 %}
                <tr>
                    <td>
                        Discount
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td>- $<span id="discount">{{ discount|number_format(2) }}</span></td>
                </tr>
                {% endif %}
                <tr>
                    <td>Subtotal</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td>${{ subtotal|number_format(2) }}</td>
                </tr>
                
                <tr>
                    <td>GST</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td>${{ gst|number_format(2) }}</td>
                </tr>
                
                <tr class="grand-total">
                    <td>Grand Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>${{ (subtotal + gst)|number_format(2) }} AUD</strong></td>
                </tr>
            </tfoot>
        </table>
        
        
{% elseif data.order_type ==  3%}  
        
        <table class="table table-hover">
            
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>GST</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            
            <tbody>
                {% set items_total_cost = 0 %}
                {% set items_total_gst = 0 %}
                {% for destination in data.travels %}
                    <tr>
                        <td>{{ destination.selected_visa_type_name }}</td>
                        {% set svtp = destination.selected_visa_type_price %}
                        {% if data.can_get_special_price == 1 %}
                            {% set svtp = svtp + (svtp * (data.special_price/100))%}
                        {% endif %}
                        <td>${{ svtp|number_format(2) }}</td>
                        <td>{{ data.travellers|length }}</td>
                        <td>10%</td>
                        
                        {% set svtp = svtp * data.travellers|length %}
                        {% set item_total = svtp + (svtp * 0.10) %}
                        {% set items_total_cost = items_total_cost + svtp %}
                        {% set items_total_gst = items_total_gst + (svtp * 0.10) %}
                        <td class="text-right">${{ item_total|number_format(2) }}</td>
                    </tr>
                    
                    {% for svt in destination.selected_visa_type_requirements_array %}
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ svt.requirement }}</td>
                            {% set svtrac = svt.cost %}
                            {# if data.can_get_special_price == 1 %}
                                {% set svtrac = svtrac + (svtrac * (data.special_price/100))%}
                            {% endif #}
                            <td>${{ svtrac|number_format(2) }}</td>
                            <td>{{ data.travellers|length }}</td>
                            <td>0%</td>
                            
                            {% set svtrac = svtrac * data.travellers|length %}
                            {# set item_total = svtrac + (svtrac * 0.10) GST #}
                            {% set item_total = svtrac %}
                            {% set items_total_cost = items_total_cost + svtrac %}
                            {# set items_total_gst = items_total_gst + (svtrac * 0.10) GST #}
                            <td class="text-right">${{ item_total|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                
                
                
                
                
                
                
                
                
                
                
                <tr>
                    <td>Third Person Note (TPN)</td>
                    
                    {# if data.can_get_special_price == 1%}
                        {% set tpn_price = tpn_settings.tpn + (tpn_settings.tpn * (data.special_price/100)) %}
                    {% else #}
                        {% set tpn_price = tpn_settings.tpn %}
                    {# endif #}
                    <td>${{ tpn_price|number_format(2) }}</td>
                    <td>{{ data.travels|length }}</td>
                    <td>10%</td>
                    {% set total_tpn =  tpn_price *  data.travels|length %}
                    {% set items_total_cost = items_total_cost + total_tpn %}
                    {% set tpn_gst = (total_tpn * 0.10) %}
                    {% set items_total_gst = items_total_gst + tpn_gst %}
                    {% set total_tpn_wgst = total_tpn + tpn_gst %}
                    <td class="text-right">${{ total_tpn_wgst|number_format(2) }}</td>
                </tr>
                
                <tr>
                    <td>Third Person Note (TPN) Additional Applicant</td>
                    {# if data.can_get_special_price == 1%}
                        {% set additional_tpn_price = tpn_settings.tpnAdditional + (tpn_settings.tpnAdditional * (data.special_price/100)) %}
                    {% else #}
                        {% set additional_tpn_price = tpn_settings.tpnAdditional %}
                    {# endif #}
                    <td>${{ additional_tpn_price|number_format(2) }}</td>
                    <td>{{ data.travellers|length - 1}}</td>
                    <td>10%</td>
                    {% set total_tpn_additional =  additional_tpn_price *  (data.travellers|length - 1) %}
                    {% set items_total_cost = items_total_cost + total_tpn_additional %}
                    {% set tpn_additional_gst = (total_tpn_additional * 0.10) %}
                    {% set items_total_gst = items_total_gst + tpn_additional_gst %}
                    {% set total_tpn_additional_wgst = total_tpn_additional + tpn_additional_gst %}
                    <td class="text-right">${{ total_tpn_additional_wgst|number_format(2) }}</td>
                </tr>
                
                
                
                <tr>
                    <td>{{ data.selected_visa_courier }}</td>
                    {% set vcp = data.visa_courier_price %}
                    {# if data.can_get_special_price == 1 %}
                        {% set vcp = vcp + (vcp * (data.special_price/100))%}
                    {% endif #}
                    <td>${{ vcp|number_format(2) }}</td>        
                    <td>1</td>
                    <td>10%</td>
                    {% set item_total = vcp + (vcp * 0.10)%}
                    {% set items_total_cost = items_total_cost + vcp %}
                    {% set items_total_gst = items_total_gst + (vcp * 0.10) %}
                    <td class="text-right">${{ item_total|number_format(2) }}</td>
                </tr>
                
            </tbody>
            
            <tfoot>
                {% set discount = 0 %}
                {% if data.discount_rate != '' and data.discount_rate > 0 %}
                    {% set discount = (items_total_cost * (data.discount_rate/100)) + (items_total_gst * (data.discount_rate/100))%}
                    {% set items_total_cost = items_total_cost - (items_total_cost * (data.discount_rate/100))%}
                    {% set items_total_gst = items_total_gst - (items_total_gst * (data.discount_rate/100))%}
                {% endif %}

                {% if discount > 0 %}
                <tr>
                    <td>
                        Discount
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right">- $<span id="discount">{{ discount|number_format(2) }}</span></td>
                </tr>
                {% endif %}
                <tr>
                    <td>Subtotal</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td class="text-right">${{ items_total_cost|number_format(2) }}</td>
                </tr>
                
                <tr>
                    <td>GST</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td class="text-right">${{ items_total_gst|number_format(2) }}</td>
                </tr>
                
                <tr class="grand-total">
                    <td>Grand Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% set grand_total = items_total_cost + items_total_gst %}
                    <td class="text-right"><strong>${{ grand_total|number_format(2) }} AUD</strong></td>
                </tr>
            </tfoot>
        </table>
        
{% elseif data.order_type ==  5%}  
        
        
        
        
        <table class="table table-hover">
            
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>GST</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            {% set items_total_cost = 0 %}
            {% set items_total_gst = 0 %}
            <tbody>
                <tr>
                    <td>{{ data.police_clearance_name }}</td>
                    {% set pcp = data.police_clearance_price %}
                    {% if data.can_get_special_price == 1 %}
                        {% set pcp = pcp + (pcp * (data.special_price/100))%}
                    {% endif %}
                    <td>${{ pcp|number_format(2) }}</td>
                    <td>1</td>
                    <td>10%</td>
                    {% set item_total = pcp + (pcp * 0.10)%}
                    {% set items_total_cost = items_total_cost + pcp %}
                    {% set items_total_gst = items_total_gst + (pcp * 0.10) %}
                    <td colspan="2" align="right">${{ item_total|number_format(2) }}</td>
                    <!--<td>${{ pcp|number_format(2) }}</td>-->
                </tr>
                
                {% if data.police_clearance_applicants|length > 1 %}
                    {% set add_applicants_count = data.police_clearance_applicants|length -1 %}
                    <tr>
                        <td>{{ data.police_clearance_name_additional }}</td>
                        {% set pcpa = data.police_clearance_additional_price * add_applicants_count %}
                        

                        {% if data.can_get_special_price == 1 %}
                            {% set pcpa = pcpa + (pcpa * (data.special_price/100))%}
                        {% endif %}
                        <td>${{ pcpa|number_format(2) }}</td>

                        <td>{{ add_applicants_count }}</td>
                        <td>10%</td>
                        {% set item_total = pcpa + (pcpa * 0.10)%}
                        {% set items_total_cost = items_total_cost + pcpa %}
                        {% set items_total_gst = items_total_gst + (pcpa * 0.10) %}
                        <td colspan="2" align="right">${{ item_total|number_format(2) }}</td>
                        <!--<td>${{ pcpa|number_format(2) }}</td>-->
                    </tr>
                {% endif %}
            </tbody>
            
            <tfoot>
                {% set discount = 0 %}
                {% if data.discount_rate != '' and data.discount_rate > 0 %}
                    {% set discount = (items_total_cost * (data.discount_rate/100)) + (items_total_gst * (data.discount_rate/100))%}
                    {% set items_total_cost = items_total_cost - (items_total_cost * (data.discount_rate/100))%}
                    {% set items_total_gst = items_total_gst - (items_total_gst * (data.discount_rate/100))%}
                {% endif %}
                    
                {% if discount > 0 %}
                <tr>
                    <td>
                        Discount
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    
                    <td colspan="2" align="right">- $<span id="discount">{{ discount|number_format(2) }}</span></td>
                </tr>
                
                {% endif %}
                
                <tr>
                    <td><b>Sub Total</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right">${{ items_total_cost|number_format(2) }}</td>
                </tr>

                <tr>
                    <td><b>GST</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right">${{ items_total_gst|number_format(2) }}</td>
                </tr>

                {% set grand_total = items_total_cost %}
                {% set grand_total = items_total_cost + items_total_gst %}
                {% if data.payment_option == 1 %}
                    {% set grand_total = grand_total + (grand_total * (data.credit_card_processing_fee/100))%}
                    <tr>
                        <td><b>Credit Card Fee</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2" align="right">${{ (grand_total * (data.credit_card_processing_fee/100))|number_format(2) }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td><b>Grand Total</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right"><b>${{ grand_total|number_format(2) }}</b></td>
                </tr>
            </tfoot>
        </table>
        
{% elseif data.order_type ==  6%} 
        
        
        <table class="table table-hover">
            
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>GST</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            
            <tbody>
                {% set items_total_cost = 0 %}
                {% set items_total_gst = 0 %}
                {% for destination in data.travels %}
                    <tr>
                        <td>{{ destination.selected_visa_type_name }}</td>
                        {% set svtp = destination.selected_visa_type_price %}
                        {% if user.can_get_special_price == 1 %}
                            {% set svtp = svtp + (svtp * (user.special_price/100))%}
                        {% endif %}
                        <td>${{ svtp|number_format(2) }}</td>
                        <td>{{ data.travellers|length }}</td>
                        <td>10%</td>
                        
                        {% set svtp = svtp * data.travellers|length %}
                        {% set item_total = svtp + (svtp * 0.10) %}
                        {% set items_total_cost = items_total_cost + svtp %}
                        {% set items_total_gst = items_total_gst + (svtp * 0.10) %}
                        <td class="text-right">${{ item_total|number_format(2) }}</td>
                    </tr>
                    
                    {% for svt in destination.selected_visa_type_requirements_array %}
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ svt.requirement }}</td>
                            {% set svtrac = svt.cost %}
                            {# if user.can_get_special_price == 1 %}
                                {% set svtrac = svtrac + (svtrac * (user.special_price/100))%}
                            {% endif #}
                            <td>${{ svtrac|number_format(2) }}</td>
                            <td>{{ data.travellers|length }}</td>
                            <td>0%</td>
                            
                            {% set svtrac = svtrac * data.travellers|length %}
                            {# set item_total = svtrac + (svtrac * 0.10) GST #}
                            {% set item_total = svtrac %}
                            {% set items_total_cost = items_total_cost + svtrac %}
                            {# set items_total_gst = items_total_gst + (svtrac * 0.10)  GST #}
                            <td class="text-right">${{ item_total|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                
                <tr>
                    <td>{{ data.selected_visa_courier }}</td>
                    {% set vcp = data.visa_courier_price %}
                    {# if user.can_get_special_price == 1 %}
                        {% set vcp = vcp + (vcp * (user.special_price/100))%}
                    {% endif #}
                    
                    <td>${{ vcp|number_format(2) }}</td>        
                    <td>1</td>
                    <td>10%</td>
                    {% set item_total = vcp + (vcp * 0.10)%}
                    {% set items_total_cost = items_total_cost + vcp %}
                    {% set items_total_gst = items_total_gst + (vcp * 0.10) %}
                    <td class="text-right">${{ item_total|number_format(2) }}</td>
                </tr>
            </tbody>
            
            <tfoot>
                {% set discount = 0 %}
                {% if data.discount_rate != '' and data.discount_rate > 0 %}
                    {% set discount = (items_total_cost * (data.discount_rate/100)) + (items_total_gst * (data.discount_rate/100))%}
                    {% set items_total_cost = items_total_cost - (items_total_cost * (data.discount_rate/100))%}
                    {% set items_total_gst = items_total_gst - (items_total_gst * (data.discount_rate/100))%}
                {% endif %}
                    
                {% if discount > 0 %}
                <tr>
                    <td>
                        Discount
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    
                    <td class="text-right">- $<span id="discount">{{ discount|number_format(2) }}</span></td>
                </tr>
                {% endif %}
                
                <tr>
                    <td>Subtotal</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td class="text-right">${{ items_total_cost|number_format(2) }}</td>
                </tr>
                
                <tr>
                    <td>GST</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td class="text-right">${{ items_total_gst|number_format(2) }}</td>
                </tr>
                
                
                <tr class="grand-total">
                    <td>Grand Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% set grand_total = items_total_cost + items_total_gst %}
                    <td class="text-right"><strong>${{ grand_total|number_format(2) }} AUD</strong></td>
                </tr>
            </tfoot>
        </table>
        
        
{% elseif data.order_type ==  7%} 
        
        <table class="table table-hover">
            
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>GST</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            {% set items_total_cost = 0 %}
            {% set items_total_gst = 0 %}
            <tbody>
                <tr>
                    <td>{{ data.doc_delivery_type_name }}</td>
                    {% set pcp = data.doc_delivery_cost %}
                    {% if data.can_get_special_price == 1 %}
                        {% set pcp = pcp + (pcp * (data.special_price/100))%}
                    {% endif %}
                    <td>${{ pcp|number_format(2) }}</td>
                    <td>1</td>
                    <td>10%</td>
                    {% set item_total = pcp + (pcp * 0.10)%}
                    {% set items_total_cost = items_total_cost + pcp %}
                    {% set items_total_gst = items_total_gst + (pcp * 0.10) %}
                    <td colspan="2" align="right">${{ item_total|number_format(2) }}</td>
                    <!--<td>${{ pcp|number_format(2) }}</td>-->
                </tr>
                
                
            </tbody>
            
            <tfoot>
                {% set discount = 0 %}
                {% if data.discount_rate != '' and data.discount_rate > 0 %}
                    {% set discount = (items_total_cost * (data.discount_rate/100)) + (items_total_gst * (data.discount_rate/100))%}
                    {% set items_total_cost = items_total_cost - (items_total_cost * (data.discount_rate/100))%}
                    {% set items_total_gst = items_total_gst - (items_total_gst * (data.discount_rate/100))%}
                {% endif %}

                {% if discount > 0 %}
                <tr>
                    <td>
                        Discount
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    
                    <td colspan="2" align="right">- $<span id="discount">{{ discount|number_format(2) }}</span></td>
                </tr>
                {% endif %}
                
                <tr>
                    <td><b>Sub Total</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right">${{ items_total_cost|number_format(2) }}</td>
                </tr>

                <tr>
                    <td><b>GST</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right">${{ items_total_gst|number_format(2) }}</td>
                </tr>

                {% set grand_total = items_total_cost %}
                {% set grand_total = items_total_cost + items_total_gst %}
                {% if data.payment_option == 1 %}
                    {% set grand_total = grand_total + (grand_total * (data.credit_card_processing_fee/100))%}
                    <tr>
                        <td><b>Credit Card Fee</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2" align="right">${{ (grand_total * (data.credit_card_processing_fee/100))|number_format(2) }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td><b>Grand Total</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right"><b>${{ grand_total|number_format(2) }}</b></td>
                </tr>
            </tfoot>
        </table>

{% elseif data.order_type ==  8%} 
        
        
        <table class="table table-hover">
            
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>GST</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            {% set items_total_cost = 0 %}
            {% set items_total_gst = 0 %}
            <tbody>
                <tr>
                    <td>{{ data.russian_visa_voucher_name }}</td>
                    {% set pcp = data.russian_visa_voucher_col_cost %}
                    {% if data.russian_visa_voucher_col_cost == 1 %}
                        {% set pcp = pcp + (pcp * (data.special_price/100))%}
                    {% endif %}
                    <td>${{ pcp|number_format(2) }}</td>
                    <td>1</td>
                    <td>10%</td>
                    {% set item_total = pcp + (pcp * 0.10)%}
                    {% set items_total_cost = items_total_cost + pcp %}
                    {% set items_total_gst = items_total_gst + (pcp * 0.10) %}
                    <td colspan="2" align="right">${{ item_total|number_format(2) }}</td>
                    <!--<td>${{ pcp|number_format(2) }}</td>-->
                </tr>
                
            </tbody>
            
            <tfoot>
                {% set discount = 0 %}
                {% if data.discount_rate != '' and data.discount_rate > 0 %}
                    {% set discount = (items_total_cost * (data.discount_rate/100)) + (items_total_gst * (data.discount_rate/100))%}
                    {% set items_total_cost = items_total_cost - (items_total_cost * (data.discount_rate/100))%}
                    {% set items_total_gst = items_total_gst - (items_total_gst * (data.discount_rate/100))%}
                {% endif %}
                    
                {% if discount > 0 %}
                <tr>
                    <td>
                        Discount
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    
                    <td colspan="2" align="right">- $<span id="discount">{{ discount|number_format(2) }}</span></td>
                </tr>
                {% endif %}
                
                <tr>
                    <td><b>Sub Total</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right">${{ items_total_cost|number_format(2) }}</td>
                </tr>

                <tr>
                    <td><b>GST</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right">${{ items_total_gst|number_format(2) }}</td>
                </tr>

                {% set grand_total = items_total_cost %}
                {% set grand_total = items_total_cost + items_total_gst %}
                {% if data.payment_option == 1 %}
                    {% set grand_total = grand_total + (grand_total * (data.credit_card_processing_fee/100))%}
                    <tr>
                        <td><b>Credit Card Fee</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2" align="right">${{ (grand_total * (data.credit_card_processing_fee/100))|number_format(2) }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td><b>Grand Total</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" align="right"><b>${{ grand_total|number_format(2) }}</b></td>
                </tr>
            </tfoot>
        </table>
        
        
{% endif %}

    </div>
        
</div>
        
        <hr/>

            <h4>Payment Details</h4>
            <label><input type="checkbox" id="chkUseDefaultAddress" /> Use my Default Address</label>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Firstname</label>
                        <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control" id="txtFname" placeholder="First Name" required>
                    </div>
                    <div class="col-lg-6">
                        <label>Lastname</label>
                        <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control" id="txtLname" placeholder="Last Name">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Email Address</label>
                        <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" id="txtEmail" placeholder="Email address" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Contact Phone Number</label>
                        <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control" id="txtPhone" placeholder="Phone number" required>
                    </div>
                    <div class="col-lg-6">
                        <label>Mobile Phone Number</label>
                        <input type="text" name="mobile" value="{% if post.mobile is defined %}{{ post.mobile }}{% endif %}" class="form-control" id="txtMobile" placeholder="Mobile number">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Address</label>
                        <input type="address" name="address" value="{% if post.address is defined %}{{ post.address }}{% endif %}" class="form-control" id="txtAddress" placeholder="Address" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>City</label>
                        <input type="text" name="city" value="{% if post.city is defined %}{{ post.city }}{% endif %}" class="form-control" id="txtCity" placeholder="City" required>
                    </div>
                    <div class="col-lg-6">
                        <label>State</label>
                        <input type="text" name="state" value="{% if post.state is defined %}{{ post.state }}{% endif %}" class="form-control" id="txtState" placeholder="State">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Postcode</label>
                        <input type="text" name="postcode" value="{% if post.postcode is defined %}{{ post.postcode }}{% endif %}" class="form-control" id="txtPostCode" placeholder="Post code" required>
                    </div>
                    <div class="col-lg-6">
                        <label>Country</label>
                        <select name="country" id="sltCountry" class="form-control" required>
                            <option value="">Select country</option>
                            {% for country in countries %}
                                <option value="{{ country.id }}" {% if post.country is defined and country.id == post.country %}selected{% endif %}>{{ country.countryName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Additional address details</label>
                        <textarea name="additionalAddressDetails" class="form-control">{% if post.additionalAddressDetails is defined %}{{ post.additionalAddressDetails }}{% endif %}</textarea>
                    </div>
                </div>
            </div>

            <hr/>


            <h4>Billing Details</h4>
            <label><input type="checkbox" id="chkUseDefaultBillingAddress" /> Use my Default Billing Address</label>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Organization Name</label>
                        <select name="department" id="sltDepartment" class="form-control" required>
                            <option value="">Select organization</option>
                            {% for department in departments %}
                                <option value="{{ department.id }}" {% if post.department is defined and department.id == post.department %}selected{% endif %}>{{ department.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Billing Address</label>
                        <input type="address" name="billingAddress" value="{% if post.billingAddress is defined %}{{ post.billingAddress }}{% endif %}" class="form-control" id="txtBillingAddress" placeholder="Billing address" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>City</label>
                        <input type="text" name="billingCity" value="{% if post.billingCity is defined %}{{ post.billingCity }}{% endif %}" class="form-control" id="txtBillingCity" placeholder="City" required>
                    </div>
                    <div class="col-lg-6">
                        <label>State</label>
                        <input type="text" name="billingState" value="{% if post.billingState is defined %}{{ post.billingState }}{% endif %}" class="form-control" id="txtBillingState" placeholder="State">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Postcode</label>
                        <input type="text" name="billingPostcode" value="{% if post.billingPostcode is defined %}{{ post.billingPostcode }}{% endif %}" class="form-control" id="txtBillingPostCode" placeholder="Post code" required>
                    </div>
                    <div class="col-lg-6">
                        <label>Country</label>
                        <select name="billingCountry" id="sltBillingCountry" class="form-control" required>
                            <option value="">Select country</option>
                            {% for country in countries %}
                                <option value="{{ country.id }}" {% if post.billingCountry is defined and country.id == post.billingCountry %}selected{% endif %}>{{ country.countryName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
                
    </div>
    
        
        
    <!-- Payment options -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Total Order Price</h4>
                <h4>$<span id="totalOrderPrice">{{ data.grand_total|number_format(2) }}</span> AUD <span id="incCardFee" class="small-note">inc Card fee ($<span>0.00</span>)</span></h4>

                <hr/>

                <h4>Payment Option</h4>
                
                <div class="row">
                    <div class="col-lg-12">
                        {% if data.can_charge_cost_to_account == 1%}
                            <label><input type="radio" name="paymentType" class="payment-option default" {% if post.paymentType is defined %} {%if post.paymentType == 0 %}checked{% endif %}{% else %}checked{% endif%} value="0"/> Pay on Account </label><br/>
                        {% endif %}
                        <label><input type="radio" name="paymentType" class="payment-option" {% if data.can_charge_cost_to_account == 0 and post.paymentType is not defined%}checked{% else%}{% if post.paymentType is defined %}{% if post.paymentType == 1 %}checked{% endif%}{% endif %}{% endif %} value="1"/> Pay via Credit Card - fee ({{ data.credit_card_processing_fee }}%) </label><br/>
                        {% if app.session.get('user_type') == 'admin-user' %}
                            <label><input type="radio" name="paymentType" class="payment-option default" value="2"/> Mark as Paid </label>
                        {% endif %}
                    </div>
                </div>
                
                <hr/>
                
                {% if data.can_charge_cost_to_account == 1%}
                <div class="payment-option-fields account">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Account Number</label>
                                <input type="text" name="accountNumber" value="{% if post.accountNumber is defined %}{{ post.accountNumber }}{% endif %}" class="form-control pay-required-one" id="txtAccountNumber" placeholder="Account number" required>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}

                
                <div class="payment-option-fields credit-card">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Name on Card</label>
                                <input type="text" name="nameOnCard" value="{% if post.nameOnCard is defined %}{{ post.nameOnCard }}{% endif %}" class="form-control pay-required" id="txtNameOnCard" placeholder="Name on card" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Number</label>
                                <input type="text" name="cardNumber" value="{% if post.cardNumber is defined %}{{ post.cardNumber }}{% endif %}" class="form-control pay-required" id="txtCardNumber" placeholder="Card number" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Expiry</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <select name="cardExpiryMonth" class="form-control pay-required">
                                    {% for i in 1..12 %}
                                    <option {% if post.cardExpiryMonth is defined and post.cardExpiryMonth == i %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <select name="cardExpiryYear" class="form-control pay-required">
                                    {% for i in 0..10 %}
                                        {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                    <option>{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Type</label>
                                <select name="cardType" class="form-control pay-required">
                                    <option value="">Select type</option>
                                    {% for type in cardtypes %}
                                        <option value="{{ type.id }}" {% if post.cardtype is defined and type.id == post.cardtype %}selected{% endif %}>{{ type.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>CCV Number</label>
                                <input type="text" name="ccvNumber" value="{% if post.ccvNumber is defined %}{{ post.ccvNumber }}{% endif %}" class="form-control pay-required" id="txtCcvNumber" placeholder="CCV number" required>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="text-right">
                    <a href="{{ path("acme_cls_admin_view_order") }}?order_no={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </form>
</div>



{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        
        // Global declarations
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var ccp_fee = {{ data.credit_card_processing_fee }};
        var orig_price = {{ data.grand_total }};
    </script>
    
    <script src="{{ asset("js") }}/pages/tpn-application-place-order.js"></script>
{% endblock %}