<html>
<body>
    {% if manual_order is defined %}
        <p>Please see the summary of the order and tax invoice below:</p>
    {% else %}
        <p>Thank you for your recent order with Capital Link Services. Please see the summary of your order and tax invoice below:</p>
    {% endif %}
  <p><i>Note: Click on Visa Product name to download application form.</i></p>
  <table style="border-collapse:collapse" border="1" cellpadding="5" cellspacing="0">
    <tbody>
        <tr class="header">
            <td width="50%">
                    <h3>Tax Invoice Date</h3>
                    <p> {{ order_no }} / {{ date_submitted|date("d-m-Y") }}</p>
            </td>
            <td width="50%">
                <h3>Tax Invoice/Order Number</h3>
                {#<img src="http://dev.clientcentre.capitallinkservices.com.au/assets/barcode/?OrderNumber={{ order_no }}" alt="{{ order_no }}">
                <img src="{{ domain ~ "/" ~  asset("api") }}/barcodegen.1d-php5.v5.1.0/index.php?number={{ order_no }}" alt="{{ order_no }}">#}
                <img src="{{ domain ~ "/" ~  asset("api") }}/barcode/index.php?number={{ order_no }}" alt="{{ order_no }}">
                <br>
                <label>
                    {% for traveller in data.travellers %}
                        {{ traveller.fname ~ " " ~ traveller.mname ~ " " ~ traveller.lname }}<br/>
                        {{ traveller.organisation }} <br/><br/>
                    {% endfor %}
                    <u></u>
                </label>
            
            </td>
        </tr>
            <tr>
                <td colspan="2">
                    <table border="0" cellpadding="5" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                                <th>Product</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>GST</th>
                                <th>Total</th>
                        </tr>
                        {% set items_total_cost = 0 %}
                        {% set items_total_gst = 0 %}
                        {% set counter = 1 %}
                        {% if post is defined %}
                            {% for item in post.items %}
                                
                                <tr>
                                        <td>{{item.description}}</td>
                                    
                                    {% set svtp = item.price %}

                                    <td>${{ item.price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{item.gst}}</td>

                                    {% set svtp = svtp * item.quantity %}
                                    {% set item_total = svtp + (svtp * 0.10) %}
                                    {% set items_total_cost = items_total_cost + svtp %}
                                    {% set items_total_gst = items_total_gst + (svtp * 0.10) %}
                                    <td>${{ item_total|number_format(2) }}</td>
                                </tr>
                                {% set counter = counter+1 %}
                            {%endfor%}
                        {% else %}
                            {% for destination in data.travels %}
                                <tr>
                                    <td><a href="{{ domain ~ asset("dev") ~ "/visafiles/" ~ destination.country_id ~ "/" ~ destination.selected_visa_type ~ "/" ~ destination.file_attached }}" target="_blank">{{ destination.countryName ~ " " ~ destination.selected_visa_type_name }}</a></td>
                                    {% set svtp = destination.selected_visa_type_price %}
                                    {% if data.can_get_special_price == 1 %}
                                        {% set svtp = svtp + (svtp * (data.special_price/100))%}
                                    {% endif %}
                                    <td>${{ svtp|number_format(2) }}</td>
                                    <td>{{ data.travellers|length }}</td>
                                    <td>10%</td>

                                    {% set svtp = svtp * data.travellers|length %}
                                    {% set item_total = svtp + (svtp * 0.10) %}
                                    {% set items_total_cost = items_total_cost + svtp %}
                                    {% set items_total_gst = items_total_gst + (svtp * 0.10) %}
                                    <td>${{ item_total|number_format(2) }}</td>
                                </tr>

                                {% for svt in destination.selected_visa_type_requirements_array %}
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ svt.requirement }}</td>
                                        {% set svtrac = svt.cost %}

                                        {# if data.can_get_special_price == 1 %}
                                            {% set svtrac = svtrac + (svtrac * (data.special_price/100))%}
                                        {% endif #}
                                        <td>${{ svtrac|number_format(2) }}</td>
                                        <td>{{ data.travellers|length }}</td>
                                        <td>0%</td>

                                        {% set svtrac = svtrac * data.travellers|length %}
                                        {# set item_total = svtrac + (svtrac * 0.10) GST #}
                                        {% set item_total = svtrac %}
                                        {% set items_total_cost = items_total_cost + svtrac %}
                                        {# set items_total_gst = items_total_gst + (svtrac * 0.10) GST #}
                                        <td>${{ item_total|number_format(2) }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}




                            <tr>
                                <td>Third Person Note (TPN)</td>

                                {# if data.can_get_special_price == 1%}
                                    {% set tpn_price = tpn_settings.tpn + (tpn_settings.tpn * (data.special_price/100)) %}
                                {% else #}
                                    {% set tpn_price = tpn_settings.tpn %}
                                {# endif #}
                                <td>${{ tpn_price|number_format(2) }}</td>
                                <td>{{ data.travels|length }}</td>
                                <td>10%</td>
                                {% set total_tpn =  tpn_price *  data.travels|length %}
                                {% set items_total_cost = items_total_cost + total_tpn %}
                                {% set tpn_gst = (total_tpn * 0.10) %}
                                {% set items_total_gst = items_total_gst + tpn_gst %}
                                {% set total_tpn_wgst = total_tpn + tpn_gst %}
                                <td>${{ total_tpn_wgst|number_format(2) }}</td>
                            </tr>

                            <tr>
                                <td>Third Person Note (TPN) Additional Applicant</td>
                                {# if data.can_get_special_price == 1%}
                                    {% set additional_tpn_price = tpn_settings.tpnAdditional + (tpn_settings.tpnAdditional * (data.special_price/100)) %}
                                {% else #}
                                    {% set additional_tpn_price = tpn_settings.tpnAdditional %}
                                {# endif #}
                                <td>${{ additional_tpn_price|number_format(2) }}</td>
                                <td>{{ data.travellers|length - 1}}</td>
                                <td>10%</td>
                                {% set total_tpn_additional =  additional_tpn_price *  (data.travellers|length - 1) %}
                                {% set items_total_cost = items_total_cost + total_tpn_additional %}
                                {% set tpn_additional_gst = (total_tpn_additional * 0.10) %}
                                {% set items_total_gst = items_total_gst + tpn_additional_gst %}
                                {% set total_tpn_additional_wgst = total_tpn_additional + tpn_additional_gst %}
                                <td>${{ total_tpn_additional_wgst }}</td>
                            </tr>        




                            <tr>
                                <td>{{ data.selected_visa_courier }}</td>
                                {% set vcp = data.visa_courier_price %}

                                {# if data.can_get_special_price == 1 %}
                                    {% set vcp = vcp + (vcp * (data.special_price/100))%}
                                {% endif #}
                                <td>${{ vcp|number_format(2) }}</td>
                                <td>1</td>
                                <td>10%</td>
                                {% set item_total = vcp + (vcp * 0.10)%}
                                {% set items_total_cost = items_total_cost + vcp %}
                                {% set items_total_gst = items_total_gst + (vcp * 0.10) %}
                                <td>${{ item_total|number_format(2) }}</td>
                            </tr>
                        {%endif%}
                    </tbody>
                    </table>
                </td>
            </tr>
            
            {% set discount = 0 %}
            {% if data.discount_rate != '' and data.discount_rate > 0 %}
                {% set discount = (items_total_cost * (data.discount_rate/100)) + (items_total_gst * (data.discount_rate/100))%}
                {% set items_total_cost = items_total_cost - (items_total_cost * (data.discount_rate/100))%}
                {% set items_total_gst = items_total_gst - (items_total_gst * (data.discount_rate/100))%}
            {% endif %}
            
            
            {% if data.discount_rate > 0 %}
            <tr>
                <td colspan="2" align="right"><b>Discount</b>: ${{ discount|number_format(2) }}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" align="right"><b>Sub Total</b>: ${{ items_total_cost|number_format(2) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>GST</b>: ${{ items_total_gst|number_format(2) }}</td>
            </tr>
            {% set grand_total = items_total_cost + items_total_gst %}
            {% if data.payment_option == 1 %}
            {% set grand_total = grand_total + (grand_total * (data.credit_card_processing_fee/100))%}
            <tr>
                <td colspan="2" align="right"><b>Credit Card Fee</b>: ${{ (grand_total * (data.credit_card_processing_fee/100))|number_format(2) }}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" align="right"><b>Total Paid to Date</b>: ${{ grand_total|number_format(2) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>Balance Due</b>: {% if data.payment_option == 1 %}$0.00{% else %}${{ grand_total|number_format(2) }}{% endif %}</td>
            </tr>
    </tbody>
    </table>
  
  
    <p>Please ensure to fill out your application form completely, and together with your documentation and passport(s), seal in a labeled envelope.</p>

    <p>Attached is a DHL pickup label - please print this and attach it with tape or glue to your envelope for our courier service to pick up.</p>
  
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>