{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('multi-error') %}
<div class="alert alert-danger test-alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>You've got the following error: </h4>
    <ul>
    {% for item in flashMessage %}
        <li>{{ item.message }}</li>
    {% endfor %}
    </ul>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error1') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>TPN + Visa Application</h3>
        {% else %}
            <h3>Create Order: TPN + Visa Application<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        
        {% if app.session.get('user_type') != 'admin-user' %}
        <div class="application-steps">
            <span>Step 2/4</span>
            <span><a href="{{ path("cls_client_gov_application_tpn_visa") }}?order={{ order_no }}">Destination</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Visa Options</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="">Review TPN</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% else %}
        <div class="application-steps">
            <span>Step 2/4</span>
            <span><a href="{{ path("cls_client_gov_application_tpn_visa") }}?client={{ user_details.id }}&order={{ order_no }}">Destination</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Visa Options</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="">Review TPN</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

{% if user.can_get_special_price == 1 %}
    {% set special_price = user.special_price %}
{% else %}
    {% set special_price = 0 %}
{% endif %}

{% set no_visa_required = 0 %}

<form action="{{ path("cls_client_gov_application_tpn_visa_options") }}" method="post">
<input type="hidden" name="hidSubmit" id="hidSubmit">
<input type="hidden" name="orderNumber" value="{{ order_no }}">
{% if app.session.get('user_type') == 'admin-user' %}
    <input type="hidden" name="client_id" value="{{ user_details.id }}">
{% endif %}
<div class="row">
    
    <div class="col-lg-8">
        <!--
        <div class="panel panel-default">
            <div class="panel-body">
        -->    
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    {% for travel in post.travels %}
                        <li  class="{% if loop.index == 1%}active{% endif %}"><a href="#tab{{ loop.index }}" data-toggle="tab">{{ travel.countryName }}</a></li>
                    {% endfor %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div class="spacing"></div>

                    {% for travel in post.travels %}

                    <div class="tab-pane fade {% if loop.index == 1%}in active{% endif%}" id="tab{{ loop.index }}">

                        {% if travel.gov_s_no_visa_required != 1 %}
                        <div class="row">
                            <div class="col-lg-6">
                                <label><strong>Choose type of Visa</strong></label>
                                <select name="visaType[{{ travel.id }}]" id="{{ travel.id }}" class="form-control visa-type required" tag="0" required>
                                    <option value="" tag="0"> Select type </option>
                                    {% for visa_type in travel.visa_types %}
                                        {% if visa_type.status == 1%}
                                            {% set visa_type_cost = visa_type.cost + (visa_type.cost * (special_price/100)) %}
                                            <option value="{{ visa_type.id }}" tag="{{ visa_type_cost }}" {% if post is defined and travel.selected_visa_type == visa_type.id %}selected{% endif %}>{{ visa_type.type ~ " - $" ~ visa_type_cost }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <div class="spacing"></div>
                                <p>Please review visa requirements in the Visa Information Panel below before making selections.</p>
                            </div>

                            <div class="col-lg-6">
                                <label><strong>Additional Requirements</strong></label>
                                <div class="visa-type-requirements">
                                    
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if travel.gov_s_no_visa_required != 1 %}
                        <div class="row">
                            <div class="col-lg-12">
                                <label><strong>Visa Information</strong></label>
                                {{ travel.visa_information|raw }}
                            </div>
                        </div>
                        {% else %}
                        {% set no_visa_required = no_visa_required + 1 %}
                        <div class="row">
                            <div class="col-lg-12">
                                <label><strong><font color="red">No Visa Required</font></strong></strong></label>
                                <hr>
                                <div class="visa-information">
                                    {{ travel.gov_s_no_visa_required_html|raw }}
                                </div>
                            </div>
                        </div>
                        {% endif %}

                    </div>

                {% endfor %}
                </div>
        <!--
            </div>
        </div>
        -->
    </div>
        
    
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>CLS Visa Service Charges</h4>
                <div class="panel panel-default bg-info price-display">
                    <div class="panel-body">
                        $<span id="visaOptTotalAmnt">0.00</span> AUD
                    </div>
                </div>
                <hr/>
                {% if no_visa_required == 0 %}
                <h4>Choose type of courier</h4>
                <select name="courier" id="courier" class="form-control required" tag="0" required>
                    <option value="" tag="0"> Select courier </option>
                    {% for courier in visa_courier_options %}
                        {# set courier_cost = courier.cost + (courier.cost * (special_price/100)) #}
                        {% set courier_cost = courier.cost %}
                        <option value="{{ courier.id }}" tag="{{courier_cost}}" data-dhl="{{ courier.s_dhl }}" {% if post is defined and post.visa_courier == courier.id %}selected{% endif %}>{{ courier.type ~ " - $" ~ courier_cost }}</option>
                    {% endfor %}
                </select>

                <hr/>
                {% endif %}
                <h4>Document Details</h4>
                
                <p>CLS will return all of the completed Visa applications and passports to this address. <font color="red">Please ensure its accuracy</font>.</p>
                
                <p><label><input type="checkbox" id="chkUseDefaultAddress"> Use default document return address</label></p>
                
                <div class="form-group">
                    <label>Company (If applicable)</label>
                    <input type="text" class="form-control" name="docReturnCompany" id="docReturnCompany" value="{% if post is defined %}{{ post.visa_mdd_company }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Document(s) Return Address</label>
                    <input type="text" class="form-control" name="docReturnAddress" id="docReturnAddress" value="{% if post is defined %}{{ post.visa_mdd_address }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>City / Suburb</label>
                    <input type="text" class="form-control" name="docReturnCity" id="docReturnCity" value="{% if post is defined %}{{ post.visa_mdd_city }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>State</label>
                    <select name="docReturnState" id="docReturnState" class="form-control">
                        <option value="">-- select state --</option>
                        {% for item in states %}
                            <option value="{{ item.code }}" {% if post is defined %}{% if post.visa_mdd_state == item.code or post.visa_mdd_state == item.name %}selected{% endif %}{% endif %}>{{ item.name }}</option>
                            {% if item.code == 'WA' %}
                                <option disabled>──────────────────────────────</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                
                
                
                <div class="form-group">
                    <label>Postcode</label>
                    <input type="text" class="form-control" name="docReturnPostCode" id="docReturnPostCode" value="{% if post is defined %}{{ post.visa_mdd_postcode }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" name="docReturnFname" id="docReturnFname" value="{% if post is defined %}{{ post.visa_mdd_fname }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="docReturnLname" id="docReturnLname" value="{% if post is defined %}{{ post.visa_mdd_lname }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Contact number</label>
                    <input type="text" class="form-control" name="docReturnContactNo" id="docReturnContactNo" value="{% if post is defined %}{{ post.visa_mdd_contact }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Additional comments</label>
                    <textarea type="text" class="form-control" name="additionalComments" id="additionalComments">{% if post is defined %}{{ post.visa_additional_comment }}{% endif %}</textarea>
                </div>
                
                <hr/>
                <div class="courier-pickup" style="display: none;">
                    <h4>Pick-up Details</h4>
                    <div class="form-group">
                        <label>Contact Person's Name</label>
                        <input type="text" name="pickupContactPersonName" value="{% if post.visa_courier_pickup_contact_person_name is defined %}{{ post.visa_courier_pickup_contact_person_name }}{% endif %}" class="form-control courier-required"  placeholder="">
                    </div>
                    
                    <div class="form-group">
                        <label>Contact Person's Phone</label>
                        <input type="text" name="pickupContactPersonPhone" value="{% if post.visa_courier_pickup_contact_person_phone is defined %}{{ post.visa_courier_pickup_contact_person_phone }}{% endif %}" class="form-control courier-required" placeholder="########">
                    </div>

                    <div class="form-group">
                        <label>Pick-up Date</label>
                        <div class="input-group date">
                            <input class="form-control date-picker courier-required" data-format="dd-MM-yyyy" type="text" name="packagePickupDate" placeholder="DD-MM-YYYY" value="{% if post.visa_courier_pickup_date is defined %}{{ post.visa_courier_pickup_date|date("d-m-Y") }}{% endif %}"></input>
                            <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Package Location</label>
                        <input type="text" name="pickupPackageLocation" value="{% if post.visa_courier_pickup_package_location is defined %}{{ post.visa_courier_pickup_package_location }}{% endif %}" class="form-control courier-required">
                    </div>
                    
                    <label>My Package will be ready by</label>
                    <div class="row">
                        <div class="col-lg-6">
                            <select name="packageReadyHr" class="form-control courier-required">
                                <option value="">Hr</option>
                                {% for i in 9..17 %}
                                    <option value="{{ "%02d"|format(i) }}" {% if post.visa_courier_pickup_ready_by_time_hr is defined and post.visa_courier_pickup_ready_by_time_hr == "%02d"|format(i) %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-lg-6">
                            <select name="packageReadyMin" class="form-control courier-required">
                                <option value="">Mins</option>
                                <option value="00" {% if post.visa_courier_pickup_ready_by_time_min is defined and post.visa_courier_pickup_ready_by_time_min == "00" %}selected{% endif %}>00</option>
                                <option value="10" {% if post.visa_courier_pickup_ready_by_time_min is defined and post.visa_courier_pickup_ready_by_time_min == "10" %}selected{% endif %}>10</option>
                                <option value="20" {% if post.visa_courier_pickup_ready_by_time_min is defined and post.visa_courier_pickup_ready_by_time_min == "20" %}selected{% endif %}>20</option>
                                <option value="30" {% if post.visa_courier_pickup_ready_by_time_min is defined and post.visa_courier_pickup_ready_by_time_min == "30" %}selected{% endif %}>30</option>
                                <option value="40" {% if post.visa_courier_pickup_ready_by_time_min is defined and post.visa_courier_pickup_ready_by_time_min == "40" %}selected{% endif %}>40</option>
                                <option value="50" {% if post.visa_courier_pickup_ready_by_time_min is defined and post.visa_courier_pickup_ready_by_time_min == "50" %}selected{% endif %}>50</option>
                            </select>
                        </div>

                       
                    </div>
                    
                    <label>Office Closes at</label>
                    <div class="row">
                        <div class="col-lg-6">
                            <select name="packageOfficeCloseHr" class="form-control courier-required">
                                <option value="">Hr</option>
                                {% for i in 9..17 %}
                                    <option value="{{ "%02d"|format(i) }}" {% if post.visa_courier_pickup_close_time_hr is defined and post.visa_courier_pickup_close_time_hr == "%02d"|format(i) %}selected{% endif %}>{{ "%02d"|format(i) }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-lg-6">
                            <select name="packageOfficeCloseMin" class="form-control courier-required">
                                <option value="">Mins</option>
                                <option value="00" {% if post.visa_courier_pickup_close_time_min is defined and post.visa_courier_pickup_close_time_min == "00" %}selected{% endif %}>00</option>
                                <option value="10" {% if post.visa_courier_pickup_close_time_min is defined and post.visa_courier_pickup_close_time_min == "10" %}selected{% endif %}>10</option>
                                <option value="20" {% if post.visa_courier_pickup_close_time_min is defined and post.visa_courier_pickup_close_time_min == "20" %}selected{% endif %}>20</option>
                                <option value="30" {% if post.visa_courier_pickup_close_time_min is defined and post.visa_courier_pickup_close_time_min == "30" %}selected{% endif %}>30</option>
                                <option value="40" {% if post.visa_courier_pickup_close_time_min is defined and post.visa_courier_pickup_close_time_min == "40" %}selected{% endif %}>40</option>
                                <option value="50" {% if post.visa_courier_pickup_close_time_min is defined and post.visa_courier_pickup_close_time_min == "50" %}selected{% endif %}>50</option>
                            </select>
                        </div>

                    </div>
                </div>
                <br/><br/>
                
                <div class="form-group text-right">
                    {% if app.session.get('user_type') == 'admin-user' %}
                        <a href="{{ path("cls_client_gov_application_tpn_visa") }}?client={{ user_details.id }}&order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
                    {% else %}
                        <a href="{{ path("cls_client_gov_application_tpn_visa") }}?order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
                    {% endif %}
                    {% if no_visa_required == 0 %}
                    <button type="submit" id="saveProgress" class="btn btn-default">Save Progress</button>
                    <button type="submit" id="nextPage" class="btn btn-primary"><span>&raquo;</span> Next</button>
                    {% endif %}
                </div>
        
            </div>
        </div>
    </div>
    
</div>
</form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var url = "{{ path("cls_client_gov_application_visa_options_get_visa_type_add_reqs") }}";
        var udetails_url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var asset = "{{ asset("img") }}";
        var special_price = {% if user.can_get_special_price == 1 %}{{ user.special_price }}{% else %}0{% endif %};
    </script>
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}