{% extends "AcmeCLStpnBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-6">
        <h3>Suggestion</h3>
        <p>
            This is a suggestion of the informations to be display in specific form field.
        </p>
    </div>
</div>


<div class="panel panel-default col-lg-12">
    <div class="panel-body">
        <form action = "{{path('dfat_suggestion')}}" method="POST">
            <input name="suggest" type="hidden">
            <div class="row">
                <div class="col-lg-6">
                        <div class="form-group">
                            <label>Suggested Field</label>
                            <span class="glyphicon glyphicon-question-sign tips" data-toggle="tooltip" data-placement="right" title="Please enter the name of the form field where you would like the additional information to be shown."></span>
                            <input name="fieldname" class="form-control" type="text " required/>
                        </div>
                </div>
                 
            </div>
            <div class="row">
                <div class="col-lg-12">
                        <div class="form-group">
                            <label>Suggested Information to display</label>
                            <span class="glyphicon glyphicon-question-sign tips" data-toggle="tooltip" data-placement="right" title="The information you provide should be as succinct as possible. Please limit the information to approx. 150 characters."></span>
                            <textarea name="info" class="form-control" required></textarea>
                        </div>
                </div>   
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> Send</button>
                </div>
            </div>
        </form>
            
            
    </div>
</div>



{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var api_url = "{{ asset("api") }}";
var list_url = "{{ path("dfat_activities_list") }}?from={% if get.from is defined %}{{ get.from }}{% endif %}"
    +"&to={% if get.to is defined %}{{ get.to }}{% endif %}"
    +"&user={% if get.user is defined %}{{ get.user }}{% endif %}"
    +"&reference_no={% if get.reference_no is defined %}{{ get.reference_no }}{% endif %}"
    ;
</script>
    
<script src="{{ asset("js") }}/pages/tpn-user/tpn-user-script.js"></script>
{% endblock %}