{% extends "AcmeCLStpnBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3 style="color:#84D182;">Thank you!</h3>
        <p>
            Thank you for submitting a suggestion for additional information to be provided to users.<br/>
            Capital Link Services will review your request and contact you for further information, if required.
        </p>
    </div>
</div>



{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var api_url = "{{ asset("api") }}";
var list_url = "{{ path("dfat_activities_list") }}?from={% if get.from is defined %}{{ get.from }}{% endif %}"
    +"&to={% if get.to is defined %}{{ get.to }}{% endif %}"
    +"&user={% if get.user is defined %}{{ get.user }}{% endif %}"
    +"&reference_no={% if get.reference_no is defined %}{{ get.reference_no }}{% endif %}"
    ;
</script>
    
<script src="{{ asset("js") }}/pages/tpn-user/tpn-user-script.js"></script>
{% endblock %}