{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-6">
        <h3>Manage - Countries</h3>
    </div>
    <div class="col-lg-6 text-right">
        <h3><button type="button" class="btn btn-default" id="addCountry"> Add Country</button></h3>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <ul class="country-list">
            {% for country in countries %}
                <li><a href="#" class="country" tag="{{ country.id ~ ":" ~ country.countryCode ~ ":" ~ country.rep_name ~ ":" ~ country.country_name_display }}">{{ country.countryName }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>


<form id="countryForm" action="{{ path("acme_cls_admin_manage_countries") }}" method="post">
<input type="hidden" name="hidSubmit">
<input type="hidden" id="countrySave" name="countrySave">
<input type="hidden" name="id">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Country Code</label>
                    <input type="text" name="countryCode" placeholder="Ex. AU" class="form-control" required>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="form-group">
                    <label>Country name</label>
                    <input type="text" name="countryName" placeholder="Country name" class="form-control" required>
                </div>
            </div>
          </div>
        
          <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Country name display (used specially for TPN letters) </label>
                    <input type="text" name="countryNameDisplay" placeholder="Ex. the United States of America" class="form-control">
                </div>
            </div>
          </div>
              
          <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Embassy</label>
                    <input type="text" name="embassy" placeholder="Ex. Embassy of United States" class="form-control">
                </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <div class="row">
              <div class="col-lg-6 text-left">
                  <button type="button" id="deleteCountry" class="btn btn-danger">Delete</button>
              </div>
              <div class="col-lg-6">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" id="saveCountry" class="btn btn-primary">Save</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var list_url = "{{ path("acme_cls_admin_clients_list") }}";
var open_url = "{{ path("acme_cls_admin_clients_edit") }}";
var delete_url = "{{ path("acme_cls_admin_client_delete") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}