{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}


<div class="row">
    <div class="col-lg-8">
        <h3>Order View - 
            {% if post.order_type == 1 %}
                Visa Application
            {% elseif post.order_type == 2 %}
                TPN Application
            {% elseif post.order_type == 3 %}
                TPN + VISA Application
            {% elseif post.order_type == 4 %}
                Passport Office Pickup or Delivery Application
            {% elseif post.order_type == 5 %}
                Police Clearance Application
            {% elseif post.order_type == 6 %}
                Visa - Pub. Client Application
            {% else %}
            {% endif %}
            <br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ post.client_id }}">{{ post.client_fname ~ ' ' ~ post.client_lname }}</a></b></span>
        </h3>
    </div>
    <div class="col-lg-4 text-right">
        <h3>Order Number: {{ post.order_no }} <a href="{{ path("acme_cls_admin_edit_passport_order") }}?order_no={{ post.order_no }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a></h3>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">Passport Details</div>
            <div class="panel-body">
                <div class="form-group">
                    <strong>Passport Office Booking Number</strong><br/>
                    {{ post.passport_office_booking_no }}
                </div>
                    
                <div class="form-group">
                    <strong>Passport Office Booking Time</strong><br/>
                    {{ post.passport_office_booking_time|date("d-m-Y") ~ ' ' ~ post.passport_office_booking_time_hr ~ ':' ~ post.passport_office_booking_time_min }}
                </div>
                    
                
                <div class="form-group">
                    <strong>Passport Applicant(s)</strong><br/>
                    <ul class="passport-applicants">
                        {% for applicant in post.passport_applicants %}
                        <li>
                            Name: {{ applicant.fullname }}<br/>
                            <ul>
                                {% if applicant.personal_passport == 1 %}<li>Personal Passport</li>{% endif %}
                                {% if applicant.diplomatic_official_passport == 1 %}<li>Diplomatic Official Passport</li>{% endif %}
                                {% if applicant.birth_certificate == 1 %}<li>Birth Certificate</li>{% endif %}
                                {% if applicant.marriage_certificate == 1 %}<li>Marriage Certificate</li>{% endif %}
                                {% if applicant.certificate_of_australian_citizenship == 1 %}<li>Certificate of Australian Citizenship</li>{% endif %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Payment Details</div>
            <div class="panel-body">
                <div class="form-group">
                    <strong>Name</strong><br/>
                    {{ post.payer_fname ~ " " ~ post.payer_lname }}
                </div>

                <div class="form-group">
                    <strong>Email</strong><br/>
                    {{ post.payer_email }}
                </div>

                <div class="form-group">
                    <strong>Contact Phone Number</strong><br/>
                    {{ post.payer_phone }}
                </div>
                <div class="form-group">
                    <strong>Mobile</strong><br/>
                    {{ post.payer_mobile }}
                </div>

                <div class="form-group">
                    <strong>Payment Status</strong><br/>
                    {% if post.s_paid == 0 %}
                        Pending
                    {% elseif post.s_paid == 1 %}
                        Paid - Online
                    {% elseif post.s_paid == 2 %}
                        Paid - By Account
                    {% endif %}
                </div>
                    
                <div class="form-group">
                    <strong>Order Status</strong><br/>
                    {% if post.status == 12 %}Completed{% else %}Ordered{% endif %}
                </div>

                <div class="text-right">
                    <form id="frmPost" action="{{ path("acme_cls_admin_view_order") }}" method="post">
                    <input type="hidden" id="post_type" name="reprint">
                    <input type="hidden" name="orderNo" value="{{ post.order_no }}">
                    <input type="hidden" name="appType" value="passport">
                    <input type="hidden" name="client_id" value="{{ post.client_id }}">
                    <button id="sendManualInvoice" type="button" data-type="passport" data-client="{{ post.client_id }}" data-order="{{ post.order_no }}" class="btn btn-warning btn-sm">Send Invoice</button>                
                    <button id="reprintInvoice" type="submit"  data-client="{{ post.client_id }}" data-order="{{ post.order_no }}" class="btn btn-primary btn-sm"> Reprint Invoice</button>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
        
// Global declarations
var tpn_list_url = "{{ path("acme_cls_admin_open_tpn_list") }}";
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";
var send_invoice_url = "{{ path("acme_cls_admin_send_invoice") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}