{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}


<div class="row">
    <div class="col-lg-9">
        <h3>Order View -
            {% if post.order_type == 1 %}
                Visa Application
            {% elseif post.order_type == 2 %}
                TPN Application
            {% elseif post.order_type == 3 %}
                TPN + VISA Application
            {% elseif post.order_type == 4 %}
                Passport Office Pickup or Delivery Application
            {% elseif post.order_type == 5 %}
                Police Clearance Application
            {% elseif post.order_type == 6 %}
                Visa - Pub. Client Application
            {% else %}
            {% endif %}
            <br/>
            <span class="small-note">Type: <b>{{ post.police_clearance_name }}</b></span>
            <br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ post.client_id }}">{{ post.client_fname ~ ' ' ~ post.client_lname }}</a></b></span>
        </h3>
    </div>
    <div class="col-lg-3">
        <h3>Order Number: {{ post.order_no }}</h3>
    </div>
</div>

<hr/>

<form id="frmPost" action="{{ path("acme_cls_admin_view_order") }}" method="post">
<input type="hidden" name="orderNo" value="{{ post.order_no }}">
<input type="hidden" id="post_type" name="updatePoliceClearanceOrder">
<input type="hidden" name="appType" value="police">
<input type="hidden" name="client_id" value="{{ post.client_id }}">
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Order Progress</h4></div>
            <div class="panel-body">
                <div class="form-group">
                    <label>All items received at CLS</label>
                    <input type="text" name="allItemsReceivedAtCLS" class="form-control datetime-picker" placeholder="DD-MM-YYYY HH:mm:ss " value="{% if post.police_clearance_date_cls_received_all_items != ''%}{{ post.police_clearance_date_cls_received_all_items|date("d-m-Y H:i:s") }}{% endif %}">
                </div>
                    
                <div class="form-group">
                    <label>Submitted for processing</label>
                    <input type="text" name="submittedForProcessing" class="form-control datetime-picker" placeholder="DD-MM-YYYY HH:mm:ss" value="{% if post.police_clearance_date_submitted_for_processing != ''%}{{ post.police_clearance_date_submitted_for_processing|date("d-m-Y H:i:s") }}{% endif %}">
                </div>
                    
                <div class="form-group">
                    <label>Completed & received at CLS</label>
                    <input type="text" name="completedReceivedAtCLS" class="form-control datetime-picker" placeholder="DD-MM-YYYY HH:mm:ss" value="{% if post.police_clearance_date_completed_and_received_at_cls != ''%}{{ post.police_clearance_date_completed_and_received_at_cls|date("d-m-Y H:i:s") }}{% endif %}">
                </div>
                    
                <div class="form-group">
                    <label>Order on route and closed</label>
                    <input type="text" name="orderOnRouteAndClosed" class="form-control datetime-picker" placeholder="DD-MM-YYYY HH:mm:ss" value="{% if post.police_clearance_date_order_on_route_and_closed != ''%}{{ post.police_clearance_date_order_on_route_and_closed|date("d-m-Y H:i:s") }}{% endif %}">
                </div>
                    
                <hr/>
                
                <div class="form-group">
                    <label>CLS Team Member</label>
                    <select name="clsTeamMember" class="form-control">
                    <option value="">Select team member</option>
                        {% for staff in cls_staff %}
                            <option value="{{ staff.id }}" {% if post.visa_cls_team_member == staff.id %}selected{% endif %}>{{ staff.fname ~ ' ' ~ staff.lname }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group">
                    <label>Ticket Comments</label>
                    <textarea name="ticketComments" class="form-control"></textarea>
                </div>
                
                <ul id="notes">
                    {% for note in post.order_notes%}
                        <li><span class="note-text">{{ note.note }}</span><br/><span class="noted-by"><i>- by {{ note.note_by_name ~ " (" ~ note.user_type ~")"}} {{ note.date_added }}</i></span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
        
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Applicant Details</h4></div>
            <div class="panel-body">
                {% for applicant in post.police_clearance_applicants %}
                    
                    {% if loop.index > 1%}<hr />{% endif %}
                    
                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" name="fname[{{ applicant.id }}]" class="form-control" value="{{ applicant.fname }}" placeholder="First name" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Middle name</label>
                        <input type="text" name="mname[{{ applicant.id }}]" class="form-control" value="{{ applicant.mname }}" placeholder="Middle name">
                    </div>
                    
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" name="lname[{{ applicant.id }}]" class="form-control" value="{{ applicant.lname }}" placeholder="Last name" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email[{{ applicant.id }}]" class="form-control" value="{{ applicant.email }}" placeholder="email@example.com" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" name="phone[{{ applicant.id }}]" class="form-control" value="{{ applicant.phone }}" placeholder="## #### ##" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Mobile</label>
                        <input type="text" name="mobile[{{ applicant.id }}]" class="form-control" value="{{ applicant.mobile }}" placeholder="## #### ##" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" name="address[{{ applicant.id }}]" class="form-control" value="{{ applicant.address }}" placeholder="Address" required>
                    </div>
                    
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" name="city[{{ applicant.id }}]" class="form-control" value="{{ applicant.city }}" placeholder="City" required>
                    </div>
                    
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" name="state[{{ applicant.id }}]" class="form-control" value="{{ applicant.state }}" placeholder="State" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Postcode</label>
                        <input type="text" name="postcode[{{ applicant.id }}]" class="form-control" value="{{ applicant.postcode }}" placeholder="Postcode" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Country</label>
                        <select class="form-control main-nationality required" name="country[{{ applicant.id }}]" {% if loop.index == 1%}id="country"{% endif %} required>
                            <option value="">Select country</option>
                            {% for country in countries %}
                                <option value="{{ country.id }}" {% if applicant.country_id == country.id%}selected{% endif %}>{{ country.countryName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label>Passport No.</label>
                        <input type="text" name="passportNo[{{ applicant.id }}]" class="form-control" value="{{ applicant.passport_no }}" placeholder="Postcode" required>
                    </div>
                    
                    {#
                    <div class="form-group">
                        <label>Departure Date</label>
                        <input type="text" name="departureDate[{{ applicant.id }}]" class="form-control date-picker" value="{% if applicant.departure_date != ''%}{{ applicant.departure_date|date("d-m-Y") }}{% endif %}" placeholder="Departre date" required>
                    </div>
                    #}
                    <div class="text-right">
                        <a href="{{ site_url }}{{ asset("api") }}/pdfc/print-police-clearance-label.php?order={{ post.order_no }}&uid={{ applicant.id }}" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Generate Police Clearance Label</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
        
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Document Details</h4></div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Company (If applicable)</label>
                            <input type="text" name="drCompany" id="drCompany" value="{% if post.visa_mdd_company is defined %}{{ post.visa_mdd_company }}{% endif %}" class="form-control" placeholder="Company name">
                        </div>
                    </div>
                </div>
                    
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Document(s) Return Address</label>
                            <input type="text" name="drAddress" id="drAddress" value="{% if post.visa_mdd_address is defined %}{{ post.visa_mdd_address }}{% endif %}" class="form-control pay-required" placeholder="Address" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>City / Suburb</label>
                            <input type="text" name="drCity" id="drCity" value="{% if post.visa_mdd_city is defined %}{{ post.visa_mdd_city }}{% endif %}" class="form-control pay-required" placeholder="City / Suburb" required>
                        </div>
                    </div>
                </div>
                    
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>State</label>
                            <input type="text" name="drState" id="drState" value="{% if post.visa_mdd_state is defined %}{{ post.visa_mdd_state }}{% endif %}" class="form-control pay-required" placeholder="State" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Postcode</label>
                            <input type="text" name="drPostcode" id="drPostcode" value="{% if post.visa_mdd_postcode is defined %}{{ post.visa_mdd_postcode }}{% endif %}" class="form-control pay-required" placeholder="Postcode" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>First name</label>
                            <input type="text" name="drFname" id="drFname" value="{% if post.visa_mdd_fname is defined %}{{ post.visa_mdd_fname }}{% endif %}" class="form-control pay-required" placeholder="First name" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Last name</label>
                            <input type="text" name="drLname" id="drLname" value="{% if post.visa_mdd_lname is defined %}{{ post.visa_mdd_lname }}{% endif %}" class="form-control pay-required" placeholder="Last name" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Contact number</label>
                            <input type="text" name="drContactNo" id="drContactNo" value="{% if post.visa_mdd_contact is defined %}{{ post.visa_mdd_contact }}{% endif %}" class="form-control pay-required" placeholder="Contact No." required>
                        </div>
                    </div>
                </div>
                {#
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Email</label>
                            <input type="text" name="drEmail" id="drEmail" value="{% if post.payer_email is defined %}{{ post.payer_email }}{% endif %}" class="form-control pay-required" placeholder="Email address" required>
                        </div>
                    </div>
                </div>
                #}
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Additional Comments</label>
                            <textarea name="drAdditionalComment" id="drAdditionalComment" class="form-control">{{ post.visa_additional_comment}}</textarea>
                        </div>
                    </div>
                </div>
                
                <div class="text-right">
                    <a href="{{ site_url }}{{ asset("api") }}/pdfc/print-return-address-label.php?order={{ post.order_no }}" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Print Return Address Label</a>
                </div>

            </div>
        </div>
            
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Payment Details</h4></div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Order Status</label>
                    <select name="orderStatus" class="form-control">
                        <option value="10" {% if post.status is defined and post.status == 10 %}selected{% endif %}>Pending</option>
                        <option value="12" {% if post.status is defined and post.status == 12 %}selected{% endif %}>Completed</option>
                    </select>
                </div>
                    
                <div class="form-group">
                    <label>Payment Status</label>
                    <select name="paymentStatus" class="form-control">
                        <option value="0" {% if post.s_paid is defined and post.s_paid == 0 %}selected{% endif %}>Pending</option>
                        <option value="1" {% if post.s_paid is defined and post.s_paid == 1 %}selected{% endif %}>Paid - Online</option>
                        <option value="2" {% if post.s_paid is defined and post.s_paid == 2 %}selected{% endif %}>Paid - By Account</option>
                    </select>
                </div>
                    
                <div class="form-group">    
                    <label>Account Number</label>
                    <input type="text" name="accountNumber" class="form-control" placeholder="#######" value="{{ post.account_no }}">
                </div>
                
                <div class="text-right">
                    <a href="{{ path("acme_cls_admin_home") }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span> Cancel </a>
                    <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                    {#<a class="btn btn-info" href="{{ path("acem_cls_admin_pay_now") }}?order={{ post.order_no }}&client={{ post.client_id }}">Pay Now</a>#}
                    <a class="btn btn-info btn-sm" href="{{ path("acme_cls_admin_process_payment") }}?order={{ post.order_no }}">Pay Now</a>
                    <button id="sendManualInvoice" type="button" data-type="police-clearance" data-client="{{ post.client_id }}" data-order="{{ post.order_no }}" class="btn btn-warning btn-sm">Send Invoice</button>
                </div>
                <br/>
                <div class="form-group text-right">
                    <button id="reprintInvoice" type="submit"  data-client="{{ post.client_id }}" data-order="{{ post.order_no }}" class="btn btn-primary btn-sm"> Reprint Invoice</button>
               </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
        
// Global declarations
var tpn_list_url = "{{ path("acme_cls_admin_open_tpn_list") }}";
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";
var send_invoice_url = "{{ path("acme_cls_admin_send_invoice") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}