<html>
<body>
  <p>Hi {{ data.user_fname }},</p>
  
  <p>Thank you for your recent document legalisation order with Capital Link Services. Please see the summary of your quote below:</p>
  
  <p>RE: Order number {{ data.order_no }}</p>

  <table border="0" cellpadding="5" cellspacing="0" width="500px">
      <thead style="background-color: #C0C0C0">
          <tr>
              <th>Description</th>
              <th style="text-align: right">Quantity</th>
              <th style="text-align: right">Price</th>
              <th style="text-align: right">+GST</th>
              <th style="text-align: right">Total</th>
          </tr>
      </thead>
      <tbody>
        {% set grand_total = 0 %}
        {% for item in dl_quotes %}
            {% set total = (item.price * item.quantity) %}
            {% set gst = total * (item.gst/100)%}
            {% set total = total + gst %}
            {% set grand_total = grand_total + total %}
            <tr class="item">
                <td style="border-bottom: 1px #C0C0C0 solid;">
                    {{ item.description|replace({"\n":"<br/>"})|raw }}
                </td>
                <td style="text-align: right; border-bottom: 1px #C0C0C0 solid;">{{ item.quantity }}</td>
                <td style="text-align: right; border-bottom: 1px #C0C0C0 solid;">{{ item.price }}</td>
                <td style="text-align: right; border-bottom: 1px #C0C0C0 solid;">{{ item.gst }}%</td>
                <td style="text-align: right; border-bottom: 1px #C0C0C0 solid;">${{ total|number_format(2) }}</td>
            </tr>
        {% endfor %}
      </tbody>
      <tfoot style="border-top: 1px #C0C0C0 solid;">
          <tr>
              <td style="border-top: 1px #C0C0C0 solid;"></td>
              <td style="border-top: 1px #C0C0C0 solid;"></td>
              <td style="border-top: 1px #C0C0C0 solid;"></td>
              <td style="border-top: 1px #C0C0C0 solid;"><b>Total</b></td>
              <td style="border-top: 1px #C0C0C0 solid; text-align: right">
                  <b>${{ grand_total|number_format(2) }}</b>
              </td>
          </tr>
      </tfoot>
  </table>
    
  <p>Kindly follow the link below to proceed to your payment.<br/>
      <a href="{{ domain ~ path("cls_client_order_doc_legalisation_quote_payment") }}?order={{ data.order_no }}&group={{ group }}">{{ domain ~ path("cls_client_order_doc_legalisation_quote_payment") }}?order={{ data.order_no }}&group={{ group }}</a>
  </p>
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>