/*=======================================================
  Global
=======================================================*/
header.client {
    background-color: #D7E5F1;
}

ul li {
    list-style: circle!important;
}
ul.tasks, ul#notes, ul#adminNotes, #application-tpn ul, #passport-office-pickup-delivery ul, .occupation-options ul,
ul.passport-applicants, .visa-type-requirements ul{
    padding: 0px;
}
ul.tasks li, .navbar ul li, footer ul li, ul#notes li, ul#adminNotes li, ul.dropdown-menu li,
#application-tpn ul li, #passport-office-pickup-delivery ul li,
.occupation-options ul li, ul.passport-applicants li,
.visa-type-requirements ul li
{
    list-style: none!important;
}

ul#notes li{
    padding-bottom: 10px;
}
ul#adminNotes li{
    padding-bottom: 10px;
}
label {
    font-weight: normal;
}

#map {
    width: 100%;
    height: 100px;
}

.map20 {
    width: 100%;
    height: 20px;
}

.alert {
    position: absolute;
    top: 70px;
    left: 40%;
    min-width: 320px;
    max-width: 320px;
    z-index: 1;
}

.purpose-text {
    min-height: 100px;
}

.small-note {
    font-size: 13px;
}

.note {
    color: #777;
    margin-top: 10px;
}
/*=======================================================
  Heading
=======================================================*/
header{
    padding: 30px 0px;
}

header img.logo {
    max-height: 60px;
}

.navbar-custom {
    background-color: #f7f6f6;
    border-top: 1px solid #d9d8d8;
    border-bottom: 1px solid #d9d8d8;
}

.navbar-custom a {
    color: black;
}

.navbar-custom .navbar-nav .active {
    background-color: #eeeeee;
}


.welcome-name {
    text-decoration: underline;
    color: #000000;
}
/*=======================================================
  Body
=======================================================*/

.control-catpcha {
    padding: 0px;
    overflow: hidden;
    min-height: 75px;
}
#home .btn {
    width: 100%;
    text-align: left;
    white-space: normal;
}
#home ul.tasks li {
    margin-bottom: 5px;
}

.application-steps > span{
    margin-right: 10px;
}

.application-steps > span.active{
    font-weight: bold;
}

div.spacing {
    height: 20px;
    width: 100%;
}

#application-tpn-review .draft-body {
    background: url("../img/draftLarge.png");
}

#application-tpn-review .draft-logo {
    border: 1px solid #d9d8d8;
}

#application-tpn-review-order table tfoot {
    border-top: 2px solid #e5e5e5;
}

#application-tpn-review-order table tfoot tr > td {
    border: none;
}

#application-tpn-review-order table tfoot tr.grand-total > td {
    border-top: 2px solid #e5e5e5;
}

#tpn-review ul#tpnNotes{
    padding: 0px;
}
#tpn-review ul#tpnNotes li {
    padding: 5px 0 5px 0;
}

#tpn-review ul#tpnNotes li span.noted-by {
    
}

#track-order ul#orderNotes li {
    padding: 5px 0 5px 0;
}

#admin-home div.tab-content, 
#order-history div.tab-content,
#admin-view-order div.tab-content, 
#track-order div.tab-content{
    padding-top: 20px;
}


div.occupation-options {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px 0px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    list-style: none outside none;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    background-clip: padding-box;
}

div.occupation-options ul li {
    padding: 3px 10px 3px 10px;
}

div.occupation-options ul li:hover {
    color: #FFF;
    background-color: #428BCA;
    border-color: #357EBD;
    cursor: hand;
    cursor: pointer;
}

div.rp-info > div.row {
    padding: 5px 0 5px 0;
}

ul.country-list li {
    float: left;
    min-width: 260px;
}

ul.clearance-list {
    margin-left: 15px;
}

ul.clearance-list li {
    list-style: circle;
}

#admin-manage-visas .additional-requirements .requirement{
    border-left: 1px solid #ddd;
    margin-bottom: 15px;
    
}

#admin-manage-visas .additional-requirements .requirement .form-group{
    margin-bottom: 0px!important;
}

a.btn-add-requirement, a.btn-add-new-type {
    cursor: hand;
    cursor: pointer;
}

a#addApplicant {
    cursor: hand;
    cursor: pointer;
}

#code{
    width: 100%;
}

.price-display {
    font-size: 20px;
}

ul.passport-applicants > li{
    margin-bottom: 10px;
}

ul.passport-applicants > li > ul {
    margin-left: 20px;
}

ul.passport-applicants > li > ul > li{
    font-style: italic;
}




.nicEdit-main {
    min-height: 210px!important;
}

.bg-primary {
    background-color: #428bca;
}

.bg-success {
    background-color: #dff0d8;
}

.bg-info {
    background-color: #d9edf7;
}

.bg-warning {
    background-color: #fcf8e;
}

.bg-danger {
    background-color: #f2dede;
}

.padd-5 {
    padding: 5px;
}

a.link {
    cursor: pointer;
    cursor: hand;
}

a.remove {
}
div.dataTable-buttons-wrapper {
    margin-bottom: 10px;
}

div.DTTT_container {
    width: 0px;
    height: 0px;
    overflow:hidden;
}


textarea#code {
    min-height: 300px;
}

.client-ticket {
    margin-top: 20px;
}

/* added by leokarl 2-26-2015 */
ul.straight-li{
    margin: 0px;
    padding: 0px;
}
ul.straight-li li{
    list-style: none!important;
    float: left;
    margin-right: 15px;
}

/* added by leokarl 2-27-2015 */
.table_scroll_wrap{
    overflow-x: auto;
    width: 100%;
}
/*=======================================================
  Footer
=======================================================*/

footer {
    background-color: #f7f6f6;
    /*padding: 30px 0 30px 0;*/
}
footer .container {
    padding: 30px 0 30px 0;
}

footer ul li {
    float: left;
    padding: 0 10px 0 0;
}


/** Sticky Footer */


* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5.7em;
    
}
.footer, .push {
    height: 4em;
}

a#addNewVisaType{
    cursor: pointer;
}



textarea {
    resize: vertical;
}

#admin-view-order #previous-quotes .price {
    text-align: right;
}
#admin-view-order #previous-quotes tfoot{
    font-weight: bold;
}

#application-bulk-public-visa #traveller-details {
    overflow-x: auto;
}

#application-bulk-public-visa #datatable-listings{
    margin-bottom: 0px;
}

#application-bulk-public-visa #datatable-listings td span{
    cursor: pointer;
}

#application-bulk-public-visa #error-notes{
    color: red;
}
#application-bulk-public-visa .field-error{
    background-color: #fde6e5;
}

.seal{
    overflow: hidden;
}
.seal #eWAYBlock{
    float: right;
}
.seal table{
    float: right;
}

.delete-dl-quote{
    cursor: pointer;
    cursor: hand;
}

.remove-line{
    cursor: pointer;
    cursor: hand;
}

#modCreateQuote .btn-remove-item{
    margin-top: 10px;
    color: #333 ;
}

#modCreateQuote .description{
    height: 35px;
}

#modCreateQuote .remove-item-col{
    padding-top: 15px;
}

.row .pass_requirement{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #cacaca;
    border-radius: 5px;
}
.row .red{
    color: red;
}
.row .green{
    color: green;
}

.ie-required{
    border: 1px solid red;
}