{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>New Type of Document Delivery</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_manage_document_delivery_new") }}" method="post">
<input type="hidden" name="hidSubmit"/>
<div class="row">
    <div class="col-lg-4">
        <h4>Details</h4>
        <div class="form-group">
            <label>Type of Document Delivery  </label> 
            <input type="text" name="type" value="{% if post.type is defined %}{{ post.type }}{% endif %}" class="form-control"  placeholder="Type of document delivery" required>
        </div>
            
        <div class="form-group">
            <label>Cost $ (Ex GST) </label> 
            <input type="text" name="cost" value="{% if post.cost is defined %}{{ post.cost }}{% endif %}" class="form-control"  placeholder="0.00" required>
        </div>
        
        <div class="form-group">
            <label><input type="checkbox" name="status" {% if post.status is defined and post.status == 1%}checked{% endif %}> is Active</label>
        </div>
            
        <a class="btn btn-default" href="{{ path("acme_cls_admin_manage_document_delivery") }}">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
{% endblock %}