{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-6">
        <h3>Saudi Visa Popup Content</h3>
    </div>
    <div class="col-lg-6 text-right">
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_saudi_visa_popup_content") }}" method="post">
    <div class="row">
        <div class="col-lg-12">
            <textarea class="form-control" id="popUpContent" name="content">{% if content is defined %}{{ content }}{% endif %}</textarea>
        </div>
    </div>
    <div class="spacing"></div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <a href="{{ path("acme_cls_admin_home") }}" class="btn btn-default"><span class="glyphicon glyphicon-remove"> Cancel</a>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Update Content</button>
        </div>
    </div>
</form>
            
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('api') }}/nicEdit/nicEdit.js"></script>
<script type="text/javascript">
        
var plugins_path = "{{ asset('api') }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}