<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="t2cNTJVWEl0Zu5q9aJVYfi87qmCq-rIT_GwOIzr9t9w" />
    
    <title>CLS - Your Gateway to the World ({% block title %}{% endblock %})</title>

    <link rel="icon" type="image/gif" href="{{ asset('img') }}/favicon.gif" />
    
    <!-- Bootstrap Core CSS -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    {#<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">#}
    <link href="{{ asset("css") }}/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="{{ asset("css") }}/main.css" rel="stylesheet">
    <link href="{{ asset("api") }}/datepicker/css/datepicker.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body id="{{ app.session.get("page_name") }}">
    <div class="wrapper">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <a href="{{ path("acme_cls_homepage") }}"><img class="logo" src="{{ asset("img") }}/logo.png" /></a>
                </div>
                <div class="col-lg-9 text-right">
                    <h4>
                    Welcome, <a href="{{ path("acme_cls_embassy_profile") }}?id={{ app.session.get("embassy_id") }}" title="Edit details" class="welcome-name">{{ app.session.get("embassy_fname") }}</a> (<a href="{{ path("acme_cls_client_logout") }}">logout</a>)
                    </h4>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    {{ data.countryName }} - Embassy Client Centre
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a></a>
                    </li>
                    
                    
                    <li class="page-scroll">
                        <a href="{{ path("acme_cls_contact")}}">Contact</a>
                    </li>
                    
                    <li class="{% if app.session.get("page_name") == "tpn-user-login" %}active{% endif %}">
                        {% if app.session.get("embassy_email") == "" %}
                            <a href="{{ path("acme_cls_tpn_login") }}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
   
        <div id="map"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        Copyright © 2012 Capital Link Services Pty Ltd.
                    </div>
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4 text-right seal">
                        <!-- Begin eWAY Linking Code -->
                        <div id="eWAYBlock">
                            <div>
                                <a href="http://www.eway.com.au/secure-site-seal?i=13&s=15&pid=841076a2-e908-4845-b574-732659608b92" title="eWAY Payment Gateway" target="_blank" rel="nofollow">
                                    <img alt="eWAY Payment Gateway" src="https://www.eway.com.au/developer/payment-code/verified-seal.ashx?img=13&size=15&pid=841076a2-e908-4845-b574-732659608b92" />
                                </a>
                            </div>
                        </div>
                        <!-- End eWAY Linking Code -->
                        <!--
                        <ul>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Security</a></li>
                            <li><a href="#">User Agreement</a></li>
                        </ul>
                        -->
                        <!-- webbot  bot="HTMLMarkup" startspan -->
                        
                        <!-- GeoTrust QuickSSL [tm] Smart  Icon tag. Do not edit. -->
                        <script language="javascript" type="text/javascript" src="//smarticon.geotrust.com/si.js"></script>
                        <!-- end  GeoTrust Smart Icon tag -->

                        <!-- webbot  bot="HTMLMarkup" endspan -->
                        
                        {#
                        <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
                        <tr>
                        <td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=www.capitallinkservices.com.au&amp;size=S&amp;lang=en"></script><br />
                        <a href="http://www.geotrust.com/ssl/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a></td>
                        </tr>
                        </table>
                        #}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core JavaScript Files -->
    
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
    <script src="{{ asset("js") }}/jquery/jquery1.10.2.min.js"></script>
    {#<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>#}
    <script src="{{ asset("js") }}/bootstrap.min.js"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>#}
    <script src="{{ asset("js") }}/jquery/jquery.easing.1.3.min.js"></script>

    <!-- Google Maps API Key - You will need to use your own API key to use the map feature 
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js") }}/main.js"></script>
    <script src="{{ asset("js") }}/typeahead.js"></script>
    <script src="{{ asset("js") }}/bootbox.js"></script>
    <script src="{{ asset("api") }}/datepicker/js/bootstrap-datepicker.js"></script>
    {% block javascripts %}{% endblock %}
    
    <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?1jzCY1sqZr63DF5QdqK5UnNjT7KozbZT';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->

<script type="text/javascript">
var reachlocalTRKDOM="rtsys.rtrk.com.au";
(function() {
var rlocal_load = document.createElement("script");
rlocal_load.type = "text/javascript";
rlocal_load.src = document.location.protocol+"//"+reachlocalTRKDOM+"/rct_lct/js/rlrct1.js";
(document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild (rlocal_load);
})(); </script>
    
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59797810-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
