<html>
<body>
  {% if type == 'approved'%}  
    <p>Your TPN request has been approved. </p>
  {%else%}
    <p>Your TPN Letter has been amended and reissued.</p>
  {% endif %}
  <p>Please log in to the <a href="{{ site_url ~ path("cls_client_gov_home") }}">Client Center</a> to download your approved Third Person Note.</p>
    
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ site_url ~ "/" ~ asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>