{% extends "AcmeCLStpnBundle::layout.html.twig" %}

{% block body %}


<div class="row">
    <div class="col-lg-12">
        <h3>{{ title }}</h3>
        <p>{{ message }}</p>
    </div>
</div>

{% endblock %}