{% extends "AcmeCLStpnBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Review Third Person Note (TPN)<br/><span class="small-note">Date Submitted: {{ data.date_submitted|date("d-m-Y") }}</span></h3>
    </div>
</div>
<hr />


<form id="frmTpn" action="{{ path("acme_cls_tpn_review") }}" method="post">
    <input type="hidden" name="hidSubmit"/>
    <input type="hidden" name="submitType" id="submitType"/>
    <input type="hidden" name="tpnNo" value="{{ data.tpn_no }}"/>
    <input type="hidden" name="orderNumber" value="{{ order_no.order_no }}"/>
    <input type="hidden" name="client_id" value="{{ order_no.client_id }}"/>
    <input type="hidden" name="tpnRejectNote" id="tpnRejectNote">
    <div class="row">
        <div class="col-lg-12">
            <textarea name="tpnSrc" id="tpnSrc">{{ data.tpn_src }}</textarea>
        </div>
    </div>
    <div class="map20"></div>
    
    <div class="row">
        <div class="col-lg-12 text-right">
            
            <a class="btn btn-default" href="{{ path("acme_cls_tpn_home") }}"><span>&laquo;</span> Back</a>
            <a style="display: none" id="btnDownloadHidden" class="btn btn-primary" href="{{ site_url }}{{ asset("api") }}/pdfc/print.php?tpn={{ data.tpn_no }}" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Download PDF</a>
            {% if app.request.get('p_letter')==0%}
            <button type="submit" class="btn btn-primary" id="btnDownload" href="{{ site_url }}{{ asset("api") }}/pdfc/print.php?tpn={{ data.tpn_no }}" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Download PDF</button>
            {% endif %}
            {% if data.status == 1 %}
            {% if app.request.get('p_letter')==0%}
            <button type="submit" id="btnReissue" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> Reissue TPN Letter</button>
            <button type="submit" id="btnPreviousTpn" class="btn btn-primary" ><span class="glyphicon glyphicon-zoom-in"></span> Open Previously Approved TPN Letter</button>
            {%else%}
            <button type="submit" id="btnCurrentTpn" class="btn btn-primary" ><span class="glyphicon glyphicon-zoom-in"></span> Back to current TPN</button>
            {% endif %}
            {% endif %}
            {% if data.status == 0 %}
            <button type="submit" id="btnReprint" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Reprint Invoice</button>
            <button type="submit" id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Save Progress</button>
            <button type="button" id="btnDecline" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Decline TPN</button>
            <button type="submit" id="btnAccept" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Accept and Issue TPN</button>
            {% endif %}
        </div>
    </div>
</form>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <h4>Notes</h4>
        <ul id="tpnNotes">
            {% for note in tpn_notes %}
                <li><span class="note-text">{{ note.note }}</span><br/><span class="noted-by"><i>- by {{ note.note_by["fname"] ~ " (" ~ note.user_type ~")"}} {{ note.date_added }}</i></span></li>
            {% endfor %}
        </ul>
    </div>
</div>
<!--
<div class="row">
    <div class="col-lg-12 text-right">
        <textarea id="note" class="form-control"></textarea>
        <div class="map20"></div>
        <a class="btn btn-primary" id="addNote">Add Note</a>
    </div>
</div>
-->
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('api') }}/nicEdit/nicEdit.js"></script>
<script type="text/javascript">
   var plugins_path = "{{ asset('api') }}";
   var add_note_url = "{{ path("acme_cls_tpn_add_note") }}";
   var previous_tpn_url = "{{ path("acme_cls_tpn_review") }}";
   var tpn_no = "{{ data.tpn_no }}";
    
            
            
   {% for flashMessage in app.session.flashbag.get('download') %}
       $(document).ready(function(){
                //window.open("{{ site_url }}{{ asset("api") }}/pdfc/print.php?tpn={{ data.tpn_no }}", "_blank");
                var a = $('a#btnDownloadHidden');
                $('<form/>')
                    .attr('action', '{{ site_url }}{{ asset("api") }}/pdfc/print.php')
                    .attr('target', '_blank')
                    .attr('method', 'get')
                    .append("<input type='text' name='tpn' value='{{ data.tpn_no }}'/>")
                    .appendTo('body')
                    .submit();
            
       });
   {% endfor %}
</script>
<script src="{{ asset("js") }}/pages/tpn-user/tpn-user-script.js"></script>

{% endblock %}