<html>
<body>
    <p>Dear {{ data.fname }}</p>
    <p>Your recent TPN request has been rejected for the following reason:</p>
  
    <p>{{ note }}</p>
    
    <p>Please log in to the <a href="{{ host ~ path("cls_client_gov_home") }}">Client Center</a> to re-submit your application at no additional cost.</p>
    
    <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ host ~ "/" ~ asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>