{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}
{% if errors is defined %}
<div class="alert alert-block alert-danger fade in">
    <span class="close" data-dismiss="alert">&times;</span>
    <!--<span class="alert-title">The form has the following errors:</span>-->
    <ul>
    {% for error in errors %}
        {{ error.message }} <br/>
    {% endfor %}
    </ul>
</div>
{%endif%}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        <h3>Document Legalisation - Quotation</h3>
        
        <div class="application-steps">
            <span>Step 1/1</span>
            <span class="active">Payment</span>
        </div>
        
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

<div class="row">
    <form action="{{ path("cls_client_order_doc_legalisation_quote_payment") }}" method="post">
    <input type="hidden" name="hidSubmit">
    <input type="hidden" name="orderNumber" value="{{ order_no }}">
    <input type="hidden" name="group" value="{{ group }}">
    {% if app.session.get('user_type') == 'admin-user' %}
        <input type="hidden" name="client_id" value="{{ user_details.id }}">
    {% endif %}
    <!-- Payment details -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Quotations</h4>
            </div>
            <div class="panel-body">
                <table id="previous-quotes" class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th style="text-align: right">Quantity</th>
                            <th style="text-align: right">Price</th>
                            <th style="text-align: right">+GST</th>
                            <th class="price header" style="text-align: right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set grand_total = 0 %}
                        {% for item in quotations %}
                            {% set total = (item.price * item.quantity) %}
                            {% set gst = total * (item.gst/100)%}
                            {% set total = total + gst %}
                            {% set grand_total = grand_total + total %}
                            <tr class="item">
                                <td style="min-width: 250px;">{{ item.description|replace({"\n":"<br/>"})|raw }}</td>
                                <td style="text-align: right; border-bottom: 1px #C0C0C0 solid;">{{ item.quantity }}</td>
                                <td style="text-align: right; border-bottom: 1px #C0C0C0 solid;">{{ item.price }}</td>
                                <td style="text-align: right; border-bottom: 1px #C0C0C0 solid;">{{ item.gst }}%</td>
                                <td style="text-align: right; border-bottom: 1px #C0C0C0 solid;">${{ total|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        {% set credit_card_fee =  grand_total * (data.credit_card_processing_fee/100)%}
                        {% set grand_total = grand_total + credit_card_fee %}
                        <tr>
                            <td colspan="4" style="text-align: right;">Credit Card Fee ({{ data.credit_card_processing_fee }}%)</td>
                            <td class="price grand-total" style="text-align: right"><b><i>${{ credit_card_fee|number_format(2) }}</i></b></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: right;"><b><i>Total</i></b></td>
                            <td class="price grand-total" style="text-align: right"><b><i>${{ grand_total|number_format(2) }}</i></b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
            
            
            
            
            
            
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Payment Details</h4>
                <label><input type="checkbox" id="chkUseDefaultAddress" /> Use my Default Address</label>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Firstname</label>
                            <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control" id="txtFname" placeholder="First Name" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Lastname</label>
                            <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control" id="txtLname" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Email Address</label>
                            <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" id="txtEmail" placeholder="Email address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Contact Phone Number</label>
                            <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control" id="txtPhone" placeholder="Phone number" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Mobile Phone Number</label>
                            <input type="text" name="mobile" value="{% if post.mobile is defined %}{{ post.mobile }}{% endif %}" class="form-control" id="txtMobile" placeholder="Mobile number">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Address</label>
                            <input type="address" name="address" value="{% if post.address is defined %}{{ post.address }}{% endif %}" class="form-control" id="txtAddress" placeholder="Address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>City</label>
                            <input type="text" name="city" value="{% if post.city is defined %}{{ post.city }}{% endif %}" class="form-control" id="txtCity" placeholder="City" required>
                        </div>
                        <div class="col-lg-6">
                            <label>State</label>
                            <input type="text" name="state" value="{% if post.state is defined %}{{ post.state }}{% endif %}" class="form-control" id="txtState" placeholder="State">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Postcode</label>
                            <input type="text" name="postcode" value="{% if post.postcode is defined %}{{ post.postcode }}{% endif %}" class="form-control" id="txtPostCode" placeholder="Post code" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Country</label>
                            <select name="country" id="sltCountry" class="form-control" required>
                                <option value="">Select country</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}" {% if post.country is defined and country.id == post.country %}selected{% endif %}>{{ country.countryName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Additional address details</label>
                            <textarea name="additionalAddressDetails" class="form-control">{% if post.additionalAddressDetails is defined %}{{ post.additionalAddressDetails }}{% endif %}</textarea>
                        </div>
                    </div>
                </div>

                <hr/>


                <h4>Billing Details</h4>
                <label><input type="checkbox" id="chkUseDefaultBillingAddress" /> Use my Default Billing Address</label>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Organisation Name</label>
                            <input type="text" name="organization" class="form-control" placeholder="Organisation name">
                            {#
                            <select name="department" id="sltDepartment" class="form-control" required>
                                <option value="">Select organization</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}" {% if post.department is defined and department.id == post.department %}selected{% endif %}>{{ department.name}}</option>
                                {% endfor %}
                            </select>
                            #}
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Firstname</label>
                            <input type="text" name="billingFname" value="{% if post.billingFname is defined %}{{ post.billingFname }}{% endif %}" class="form-control" id="txtBillingFname" placeholder="First Name" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Lastname</label>
                            <input type="text" name="billingLname" value="{% if post.billingLname is defined %}{{ post.billingLname }}{% endif %}" class="form-control" id="txtBillingLname" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Billing Address</label>
                            <input type="address" name="billingAddress" value="{% if post.billingAddress is defined %}{{ post.billingAddress }}{% endif %}" class="form-control" id="txtBillingAddress" placeholder="Billing address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>City</label>
                            <input type="text" name="billingCity" value="{% if post.billingCity is defined %}{{ post.billingCity }}{% endif %}" class="form-control" id="txtBillingCity" placeholder="City" required>
                        </div>
                        <div class="col-lg-6">
                            <label>State</label>
                            <input type="text" name="billingState" value="{% if post.billingState is defined %}{{ post.billingState }}{% endif %}" class="form-control" id="txtBillingState" placeholder="State">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Postcode</label>
                            <input type="text" name="billingPostcode" value="{% if post.billingPostcode is defined %}{{ post.billingPostcode }}{% endif %}" class="form-control" id="txtBillingPostCode" placeholder="Post code" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Country</label>
                            <select name="billingCountry" id="sltBillingCountry" class="form-control" required>
                                <option value="">Select country</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}" {% if post.billingCountry is defined and country.id == post.billingCountry %}selected{% endif %}>{{ country.countryName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        
        
    <!-- Payment options -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Place Order</h4>
            </div>
            <div class="panel-body">
                <h4>Total Order Price</h4>
                <h4>$<span id="totalOrderPrice">{{ grand_total|number_format(2) }}</span> AUD <span id="incCardFee" class="small-note">inc Card fee ($<span>{{ data.credit_card_processing_fee|number_format(2) }}</span>)</span></h4>

                <hr/>
                
                
                <div class="payment-option-fields credit-card">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Name on Card</label>
                                <input type="text" name="nameOnCard" value="{% if post.nameOnCard is defined %}{{ post.nameOnCard }}{% endif %}" class="form-control pay-required" id="txtNameOnCard" placeholder="Name on card" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Number</label>
                                <input type="text" name="cardNumber" value="{% if post.cardNumber is defined %}{{ post.cardNumber }}{% endif %}" class="form-control pay-required" id="txtCardNumber" placeholder="Card number" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Expiry</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <select name="cardExpiryMonth" class="form-control pay-required">
                                    {% for i in 1..12 %}
                                    <option {% if post.cardExpiryMonth is defined and post.cardExpiryMonth == i %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <select name="cardExpiryYear" class="form-control pay-required">
                                    {% for i in 0..10 %}
                                        {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                    <option>{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Type</label>
                                <select name="cardType" class="form-control pay-required">
                                    <option value="">Select type</option>
                                    {% for type in cardtypes %}
                                        <option value="{{ type.id }}" {% if post.cardtype is defined and type.id == post.cardtype %}selected{% endif %}>{{ type.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>CCV Number</label>
                                <input type="text" name="ccvNumber" value="{% if post.ccvNumber is defined %}{{ post.ccvNumber }}{% endif %}" class="form-control pay-required" id="txtCcvNumber" placeholder="CCV number" required>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="text-right">
                    {% if app.session.get('user_type') == 'admin-user' %}
                        <a href="{{ path("cls_client_gov_application_visa_review_order") }}?client={{ user_details.id }}&order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
                    {% else %}
                        <a href="{{ path("cls_client_gov_application_visa_review_order") }}?order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
    
</div>


{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        
        // Global declarations
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var ccp_fee = {{ data.credit_card_processing_fee }};
    </script>
    
    <script src="{{ asset("js") }}/pages/tpn-application-place-order.js"></script>
{% endblock %}