{% extends "AcmeCLStpnBundle::layout.html.twig" %}


{% block title %}Reports{% endblock %}
{% block stylesheets %}
<link href="https://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
{#
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/extras/TableTools/media/css/TableTools.css">
#}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-10">
        <h3>Help Center</h3>
    </div>
    <div class="col-lg-2 text-right ">
        
    </div>
</div>


<div class="row">
    <div class="col-lg-9">
        <ul>
            {% for item in items %}
            <li><a href="{{ path('dfat_help_center_tutorial') }}?vid={{ item.id }}" target="_blank">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
        
            {#
        
        <div class="row">
            <div class="col-lg-6">
                <video id="video1" class="video-js vjs-default-skin" controls
                preload="auto" width="400" height="220" 
                data-setup="{}">
                <source src="{{ asset('videos') }}/DFAT_User/CLS03761_DFAT-USER_Login_150417.mp4" type='video/mp4'>
                
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
               </video>
                    
            </div>
            <div class="col-lg-6">
                
                <video id="video2" class="video-js vjs-default-skin" controls
                preload="auto" width="400" height="220" 
                data-setup="{}">
                <source src="{{ asset('videos') }}/DFAT_User/CLS03761_DFAT-USER_Amend-reissue-TPN_150417.mp4" type='video/mp4'>
                
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
               </video>
                
            </div>    
        </div>
        <br/>    
       <div class="row">
            <div class="col-lg-6">
                <video id="video3" class="video-js vjs-default-skin" controls
                preload="auto" width="400" height="220" 
                data-setup="{}">
                <source src="{{ asset('videos') }}/DFAT_User/CLS03761_DFAT-USER_Review-Edit-Issue-TPN_150417.mp4" type='video/mp4'>
                
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
               </video>
                
                
            </div>
            <div class="col-lg-6">
                <video id="video4" class="video-js vjs-default-skin" controls
                preload="auto" width="400" height="220" 
                data-setup="{}">
                <source src="{{ asset('videos') }}/DFAT_User/CLS03761_DFAT-USER_Reports_150417.mp4" type='video/mp4'>
                
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
               </video>
            </div>    

        </div>     
         #} 
    </div>
    <div class="col-lg-3">
        <h4>Need Help with your requirements?</h4>
        <br/>
        Please contact us to speak to a customer service representative on <a href="tel:02 6282 7155">02 6282 7155</a> or email us: <a href="mailto:help@capitallinkservices.com.au">help@capitallinkservices.com.au</a>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{#
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/TableTools.js"></script>
#}

<script src="https://vjs.zencdn.net/4.12/video.js"></script>

<script type="text/javascript">
</script>
    
<script src="{{ asset("js") }}/pages/tpn-user/tpn-user-script.js"></script>
{% endblock %}