{% extends "AcmeCLStpnBundle::layout.html.twig" %}


{% block title %}Reports{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/extras/TableTools/media/css/TableTools.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-10">
        <h3>Help Center</h3>
    </div>
    <div class="col-lg-2 text-right ">
        
    </div>
</div>


<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/DFAT_User/CLS03761_DFAT-USER_Login_150417.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
                    <h5>Tutorial: How to login</h5>
            </div>
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/DFAT_User/CLS03761_DFAT-USER_Amend-reissue-TPN_150417.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video> 
                    <h5>Tutorial: How to ammend and reissue TPN</h5>
            </div>    
        </div>
        <br/>    
       <div class="row">
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/DFAT_User/CLS03761_DFAT-USER_Review-Edit-Issue-TPN_150417.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
                    <h5>Tutorial: How to edit and issue TPN</h5>
            </div>
            <div class="col-lg-6">
                <video width="400" height="220" controls>
                <source src="{{ asset('videos') }}/DFAT_User/CLS03761_DFAT-USER_Reports_150417.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video> 
                    <h5>Tutorial: How to run reports</h5>
            </div>    
        </div>     
          
    </div>
    <div class="col-lg-3">
        <h4>Need Help with your requirements?</h4>
        <br/>
        Please contact us to speak to a customer service representative on <a href="tel:02 6282 7155">02 6282 7155</a> or email us: <a href="mailto:help@capitallinkservices.com.au">help@capitallinkservices.com.au</a>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ asset('api') }}/datatables/extras/TableTools/media/js/TableTools.js"></script>

<script type="text/javascript">
        
</script>
    
<script src="{{ asset("js") }}/pages/tpn-user/tpn-user-script.js"></script>
{% endblock %}