{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('validation-error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>TPN + Visa Application</h3>
        {% else %}
            <h3>Create Order: TPN + Visa Application<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        
        <div class="application-steps">
            <span>Step 1/4</span>
            <span class="active">Destination </span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="">Visa Options</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="">Review TPN</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
    </div>
        
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

<div class="row">
    
        
        
    <form action="#" method="post">
    <input type="hidden" name="hid_submit" id="hidSubmit"/>
    {% if app.session.get('user_type') == 'admin-user' %}
        <input type="hidden" name="client_id" value="{{ user_details.id }}">
    {% endif %}
        
    {% if order_no is defined %}
        <input type="hidden" name="orderNumber" value="{{ order_no }}">
    {% endif %}
    <!-- Travel Details -->
    <div id="travel-details" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Travel Details</h4>
            </div>
            
            <div class="panel-body">
                <div class="travel-details-group">
                {% if post.travels is defined %}

                    {% for travel in post.travels %}
                    <div class="group">

                        {% if loop.index > 1%}<hr />{% endif %}

                        <div class="form-group">
                            <label>Choose Destination</label>

                            <select class="form-control {% if loop.index == 1%}main-destination{% endif %} required {% if post.blank_inputs is defined and ('destination' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="destination[]" required>
                                <option value="">Select destination</option>
                                {% for destination in countries %}
                                    <option value="{{ destination.id }}" {% if travel.country_id == destination.id %}selected{% endif %}>{{ destination.countryName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Departure Date from Australia</label>
                            <!--<input type="date" class="form-control required" name="departureDate[]" value="{{ travel.departure_date}}" required/>-->
                            <div class="input-group date {% if post.blank_inputs is defined and ('departureDate' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="departureDate[]" value="{{ travel.departure_date|date("d-m-Y")}}" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                         <div class="form-group">
                            <ul>
                                <li><label><input type="radio" value="1" name="entryOptionSelect{{ loop.index -1 }}[]" class="entry-option" {% if travel.entry_option == 1 %}checked{% endif %}> Single Entry</label></li>
                                <li><label><input type="radio" value="2" name="entryOptionSelect{{ loop.index -1 }}[]" class="entry-option" {% if travel.entry_option == 2 %}checked{% endif %}> Double Entry</label></li>
                                <li><label><input type="radio" value="3" name="entryOptionSelect{{ loop.index -1 }}[]" class="entry-option" {% if travel.entry_option == 3 %}checked{% endif %}> Multiple Entry</label></li>
                            </ul>
                            <input type="hidden" class="entry-option-value" name="entryOption[]" value="{{ travel.entry_option }}">
                        </div>

                        <div class="form-group">
                            <label id="lbl-entry-date-country">First Entry Date to Country</label>
                            <!--<input type="date" class="form-control required" name="entryDateCounty[]" required/>-->
                            <div class="input-group date {% if post.blank_inputs is defined and ('entryDateCounty' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}">
                                <input class="form-control date-picker required" data-format="dd-MM-YYYY" type="text" name="entryDateCounty[]" value="{{ travel.entry_date_country|date("d-m-Y") }}" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>

                        </div>

                        <div class="form-group">
                            <label id="lbl-depart-date-country">Last Departure Date from Country</label>
                            <!--<input type="date" class="form-control required" name="departureDateCountry[]" required/>-->
                            <div class="input-group date {% if post.blank_inputs is defined and ('departureDateCountry' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="departureDateCountry[]" value="{{ travel.departure_date_country|date("d-m-Y")}}" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label id="lbl-followup-date-country">Follow Up Date <span class="glyphicon glyphicon-question-sign tips" data-toggle="tooltip" data-placement="right" title="This is an optional date field to help your internal process. Our system will email you on this date so you can check up on the order manually."></span></label>
                            
                            <!--<input type="date" class="form-control required" name="departureDateCountry[]" required/>-->
                            <div class="input-group date {% if post.blank_inputs is defined and ('followUpDate' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="followUpDate[]" value="{% if travel.visa_follow_up_date != ''%}{{ travel.visa_follow_up_date|date("d-m-Y")}}{% endif %}" placeholder="DD-MM-YYYY"></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Purpose of Travel</label>
                            <textarea class="form-control purpose-text required {% if post.blank_inputs is defined and ('travelPurpose' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="travelPurpose[]" required placeholder="[NOTE] - Many diplomatic missions will not accept generic 'Government Business' as a purpose of travel. Please clearly state the reason for your travel including some level of detail">{{ travel.travel_purpose }}</textarea>
                            <p class="note">PLEASE write your purpose for travel in a format that will work in a sentence that starts with the words 'applicant is travelling to 'country name’ for the purpose of… ' For example: '…for the purpose of attending meetings with staff at the Australian Embassy in Moscow'</p>
                        </div>
                    </div>
                    {% endfor %}


                {% else %}


                    <div class="group">
                        <div class="form-group">
                            <label>Choose Destination</label>

                            <select class="form-control main-destination required" name="destination[]" required>
                                <option value="">Select destination</option>
                                {% for destination in countries %}
                                    <option value="{{ destination.id }}">{{ destination.countryName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Departure Date from Australia</label>
                            <!--<input type="date" class="form-control required" name="departureDate[]" required/>-->
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="departureDate[]" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                         <div class="form-group">
                            <ul>
                                <li><label><input type="radio" value="1" name="entryOptionSelect0[]" class="entry-option"> Single Entry</label></li>
                                <li><label><input type="radio" value="2" name="entryOptionSelect0[]" class="entry-option"> Double Entry</label></li>
                                <li><label><input type="radio" value="3" name="entryOptionSelect0[]" class="entry-option"> Multiple Entry</label></li>
                            </ul>
                            <input type="hidden" class="entry-option-value" name="entryOption[]" value="0">
                        </div>

                        <div class="form-group">
                            <label id="lbl-entry-date-country">First Entry Date to Country</label>
                            <!--<input type="date" class="form-control required" name="entryDateCounty[]" required/>-->
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="entryDateCounty[]" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="lbl-depart-date-country">Last Departure Date from Country</label>
                            <!--<input type="date" class="form-control required" name="departureDateCountry[]" required/>-->
                            <div class="input-group date">
                                <input class="form-control date-picker" data-format="dd-MM-yyyy" type="text" name="departureDateCountry[]" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="lbl-followup-date-country">Follow Up Date <span class="glyphicon glyphicon-question-sign tips" data-toggle="tooltip" data-placement="right" title="This is an optional date field to help your internal process. Our system will email you on this date so you can check up on the order manually."></span></label>
                            
                            <!--<input type="date" class="form-control required" name="departureDateCountry[]" required/>-->
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="followUpDate[]" placeholder="DD-MM-YYYY"></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <label>Purpose of Travel</label>
                            <textarea class="form-control purpose-text required" name="travelPurpose[]" required placeholder="[NOTE] - Many diplomatic missions will not accept generic 'Government Business' as a purpose of travel. Please clearly state the reason for your travel including some level of detail"></textarea>
                            <p class="note">PLEASE write your purpose for travel in a format that will work in a sentence that starts with the words 'applicant is travelling to 'country name’ for the purpose of… ' For example: '…for the purpose of attending meetings with staff at the Australian Embassy in Moscow'</p>
                        </div>
                    </div>


                {% endif %}
                </div>

                <div class="btn-container" class="text-right">
                    <a type="button" class="btn btn-danger remove btn-sm"><span class="glyphicon glyphicon-remove"></span> Remove last country</a>
                    <a type="button" class="btn btn-default add btn-sm"><span class="glyphicon glyphicon-plus"></span> Additional country</a>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    <!-- Traveller Details -->
    <div id="traveller-details" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Traveller Details <br /><span class="small-note">(A maximum of 6 travellers can travel on one TPN)</span></h4>
            </div>
                
            <div class="panel-body">
                <label><input type="checkbox" id="useMyDetails"/> Use my details</label>
                <div class="traveller-details-group">

                {% if post.travellers is defined and post.travellers|length > 0%}
                    {% for traveller in post.travellers %}
                    <div class="group">

                        {% if loop.index > 1%}<hr />{% endif %}

                        <div class="form-group">
                            <label>Title</label>
                            <select class="form-control {% if loop.index == 1%}main-title{% endif %} required {% if post.blank_inputs is defined and ('travellerTitle' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="travellerTitle[]" id="mainTitle" required>
                                <option value="">Select title</option>
                                {% for title in name_titles %}
                                    <option value="{{ title.id }}" {% if traveller.title == title.id %}selected{% endif %}>{{ title.title }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>First name</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and ('travellerFname' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="travellerFname[]" id="mainFname" value="{{ traveller.fname }}" required/>
                        </div>

                        <div class="form-group">
                            <label>Middle name</label>
                            <input type="text" class="form-control" name="travellerMname[]" id="mainMname" value="{{ traveller.mname }}"/>
                        </div>

                        <div class="form-group">
                            <label>Last name</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and ('travellerLname' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="travellerLname[]" id="mainLname" value="{{ traveller.lname }}" required/>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control required {% if post.blank_inputs is defined and ('travellerEmail' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="travellerEmail[]" id="mainEmail" value="{{ traveller.email }}" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>Organisation</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and ('travellerOrganisation' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="travellerOrganisation[]" id="mainOrganisation" value="{{ traveller.organisation }}" required/>
                        </div>

                        <div class="form-group">
                            <label>Occupation</label>
                            <input type="text" class="form-control required occupation {% if post.blank_inputs is defined and ('travellerOccupation' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="travellerOccupation[]" id="mainOccupation" value="{{ traveller.occupation }}" autocomplete="off" required/>
                        </div>
                        
                        {% if traveller.occupation|lower != 'a dependant' and traveller.occupation|lower != 'a spouse' %}
                            {% set s_related_person = 0%}
                        {% else %}
                            {% set s_related_person = 1%}
                        {% endif %}
                        <div class="form-group rp-info" style="{% if s_related_person == 0 %}display: none{% endif %}">
                            <p><strong>Please enter related person's information:</strong></p>
                            <div class="row">
                                <div class="col-lg-6">
                                    Fullname
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="rpinfoFullname[]" class="form-control" value="{{ traveller.rpinfo_fullname }}" {% if s_related_person == 1 %}required{% endif%}/>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-6">
                                    Position at post
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="rpinfoPositionAtPost[]" class="form-control" value="{{ traveller.rpinfo_position_at_post }}" {% if s_related_person == 1 %}required{% endif%}/>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-6">
                                    Name of post
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="rpinfoNameOfPost[]" class="form-control" value="{{ traveller.rpinfo_name_of_post }}" {% if s_related_person == 1 %}required{% endif%}/>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-6">
                                    City
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="rpinfoCity[]" class="form-control" value="{{ traveller.rpinfo_city }}" {% if s_related_person == 1 %}required{% endif%}/>
                                </div>
                            </div>
                                
                        </div>

                        <div class="form-group">
                            <label>Phone</label>
                            <input type="phone" class="form-control required {% if post.blank_inputs is defined and ('travellerPhone' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="travellerPhone[]" id="mainPhone" value="{{ traveller.phone }}" required/>
                        </div>

                        <div class="form-group">
                            <label>Date of Birth</label>
                            <!--<input type="date" class="form-control required" name="travellerBirthDate[]" id="mainBirthDate" value="{{ traveller.birth_date }}" required/>-->
                            <div class="input-group date">
                                <input class="form-control date-picker required {% if post.blank_inputs is defined and ('travellerBirthDate' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" data-format="dd-MM-yyyy" type="text" name="travellerBirthDate[]" id="mainBirthDate" value="{{ traveller.birth_date|date("d-m-Y")}}" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Gender</label><br/>
                            <select name="travellerGender[]" class="form-control gender">
                                <option value="male" {% if traveller.gender is defined and traveller.gender == "male" %}selected{% endif %}> Male </option>
                                <option value="female" {% if traveller.gender is defined and traveller.gender == "female" %}selected{% endif %}> Female </option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Nearest Capital City</label>
                            <select name="travellerNearestCapitalCity[]" class="form-control nearest-capital-city">
                                <option value=""> -- select city -- </option>
                                {% for item in nearest_capital_cities %}
                                    <option value="{{ item }}" {% if traveller.nearest_capital_city is defined and traveller.nearest_capital_city == item %}selected{% endif %}> {{ item }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Passport type</label>
                            <select class="form-control {% if loop.index == 1%}main-password-type{% endif %} required {% if post.blank_inputs is defined and ('travellerPassportType' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="travellerPassportType[]" id="mainPassportType" value="{{ traveller.passport_type }}" required>
                                <option value="">Select passport type</option>
                                {% for type in passport_types %}
                                    <option value="{{ type.id }}" {%if traveller.passport_type == type.id%}selected{% endif %}>{{ type.type }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Nationality</label>
                            <select class="form-control {% if loop.index == 1%}main-nationality{% endif %} required {% if post.blank_inputs is defined and ('travellerNationality' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="travellerNationality[]" id="mainNationality" required>
                                <option value="">Select nationality</option>
                                {% for nationality in countries %}
                                    <option value="{{ nationality.id }}" {% if traveller.nationality == nationality.id%}selected{% endif %}>{{ nationality.countryName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Passport Number</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and ('travellerPassportNumber' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="travellerPassportNumber[]" id="mainPassportNumber" value="{{ traveller.passport_number }}" required/>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}

                    <div class="group">
                        <div class="form-group">
                            <label>Title</label>
                            <select class="form-control main-title required" name="travellerTitle[]" id="mainTitle" required>
                                <option value="">Select title</option>
                                {% for title in name_titles %}
                                    <option value="{{ title.id }}">{{ title.title }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>First name</label>
                            <input type="text" class="form-control required" name="travellerFname[]" id="mainFname" required/>
                        </div>

                        <div class="form-group">
                            <label>Middle name</label>
                            <input type="text" class="form-control" name="travellerMname[]" id="mainMname"/>
                        </div>

                        <div class="form-group">
                            <label>Last name</label>
                            <input type="text" class="form-control required" name="travellerLname[]" id="mainLname" required/>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control required" name="travellerEmail[]" id="mainEmail" required/>
                        </div>
                            
                        <div class="form-group">
                            <label>Organisation</label>
                            <input type="text" class="form-control required" name="travellerOrganisation[]" id="mainOrganisation" required/>
                        </div>

                        <div class="form-group">
                            <label>Occupation</label>
                            <input type="text" class="form-control required occupation" name="travellerOccupation[]" id="mainOccupation" autocomplete="off" required/>
                        </div>
                            
                        <div class="form-group rp-info" style="display:none">
                            <p><strong>Please enter related person's information:</strong></p>
                            <div class="row">
                                <div class="col-lg-6">
                                    Fullname
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="rpinfoFullname[]" class="form-control"/>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-6">
                                    Position at post
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="rpinfoPositionAtPost[]" class="form-control"/>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-6">
                                    Name of post
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="rpinfoNameOfPost[]" class="form-control"/>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-6">
                                    City
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="rpinfoCity[]" class="form-control"/>
                                </div>
                            </div>
                                
                        </div>

                        <div class="form-group">
                            <label>Phone</label>
                            <input type="phone" class="form-control required" name="travellerPhone[]" id="mainPhone" required/>
                        </div>

                        <div class="form-group">
                            <label>Date of Birth</label>
                            <!--<input type="date" class="form-control required" name="travellerBirthDate[]" id="mainBirthDate" required/>-->
                            <div class="input-group date">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="travellerBirthDate[]" id="mainBirthDate" placeholder="DD-MM-YYYY" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Gender</label><br/>
                            <select name="travellerGender[]" class="form-control gender">
                                <option value="male" > Male </option>
                                <option value="female" > Female </option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Nearest Capital City</label>
                            <select name="travellerNearestCapitalCity[]" class="form-control nearest-capital-city">
                                <option value=""> -- select city -- </option>
                                {% for item in nearest_capital_cities %}
                                    <option value="{{ item }}" > {{ item }} </option>
                                {% endfor %}
                            </select>
                        </div>
                            
                        <div class="form-group">
                            <label>Passport type</label>
                            <select class="form-control main-password-type required" name="travellerPassportType[]" id="mainPassportType" required>
                                <option value="">Select passport type</option>
                                {% for type in passport_types %}
                                    <option value="{{ type.id }}">{{ type.type }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Nationality</label>
                            <select class="form-control main-nationality required" name="travellerNationality[]" id="mainNationality" required>
                                <option value="">Select nationality</option>
                                {% for nationality in countries %}
                                    <option value="{{ nationality.id }}">{{ nationality.countryName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Passport Number</label>
                            <input type="text" class="form-control required" name="travellerPassportNumber[]" id="mainPassportNumber" required/>
                        </div>
                    </div>
                {% endif %}
                </div>

                <p><span class="small-note">(All Travellers must have same itinerary)</span></p>

                <div id="btn-container" class="text-right">
                    <a type="button" class="btn btn-danger remove btn-sm"><span class="glyphicon glyphicon-remove"></span> Remove last traveller</a>
                    <a type="button" class="btn btn-default add btn-sm" href="#btn-container"><span class="glyphicon glyphicon-plus"></span> Additional traveller</a>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    <!-- Primary Department Contact -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Primary Department Contact <br /><span class="small-note">(This contact will recieve the finished order)</span></h4>
            </div>
                
                
            <div class="panel-body">
                <div class="form-group">
                    <label>Department</label>
                    <select class="form-control required {% if post.blank_inputs is defined and 'department' in post.blank_inputs %}ie-required{% endif %}" name="department" required>
                        <option value="">Select department</option>
                        {% for department in departments %}
                            <option value="{{ department.id }}" {% if post.pri_dept_contact_department_id is defined and post.pri_dept_contact_department_id == department.id %}selected{% endif %}>{{ department.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control required {% if post.blank_inputs is defined and 'contactFirstname' in post.blank_inputs %}ie-required{% endif %}" name="contactFirstname" value="{% if post.pri_dept_contact_fname is defined %}{{ post.pri_dept_contact_fname }}{% endif %}" required/>
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control required {% if post.blank_inputs is defined and 'contactLastname' in post.blank_inputs %}ie-required{% endif %}"  name="contactLastname" value="{% if post.pri_dept_contact_lname is defined %}{{ post.pri_dept_contact_lname }}{% endif %}" required/>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control required {% if post.blank_inputs is defined and 'contactEmail' in post.blank_inputs %}ie-required{% endif %}" name="contactEmail" value="{% if post.pri_dept_contact_email is defined %}{{ post.pri_dept_contact_email }}{% endif %}" required/>
                    <p class="small-note">Please ensure this email is correct as your approved TPN will be delivered to this address</p>
                </div>

                <div class="form-group">
                    <label>Phone</label>
                    <input type="phone" class="form-control required {% if post.blank_inputs is defined and 'contactPhone' in post.blank_inputs %}ie-required{% endif %}" name="contactPhone" value="{% if post.pri_dept_contact_phone is defined %}{{ post.pri_dept_contact_phone }}{% endif %}" required/>
                </div>

                <div class="text-right">
                    <button type="submit" id="saveProgress" class="btn btn-default"><span class="glyphicon glyphicon-floppy-save"></span> Save Progress</button>
                    <button type="submit" id="nextPage" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> Next</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    </form>
</div>



<div class="occupation-options">
    <ul>
        <li tag="a Contractor">a Contractor</li>
        <li tag="a Dependant">a Dependant</li>
        <li tag="a Judge">a Judge</li>
        <li tag="a Member">a Member</li>
        <li tag="a Member of Parliament">a Member of Parliament</li>
        <li tag="a Minister">a Minister</li>
        <li tag="a Researcher">a Researcher</li>
        <li tag="a Spouse">a Spouse</li>
        <li tag="an Officer">an Officer</li>
        <li tag="the Prime Minister">the Prime Minister</li>
    </ul>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        
        // Global declarations
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var jsonpath = "{{ asset("json") }}/occupations.json";
    </script>
    
    <script src="{{ asset("js") }}/pages/application-destination.js"></script>
{% endblock %}