{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}
{% if errors is defined %}
<div class="alert alert-block alert-danger fade in">
    <span class="close" data-dismiss="alert">&times;</span>
    <!--<span class="alert-title">The form has the following errors:</span>-->
    <ul>
    {% for error in errors %}
        {{ error.message }} <br/>
    {% endfor %}
    </ul>
</div>
{%endif%}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>TPN + Visa Application</h3>
        {% else %}
            <h3>Create Order: TPN + Visa Application<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
                        
        {% if app.session.get('user_type') != 'admin-user' %}
        <div class="application-steps">
            <span>Step 3/5</span>
            <span><a href="{{ path("cls_client_gov_application_tpn_visa") }}?order={{ order_no }}">Destination</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span><a href="{{ path("cls_client_gov_application_tpn_visa_options") }}?order={{ order_no }}">Visa Options</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span><a href="{{ path("cls_client_gov_application_tpn_visa_review_tpn") }}?order={{ order_no }}">Review TPN</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span><a href="{{ path("cls_client_gov_application_tpn_visa_review_order") }}?order={{ order_no }}">Review Order</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Place Order</span>
        </div>
        {% else %}
        <div class="application-steps">
            <span>Step 3/5</span>
            <span><a href="{{ path("cls_client_gov_application_tpn_visa") }}?client={{ user_details.id }}&order={{ order_no }}">Destination</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span><a href="{{ path("cls_client_gov_application_tpn_visa_options") }}?client={{ user_details.id }}&order={{ order_no }}">Visa Options</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span><a href="{{ path("cls_client_gov_application_tpn_visa_review_tpn") }}?client={{ user_details.id }}&order={{ order_no }}">Review TPN</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span><a href="{{ path("cls_client_gov_application_tpn_visa_review_order") }}?client={{ user_details.id }}&order={{ order_no }}">Review Order</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Place Order</span>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

<div class="row">
    <form action="{{ path("cls_client_gov_application_tpn_visa_place_order") }}" method="post">
    <input type="hidden" name="hidSubmit">
    <input type="hidden" name="orderNumber" value="{{ order_no }}">
    {% if app.session.get('user_type') == 'admin-user' %}
        <input type="hidden" name="client_id" value="{{ user_details.id }}">
    {% endif %}
    <!-- Payment details -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Payment Details</h4>
                <label><input type="checkbox" id="chkUseDefaultAddress" /> Use my Default Address</label>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Firstname</label>
                            <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control" id="txtFname" placeholder="First Name" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Lastname</label>
                            <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control" id="txtLname" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Email Address</label>
                            <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" id="txtEmail" placeholder="Email address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Contact Phone Number</label>
                            <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control" id="txtPhone" placeholder="Phone number" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Mobile Phone Number</label>
                            <input type="text" name="mobile" value="{% if post.mobile is defined %}{{ post.mobile }}{% endif %}" class="form-control" id="txtMobile" placeholder="Mobile number">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Address</label>
                            <input type="address" name="address" value="{% if post.address is defined %}{{ post.address }}{% endif %}" class="form-control" id="txtAddress" placeholder="Address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>City</label>
                            <input type="text" name="city" value="{% if post.city is defined %}{{ post.city }}{% endif %}" class="form-control" id="txtCity" placeholder="City" required>
                        </div>
                        <div class="col-lg-6">
                            <label>State</label>
                            <input type="text" name="state" value="{% if post.state is defined %}{{ post.state }}{% endif %}" class="form-control" id="txtState" placeholder="State">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Postcode</label>
                            <input type="text" name="postcode" value="{% if post.postcode is defined %}{{ post.postcode }}{% endif %}" class="form-control" id="txtPostCode" placeholder="Post code" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Country</label>
                            <select name="country" id="sltCountry" class="form-control" required>
                                <option value="">Select country</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}" {% if post.country is defined and country.id == post.country %}selected{% endif %}>{{ country.countryName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Additional address details</label>
                            <textarea name="additionalAddressDetails" class="form-control">{% if post.additionalAddressDetails is defined %}{{ post.additionalAddressDetails }}{% endif %}</textarea>
                        </div>
                    </div>
                </div>

                <hr/>


                <h4>Billing Details</h4>
                <label><input type="checkbox" id="chkUseDefaultBillingAddress" /> Use my Default Billing Address</label>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Organization Name</label>
                            <select name="department" id="sltDepartment" class="form-control" required>
                                <option value="">Select organization</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}" {% if post.department is defined and department.id == post.department %}selected{% endif %}>{{ department.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Billing Address</label>
                            <input type="address" name="billingAddress" value="{% if post.billingAddress is defined %}{{ post.billingAddress }}{% endif %}" class="form-control" id="txtBillingAddress" placeholder="Billing address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>City</label>
                            <input type="text" name="billingCity" value="{% if post.billingCity is defined %}{{ post.billingCity }}{% endif %}" class="form-control" id="txtBillingCity" placeholder="City" required>
                        </div>
                        <div class="col-lg-6">
                            <label>State</label>
                            <input type="text" name="billingState" value="{% if post.billingState is defined %}{{ post.billingState }}{% endif %}" class="form-control" id="txtBillingState" placeholder="State">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Postcode</label>
                            <input type="text" name="billingPostcode" value="{% if post.billingPostcode is defined %}{{ post.billingPostcode }}{% endif %}" class="form-control" id="txtBillingPostCode" placeholder="Post code" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Country</label>
                            <select name="billingCountry" id="sltBillingCountry" class="form-control" required>
                                <option value="">Select country</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}" {% if post.billingCountry is defined and country.id == post.billingCountry %}selected{% endif %}>{{ country.countryName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        
        
    <!-- Payment options -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Total Order Price</h4>
                <h4>$<span id="totalOrderPrice">{{ data.grand_total|number_format(2) }}</span> AUD <span id="incCardFee" class="small-note">inc Card fee ($<span>0.00</span>)</span></h4>

                <hr/>

                <div class="row">
                    <div class="col-lg-12">
                        {% if data.can_charge_cost_to_account == 1%}
                            <label><input type="radio" name="paymentType" class="payment-option default" {% if post.paymentType is defined %} {%if post.paymentType == 0 %}checked{% endif %}{% else %}checked{% endif%} value="0"/> Pay on Account </label><br/>
                        {% endif %}
                        <label><input type="radio" name="paymentType" class="payment-option" {% if data.can_charge_cost_to_account == 0 and post.paymentType is not defined%}checked{% else%}{% if post.paymentType is defined %}{% if post.paymentType == 1 %}checked{% endif%}{% endif %}{% endif %} value="1"/> Pay via Credit Card - fee ({{ data.credit_card_processing_fee }}%) </label><br/>
                        {% if app.session.get('user_type') == 'admin-user' %}
                            <label><input type="radio" name="paymentType" class="payment-option default" value="2"/> Mark as Paid </label>
                        {% endif %}
                    </div>
                </div>
                
                <hr/>
                {% if data.can_charge_cost_to_account == 1%}
                
                <div class="payment-option-fields account">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Account Number</label>
                                <input type="text" name="accountNumber" value="{% if post.accountNumber is defined %}{{ post.accountNumber }}{% endif %}" class="form-control pay-required-one" id="txtAccountNumber" placeholder="Account number" required>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}

                
                <div class="payment-option-fields credit-card">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Name on Card</label>
                                <input type="text" name="nameOnCard" value="{% if post.nameOnCard is defined %}{{ post.nameOnCard }}{% endif %}" class="form-control pay-required" id="txtNameOnCard" placeholder="Name on card" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Number</label>
                                <input type="text" name="cardNumber" value="{% if post.cardNumber is defined %}{{ post.cardNumber }}{% endif %}" class="form-control pay-required" id="txtCardNumber" placeholder="Card number" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Expiry</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <select name="cardExpiryMonth" class="form-control pay-required">
                                    {% for i in 1..12 %}
                                    <option {% if post.cardExpiryMonth is defined and post.cardExpiryMonth == i %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <select name="cardExpiryYear" class="form-control pay-required">
                                    {% for i in 0..10 %}
                                        {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                    <option>{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Type</label>
                                <select name="cardType" class="form-control pay-required">
                                    <option value="">Select type</option>
                                    {% for type in cardtypes %}
                                        <option value="{{ type.id }}" {% if post.cardtype is defined and type.id == post.cardtype %}selected{% endif %}>{{ type.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>CCV Number</label>
                                <input type="text" name="ccvNumber" value="{% if post.ccvNumber is defined %}{{ post.ccvNumber }}{% endif %}" class="form-control pay-required" id="txtCcvNumber" placeholder="CCV number" required>
                            </div>
                        </div>
                    </div>
                </div>

                {% if app.session.get('user_type') == 'admin-user' %}
                <div class="text-right">
                    <label><input type="checkbox" name="dont_send_invoice" value="1"> Do not email client confirmation and invoice</label>
                </div>
                {% endif %}
                
                <div class="text-right">
                    {% if app.session.get('user_type') == 'admin-user' %}
                        <a href="{{ path("cls_client_gov_application_tpn_visa_review_order") }}?client={{ user_details.id }}&order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
                    {% else %}
                        <a href="{{ path("cls_client_gov_application_tpn_visa_review_order") }}?order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    </form>
</div>



{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        // Global declarations
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var ccp_fee = {{ data.credit_card_processing_fee }};
        var orig_price = {{ data.grand_total }};
    </script>
    
    <script type="text/javascript" src="{{ asset("js") }}/pages/tpn-application-place-order.js"></script>
{% endblock %}