<!DOCTYPE html>
<html lang="en-AU">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--UPDATE THIS! Description of page for search listings; less than 155 characters:-->
{#<meta name="description" content="CLS Capital Link Services is one of the leading independent specialists in travel visa  processing, document legalisation and police clearances operating in Australia and New Zealand today." />#}

<meta name="google-site-verification" content="t2cNTJVWEl0Zu5q9aJVYfi87qmCq-rIT_GwOIzr9t9w" />

<title>{% block title %}{% endblock %}</title>

<META NAME="Description" CONTENT="{% block metadescription %}{% endblock %}"/>
{#<META NAME="KEYWORDS" CONTENT="{% block metakeywords %}{% endblock %}">#}

<link rel="icon" type="image/gif" href="{{ asset('img') }}/favicon.gif" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css') }}/stylesheets2013/screen.css"/>
<link href="{{ asset("css")}}/bootstrap.css" rel="stylesheet" type="text/css">
<!--.htaccess file is required for PNG fix on some servers -->
<!--[if lt IE 7]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>    
    <script type="text/javascript" src="scripts2013/iepngfix_tilebg.js"></script>
	<style type="text/css">body, img, div {behavior: url("scripts2013/iepngfix.htc");}</style> 
<![endif]-->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link type="text/css" rel="stylesheet" href="{{ asset('js') }}/scripts2013/carousels.css" />
<link href="{{ asset("css") }}/home.css" rel="stylesheet">
<link href="{{ asset("api") }}/datepicker/css/datepicker.css" rel="stylesheet">


</head>


<body id="{{ app.session.get("page_name") }}">


<header class="group">
<div class="wrapper">

	<h1><a href="{{ path("acme_cls_homepage") }}"><img src="{{ asset('img') }}/logo-cls.jpg" alt="Capital Link Services"/></a></h1>
    
    	<nav class="actionsNav">
        	<ul class="floatLeft group">
            	<li class="{% if app.session.get("page_name") == "cls-travel-visas" %}selected{% endif %}"><a href="{{ path("acme_cls_travel_visas") }}">Travel Visas</a></li>
            	<li class="{% if app.session.get("page_name") == "cls-government" %}selected{% endif %}"><a href="{{ path("acme_cls_government") }}">Government</a></li>
            	<li class="{% if app.session.get("page_name") == "cls-travel-agents" %}selected{% endif %}"><a href="{{ path("acme_cls_travel_agents") }}">Travel Agents</a></li>
            	<li class="{% if app.session.get("page_name") == "cls-corporate" %}selected{% endif %}"><a href="{{ path("acme_cls_corporate") }}">Corporate</a></li>
            </ul>
        </nav><!--end nav-->
           
            
        <div class="sideNav">   
            
            <nav>
                
                <ul>
                    <li class="navTravelAlerts {% if app.session.get("page_name") == "cls-travel-alerts" %}selected{% endif %}"><a href="{{ path('acme_cls_travel_alerts') }}">Click here for recent travel alerts</a></li>
                    <li class="navAbout {% if app.session.get("page_name") == "cls-about" %}selected{% endif %}"><a href="{{ path('acme_cls_about') }}">About CLS</a></li>
                    <li class="navContact {% if app.session.get("page_name") == "cls-inquiries" %}selected{% endif %}"><a href="{{ path("acme_cls_contact") }}">Contact Us</a></li>
                    <li class="navOther {% if app.session.get("page_name") == "user-login" %}selected{% endif %}"><a href="{{ path("acme_cls_client_login") }}">
                    {% if app.session.get("user_type") == "" %}
                        Login
                    {% else %}
                        Centre
                    {% endif %}
                    </a></li>
                </ul>
            </nav>                   
        </div><!--end side nav-->

</div><!--end wrapper-->
</header><!--end header-->

<div id="servicesNav">
    <div class="wrapper">
        <ul class="group">
            <li class="noPadding {% if app.session.get("page_name") == 'cls-services-visa-processing' %}active{% endif %}"><a href="{{ path("acme_cls_visa_processing") }}">Visa Processing</a></li>
            <li class="{% if app.session.get("page_name") == 'cls-services-police-clearances' %}active{% endif %}"><a href="{{ path("acme_cls_police_clearances") }}">Police Clearances</a></li>
            <li class="{% if app.session.get("page_name") == 'cls-services-doc-delivery' %}active{% endif %}"><a href="{{ path("acme_cls_document_delivery") }}">Secure Document Delivery</a></li>
            <li class="noPadding row2 {% if app.session.get("page_name") == 'cls-services-doc-legalisation' %}active{% endif %}"><a href="{{ path("acme_cls_document_legalisation") }}">Document Legalisation</a></li>
            <li class="row2 {% if app.session.get("page_name") == 'cls-services-translation-services' %}active{% endif %}"><a href="{{ path("acme_cls_translation_services") }}">Translation Services</a></li>
        </ul>
   </div><!--end sub nav-->
</div><!--#services-->
{% block body %}{% endblock %}


<footer>
<div class="wrapper">

	<div class="leftColumn">
    	<img src="{{ asset('img') }}/logo-cls-footer.jpg" />
        <h4>CLS IS PROUD TO BE<br>ASSOCIATED WITH:</h4>
        <img src="{{ asset('img') }}/logos-associated.jpg" />
    </div><!--end left column-->
	
        <div class="rightColumn group">
        	<div class="floatLeft">
            <h4>HOME</h4>
            <ul>
                <li><a href="#">Courier</a></li>
                <li><a href="{{ path("acme_cls_document_delivery_redirect") }}">Document delivery</a></li>
                <li><a href="{{ path("acme_cls_document_legalisation") }}">Document Legalisation</a></li>
                <li><a href="#">Employment Screening</a></li>
                <li><a href="{{ path("acme_cls_contact") }}">Enquires</a></li>
                <li><a href="#">Helpful Links</a></li>
                <li><a href="#">Open jobs list</a></li>
                <li><a href="{{ path("acme_cls_visa_search") }}">Visa Information</a></li>
                <li><a href="{{ path("acme_cls_visa_processing") }}">Visa Processing</a></li>
            </ul>
            </div>

        	<div class="floatLeft">
            <h4>CLIENT CENTER</h4>
            	<ul>
                    <li><a href="{{ path("cls_client_gov_registration") }}">Register</a></li>
                    <li><a href="{{ path("acme_cls_client_login") }}">Government Services Portal</a></li>
                    <li><a href="{{ path("acme_cls_client_login") }}">Government User Login</a></li>
                    <li><a href="#">Online Demo</a></li>
                    <li><a href="#">Order Online</a></li>
                    <li><a href="{{ path("acme_cls_client_login") }}">TPN Login</a></li>
                    <li><a href="{{ path("acme_cls_translation_services") }}">Translation Services</a></li>
                    <li><a href="{{ path("cls_client_public_registration") }}">Travel Agent Registration</a></li>
                    <li><a href="{{ path("acme_cls_client_login") }}">User Login</a></li>
                    <li><a href="#">Login Support</a></li>
                    <li><a href="#">Passport renewal</a></li>
                    <li><a href="{{ path("acme_cls_police_clearances") }}">Police Clearance</a></li>
                    <li><a href="{{ path("acme_cls_police_clearances") }}">Police Clearance Information</a></li>
                    <li><a href="{{ path("acme_cls_police_clearance") }}?id=5">South Africa Police Clearance</a></li>
                </ul>
                </div>

        	<div class="floatLeft">
            <h4>VISAS</h4>
            
            
                {% set counter = 1%}
                {% for country in countries %}
                    {% if counter == 1%}
                    <ul>
                    {% endif %}
                    {% if country.main_display == 1 %}
                        <li><a href="{{ path("acme_cls_visa_search_visa_info") }}/{{ country.countryName|lower|replace({" ":"-"}) }}-travel-visa?id={{ country.id }}">VISAS | {{ country.countryName }}</a></li>
                        {% set counter = counter + 1 %}
                    {% endif %}
                    {% if counter == 14%}
                        </ul>
                        {% set counter = 1%}
                    {% endif %}
                {% endfor %}
            
            
            </div>
        </div><!--end right column-->
	
    		<div id="copyright" class="group">
                    <div class="col1">
                        <p>&copy; COPYRIGHT 2013 CAPITAL LINK SERVICES  |  SITE BY <a href="http://www.voodoocreative.com.au/" target="_blank">VOODOO</a> | <a href="{{ path("acme_cls_sitemap") }}">SITEMAP</a></p>
                    </div>
                    
                    <div class="col2 seal">
                        <!-- Begin eWAY Linking Code -->
                        <div id="eWAYBlock">
                            <div>
                                <a href="http://www.eway.com.au/secure-site-seal?i=13&s=15&pid=841076a2-e908-4845-b574-732659608b92" title="eWAY Payment Gateway" target="_blank" rel="nofollow">
                                    <img alt="eWAY Payment Gateway" src="https://www.eway.com.au/developer/payment-code/verified-seal.ashx?img=13&size=15&pid=841076a2-e908-4845-b574-732659608b92" />
                                </a>
                            </div>
                        </div>
                        <!-- End eWAY Linking Code -->
                        
                        <!-- webbot  bot="HTMLMarkup" startspan -->
                        
                        <!-- GeoTrust QuickSSL [tm] Smart  Icon tag. Do not edit. -->
                        <script language="javascript" type="text/javascript" src="//smarticon.geotrust.com/si.js"></script>
                        <!-- end  GeoTrust Smart Icon tag -->

                        <!-- webbot  bot="HTMLMarkup" endspan -->
                        
                        {#
                        <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
                        <tr>
                        <td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=www.capitallinkservices.com.au&amp;size=S&amp;lang=en"></script><br />
                        <a href="http://www.geotrust.com/ssl/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a></td>
                        </tr>
                        </table>
                        #}
                        
                        
                    </div>
                   
            </div><!--end copyright-->
            
</div><!--end wrapper-->
</footer><!--end footer-->

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}
<script src="{{ asset("js") }}/jquery/jquery1.11.0.min.js"></script>
<script type="text/javascript" src="{{ asset('js') }}/scripts2013/carousels.js"></script>
<script src="{{ asset("js") }}/bootstrap.min.js"></script>
<script src="{{ asset("js") }}/docs.min.js"></script>
<script src="{{ asset("js") }}/main.js"></script>
<script src="{{ asset("api") }}/datepicker/js/bootstrap-datepicker.js"></script>
<script src="{{ asset("js") }}/bootbox.js"></script>
{% block javascripts %}{% endblock %}

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?1jzCY1sqZr63DF5QdqK5UnNjT7KozbZT';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->

<script type="text/javascript">
var reachlocalTRKDOM="rtsys.rtrk.com.au";
(function() {
var rlocal_load = document.createElement("script");
rlocal_load.type = "text/javascript";
rlocal_load.src = document.location.protocol+"//"+reachlocalTRKDOM+"/rct_lct/js/rlrct1.js";
(document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild (rlocal_load);
})(); </script>
    
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59797810-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
