<!DOCTYPE html>
<!-- template from http://getbootstrap.com/examples/carousel/ -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CLS - Your Gateway to the World - Register for a CLS Government Client Centre Account</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <link href="{{ asset("css")}}/bootstrap.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="{{ asset("css") }}/home.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body id="{{ app.session.get("page_name") }}">
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
              </button>
              <a class="nav-logo" href="#"><img class="logo" src="{{ asset("img") }}/logo.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="{% if app.session.get("page_name") == "homepage" %}active{% endif %}"><a href="{{ path("acme_cls_homepage") }}">Home</a></li>
                <li class="{% if app.session.get("page_name") == "cls-travel-visas" %}active{% endif %}"><a href="{{ path("acme_cls_travel_visas") }}">Travel Visas</a></li>
                <li class="{% if app.session.get("page_name") == "cls-government" %}active{% endif %}"><a href="{{ path("acme_cls_government") }}">Government</a></li>
                <li class="{% if app.session.get("page_name") == "cls-travel-agents" %}active{% endif %}"><a href="{{ path("acme_cls_travel_agents") }}">Travel Agents</a></li>
                <li class="{% if app.session.get("page_name") == "cls-corporate" %}active{% endif %}"><a href="{{ path("acme_cls_corporate") }}">Corporate</a></li>
              </ul>
                    
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a></a>
                    </li>
                    <li class="dropdown {% if 'cls-services' in app.session.get("page_name") == true %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="{% if app.session.get("page_name") == "cls-services-visa-processing" %}active{% endif %}"><a href="{{ path("acme_cls_visa_processing") }}">Visa Processing</a></li>
                            <li class="{% if app.session.get("page_name") == "cls-services-police-clearances" %}active{% endif %}"><a href="{{ path("acme_cls_police_clearances") }}">Police Clearances</a></li>
                            <li class="{% if app.session.get("page_name") == "cls-services-doc-delivery" %}active{% endif %}"><a href="{{ path("acme_cls_document_delivery") }}">Secure Document Delivery</a></li>
                            <li class="{% if app.session.get("page_name") == "cls-services-doc-legalisation" %}active{% endif %}"><a href="{{ path("acme_cls_document_legalisation") }}">Document Legalisation</a></li>
                            <li class="{% if app.session.get("page_name") == "cls-services-translation-services" %}active{% endif %}"><a href="{{ path("acme_cls_translation_services") }}">Translation Services</a></li>
                        </ul>
                    </li>
                    <li class="{% if app.session.get("page_name") == "cls-about" %}active{% endif %}"><a href="{{ path('acme_cls_about') }}">About CLS</a></li>
                    <li class="{% if app.session.get("page_name") == "cls-inquiries" %}active{% endif %}"><a href="{{ path("acme_cls_contact") }}">Contact Us</a></li>
                    {% if app.session.get("user_type") == "tpn-user"%}
                        <li><a href="{{ path("acme_cls_tpn_home") }}">Client Center</a></li>
                    {% elseif app.session.get("user_type") == "government" or app.session.get("user_type") == "public" or app.session.get("user_type") == "corporate" %}
                        <li><a href="{{ path("cls_client_gov_home") }}">Client Center</a></li>
                    {% elseif app.session.get("user_type") == "admin-user"%}
                        <li><a href="{{ path("acme_cls_admin_home") }}">Admin Center</a></li>    
                    {% endif %}
                        
                    {% if app.session.get("user_type") == "" %}
                        <li class="{% if app.session.get("page_name") == "user-login" %}active{% endif %}"><a href="{{ path("acme_cls_client_login") }}">Login</a></li>
                    {% else %}
                        <li><a href="{{ path("acme_cls_client_logout") }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
                  
                
          </div>
        </div>

      </div>
    </div>


    



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    

    {% block body %}{% endblock %}

    
    <div class="map"></div>
    
    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img src="{{ asset("img") }}/logo-cls-footer.jpg">
                    <h4>CLS IS PROUD TO BE ASSOCIATED WITH:</h4>
                    <img src="{{ asset("img") }}/logos-associated.jpg">
                </div>
                    
                <div class="col-lg-2">
                    <h5>HOME</h5>
                    <ul>

                        <li><a href="#">GENERAL PUBLIC</a></li>
                        <li><a href="#">GOVERNMENT</a></li>
                        <li><a href="#">TRAVEL AGENTS</a></li>
                        <li><a href="#">CORPORATE</a></li>
                        <li><a href="#">ALL SERVICES</a></li>
                        <li><a href="#">ABOUT CLS</a></li>
                        <li><a href="#">CONTACT US</a></li>
                        <li><a href="#">VISA PROCESSING</a></li>
                        <li><a href="#">POLICE CLEARANCES</a></li>
                        <li><a href="#">SECURE DOCUMENT DELIVERY</a></li>
                        <li><a href="#">DOCUMENT LEGISLATION</a></li>
                        <li><a href="#">TRANSLATION SERVICES</a></li>

                    </ul>
                </div>
                    
                <div class="col-lg-2">
                    <h5>CLIENT CENTER</h5>
                    <ul>

                        <li><a href="#">Corporate Register</a></li>
                        <li><a href="#">Corporate User Login</a></li>
                        <li><a href="#">Government User Login</a></li>
                        <li><a href="#">TPN Login</a></li>
                        <li><a href="#">Order Visas Online</a></li>
                        <li><a href="#">Travel Agent Registration</a></li>
                        <li><a href="#">Login Support</a></li>
                        <li><a href="#">Track Your Order</a></li>
                    </ul>
                </div>
                    
                <div class="col-lg-5 visas">
                    <h5>VISAS</h5>
                    
                    <ul>
                        {% for country in countries %}
                            {% if country.main_display == 1 %}
                            <li><a href="{{ path("acme_cls_visa_search_visa_info") }}?id={{ country.id }}">VISAS | {{ country.countryName }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ asset("js") }}/bootstrap.min.js"></script>
    <script src="{{ asset("js") }}/docs.min.js"></script>
    <script src="{{ asset("js") }}/main.js"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>
