{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Manage - Third Person Note (TPN)</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_manage_tpn") }}" method="post">
<input type="hidden" name="hidSubmit"/>
<div class="row">
    <div class="col-lg-4">
        <h4>Details</h4>
        <div class="form-group">
            <label>Third Person Note (TPN) <b>Cost $ (Ex GST)</b> </label> 
            <input type="text" name="tpn" value="{% if post.tpn is defined %}{{ post.tpn }}{% endif %}" class="form-control"  placeholder="0.00" required>
        </div>
            
        <div class="form-group">
            <label>Third Person Note (TPN) Additional Applicant <br><b>Cost $ (Ex GST)</b> </label> 
            <input type="text" name="additionalTpn" value="{% if post.tpnAdditional is defined %}{{ post.tpnAdditional }}{% endif %}" class="form-control"  placeholder="0.00" required>
        </div>
            
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
{% endblock %}