{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}
{% if errors is defined %}
<div class="alert alert-block alert-danger fade in">
    <span class="close" data-dismiss="alert">&times;</span>
    <!--<span class="alert-title">The form has the following errors:</span>-->
    <ul>
    {% for error in errors %}
        {{ error.message }} <br/>
    {% endfor %}
    </ul>
</div>
{%endif%}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>Passport Office Courier Service Booking</h3>
        {% else %}
            <h3>Create Order: Passport Office Courier Service Booking<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
                        
        {% if app.session.get('user_type') != 'admin-user' %}
        <div class="application-steps">
            <span>Step 1/3</span>
            <span class="active">Details</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% else %}
        <div class="application-steps">
            <span>Step 1/3</span>
            <span class="active">Details</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

{% if user.can_get_special_price == 1 %}
    {% set special_price = user.special_price %}
{% else %}
    {% set special_price = 0 %}
{% endif %}

<div class="row">
    <form action="{{ path("cls_client_gov_passport_office_pickup_or_delivery") }}" method="post">
    <input type="hidden" name="hidSubmit">
    {% if app.session.get('user_type') == 'admin-user' %}
        <input type="hidden" name="client_id" value="{{ user_details.id }}">
    {% endif %}
        
    <!-- Payment details -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="bg-info" style="overflow: hidden;">
                    <div class="col-lg-12">
                        <h4>Have you made a booking with the passport office?</h4>
                        <p>You need to have a booking with the passport office and link before we can pickup you order.</p>
                        <p><a href="https://www.passports.gov.au/Web/index.aspx" target="_blank">Click Here to open the passport oce website in a new window and complete the passport application form before you proceed.</a></p>
                    </div>
                </div>
                <h4>Your Details</h4>
                <label><input type="checkbox" id="chkUseDefaultAddress" /> Use my Default Billing Address</label>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Firstname</label>
                            <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control" id="txtFname" placeholder="First Name" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Lastname</label>
                            <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control" id="txtLname" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Email Address</label>
                            <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" id="txtEmail" placeholder="Email address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Contact Phone Number</label>
                            <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control" id="txtPhone" placeholder="Phone number" required>
                        </div>
                        <div class="col-lg-6">
                            <label>Mobile Phone Number</label>
                            <input type="text" name="mobile" value="{% if post.mobile is defined %}{{ post.mobile }}{% endif %}" class="form-control" id="txtMobile" placeholder="Mobile number">
                        </div>
                    </div>
                </div>

                <hr/>


                <h4>Passport Details</h4>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Passport Office Booking Number</label>
                            <input type="text" name="passportOfficeBookingNumber" value="{% if post.passportOfficeBookingNumber is defined %}{{ post.passportOfficeBookingNumber }}{% endif %}" class="form-control" id="txtFname" placeholder="Passport office booking number" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Passport Office Booking Time</label>
                            <input type="text" name="passportOfficeBookingTime" value="{% if post.passportOfficeBookingTime is defined %}{{ post.passportOfficeBookingTime }}{% endif %}" class="form-control date-picker" id="txtFname"  required>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Hour</label>
                            <select name="passportOfficeBookingTimeHour" class="form-control">
                                {% for i in 0..23 %}
                                    <option value="{{ "%02d"|format(i) }}">{{ "%02d"|format(i) }}</option>
                                {% endfor %}
                            </select>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Min</label>
                            <select name="passportOfficeBookingTimeMin" class="form-control">
                                <option value="00">00</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="applicants">
                    {% if post.passportApplicants is defined and post.passportApplicants|length > 0%}
                        {% for applicant in post.passportApplicants %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Passport Applicant Full Name (<a class="link remove remove-passport-applicant">remove applicant</a>)</label>
                                    <input type="text" name="passportApplicantFullname[{{ loop.index - 1 }}]" value="{{ applicant.passportApplicantFullname }}" class="form-control" placeholder="Passport applicant full name"  required>

                                    <ul style="margin-left: 10px; margin-top: 10px;">
                                        <li><label><input type="checkbox" name="personalPassport[{{ loop.index - 1 }}]" {% if applicant.personalPassport == 1 %}checked{% endif %}> Personal Passport </label></li>
                                        <li><label><input type="checkbox" name="doPassport[{{ loop.index - 1}}]" {% if applicant.doPassport == 1 %}checked{% endif %}> Diplomatic/Official Passport </label></li>
                                        <li><label><input type="checkbox" name="birthCertificate[{{ loop.index - 1 }}]" {% if applicant.birthCertificate == 1 %}checked{% endif %}> Birth Certificate </label></li>
                                        <li><label><input type="checkbox" name="marriageCertificate[{{ loop.index - 1 }}]" {% if applicant.marriageCertificate == 1 %}checked{% endif %}> Marriage Certificate </label></li>
                                        <li><label><input type="checkbox" name="certOfAustralianCitizenship[{{ loop.index - 1 }}]" {% if applicant.certOfAustralianCitizenship == 1 %}checked{% endif %}> Certificate of Australian Citizenship </label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Passport Applicant Full Name</label>
                                <input type="text" name="passportApplicantFullname[0]" value="{% if post.passportOfficeBookingTime is defined %}{{ post.passportOfficeBookingTime }}{% endif %}" class="form-control" placeholder="Passport applicant full name"  required>
                                
                                <ul style="margin-left: 10px; margin-top: 10px;">
                                    <li><label><input type="checkbox" name="personalPassport[0]"> Personal Passport </label></li>
                                    <li><label><input type="checkbox" name="doPassport[0]"> Diplomatic/Official Passport </label></li>
                                    <li><label><input type="checkbox" name="birthCertificate[0]"> Birth Certificate </label></li>
                                    <li><label><input type="checkbox" name="marriageCertificate[0]"> Marriage Certificate </label></li>
                                    <li><label><input type="checkbox" name="certOfAustralianCitizenship[0]"> Certificate of Australian Citizenship </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                
                <div class="text-right">
                    <button id="addApplicant" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Add an applicant</button>
                    <!--<button id="removeLastApplicant" type="button" class="btn btn-danger btn-xs" style="display: none"><span class="glyphicon glyphicon-minus-sign"></span> Remove last applicant</button>-->
                </div>
            </div>
        </div>
    </div>
    
        
    <!-- Payment options -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Total Order Price</h4>
                <h4>$<span id="totalOrderPrice">{{ cost.cost }}</span> AUD <span id="incCardFee" class="small-note">inc Card fee ($<span>0.00</span>)</span></h4>

                <hr/>
                
                <h4>Payment Option</h4>
                
                <div class="row">
                    <div class="col-lg-12">
                        {% if user.can_charge_cost_to_account == 1%}
                            <label><input type="radio" name="paymentType" class="payment-option default" {% if post.paymentType is defined %} {%if post.paymentType == 0 %}checked{% endif %}{% else %}checked{% endif%} value="0"/> Pay on Account </label><br/>
                        {% endif %}
                        <label><input type="radio" name="paymentType" class="payment-option" {% if user.can_charge_cost_to_account == 0 and post.paymentType is not defined%}checked{% else%}{% if post.paymentType is defined %}{% if post.paymentType == 1 %}checked{% endif%}{% endif %}{% endif %} value="1"/> Pay via Credit Card - fee ({{ credit_card_processing_fee }}%) </label><br/>
                        {% if app.session.get('user_type') == 'admin-user' %}
                            <label><input type="radio" name="paymentType" class="payment-option default" value="2"/> Mark as Paid </label>
                        {% endif %}
                    </div>
                </div>
                <hr/>

                {% if user.can_charge_cost_to_account == 1%}
                
                <div class="payment-option-fields account">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Account Number</label>
                                <input type="text" name="accountNumber" value="{% if post.accountNumber is defined %}{{ post.accountNumber }}{% endif %}" class="form-control pay-required-one" id="txtAccountNumber" placeholder="Account number" required>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}

                
                <div class="payment-option-fields credit-card">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Name on Card</label>
                                <input type="text" name="nameOnCard" value="{% if post.nameOnCard is defined %}{{ post.nameOnCard }}{% endif %}" class="form-control pay-required" id="txtNameOnCard" placeholder="Name on card" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Number</label>
                                <input type="text" name="cardNumber" value="{% if post.cardNumber is defined %}{{ post.cardNumber }}{% endif %}" class="form-control pay-required" id="txtCardNumber" placeholder="Card number" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Expiry</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <select name="cardExpiryMonth" class="form-control pay-required">
                                    {% for i in 1..12 %}
                                    <option>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <select name="cardExpiryYear" class="form-control pay-required">
                                    {% for i in 0..10 %}
                                        {% set year = "now"|date_modify("+" ~ i ~" year")|date("Y") %}
                                    <option>{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Card Type</label>
                                <select name="cardType" class="form-control pay-required">
                                    <option value="">Select type</option>
                                    {% for type in cardtypes %}
                                        <option value="{{ type.id }}" {% if post.cardtype is defined and type.id == post.cardtype %}selected{% endif %}>{{ type.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>CCV Number</label>
                                <input type="text" name="ccvNumber" value="{% if post.ccvNumber is defined %}{{ post.ccvNumber }}{% endif %}" class="form-control pay-required" id="txtCcvNumber" placeholder="CCV number" required>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                
                <div class="text-right">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                </div>
            </div>
        </div>
        </div>
    </form>
    </div>
    
</div>


{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        
        // Global declarations
        var url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var cost = {{ cost.cost }};
        var ccp_fee = {{ credit_card_processing_fee }};
        var additional_cost = {{ cost.additionalCost }};
        var special_price = {% if user.can_get_special_price == 1 %}{{ user.special_price }}{% else %}0{% endif %};
    </script>
    
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}