{% extends "AcmeCLShomeBundle::layout.html.twig" %}

{% block body %}
<!--<a href="{% if app.session.get('user_type') == 'public' or app.session.get('user_type') == 'corporate' %}{{ path("cls_client_aplication_document_delivery") }}{% else %}{{ path("acme_cls_document_delivery_redirect") }}{% endif %}" class="btn btn-primary">APPLY NOW</a>-->
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
<div class="row">
    <div class="col-lg-8">
        <h1>Russian Visa Invitation/Voucher order form</h1>

        <h2>An invitation for entry is required to obtain a visa into Russia. If you do not already have one an application for invitation should be made.</h2>
        
        
        
        
        <form action="{{ path("cls_client_russian_visa_voucher_application_details") }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="public">
        <hr/>
        <h3>Please enter information to be used for issuing you a visa invitation</h3>
        
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Title</label>
                    <select class="form-control required" name="title"  required>
                        <option value="">Select title</option>
                        {% for title in name_titles %}
                            <option value="{{ title.id }}" {% if post is defined and post.travellers[0][title] == title.id %}selected{% endif %}>{{ title.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control required" name="fname" value="{% if post is defined %}{{ post.travellers[0]['fname'] }}{% endif %}" required/>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Middle name</label>
                    <input type="text" class="form-control" name="mname" value="{% if post is defined %}{{ post.travellers[0]['mname'] }}{% endif %}"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control required" name="lname" value="{% if post is defined %}{{ post.travellers[0]['lname'] }}{% endif %}" required/>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control required" name="email" value="{% if post is defined %}{{ post.travellers[0]['email'] }}{% endif %}" required/>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Citizenship</label>
                    <input type="text" class="form-control required occupation" name="rvv_citizenship" value="{% if post is defined %}{{ post.travellers[0]['rvv_citizenship'] }}{% endif %}" required/>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Sex</label>
                    <select name="rvv_sex" class="form-control required" required>
                        <option value="">Please select</option>
                        <option value="male" {% if post is defined and post.travellers[0]['rvv_sex'] == 'male' %}selected{% endif %}>Male</option>
                        <option value="female" {% if post is defined and post.travellers[0]['rvv_sex'] == 'female' %}selected{% endif %}>Female</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Phone</label>
                    <input type="phone" class="form-control required" name="phone" value="{% if post is defined %}{{ post.travellers[0]['phone'] }}{% endif %}" required/>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Place of birth</label>
                    <input type="text" class="form-control required" name="rvv_birth_place" value="{% if post is defined %}{{ post.travellers[0]['rvv_birth_place'] }}{% endif %}" required/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Date of Birth</label>
                    <div class="input-group date">
                        <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="birth_date" value="{% if post is defined and post.travellers[0]['birth_date'] != '' %}{{ post.travellers[0]['birth_date']|date('d-m-Y') }}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Passport Number</label>
                    <input type="text" class="form-control required" name="passport_number" value="{% if post is defined %}{{ post.travellers[0]['passport_number'] }}{% endif %}" required/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Passport issue date</label>
                    <div class="input-group date">
                        <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="rvv_passport_issue_date" value="{% if post is defined %}{{ post.travellers[0]['rvv_passport_issue_date'] }}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Passport expiration date</label>
                    <div class="input-group date">
                        <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="rvv_passport_exp_date" value="{% if post is defined %}{{ post.travellers[0]['rvv_passport_exp_date'] }}{% endif %}" placeholder="DD-MM-YYYY" required></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
            </div>

            <div class="col-lg-4">
            </div>
        </div>

            
        <hr/>
        
        <h3>Travel Details</h3>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Date of first entry to Russia</label>
                    <div class="input-group date">
                        <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="rvv_first_entry_date" placeholder="DD-MM-YYYY" value="{% if post is defined %}{{ post.rvv_first_entry_date|date('d-m-Y') }}{% endif %}" required></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Date of first departure from Russia</label>
                    <div class="input-group date">
                        <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="rvv_first_departure_date" placeholder="DD-MM-YYYY" value="{% if post is defined %}{{ post.rvv_first_departure_date|date('d-m-Y') }}{% endif %}" required></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Date of second entry to Russia</label>
                    <div class="input-group date">
                        <input class="form-control date-picker" data-format="dd-MM-yyyy" type="text" name="rvv_second_entry_date" placeholder="DD-MM-YYYY" value="{% if post is defined and post.rvv_second_entry_date != '' %}{{ post.rvv_second_entry_date|date('d-m-Y') }}{% endif %}"></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Date of second departure from Russia</label>
                    <div class="input-group date">
                        <input class="form-control date-picker" data-format="dd-MM-yyyy" type="text" name="rvv_second_departure_date" placeholder="DD-MM-YYYY" value="{% if post is defined and post.rvv_second_departure_date != '' %}{{ post.rvv_second_departure_date|date('d-m-Y') }}{% endif %}"></input>
                        <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
            

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>List of cities to be visited (max of 6)</label>
                    <textarea class="form-control" name="rvv_list_of_cities">{% if post is defined %}{{ post.rvv_list_of_cities }}{% endif %}</textarea>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>List of hotels in Russia</label>
                    <textarea class="form-control" name="rvv_list_of_hotels">{% if post is defined %}{{ post.rvv_list_of_hotels }}{% endif %}</textarea>
                </div>
            </div>
        </div>

                        
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Visa to be applied at</label><br/>
                    {% set other = 0 %}
                    <label><input type="radio" name="rvv_visa_applied_at" {% if post is defined and post.rvv_visa_applied_at == 'The Russian Embassy, 78 Canberra Avenue, Griffith ACT– CANBERRA AUSTRALIA' %}checked{% set other = 1 %}{% endif %} value="The Russian Embassy, 78 Canberra Avenue, Griffith ACT– CANBERRA AUSTRALIA"/> The Russian Embassy, 78 Canberra Avenue, Griffith ACT– CANBERRA AUSTRALIA</label><br/>
                    <label><input type="radio" name="rvv_visa_applied_at" {% if post is defined and post.rvv_visa_applied_at == 'The Consulate General of Russian Federation ,7-9 Fullerton St, Woollahra NSW 2025' %}checked {% set other = 1 %}{% endif %} value="The Consulate General of Russian Federation ,7-9 Fullerton St, Woollahra NSW 2025"/> The Consulate General of Russian Federation ,7-9 Fullerton St, Woollahra NSW 2025</label><br/>
                    <label><input type="radio" name="rvv_visa_applied_at" value="" {% if other == 0 %}checked{% endif %}/> Other: </label>
                    <input type="text" class="form-control rvv-visa-applied-other"/>
                </div>
            </div>
        </div>
                        

        <hr/>
        
        <h3>Employment Information</h3>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Your company name</label>
                    <input type="text" class="form-control required" name="rvv_company" value="{% if post is defined %}{{ post.travellers[0]['rvv_company'] }}{% endif %}" required>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Your Position</label>
                    <input type="text" class="form-control required" name="rvv_position" value="{% if post is defined %}{{ post.travellers[0]['rvv_position'] }}{% endif %}" required>
                </div>
            </div>    
        </div>
        
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Street Address</label>
                    <input type="text" class="form-control required" name="rvv_address" value="{% if post is defined %}{{ post.travellers[0]['rvv_address'] }}{% endif %}" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control required" name="rvv_city" value="{% if post is defined %}{{ post.travellers[0]['rvv_city'] }}{% endif %}" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control required" name="rvv_state" value="{% if post is defined %}{{ post.travellers[0]['rvv_state'] }}{% endif %}" required>
                </div>
            </div>    
        </div>
        
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Zipcode/Postcode</label>
                    <input type="text" class="form-control required" name="rvv_postcode" value="{% if post is defined %}{{ post.travellers[0]['rvv_postcode'] }}{% endif %}" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control required" name="rvv_country"  required>
                        <option value="">Select country</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}" {% if post is defined and post.travellers[0]['rvv_country'] == country.id%}selected{% endif %}>{{ country.countryName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>    
                
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Company fax</label>
                    <input type="text" class="form-control" name="rvv_company_fax" value="{% if post is defined %}{{ post.travellers[0]['rvv_company_fax'] }}{% endif %}">
                </div>
            </div>
        </div>
        
        
        <hr/>
        
        
        <h3>Voucher type, processing time and price</h3>
        
        <div class="row">
            <div class="col-lg-12">
                <table class="display table table-bordered dataTable">
                    <tr style="background-color: #0A4267; color: white">
                        <th class="text-center">Invitation type</th>
                        <th class="text-center">3 days processing</th>
                        <th class="text-center">1-2 days processing</th>
                        <th class="text-center" >12 hours processing</th>
                    </tr>
                    
                    {% for type in voucher_types %}
                        {% if type.type == 'invitation'%}
                        <tr>
                            <td>{{ type.name }}</td>
                            <td class="text-center">
                                <label>
                                {% if type.three_days_process_fee != '' or type.three_days_process_fee != 0 %}
                                    ${{ type.three_days_process_fee|number_format(2) }}<br/>
                                    <input type="radio" name="voucher" value="{{ type.id ~ ':1' }}" {% if post is defined and post.russian_visa_voucher_id == type.id and post.russian_visa_voucher_col_no == '1' %}checked{% endif %}/>
                                {% else %}
                                    -
                                {% endif %}
                                </label>
                            </td>
                            <td class="text-center">
                                <label>
                                {% if type.one_two_days_process_fee != '' or type.one_two_days_process_fee != 0 %}
                                    ${{ type.one_two_days_process_fee|number_format(2) }}<br/>
                                    <input type="radio" name="voucher" value="{{ type.id ~ ':2' }}" {% if post is defined and post.russian_visa_voucher_id == type.id and post.russian_visa_voucher_col_no == '2' %}checked{% endif %}/>
                                {% else %}
                                    -
                                {% endif %}
                                </label>
                            </td>
                            <td class="text-center">
                                <label>
                                {% if type.twelve_hrs_process_fee != '' or type.twelve_hrs_process_fee != 0 %}
                                    ${{ type.twelve_hrs_process_fee|number_format(2) }}<br/>
                                    <input type="radio" name="voucher" value="{{ type.id ~ ':3' }}" {% if post is defined and post.russian_visa_voucher_id == type.id and post.russian_visa_voucher_col_no == '3' %}checked{% endif %}/>
                                {% else %}
                                    -
                                {% endif %}
                                </label>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    
                </table>
                    
                    
                <table class="display table table-bordered dataTable">
                    <tr style="background-color: #0A4267; color: white">
                        <th class="text-center">Business visa</th>
                        <th class="text-center">13 days</th>
                        <th class="text-center">4 days</th>
                    </tr>
                    
                    {% for type in voucher_types %}
                        {% if type.type == 'business'%}
                        <tr>
                            <td>{{ type.name }}</td>
                            <td class="text-center">
                                <label>
                                {% if type.thirteen_days != '' or type.thirteen_days != 0 %}
                                    ${{ type.thirteen_days|number_format(2) }}<br/>
                                    <input type="radio" name="voucher" value="{{ type.id ~ ':4' }}" {% if post is defined and post.russian_visa_voucher_id == type.id and post.russian_visa_voucher_col_no == '4' %}checked{% endif %}/>
                                {% else %}
                                    -
                                {% endif %}
                                </label>
                            </td>
                            <td class="text-center">
                                <label>
                                {% if type.four_days != '' or type.four_days != 0 %}
                                    ${{ type.four_days|number_format(2) }}<br/>
                                    <input type="radio" name="voucher" value="{{ type.id ~ ':5' }}" {% if post is defined and post.russian_visa_voucher_id == type.id and post.russian_visa_voucher_col_no == '5' %}checked{% endif %}/>
                                {% else %}
                                    -
                                {% endif %}
                                </label>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        
        <div class="row">       
            <div class="col-lg-12">
                <label>Attach a copy of the first page of your passport. 10Mb Limit.</label>
                <p>(We can organise an alternative method for transferring a copy of your passport should you require.)</p>
                <input type="file" name="file">
            </div>
        </div>
        
        <hr/>
        
        <h3>Notes</h3>
        <div class="row">
            <div class="col-lg-12">
                <ol>
                    <li>Please Complete CLS Russian Visa Invitation/Voucher order form</li>
                    <li>Please Attach a copy of the first page of your passport.</li>
                    <li>All invitations will be processed through the Russian Ministry of internal Affairs. Official visa support will be emailed to our CLS office.</li>
                    <li>We will start processing your request on the same day if we receive the above documents before 10.00 am, otherwise they will go for processing the next business day.</li>
                </ol>
            </div>
        </div>
        
        
        <hr/>
        
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        
                        
       
        </form>                 
                        
                        
                        
                        
                 
        
        
    </div>
        
        
    <div class="col-lg-4">
        <p><a href="#"><img src="{{ asset('img') }}/front-ads-rotator/ad_services.jpg"></a></p>
        <p><a href="{{ path("acme_cls_visa_processing") }}"><img src="{{ asset('img') }}/front-ads-rotator/ad_destination.jpg"></a></p>
        <p><a href="{{path("acme_cls_document_delivery") }}"><img src="{{ asset('img') }}/front-ads-rotator/ad_document.jpg"></a></p>
    </div>
    
</div>
</section>
{% endblock %}

{% block javascripts %}
    
{% endblock %}