<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Level</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="glyphicon glyphicon-ok"></span></td>
            <td>Order submitted to CLS</td>
            <td><span id="dateSubmittedToCLS">{{ data.date_submitted|date('d-m-Y H:i:s') }}</span></td>
        </tr>
        <tr>
            <td>{% if data.sender_signed_datetime != '' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
            <td>Order pick up {% if data.sender_name != '' %}<i>from {{ data.sender_name }}</i>{% endif %}</td>
            <td><span id="dateReceivedAtCLS">{% if data.sender_signed_datetime != '' %}{{ data.sender_signed_datetime|date('d-m-Y H:i:s') }}{% endif %}</span></td>
        </tr>

        <tr>
            <td>{% if data.signature != '' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
            <td>Order delivered {% if data.sig_name != '' %}<i>to {{ data.sig_name }}</i>{% endif %}</td>
            <td><span id="dateSubmittedForProcessing">{% if data.signature != '' %}{{ data.police_clearance_date_submitted_for_processing|date('d-m-Y H:i:s') }}{% endif %}</span></td>
        </tr>

    </tbody>
</table>



{#<h4>Ticket Notes</h4>
<ul id="orderNotes">
    {% for note in data.order_notes %}
        {% if note.is_admin == 0 %}
            <li><span class="note-text">{{ note.note|raw }}</span><br/><span class="noted-by"><i>- by {{ note.note_by_name ~ " (" ~ note.user_type ~")"}} {{ note.date_added|date("d-m-Y H:i:s") }}</i></span></li>
        {% endif %}
    {% endfor %}
</ul>
<textarea id="note" class="form-control"></textarea>#}