{% extends "AcmeCLShomeBundle::layout.html.twig" %}

{% block metadescription %}Contact Capital Link Services today to discuss any aspect of your visa or to talk about our other services. You can either ring us directly or use the form below.{% endblock %}

{% block title %} Contact Us | Capital Link Services{% endblock %}

{% block body %}


<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
    {% if error is defined %}
    <div class="alert alert-block alert-danger fade in">
         <span class="close" data-dismiss="alert">&times;</span>
        {{ error }}
    </div>
    {%endif%}
        
    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact Us</h1>
            </div>
        </div>

        <div class="row">
                <div class="col-lg-8">
                    <h2>Contact us today to discuss any aspect of your visa or to talk about our other services. You can either ring us directly or use the form below - our friendly team is waiting for your call.</h2>
                    <h2>CLS Express Consular Courier Services</h2>

                    <h3>Australia</h3>
                    <p>
                        Deakin Professional Centre<br/>
                        Suite 2, 46 Geils Court<br/>
                        Deakin ACT 2600<br/>
                    </p>
                    <p>
                        <b>Phone</b> <i>Australia:</i> (02) 6282 7155 <i>International:</i> +61 2 6282 7155<br/>
                        <b>Fax</b> <i>Australia:</i> (02) 6282 7199 <i>International:</i> +61 2 6282 7199
                    </p

                    <h3>New Zealand</h3>
                    <p>
                        Level 4, 369 Queen St<br/>
                        Auckland 1010, New Zealand<br/>
                    </p>
                    <p>
                        <b>Phone</b> <i>New Zealand:</i> 09 3068900 - 0800 440908 <i>International:</i> +64 9 306 8900<br/>
                        <b>Fax</b> <i>New Zealand:</i> (09) 358 8116 <i>International:</i> +64 9 358 8116
                    </p>

                    <hr/>

                    <h3>Please fill out the form below to get a custom quote</h3>

                    <form action="{{ path("acme_cls_contact") }}" method="post">
                        <input type="hidden" name="hid_submit">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>Title</label>
                                    <select name="title" class="form-control" required>
                                        <option value="">Select title</option>
                                        {% for title in titles %}
                                        <option value="{{ title.title }}" {% if post.title is defined and post.title == title.title %}selected{% endif %}>{{ title.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-lg-4">
                                    <label>Firstname</label>
                                    <input type="text" name="fname" class="form-control" placeholder="First name" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" required>
                                </div>

                                <div class="col-lg-4">
                                    <label>Lastname</label>
                                    <input type="text" name="lname" class="form-control" placeholder="Last name" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="Email address" value="{% if post.email is defined %}{{ post.email }}{% endif %}" required>
                                </div>

                                <div class="col-lg-6">
                                    <label>Company</label>
                                    <input type="text" name="company" class="form-control" placeholder="Company" value="{% if post.company is defined %}{{ post.company }}{% endif %}" required>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Work address</label>
                                    <textarea name="workAdress" class="form-control" placeholder="Work address" required>{% if post.workAdress is defined %}{{ post.workAdress }}{% endif %}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>City</label>
                                    <input type="text" name="city" class="form-control" placeholder="City"  value="{% if post.city is defined %}{{ post.city }}{% endif %}" required>
                                </div>

                                <div class="col-lg-6">
                                    <label>State</label>
                                    <input type="text" name="state" class="form-control" placeholder="State" value="{% if post.state is defined %}{{ post.state }}{% endif %}" required>
                                </div>


                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Postcode</label>
                                    <input type="text" name="postcode" class="form-control" placeholder="Postcode" value="{% if post.postcode is defined %}{{ post.postcode }}{% endif %}" required>
                                </div>
                                <div class="col-lg-6">
                                    <label>Country</label>
                                    <select name="country" class="form-control" required>
                                        <option value="">Select country</option>
                                        {% for country in countries %}
                                            <option value="{{ country.countryName }}" {% if post.country is defined and post.country == country.countryName %}selected{% endif %}>{{ country.countryName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Type of service required</label><br/>
                            {% set vp = ''%}
                            {% set dl = ''%}
                            {% set pl = ''%}
                            {% set hs = ''%}
                            {% set pr = ''%}
                            {% set es = ''%}
                            {% set tr = ''%}

                            {% if post.serviceRequired is defined %}
                                {% for service in post.serviceRequired %}
                                    {% if service == 'Visa Processing' %}
                                        {% set vp = 'checked'%}
                                    {% elseif service == 'Document Legalisation' %}    
                                        {% set dl = 'checked'%}
                                    {% elseif service == 'Police Clearances' %}    
                                        {% set pl = 'checked'%}
                                    {% elseif service == 'High Security Document Delivery' %}    
                                        {% set hs = 'checked'%}
                                    {% elseif service == 'Passport renewal' %}    
                                        {% set pr = 'checked'%}
                                    {% elseif service == 'Employment Screening' %}    
                                        {% set es = 'checked'%}
                                    {% elseif service == 'Translation' %}    
                                        {% set tr = 'checked'%}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <label class="service"><input type="checkbox" name="serviceRequired[]" value="Visa Processing" {{ vp }}> Visa Processing</label><br/>
                            <label class="service"><input type="checkbox" name="serviceRequired[]" value="Document Legalisation" {{ dl }}> Document Legalisation</label><br/>
                            <label class="service"><input type="checkbox" name="serviceRequired[]" value="Police Clearances" {{ pl }}> Police Clearances</label><br/>
                            <label class="service"><input type="checkbox" name="serviceRequired[]" value="High Security Document Delivery" {{ hs }}> High Security Document Delivery</label><br/>
                            <!--<label class="service"><input type="checkbox" name="serviceRequired[]" value="Passport renewal" {{ pr }}> Passport renewal</label><br/>
                            <label class="service"><input type="checkbox" name="serviceRequired[]" value="Employment Screening" {{ es }}> Employment Screening</label><br/>-->
                            <label class="service"><input type="checkbox" name="serviceRequired[]" value="Translation" {{ tr }}> Translation</label><br/>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Country of required Service</label>
                                    <select name="countryOfRequiredService" class="form-control" required>
                                        <option value="">Select country</option>
                                        {% for country in countries %}
                                            <option value="{{ country.countryName }}" {% if post.countryOfRequiredService is defined and post.countryOfRequiredService == country.countryName %}selected{% endif %}>{{ country.countryName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Description of requested item/project</label>
                                    <textarea name="itemDescription" class="form-control" placeholder="Description of requested item/project" required>{% if post.itemDescription is defined %}{{ post.itemDescription }}{% endif %}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control form-top control-catpcha"><img src="{{ captcha }}" alt="CATCHA"></div>
                            <input type="text" class="form-control form-bottom" name="captcha" placeholder="Type text" required>
                        </div>

                        <button type="text" class="btn btn-primary"> Submit </button>
                    </form>
                    
                </div>
                
            

            <div class="col-lg-3">
                <p><a href="#"><img src="{{ asset('img') }}/front-ads-rotator/ad_services.jpg" alt="services"></a></p>
                <p><a href="{{ path("acme_cls_visa_processing") }}"><img src="{{ asset('img') }}/front-ads-rotator/ad_destination.jpg" alt="destination"></a></p>
                <p><a href="{{ path("acme_cls_document_delivery") }}"><img src="{{ asset('img') }}/front-ads-rotator/ad_document.jpg" alt="document delivery"></a></p>
            </div>
        </div>
        
    
</section>
{% endblock %}

{% block javascripts %}
{% endblock %}