<html>
<body>
  <p>
      Hi {{ fullname }},
  </p>
  
  <p>
      Name: {{ data.title ~ " " ~ data.fname ~ " " ~ data.lname }}<br/>
      Email: {{ data.email }}<br/>
      Company: {{ data.company }}<br/>
      Work Address: {{ data.workAdress }}<br/>
      City: {{ data.city }}<br/>
      State: {{ data.state }}<br/>
      Postcode: {{ data.postcode }}<br/>
      Country: {{ data.country }}<br/>
      Type of service required:
      <ul>
          {% for service in data.serviceRequired %}
              <li>{{ service }}</li>
          {% endfor %}
      </ul>
  
      Country of required Service: {{ data.countryOfRequiredService }}<br/>
      Description of requested item/project: <br/>
      <br/>
      {{ data.itemDescription }}
  </p>
 
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>