{% extends "AcmeCLShomeBundle::layout.html.twig" %}

{% block metadescription %}Capital Link Services has in-depth experience and knowledge of police clearance.{% endblock %}

{% block title %}Police Clearances | Capital Link Services{% endblock %}
{% block body %}
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
    {% set content_html = content.html %}
        
    <!-- [visa_application_select_country_form] -->
    {% set select_country_form_countries = '' %}
    {% for country in countries %}
        {% set select_country_form_countries = select_country_form_countries ~ '<option value="'~country.id~'">'~country.countryName ~'</option>' %} 
    {% endfor %}
    {% set select_country_form = '
    <div class="col-lg-12">
        <h4>APPLY FOR A VISA ONLINE</h4>
        <p><a href="'~ path("acme_cls_visa_search") ~'">Click here to see all of our destinations</a> or select a country from the list below.</p>
        <form action="' ~ path("acme_cls_visa_search_visa_info") ~ '" method="get">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <select name="id" class="form-control" required>
                        <option value="">Select country</option>
                        '~ select_country_form_countries ~'
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Apply Now</button>
                </div>
            </div>
        </div>
        </form>
    </div>
    ' %}
    
    
    <!-- [order_visa_online_button] -->
    {% if app.session.get("user_type") == "government" %}
        {% set order_visa_online_url = path("cls_client_gov_application_visa") %}
    {% elseif app.session.get("user_type") == "public" or app.session.get("user_type") == "corporate" %}
        {% set order_visa_online_url = path("cls_client_public_application_visa") %}
    {% else %}
        {% set order_visa_online_url = path("acme_cls_visa_search") %}
    {% endif %}
        
    {% set order_visa_online_button = '<a href="'~ order_visa_online_url ~'" class="btn btn-primary">Order your visa online now</a>' %}
    
    
    
    <!-- [police_clearance_list] -->
    {% set police_clearance_list = '<ul>' %}
    {% for clearance in clearances %}
        {% set police_clearance_list = police_clearance_list ~ '<li><a href="'~path("acme_cls_police_clearance") ~'?id='~ clearance.id ~'">'~ clearance.name ~'</a></li>' %}
    {% endfor %}
    {% set police_clearance_list = police_clearance_list ~ '</ul>' %}
    
    
    <!-- [document_delivery_apply_now_button] -->
    {% set document_delivery_apply_now_button = '<a href="'~ path("acme_cls_document_delivery_redirect") ~'" class="btn btn-primary">APPLY NOW</a>' %}
    
    <!-- [register_for_our_specialised_government_system_button] -->
    {% set register_for_our_specialised_government_system_button = '<a class="btn btn-primary" href="'~ path("cls_client_gov_registration") ~'">Register for our specialised government system</a>' %}
    
    
    <!-- [agent_registration_button] -->
    {% set agent_registration_button = '<a href="'~ path("cls_client_public_registration") ~'" class="btn btn-primary">REGISTER NOW</a>' %}
    
    <!-- [corporate_registration_button] -->
    {% set corporate_registration_button = '<a href="'~ path("cls_client_corporate_registration") ~'" class="btn btn-primary">REGISTER NOW</a>' %}
    
    
    
    <!-- [right_side_ads] -->
    {% set right_side_ads = '<p><a href="#"><img src="'~ asset('img') ~'/front-ads-rotator/ad_services.jpg" alt="all services"></a></p>
        <p><a href="'~ path("acme_cls_visa_processing") ~'"><img src="'~ asset('img') ~'/front-ads-rotator/ad_destination.jpg" alt="destination"></a></p>
        <p><a href="'~ path("acme_cls_document_delivery") ~'"><img src="'~ asset('img') ~'/front-ads-rotator/ad_document.jpg" alt="document delivery"></a></p>'%}
    
    
    <!-- [services_ads] -->
    {% set services_ads_images = '' %}
    {% for ad in ads %}
        {% set services_ads_images = services_ads_images ~ '<div class="slide"><a href="'~ ad.link ~'"><img src="'~ asset('img') ~'/front-ads/'~ ad.image ~'" /></a></div>' %} 
    {% endfor %}
    
    {% set services_ads = '<div class="fadeCarousel">'~ services_ads_images ~'</div>'%}
    
    
    <!-- [popular_destinations] -->
    {% set popular_destinations_list = '' %}
    {% for country in popular_destinations %}
        {% set popular_destinations_list = popular_destinations_list ~ '<li><a href="'~ path("acme_cls_visa_search_visa_info") ~'/'~ country.countryName|lower|replace({" ":"-"}) ~'-travel-visa?id='~ country.id ~'">'~ country.countryName ~'</a></li>' %} 
    {% endfor %}
    
    
    
    {% if app.session.get("user_type") == "government" %}
        {% set order_visa_online_url = path("cls_client_gov_application_visa") %}
    {% elseif app.session.get("user_type") == "public" or app.session.get("user_type") == "corporate" %}
        {% set order_visa_online_url = path("cls_client_public_application_visa") %}
    {% else %}
        {% set order_visa_online_url = path("acme_cls_visa_search") %}
    {% endif %}
    
    {% set popular_destinations = '<ul class="interactiveList">'~ popular_destinations_list ~'</ul>' %}
    {% set popular_destinations = popular_destinations ~ '<p><a href="'~ order_visa_online_url ~'">view more</a></p>' %}
    
    
    
    <!-- replace tags -->
    {% set content_html = content_html|replace({"[visa_application_select_country_form]": select_country_form}) %}
    {% set content_html = content_html|replace({"[order_visa_online_button]": order_visa_online_button}) %}
    {% set content_html = content_html|replace({"[police_clearance_list]": police_clearance_list}) %}
    {% set content_html = content_html|replace({"[document_delivery_apply_now_button]": document_delivery_apply_now_button}) %}
    {% set content_html = content_html|replace({"[register_for_our_specialised_government_system_button]": register_for_our_specialised_government_system_button}) %}
    {% set content_html = content_html|replace({"[agent_registration_button]": agent_registration_button}) %}
    {% set content_html = content_html|replace({"[corporate_registration_button]": corporate_registration_button}) %}
    {% set content_html = content_html|replace({"[right_side_ads]": right_side_ads}) %}
    {% set content_html = content_html|replace({"[services_ads]": services_ads}) %}
    {% set content_html = content_html|replace({"[popular_destinations]": popular_destinations}) %}
    
    
    
    
    
    {{ content_html|raw }}
</section>
{% endblock %}

{% block javascripts %}
{% endblock %}