{% extends "AcmeCLShomeBundle::layout.html.twig" %}

{% block metadescription %}Capital Link Services are the experts in Visa Processing, Document Legalisation, Police Clearances, and Secure Document Delivery. {% endblock %}

{% block title %} Sitemap | Capital Link Services{% endblock %}

{% block body %}
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
    <div class="row">
        <div class="col-lg-9">
            <h1>Sitemap</h1>

            <div class="columns-list">
            <ul>
                <li>
                    <a href="{{ path("acme_cls_homepage") }}">Home</a>
                    <ul>
                        <li><a href="{{ path("acme_cls_visa_processing") }}">Visa Processing</a></li>
                        <li><a href="{{ path("acme_cls_police_clearances") }}">Police Clearances</a></li>
                        <li><a href="{{ path("acme_cls_document_delivery") }}">Secure Document Delivery</a></li>
                        <li><a href="{{ path("acme_cls_document_legalisation") }}">Document Legalisation</a></li>
                        <li><a href="{{ path("acme_cls_translation_services") }}">Translation Services</a></li>
                        <li><a href="{{ path("acme_cls_russian_visa_voucher") }}">Russian Visa Voucher</a></li>
                    </ul>
                </li>
                <li><a href="{{ path("acme_cls_about") }}">About CLS</a></li>
                <li>
                    <a href="{{ path("acme_cls_travel_visas") }}">Travel Visas</a>
                    <ul>
                        <li><a href="{{ path("acme_cls_visa_search") }}">Visa Information</a></li>
                    </ul>
                </li>

                <li>
                    <a href="{{ path("acme_cls_government") }}">Government</a>
                    {#<ul>
                        <li><a href="{{ path("cls_client_gov_registration") }}">Register</a></li>
                    </ul>#}
                </li>
                <li>
                    <a href="{{ path("acme_cls_travel_agents") }}">Travel Agent</a>
                    {#<ul>
                        <li><a href="{{ path("cls_client_public_registration") }}">Register</a></li>
                    </ul>#}
                </li>

                <li>
                    <a href="{{ path("acme_cls_corporate") }}">Corporate</a>
                    {#<ul>
                        <li><a href="{{ path("cls_client_corporate_registration") }}">Register</a></li>
                    </ul>#}
                </li>
                
                
                
                
                
                <li>
                    <a href="{{ path("cls_client_gov_home") }}">Client Center</a>
                    <ul>
                        <li><a href="{{ path("acme_cls_client_login") }}">User Login</a></li>
                        <li><a href="{{ path("cls_client_public_application_visa") }}">Visa Application</a></li>
                        <li><a href="{{ path("cls_client_application_document_legalisation_details") }}">Document Legalisation</a></li>
                        <li><a href="{{ path("cls_client_aplication_document_delivery") }}">Secure Document Delivery</a></li>
                        <li><a href="{{ path("cls_client_russian_visa_voucher_application_details") }}">Russian Visa Voucher</a></li>
                        <li><a href="{{ path("cls_client_gov_application_police_clearance") }}">Police Clearances</a></li>
                        <li><a href="{{ path("cls_client_gov_passport_office_pickup_or_delivery") }}">Passport Office Pickup or Delivery</a></li>
                    </ul>
                </li>
                
                <li><a href="{{ path("acme_cls_travel_alerts") }}">Travel Alerts</a></li>
                <li><a href="{{ path("acme_cls_contact") }}">Contact Us</a></li>

            </ul>
            </div>
            <h2>Visas</h2>

            <div class="columns-list">
                <ul>
                {% for country in countries %}
                    <li><a href="{{ path("acme_cls_visa_search_visa_info") }}/{{ country.countryName|lower|replace({" ":"-"}) }}-travel-visa?id={{ country.id }}">{{ country.countryName }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
            
            
        <div class="col-lg-3">
                <p><a href="#"><img src="{{ asset("img") }}/front-ads-rotator/ad_services.jpg" alt="all services"></a></p>
                <p><a href="{{ path("acme_cls_visa_processing") }}"><img src="{{ asset("img") }}/front-ads-rotator/ad_destination.jpg" alt="destination"></a></p>
                <p><a href="{{ path("acme_cls_document_delivery") }}"><img src="{{ asset("img") }}/front-ads-rotator/ad_document.jpg" alt="document delivery"></a></p>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{% endblock %}