<html>
<body>
    <p>Hi {{fname}}</p>
    <br/>
    <br/>
    <p>Your password has been successfully changed to <b>{{password}}</b></p>
  <br/>
    <br/>
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>