@charset "utf-8";
/*
Title:	Cascading typography styles for body text
Author:	http://voodoocreative.com.au/
*/



.content {
	font-size:0.9em;
	line-height:1.5em;
	font-family: Arial, Helvetica, sans-serif;
	color: #191919;
}
.content p,
.content ul,
.content ol,
.content blockquote,
.content form
{
	margin-bottom:1.5em;
}

.content h1, .content h2, .content h3, .content h4{text-rendering: optimizeLegibility;}

.content h1,
.content h2,
.content h3,
.content h4,
.content fieldset
{
	margin-bottom:0.8em;
}
.content ul {margin-left:2em; list-style:disc;}
.content ol {margin-left:2em; list-style:decimal;}
.content li {margin-bottom:0.5em;}

.content blockquote {
	padding:0 1em;
	font-style:italic;
	font-size:1.1em;
}
.content blockquote:before{
	content: '\201C';
	padding-right:0.3em;
}
.content blockquote:after{
	content: '\201D';
	padding-left:0.3em;	
}
.content h1{
	font-size:3.3em;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #191919;
	font-weight: 300;
	line-height: 1em;
}
.content h2{
	font-size:2.2em;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #191919;
	font-weight: 300;
	line-height: 1.15em;
}
.content h3{
	font-size:1.45em;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #191919;
	font-weight: 300;
}
.content h4{
	font-size:1.2em;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #191919;
	font-weight: 300;
}
.content a{
	color:#0A4267;
}
.content a:hover, .content a:focus{
	background-color:#0A4267;
	color:#FFFFFF;
}
.content a:visited{
	/*text-decoration: line-through;*/
}
.content a:active{
	background-color:#0A4267;
	color:#FFFFFF;
}
.content a[target="_blank"]:after{
	/*content: '\25B4';*/
	/*can have different appearance for external links*/
}
.content form{
}
.content fieldset{
	/*border:solid 1px;
	padding:1em 0.5em 0.5em 0.5em;*/
}
.content input[type="text"],
.content select,
.content textarea
{
	/*Please set font-family*/
	/*Please set width*//*width:98%;*/
}




/* BACKEND */

.nicEdit-main {
	font-size:0.9em!important;
	line-height:1.5em!important;
	font-family: Arial, Helvetica, sans-serif!important;
	color: #191919!important;
}
.nicEdit-main p,
.nicEdit-main ul,
.nicEdit-main ol,
.nicEdit-main blockquote,
.nicEdit-main form
{
	margin-bottom:1.5em!important;
}

.nicEdit-main h1, .nicEdit-main h2, .nicEdit-main h3, .nicEdit-main h4{text-rendering: optimizeLegibility!important;}

.nicEdit-main h1,
.nicEdit-main h2,
.nicEdit-main h3,
.nicEdit-main h4,
.nicEdit-main fieldset
{
	margin-bottom:0.8em!important;
}
.nicEdit-main ul {margin-left:2em!important; list-style:disc!important;}
.nicEdit-main ol {margin-left:2em!important; list-style:decimal!important;}
.nicEdit-main li {margin-bottom:0.5em!important;}

.nicEdit-main blockquote {
	padding:0 1em!important;
	font-style:italic!important;
	font-size:1.1em!important;
}
.nicEdit-main blockquote:before{
	content: '\201C'!important;
	padding-right:0.3em!important;
}
.nicEdit-main blockquote:after{
	content: '\201D'!important;
	padding-left:0.3em!important;	
}
.nicEdit-main h1{
	font-size:3.3em!important;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif!important;
	color: #191919!important;
	font-weight: 300!important;
	line-height: 1em!important;
}
.nicEdit-main h2{
	font-size:2.2em!important;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif!important;
	color: #191919!important;
	font-weight: 300!important;
	line-height: 1.15em!important;
}
.nicEdit-main h3{
	font-size:1.45em!important;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif!important;
	color: #191919!important;
	font-weight: 300!important;
}
.nicEdit-main h4{
	font-size:1.2em!important;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif!important;
	color: #191919!important;
	font-weight: 300!important;
}
.nicEdit-main a{
	color:#0A4267!important;
}
.nicEdit-main a:hover, .nicEdit-main a:focus{
	background-color:#0A4267!important;
	color:#FFFFFF!important;
}
.nicEdit-main a:visited{
	/*text-decoration: line-through;*/
}
.nicEdit-main a:active{
	background-color:#0A4267!important;
	color:#FFFFFF!important;
}
.nicEdit-main a[target="_blank"]:after{
	/*content: '\25B4'!important;*/
	/*can have different appearance for external links*/
}
.nicEdit-main form{
}
.nicEdit-main fieldset{
	/*border:solid 1px;
	padding:1em 0.5em 0.5em 0.5em;*/
}
.nicEdit-main input[type="text"],
.nicEdit-main select,
.nicEdit-main textarea
{
	/*Please set font-family*/
	/*Please set width*//*width:98%;*/
}