@charset "utf-8";
/*
Title:	Imports for Screen media
Author:	http://voodoocreative.com.au/
*/


/* import stlesheets
---------------------------------------*/
@import url("content.css");


/* Basic Resets
---------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend{margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}


/* Preferred defaults
---------------------------------------*/
/* HTML5 structural elements */		header, section, article, aside, nav, footer {display: block;}
/* Anti Mac fat text */				html, .mainCol {-webkit-font-smoothing: antialiased;}
/* Remove boarders on images */		img {border:none;}
/* Group for float containers*/		.group:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
/* Group for float IE6 & 7*/		* html .group {/*IE6*/height:1%;} *:first-child+html .group {/*IE7*/min-height: 1px;}
/* Cursor for submit UX */			input[type="submit"]{cursor:pointer;}
/* Define for accessibility */		:focus {outline-color:invert; outline-style:none; outline-width:medium;}
/* Refine textarea resize */		textarea{resize:vertical; min-height:2em;}
/* Generic float class */			.floatLeft{float:left;} .floatRight{float:right;}


/* General Styles
---------------------------------------*/
body{background-color:#D7E5F1;}
/*.readers {height:1px; left:-10000px; overflow:hidden; position:absolute; top:auto; width:1px}*/
.wrapper {width: 1200px; margin: 0 auto;}
.no-overflow {
	overflow: hidden;
	position: relative;
}


/* Header Styles
---------------------------------------*/


/* Nav Styles
---------------------------------------*/
header {
	/*height: 130px;*/
	display: block;
	padding:30px 0;
}
header .wrapper {
	position: relative;
}
.headerBottom {
	background-image: url(../../img/header-blue-bottom.jpg);
	background-repeat:repeat-x;
	height: 20px;
	display: block;
	margin-bottom: 50px;
}
header h1 {
	width: 100px;
	/*margin-top: 35px;*/
	float: left;
	margin-right: 15px;
}
header nav ul li {
	float: left;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin-top: 20px /*55px*/;
	font-size: 0.95em;
	text-align: center;
	padding-left: 20px;
	padding-right: 1%;
}
header nav ul li a {
	color: #0A4267;
	text-decoration: none;
}
header nav ul li a:hover {
	color: #C4151C;
	border-bottom: 1px solid #C4151C;
	padding-bottom: 6px;
}
.selected a {
	color: #C4151C;
	border-bottom: 1px solid #C4151C;
	padding-bottom: 6px;
}


.sideNav {
	float: right;
	width: 390px;
	/*position: absolute;
	right: 0;
	top: 15px;*/
	/*top: -15px; for dropdown nav to display on hover + a nice transition needs to be added to this movement*/
}
.sideNav {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	background-image: url(../../img/plane-header.jpg);
	background-position: right 16px;
	background-repeat: no-repeat;
	padding-bottom: 8px;
	display: block;
}
.sideNav nav ul li {
	margin-top: 0;
	font-size: 0.95em;
	text-align: left;
	padding-right: 7%;
	padding-left: 0;
	background-position:left;
	background-repeat: no-repeat;
	height: 30px;
	padding-bottom: 20px;
}

.sideNav nav ul li a {
	background-position: left;
	background-repeat: no-repeat;
	height: 30px;
	display: block;
	padding-top: 14px;
	padding-left: 24px;
}

.sideNav nav ul li a:hover {
	padding-bottom: 0px;
	border: none;
}
.sideNav nav ul li.selected a {
	padding-bottom: 0px;
	border: none;
}
#servicesNav{background-color:#333; color:#b4b4b4}
#servicesNav ul{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:0.85em;}
#servicesNav li{ float:left; width:20%;}
#servicesNav a{ display:block; float:left; width:100%; text-align:center; padding:8px 0; color:#b4b4b4; text-decoration:none;  
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
#servicesNav a:hover,
#servicesNav a:focus{ background-color:#575757;}

#servicesNav li.active {
    background-color:#575757;
}
.movingGlobe{
	width:100%;
	background-color:#316c97;
	background-image:url(../../img/banner-bg.jpg);
	background-position:left top;
    -moz-animation: pan 20s infinite; -moz-animation-timing-function: linear;		
    -webkit-animation: pan 20s infinite; -webkit-animation-timing-function: linear;	
    -ms-animation: pan 20s infinite; -ms-animation-timing-function: linear;	
}
@-moz-keyframes pan		{0%{background-position:960px top;}100%{background-position:left top;}}
@-webkit-keyframes pan	{0%{background-position:960px top;}100%{background-position:left top;}}
@-ms-keyframes pan		{0%{background-position:960px top;}100%{background-position:left top;}}
@-moz-keyframes pan2	{0%{background-position:960px top;}100%{background-position:left top;}}
@-webkit-keyframes pan2	{0%{background-position:960px top;}100%{background-position:left top;}}
@-ms-keyframes pan2		{0%{background-position:960px top;}100%{background-position:left top;}}


li.navOther a {background-image:url(../../img/icon-other.jpg);}
li.navAbout a {background-image:url(../../img/icon-about.jpg);}
li.navContact a {background-image:url(../../img/icon-contact.jpg);}

li.navOther a:hover {background-image:url(../../img/icon-other-hover.jpg);}
li.navAbout a:hover {background-image:url(../../img/icon-about-hover.jpg);}
li.navContact a:hover {background-image:url(../../img/icon-contact-hover.jpg);}

li.navOther.selected a  {background-image:url(../../img/icon-other-hover.jpg); border:none;}
li.navAbout.selected a  {background-image:url(../../img/icon-about-hover.jpg); border:none;}
li.navContact.selected a  {background-image:url(../../img/icon-contact-hover.jpg); border:none;}

.subNav {
	display: block;
	clear: both;
}
.subNav ul {
	background-repeat:no-repeat;
	width: 432px; 
	left: -18px;
	margin: 0;
}

.subNav ul li {
	padding: 0;
	margin: 0;
	font-size: 0.75em;
	padding-left: 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #0A4267;
	text-decoration: none;
}
.subNav ul li a {
	background-image: none;
	padding: 0;
	color: #0A4267;
	text-decoration: none;
}
.subNav ul li a:hover {
	color: #C4151C;
}
.subNav ul li.noPadding {
	padding-left: 0px;
}
.subNav ul li.row2 {
	margin-top: 10px;
}

.subNav ul li.selected a {
	color: #C4151C;
}

.actionsNav ul{
	width:450px;
}

.homeButton,
a.homeButton{
	display:block;
	height:150px;
	position: relative;
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
	font-size:1.5em; line-height:1.5;
	margin-bottom:20px;
	background-color:#286287;
	color:#FFF;
	background-position:left top;
	background-repeat:no-repeat;
	text-decoration:none;
	text-align:center;
-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
}
.homeButton .vert{
	position: absolute;
	top: 0;
	height:100%;
	display: table;
	width:100%;
}
.homeButton .text{
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  width:90%; padding:0 5%;
}

/* Carousel Styles
---------------------------------------*/
.carousel {
	-webkit-box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
	/*height: 295px;
	background-color: #F15C27;
	position: relative;*/
}
.shadowTop {
	background-image:url(../../img/shadow-top.png);
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
	height: 30px;
	display: block;
	z-index: 1500;
}
.shadowBottom {
	background-image:url(../../img/shadow-bottom.png);
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
	height: 30px;
	display: block;
	z-index: 1500;
	bottom:0px;
}

#carouselAd {
	/*background-image:url(../../img/carousel-ad-bg.png);*/
	background-repeat: no-repeat;
	width:80%;
	/*height: 235px;
	position: absolute;
	z-index: 1000;
	left: 56%;*/
	margin:0 auto;
}
#carouselAd hr {
	border: none;
	border-bottom: 1px solid #FFFFFF;
}
#carouselAd h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	font-size: 1.5em;
}
#carouselAd h3 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 2.5em;
	font-weight: 300;
	text-align: center;
	margin-bottom: 12px;
	line-height: 1.2em;
}

#carouselAd .destinations {
	width: 315px;
	margin: 0 auto;
	padding-top:10px;
}

#carouselAd select.cat_dropdown {
	width: 315px;
	border:none;
	padding:3px;
	border-radius:4px;
	color:#666;
}

#carouselAd .halfCol{
	width:50%;
	margin:50px 0;
}
#carouselAd .paddingBox{
	padding:20px;
}
		
/* Content Area Styles
---------------------------------------*/
.main {
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 50px;
}
#column1 {
	float: left;
	padding: 30px;
	padding-left: 0px;
}
#column2 {
	float: left;
	padding: 30px;
}
#column3 {
	padding: 30px;
	padding-top: 50px;
	padding-right: 0px;
	float: left;
	width: 330px;
}
#column1, #column2 {
	background-image: url(../../img/column-bg-tile.jpg);
	background-repeat:repeat-y;
	background-position: top right;
	padding-top: 10px;
	margin-top: 40px;
	min-height: 540px;
	width: 28%;
}
ul.interactiveList {
	margin-left: 0;
}
.interactiveList li {
	list-style: none;
	margin: 0;
}
.interactiveList li a {
	background-image:url(../../img/arrow-destination.jpg);
	background-repeat: no-repeat;
	background-position: 100%;
	text-decoration: none;
	text-transform: uppercase;
	color: #191919;
	border-bottom: 1px dotted #231F20;
	display: block;
	padding-right: 15px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.2em;
}
.interactiveList li a:hover {
	background-position: 95%;
	padding-left: 15px;
	color: #0A4267;
	background-color: transparent;
	padding-right: 0px;
	border-bottom: 1px solid #231F20;
}
#column2 p a {
	text-align: center; 
	font-size: 1.1em;
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
}
#column2 a img {
	width: 268px;
	margin: 0 auto;
	display: block;
}


.mainCol {
	width: 60%;
	float: left;
}
.mainCol img {
	width: 100%;
	/*height: 100%;*/
	margin-bottom: 20px;
}
.mainCol a img {
	width: auto;
}

.sideCol {
	width: 280px;
	float: right;
	height: 350px;
	background-image: url(../../img/login-bg.jpg);
	background-repeat: no-repeat;
	background-position: top;
	border: 1px solid #999999;
	padding: 25px;
}

.register a {
	background-image: url(../../img/register-button.jpg);
	background-color: #c4161c;
	width: 100%;
	height: auto;
	padding-top: 8px;
	padding-bottom: 15px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 1.7em;
	font-weight: 300;
	display: block;
		-webkit-box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.4);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.register a:hover {
	background-image: none;
	background-color: #e84f26;
}

.sideCol div.form div.item, .sideCol div.form {
	margin: 0;
	padding: 0;
}
.sideCol input {
	width: 276px;
	border: 1px solid #CCCCCC;
	margin-bottom: 20px;
}
.sideCol label {
	font-size: 0.9em;
	color: #191919;
}

.sideCol .secure-login {
	background-color: transparent;
	border: none;
	margin-bottom: 0;
}

.sideCol input#RememberMe {
	width: auto;
}

input.cat_button, a.button, .mainCol input.cat_button, .mainCol a.button {
	background-image: url(../../img/login-button.jpg);
	background-color: #1c6294;
	width: 280px;
	height: 40px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	display: block;
		-webkit-box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.4);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border: none;
	margin-bottom: 5px;
}
.mainCol input.cat_button, .mainCol a.button {
	width: 306px;
}
input.cat_button:hover, a.button:hover {
	background-image: none;
	background-color: #0c4368;
}

.sideCol a {
	font-size: 0.8em;
}

a.button {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	line-height: 2em;
}

/* Client center styles */

#clientNav {margin:0px 0 15px 0;}
#clientNav li, #clientNav ul{margin:0; padding:0; list-style:none;}
#clientNav li {margin-bottom:8px;}
#clientNav a {
	background-color: #0d4b72;
	color: #FFFFFF;
	display: block;
	padding: 8px;
	font-size: 1.25em;
	text-decoration: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
#clientNav a:hover, #clientNav li.selected a{
	background-color: #1a6396;
	color: #FFFFFF;
	border: none;
}
#clientNav a i{
	font-size:0.8em;
	font-weight:normal;
	font-style: normal;
}
input {
	border: 1px solid #999999;
	background-color: #FFFFFF;
}
hr {
	border: none;
	border-bottom: 1px solid #121d55;
}
.captchaimg img {
	width: 143px;
	float: left;
	margin-right: 10px;
	height: 20px;
	margin-top: 2px;
}
	

/*____________________________________________________________*/

/* Order online process styles */
#visaTable ul li {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
#visaTable ul {
	margin: 0;
}
#visaTable ul {
	margin-bottom: 20px;
}
.process {
	margin-bottom: 40px;
}
.process ul {
	margin: 0;
}
.process ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.process ul li {
	width: 150px;
	background-image: url(../../img/process-button.jpg);
	height: 32px;
	background-repeat: repeat-x;
	background-position: left top;
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border: 1px solid #999;
		-webkit-box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.4);
	padding-top: 8px;
	font-size: 1.2em;
	float: left;
	margin-right: 8px;
}
.process ul li a {
	color: #FFFFFF;
}
.process ul li a:hover {
	background-color: transparent;
	color:#0A4267;
}
.process li.processOn {
	background-image:url(../../img/login-button.jpg);
	border: 1px solid #0c4368;
}
.redPlane {
	background-image:url(../../img/place-red.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	width: 100%;
	height: 26px;
	position:relative;
	top: 0px;
}

.shop-cart a:hover img {
	background-color: transparent;
}
.shop-cart a {
	color: #0A4267;
}




/*____________________________________________________________*/



.bottomRow {
	background-image: url(../../img/content-border-bottom.jpg);
	background-position: top left;
	background-repeat: repeat-x;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 1088px;
	margin: 0 auto;
}
.bottomRow .adrotator {
	margin-left: 1.5%;
	margin-right: 1.5%;
	float: left;
	-webkit-box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.3);
	width: 330px;
	height: 250px;
}

.adCol {
	width: 330px;
	float: right;
}

.adCol .adrotator a{
	margin-bottom: 60px;
	height: 250px;
	width: 330px;
	-webkit-box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.3);
	display: block;
	padding: 0;

}

/* Footer Styles
---------------------------------------*/
footer {
	border-top: 12px solid #7F7F7F;
	background-color: #424244;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	line-height: 1.2em;
	padding-top: 30px;
	padding-bottom: 30px;
}
footer .wrapper {
	/*width: 90%;*/
}
.leftColumn {
	float: left;
	text-align: center;
}
.leftColumn h4 {
	margin-bottom: 10px;
	margin-top: 10px;
}
.rightColumn {
	float: right;
	margin-bottom: 20px;
}
footer h4, footer h4 a {
	color: #FFFFFF;
	text-decoration: none;
}
footer h4 a:hover {
	color: #7F7F7F;
}
footer ul {
	margin-right: 15px;
	float: left;
}
footer ul li a {
	text-decoration: none;
	color: #7F7F7F;
	font-size: 0.75em;
}
footer ul li.selected a {
	color: #7F7F7F;
	border: none;
}

	
footer ul li a:hover {
	color: #FFFFFF;
}
#copyright {
	clear: both;
	background-image:url(../../img/plane-footer.jpg);
	background-position:top right;
	background-repeat: no-repeat;
	padding-top: 40px;
	margin-top: 30px;
}
#copyright p {
	color: #FFFFFF;
	text-align: center;
	font-size: 0.8em;
}
#copyright a {
	color: #7F7F7F;
}
#copyright a:hover {
	color: #FFFFFF;
}

.wrapper{width:970px;}


/* Media Query Styles
---------------------------------------*/
@media screen and (min-width: 1360px) {
	.wrapper {
		width: 1088px;
	}
	.main {
		width: 1088px;
	}
	#column1, #column2 {
		width: 29%;
	}
}

@media screen and (min-width: 1145px) and (max-width: 1360px)  {
	.wrapper {
		width: 95%;
	}
	.main {
		width: 90%;
	}
	header nav ul li {
		padding-left:20px;
		padding-right: 0;
	}
	header h1 {
		margin-right: 5px;
	}
	#column1, #column2 {
		width: 25%;
	}
	.sideNav {
		/*width: 41%;*/
		width:380px;
	}


}

@media screen and (max-width: 1145px) {
	.wrapper {
		width: 95%;
	}
	.main {
		width: 95%;
	}
	header {
		/*height: 200px;*/
	}
	header nav ul li {
		padding-left: 1.5%;
		padding-right: 0;
	}
	header h1 {
		margin-right: 5px;
	}
	#column1, #column2 {
		width: 40%;
	}
	#column3 {
		float: none;
		padding-left: 0px;
		width: 330px;
		margin: 0 auto;
		clear: both;
		margin-top: 50px;
	}
	.sideNav {
		width: 380px;
		/*float: none;*/
		top: 103px;
		left: 0;
		bottom: -144px;
	}
	h1 a img {
		padding: 0;
		margin: 0;
		display: inline;
	}
	.rightColumn {
		float: left;
		margin-top: 50px;
	}
	#carouselAd {
		left: auto;
		right: 0;
	}
	.mainCol {
		width: 90%;
		margin: 0 auto;
		float: none;
		margin-bottom: 50px;
	}
	.mainCol img {
		width: 90%;
	}
	.sideCol {
		width: 280px;
		margin: 0 auto;
		float: none;
	}
	.adCol {
		width: 330px;
		margin: 0 auto;
		float: none;
	}
	.bottomRow {
		width: 90%;
		margin: 0 auto;
	}
	.bottomRow .adrotator {
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 1%;
		float: left;
	}
	.actionsNav ul{width:400px;}
}













