@charset "utf-8";
/*
Title:	Imports for Screen media
Author:	http://voodoocreative.com.au/
*/


/* import stlesheets
---------------------------------------*/
@import url("content.css");


/* Basic Resets
---------------------------------------*/
div.nicEdit-main, .nicEdit-main span, .nicEdit-main applet, .nicEdit-main h1, .nicEdit-main h2, .nicEdit-main h3, .nicEdit-main h4, .nicEdit-main h5, .nicEdit-main h6, 
.nicEdit-main p, .nicEdit-main blockquote, .nicEdit-main pre, .nicEdit-main a, .nicEdit-main abbr, .nicEdit-main acronym, .nicEdit-main address, .nicEdit-main big, 
.nicEdit-main cite, .nicEdit-main code,
.nicEdit-main del, .nicEdit-main dfn, .nicEdit-main em, .nicEdit-main font, .nicEdit-main img, .nicEdit-main ins, .nicEdit-main kbd, .nicEdit-main q, .nicEdit-main s, 
.nicEdit-main samp, .nicEdit-main small, .nicEdit-main strike, .nicEdit-main strong, .nicEdit-main sub, .nicEdit-main sup, .nicEdit-main tt, .nicEdit-main var, 
.nicEdit-main b, .nicEdit-main u, .nicEdit-main i, .nicEdit-main center, .nicEdit-main dl, .nicEdit-main dt, .nicEdit-main dd, .nicEdit-main ol, .nicEdit-main ul, .nicEdit-main li,
.nicEdit-main fieldset, .nicEdit-main form, .nicEdit-main label, .nicEdit-main legend{margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

.nicEdit-main ol, .nicEdit-main ul {list-style: none;}


/* Preferred defaults
---------------------------------------*/
/* HTML5 structural elements */		.nicEdit-main header, .nicEdit-main section, .nicEdit-main article, .nicEdit-main aside, .nicEdit-main nav, .nicEdit-main footer {display: block;}
/* Anti Mac fat text */				
/* Remove boarders on images */		.nicEdit-main img {border:none;}
/* Group for float containers*/		.nicEdit-main .group:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
/* Refine textarea resize */		.nicEdit-main textarea{resize:vertical; min-height:2em;}
/* Generic float class */			.nicEdit-main .floatLeft{float:left;} .nicEdit-main .floatRight{float:right;}


/* General Styles
---------------------------------------*/
.manage-content > div + div {background-color:#D7E5F1!important;}
/*.readers {height:1px; left:-10000px; overflow:hidden; position:absolute; top:auto; width:1px}*/
.nicEdit-main .wrapper {width: 1200px; margin: 0 auto;}
.nicEdit-main .no-overflow {
	overflow: hidden;
	position: relative;
}


/* Header Styles
---------------------------------------*/


/* Nav Styles
---------------------------------------*/
.nicEdit-main header {
	/*height: 130px;*/
	display: block;
	padding:30px 0;
}
.nicEdit-main header .wrapper {
	position: relative;
}
.nicEdit-main .headerBottom {
	background-image: url(../../img/header-blue-bottom.jpg);
	background-repeat:repeat-x;
	height: 20px;
	display: block;
	margin-bottom: 50px;
}
.nicEdit-main header h1 {
	width: 100px;
	/*margin-top: 35px;*/
	float: left;
	margin-right: 15px;
}
.nicEdit-main header nav ul li {
	float: left;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin-top: 20px /*55px*/;
	font-size: 0.95em;
	text-align: center;
	padding-left: 20px;
	padding-right: 1%;
}
.nicEdit-main header nav ul li a {
	color: #0A4267;
	text-decoration: none;
}
.nicEdit-main header nav ul li a:hover {
	color: #C4151C;
	border-bottom: 1px solid #C4151C;
	padding-bottom: 6px;
}
.nicEdit-main .selected a {
	color: #C4151C;
	border-bottom: 1px solid #C4151C;
	padding-bottom: 6px;
}


.nicEdit-main .sideNav {
	float: right;
	width: 380px;
	/*position: absolute;
	right: 0;
	top: 15px;*/
	/*top: -15px; for dropdown nav to display on hover + a nice transition needs to be added to this movement*/
}
.nicEdit-main .sideNav {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	background-image: url(../../img/plane-header.jpg);
	background-position: right 16px;
	background-repeat: no-repeat;
	padding-bottom: 8px;
	display: block;
}
.nicEdit-main .sideNav nav ul li {
	margin-top: 0;
	font-size: 0.95em;
	text-align: left;
	padding-right: 7%;
	padding-left: 0;
	background-position:left;
	background-repeat: no-repeat;
	height: 30px;
	padding-bottom: 20px;
}

.nicEdit-main .sideNav nav ul li a {
	background-position: left;
	background-repeat: no-repeat;
	height: 30px;
	display: block;
	padding-top: 14px;
	padding-left: 24px;
}

.nicEdit-main .sideNav nav ul li a:hover {
	padding-bottom: 0px;
	border: none;
}
.nicEdit-main .sideNav nav ul li.selected a {
	padding-bottom: 0px;
	border: none;
}
.nicEdit-main #servicesNav{background-color:#333; color:#b4b4b4}
.nicEdit-main #servicesNav ul{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:0.85em;}
.nicEdit-main#servicesNav li{ float:left; width:20%;}
.nicEdit-main #servicesNav a{ display:block; float:left; width:100%; text-align:center; padding:8px 0; color:#b4b4b4; text-decoration:none;  
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.nicEdit-main #servicesNav a:hover,
.nicEdit-main #servicesNav a:focus{ background-color:#575757;}

.nicEdit-main .movingGlobe{
	width:100%;
	background-color:#316c97;
	background-image:url(../../img/banner-bg.jpg);
	background-position:left top;
    -moz-animation: pan 20s infinite; -moz-animation-timing-function: linear;		
    -webkit-animation: pan 20s infinite; -webkit-animation-timing-function: linear;	
    -ms-animation: pan 20s infinite; -ms-animation-timing-function: linear;	
}
@-moz-keyframes pan		{0%{background-position:960px top;}100%{background-position:left top;}}
@-webkit-keyframes pan	{0%{background-position:960px top;}100%{background-position:left top;}}
@-ms-keyframes pan		{0%{background-position:960px top;}100%{background-position:left top;}}
@-moz-keyframes pan2	{0%{background-position:960px top;}100%{background-position:left top;}}
@-webkit-keyframes pan2	{0%{background-position:960px top;}100%{background-position:left top;}}
@-ms-keyframes pan2		{0%{background-position:960px top;}100%{background-position:left top;}}


.nicEdit-main li.navOther a {background-image:url(../../img/icon-other.jpg);}
.nicEdit-main li.navAbout a {background-image:url(../../img/icon-about.jpg);}
.nicEdit-main li.navContact a {background-image:url(../../img/icon-contact.jpg);}

.nicEdit-main li.navOther a:hover {background-image:url(../../img/icon-other-hover.jpg);}
.nicEdit-main li.navAbout a:hover {background-image:url(../../img/icon-about-hover.jpg);}
.nicEdit-main li.navContact a:hover {background-image:url(../../img/icon-contact-hover.jpg);}

.nicEdit-main li.navOther.selected a  {background-image:url(../../img/icon-other-hover.jpg); border:none;}
.nicEdit-main li.navAbout.selected a  {background-image:url(../../img/icon-about-hover.jpg); border:none;}
.nicEdit-main li.navContact.selected a  {background-image:url(../../img/icon-contact-hover.jpg); border:none;}

.nicEdit-main .subNav {
	display: block;
	clear: both;
}
.nicEdit-main .subNav ul {
	background-repeat:no-repeat;
	width: 432px; 
	left: -18px;
	margin: 0;
}

.nicEdit-main .subNav ul li {
	padding: 0;
	margin: 0;
	font-size: 0.75em;
	padding-left: 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #0A4267;
	text-decoration: none;
}
.nicEdit-main .subNav ul li a {
	background-image: none;
	padding: 0;
	color: #0A4267;
	text-decoration: none;
}
.nicEdit-main .subNav ul li a:hover {
	color: #C4151C;
}
.nicEdit-main .subNav ul li.noPadding {
	padding-left: 0px;
}
.nicEdit-main .subNav ul li.row2 {
	margin-top: 10px;
}

.nicEdit-main .subNav ul li.selected a {
	color: #C4151C;
}

.nicEdit-main .actionsNav ul{
	width:450px;
}

.nicEdit-main .homeButton,
.nicEdit-main a.homeButton{
	display:block;
	height:150px;
	position: relative;
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
	font-size:1.5em; line-height:1.5;
	margin-bottom:20px;
	background-color:#286287;
	color:#FFF;
	background-position:left top;
	background-repeat:no-repeat;
	text-decoration:none;
	text-align:center;
-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
}
.nicEdit-main .homeButton .vert{
	position: absolute;
	top: 0;
	height:100%;
	display: table;
	width:100%;
}
.nicEdit-main .homeButton .text{
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  width:90%; padding:0 5%;
}

		
/* Content Area Styles
---------------------------------------*/
.nicEdit-main .main {
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.nicEdit-main #column1 {
	float: left;
	padding: 30px;
	padding-left: 0px;
}
.nicEdit-main #column2 {
	float: left;
	padding: 30px;
}
.nicEdit-main #column3 {
	padding: 30px;
	padding-top: 50px;
	padding-right: 0px;
	float: left;
	width: 330px;
}
.nicEdit-main #column1, .nicEdit-main #column2 {
	background-image: url(../../img/column-bg-tile.jpg);
	background-repeat:repeat-y;
	background-position: top right;
	padding-top: 10px;
	margin-top: 40px;
	min-height: 540px;
	width: 28%;
}
.nicEdit-main ul.interactiveList {
	margin-left: 0;
}
.nicEdit-main .interactiveList li {
	list-style: none;
	margin: 0;
}
.nicEdit-main .interactiveList li a {
	background-image:url(../../img/arrow-destination.jpg);
	background-repeat: no-repeat;
	background-position: 100%;
	text-decoration: none;
	text-transform: uppercase;
	color: #191919;
	border-bottom: 1px dotted #231F20;
	display: block;
	padding-right: 15px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.2em;
}
.nicEdit-main .interactiveList li a:hover {
	background-position: 95%;
	padding-left: 15px;
	color: #0A4267;
	background-color: transparent;
	padding-right: 0px;
	border-bottom: 1px solid #231F20;
}
.nicEdit-main #column2 p a {
	text-align: center; 
	font-size: 1.1em;
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
}
.nicEdit-main #column2 a img {
	width: 268px;
	margin: 0 auto;
	display: block;
}


.nicEdit-main .mainCol {
	width: 60%;
	float: left;
}
.nicEdit-main .mainCol img {
	width: 100%;
	/*height: 100%;*/
	margin-bottom: 20px;
}
.nicEdit-main .mainCol a img {
	width: auto;
}

.nicEdit-main .sideCol {
	width: 280px;
	float: right;
	height: 350px;
	background-image: url(../../img/login-bg.jpg);
	background-repeat: no-repeat;
	background-position: top;
	border: 1px solid #999999;
	padding: 25px;
}

.nicEdit-main .register a {
	background-image: url(../../img/register-button.jpg);
	background-color: #c4161c;
	width: 100%;
	height: auto;
	padding-top: 8px;
	padding-bottom: 15px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 1.7em;
	font-weight: 300;
	display: block;
		-webkit-box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.4);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.nicEdit-main .register a:hover {
	background-image: none;
	background-color: #e84f26;
}

.nicEdit-main .sideCol div.form div.item, .nicEdit-main .sideCol div.form {
	margin: 0;
	padding: 0;
}
.nicEdit-main .sideCol input {
	width: 276px;
	border: 1px solid #CCCCCC;
	margin-bottom: 20px;
}
.nicEdit-main .sideCol label {
	font-size: 0.9em;
	color: #191919;
}

.nicEdit-main .sideCol .secure-login {
	background-color: transparent;
	border: none;
	margin-bottom: 0;
}

.nicEdit-main .sideCol input#RememberMe {
	width: auto;
}

.nicEdit-main input.cat_button, .nicEdit-main a.button, .nicEdit-main .mainCol input.cat_button, .nicEdit-main .mainCol a.button {
	background-image: url(../../img/login-button.jpg);
	background-color: #1c6294;
	width: 280px;
	height: 40px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	display: block;
		-webkit-box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.4);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border: none;
	margin-bottom: 5px;
}
.nicEdit-main .mainCol input.cat_button, .nicEdit-main .mainCol a.button {
	width: 306px;
}
.nicEdit-main input.cat_button:hover, .nicEdit-main a.button:hover {
	background-image: none;
	background-color: #0c4368;
}

.nicEdit-main .sideCol a {
	font-size: 0.8em;
}

.nicEdit-main a.button {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	line-height: 2em;
}

/* Client center styles */

.nicEdit-main #clientNav {margin:0px 0 15px 0;}
.nicEdit-main #clientNav li, #clientNav ul{margin:0; padding:0; list-style:none;}
.nicEdit-main #clientNav li {margin-bottom:8px;}
.nicEdit-main #clientNav a {
	background-color: #0d4b72;
	color: #FFFFFF;
	display: block;
	padding: 8px;
	font-size: 1.25em;
	text-decoration: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.nicEdit-main #clientNav a:hover, .nicEdit-main #clientNav li.selected a{
	background-color: #1a6396;
	color: #FFFFFF;
	border: none;
}
.nicEdit-main #clientNav a i{
	font-size:0.8em;
	font-weight:normal;
	font-style: normal;
}
.nicEdit-main input {
	border: 1px solid #999999;
	background-color: #FFFFFF;
}
.nicEdit-main hr {
	border: none;
	border-bottom: 1px solid #121d55;
}
.nicEdit-main .captchaimg img {
	width: 143px;
	float: left;
	margin-right: 10px;
	height: 20px;
	margin-top: 2px;
}
	

/*____________________________________________________________*/

/* Order online process styles */
.nicEdit-main #visaTable ul li {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.nicEdit-main #visaTable ul {
	margin: 0;
}
.nicEdit-main #visaTable ul {
	margin-bottom: 20px;
}
.nicEdit-main .process {
	margin-bottom: 40px;
}
.nicEdit-main .process ul {
	margin: 0;
}
.nicEdit-main .process ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nicEdit-main .process ul li {
	width: 150px;
	background-image: url(../../img/process-button.jpg);
	height: 32px;
	background-repeat: repeat-x;
	background-position: left top;
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border: 1px solid #999;
		-webkit-box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.4);
	padding-top: 8px;
	font-size: 1.2em;
	float: left;
	margin-right: 8px;
}
.nicEdit-main .process ul li a {
	color: #FFFFFF;
}
.nicEdit-main .process ul li a:hover {
	background-color: transparent;
	color:#0A4267;
}
.nicEdit-main .process li.processOn {
	background-image:url(../../img/login-button.jpg);
	border: 1px solid #0c4368;
}
.nicEdit-main .redPlane {
	background-image:url(../../img/place-red.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	width: 100%;
	height: 26px;
	position:relative;
	top: 0px;
}

.nicEdit-main .shop-cart a:hover img {
	background-color: transparent;
}
.nicEdit-main .shop-cart a {
	color: #0A4267;
}




/*____________________________________________________________*/



.nicEdit-main .bottomRow {
	background-image: url(../../img/content-border-bottom.jpg);
	background-position: top left;
	background-repeat: repeat-x;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 1088px;
	margin: 0 auto;
}
.nicEdit-main .bottomRow .adrotator {
	margin-left: 1.5%;
	margin-right: 1.5%;
	float: left;
	-webkit-box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.3);
	width: 330px;
	height: 250px;
}

.nicEdit-main .adCol {
	width: 330px;
	float: right;
}

.nicEdit-main .adCol .adrotator a{
	margin-bottom: 60px;
	height: 250px;
	width: 330px;
	-webkit-box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.3);
	display: block;
	padding: 0;

}

/* Footer Styles
---------------------------------------*/
.nicEdit-main footer {
	border-top: 12px solid #7F7F7F;
	background-color: #424244;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	line-height: 1.2em;
	padding-top: 30px;
	padding-bottom: 30px;
}
.nicEdit-main footer .wrapper {
	/*width: 90%;*/
}
.nicEdit-main .leftColumn {
	float: left;
	text-align: center;
}
.nicEdit-main .leftColumn h4 {
	margin-bottom: 10px;
	margin-top: 10px;
}
.nicEdit-main .rightColumn {
	float: right;
	margin-bottom: 20px;
}
.nicEdit-main footer h4, .nicEdit-main footer h4 a {
	color: #FFFFFF;
	text-decoration: none;
}
.nicEdit-main footer h4 a:hover {
	color: #7F7F7F;
}
.nicEdit-main footer ul {
	margin-right: 15px;
	float: left;
}
.nicEdit-main footer ul li a {
	text-decoration: none;
	color: #7F7F7F;
	font-size: 0.75em;
}
.nicEdit-main footer ul li.selected a {
	color: #7F7F7F;
	border: none;
}

	
.nicEdit-main footer ul li a:hover {
	color: #FFFFFF;
}
.nicEdit-main #copyright {
	clear: both;
	background-image:url(../../img/plane-footer.jpg);
	background-position:top right;
	background-repeat: no-repeat;
	padding-top: 40px;
	margin-top: 30px;
}
.nicEdit-main #copyright p {
	color: #FFFFFF;
	text-align: center;
	font-size: 0.8em;
}
.nicEdit-main #copyright a {
	color: #7F7F7F;
}
.nicEdit-main #copyright a:hover {
	color: #FFFFFF;
}

.nicEdit-main .wrapper{width:970px;}


/* Media Query Styles
---------------------------------------*/
@media screen and (min-width: 1360px) {
	.nicEdit-main .wrapper {
		width: 1088px;
	}
	.nicEdit-main .main {
		width: 1088px;
	}
	.nicEdit-main #column1, .nicEdit-main  #column2 {
		width: 29%;
	}
}

@media screen and (min-width: 1145px) and (max-width: 1360px)  {
	.nicEdit-main .wrapper {
		width: 95%;
	}
	.nicEdit-main .main {
		width: 90%;
	}
	.nicEdit-main header nav ul li {
		padding-left:20px;
		padding-right: 0;
	}
	.nicEdit-main header h1 {
		margin-right: 5px;
	}
	.nicEdit-main #column1, #column2 {
		width: 25%;
	}
	.nicEdit-main .sideNav {
		/*width: 41%;*/
		width:380px;
	}


}

@media screen and (max-width: 1145px) {
	.nicEdit-main .wrapper {
		width: 95%;
	}
	.nicEdit-main .main {
		width: 95%;
	}
	.nicEdit-main header {
		/*height: 200px;*/
	}
	.nicEdit-main header nav ul li {
		padding-left: 1.5%;
		padding-right: 0;
	}
	.nicEdit-main header h1 {
		margin-right: 5px;
	}
	.nicEdit-main #column1, .nicEdit-main #column2 {
		width: 40%;
	}
	.nicEdit-main #column3 {
		float: none;
		padding-left: 0px;
		width: 330px;
		margin: 0 auto;
		clear: both;
		margin-top: 50px;
	}
	.nicEdit-main .sideNav {
		width: 380px;
		/*float: none;*/
		top: 103px;
		left: 0;
		bottom: -144px;
	}
	.nicEdit-main h1 a img {
		padding: 0;
		margin: 0;
		display: inline;
	}
	.rightColumn {
		float: left;
		margin-top: 50px;
	}
	.nicEdit-main #carouselAd {
		left: auto;
		right: 0;
	}
	.nicEdit-main .mainCol {
		width: 90%;
		margin: 0 auto;
		float: none;
		margin-bottom: 50px;
	}
	.nicEdit-main .mainCol img {
		width: 90%;
	}
	.nicEdit-main .sideCol {
		width: 280px;
		margin: 0 auto;
		float: none;
	}
	.nicEdit-main .adCol {
		width: 330px;
		margin: 0 auto;
		float: none;
	}
	.nicEdit-main .bottomRow {
		width: 90%;
		margin: 0 auto;
	}
	.nicEdit-main .bottomRow .adrotator {
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 1%;
		float: left;
	}
	.nicEdit-main .actionsNav ul{width:400px;}
}













