{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}


<div class="row">
    <div class="col-lg-9">
        <h3>Order View -
            {% if post.order_type == 1 %}
                Visa Application
            {% elseif post.order_type == 2 %}
                TPN Application
            {% elseif post.order_type == 3 %}
                TPN + VISA Application
            {% elseif post.order_type == 4 %}
                Passport Office Pickup or Delivery Application
            {% elseif post.order_type == 5 %}
                Police Clearance Application
            {% elseif post.order_type == 6 %}
                Visa - Pub. Client Application
            {% elseif post.order_type == 7 %}
                Document Delivery
            {% endif %}
        </h3>
    </div>
    <div class="col-lg-3">
        <h3>Order Number: {{ post.order_no }}</h3>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-lg-12 text-right">
        <form method="POST" action="{{ path('cls_client_gov_application_reprint') }}" target="_blank">
            <input type="hidden" name="reprint">
            <input type="hidden" name="orderNumber" value="{{post.order_no}}">
            <input type="hidden" name="app_type" value="delivery">
            <input type="submit" name="hidSubmit" class="btn btn-primary" value="Reprint Invoice"/>
        </form>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h4>Order</h4>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h5><a href="{{ site_url }}{{ asset("api") }}/pdfc/safe-hand-delivery-consignment-note.php?order={{ post.order_no }}" target="_blank" class="btn btn-xs btn-info">Safe Hand Delivery Consignment Note</a></h5>
                    </div>
                </div>
                
            </div>
            <div class="panel-body">
                <h4>Your Details</h4>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <strong>Firstname</strong><br/>
                            {{ post.payer_fname }}
                        </div>
                        <div class="col-lg-6">
                            <strong>Lastname</strong><br/>
                            {{ post.payer_lname }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <strong>Email Address</strong><br/>
                            {{ post.payer_email }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <strong>Contact Phone Number</strong><br/>
                            {{ post.payer_phone }}
                        </div>
                        <div class="col-lg-6">
                            <strong>Mobile Phone Number</strong><br/>
                            {{ post.payer_mobile }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <strong>Receiver Name / Department</strong><br/>
                            {{ post.doc_receiver_name }}
                        </div>
                    </div>
                </div>
                <hr/>


                <h4>Pick Up Details</h4>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <strong>Pickup Address (Street)</strong><br/>
                            {{ post.doc_pickup_address }}
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <strong>Suburb/City</strong><br/>
                            {{ post.doc_pickup_city }}
                        </div>
                        <div class="col-lg-6">
                            <strong>Postcode</strong><br/>
                            {{ post.doc_pickup_postcode }}
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <strong>Telephone and Mobile</strong><br/>
                            {{ post.doc_pickup_contact_no }}
                        </div>
                            
                        <div class="col-lg-6">
                            <strong>Contact Area</strong><br/>
                            {{ post.doc_pickup_contact_area }}
                        </div>
                    </div>
                </div>
                
                <hr/>
                
                <h4>Delivery Details</h4>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <strong>Delivery Recipient Name</strong><br/>
                            {{ post.doc_delivery_recipient_name }}
                        </div>
                            
                        <div class="col-lg-6">
                            <strong>Company</strong><br/>
                            {{ post.doc_delivery_company }}
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <strong>Delivery Address (Street)</strong>
                            {{ post.doc_delivery_address }}
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <strong>Suburb/City</strong><br/>
                            {{ post.doc_delivery_city }}
                        </div>
                        <div class="col-lg-6">
                            <strong>Postcode</strong><br/>
                            {{ post.doc_delivery_postcode }}
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <strong>Telephone and Mobile</strong><br/>
                            {{ post.doc_delivery_contact_no }}
                        </div>
                    </div>
                </div>
                
                <hr/>
                <h4>Package Details</h4>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <strong>Total Pieces for Pickup</strong><br/>
                            {{ post.doc_package_total_pieces }}
                        </div>
                        <div class="col-lg-6">
                            <strong>Pickup Date</strong><br/>
                            {{ post.doc_package_pickup_date|date("d-m-Y") }}
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <strong>My Package will be ready by</strong>
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ post.doc_package_ready_hr ~ ":" ~ post.doc_package_ready_min ~ " " ~ post.doc_package_ready_ampm }}
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-lg-6">
                            <strong>Office Closes at</strong>
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ post.doc_package_office_close_hr ~ ":" ~ post.doc_package_office_close_min ~ " " ~ post.doc_package_office_close_ampm }}
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    
                </div>
                
                
                
            </div>
        </div>
    </div>
        
        
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Payment Details</h4></div>
            <div class="panel-body">
                <div class="form-group">
                    <strong>Type of Document Delivery</strong><br/>
                    {{ post.doc_delivery_type_name }}
                </div>
                    
                    
                    
                {% if post.status == 10 %}
                    <div class="bg-info padd-5">
                        <div class="form-group">
                            <strong>Order Status</strong><br/>
                            Pending
                        </div>
                    </div>
                {% elseif post.status == 11 %}
                    <div class="bg-info padd-5">
                        <div class="form-group">
                            <strong>Order Status</strong><br/>
                            Paid
                        </div>
                    </div>
                {% elseif post.status == 12 %}
                    <div class="bg-success padd-5">
                        <div class="form-group">
                            <strong>Order Status</strong><br/>
                            Completed
                        </div>
                    </div>
                {% else %}
                    <div class="bg-warning">
                        <div class="form-group">
                            <strong>Order Status</strong><br/>
                            Undefined
                        </div>
                    </div>
                {% endif %}
                    
                <hr>
                
                <div class="form-group">
                    <strong>Security Tag Number</strong><br/>
                    {{ post.doc_delivery_security_no }}
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
        
// Global declarations
var tpn_list_url = "{{ path("acme_cls_admin_open_tpn_list") }}";
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}