{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}


<div class="row">
    <div class="col-lg-9">
        <h3>Order View -
            {% if post.order_type == 1 %}
                Visa Application
            {% elseif post.order_type == 2 %}
                TPN Application
            {% elseif post.order_type == 3 %}
                TPN + VISA Application
            {% elseif post.order_type == 4 %}
                Passport Office Pickup or Delivery Application
            {% elseif post.order_type == 5 %}
                Police Clearance Application
            {% elseif post.order_type == 6 %}
                Visa - Pub. Client Application
            {% elseif post.order_type == 7 %}
                Document Delivery
            {% elseif post.order_type == 8 %}
                Russian Visa Voucher
            {% elseif post.order_type == 9 %}
                Document Legalisation
            {% endif %}
        </h3>
    </div>
    <div class="col-lg-3">
        <h3>Order Number: {{ post.order_no }}</h3>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Details</h4></div>
            <div class="panel-body">
                <h4>Contact Information</h4>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <b>Company Name</b><br/>
                            {{ post.dl_company }}
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <b>Address</b><br/>
                            {{ post.dl_address }}
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <b>City / Suburb</b><br/>
                            {% if post.dl_city is defined %}{{ post.dl_city }}{% endif %}
                        </div>
                            
                        <div class="col-lg-4">
                            <b>State</b><br/>
                            {% if post.dl_state is defined %}{{ post.dl_state }}{% endif %}
                        </div>
                            
                        <div class="col-lg-4">
                            <b>Postcode</b><br/>
                            {% if post.dl_postcode is defined %}{{ post.dl_postcode }}{% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <b>Contact Name</b><br/>
                            {{ post.dl_contact_name }}
                        </div>
                            
                        <div class="col-lg-4">
                            <b>Mobile</b><br/>
                            {{ post.dl_mobile }}
                        </div>
                            
                        <div class="col-lg-4">
                            <b>Email</b><br/>
                            {{ post.dl_email }}
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-8">
                            <b>Latest date you need your documents returned in time for your Shipment</b><br/>
                            {{ post.dl_date_doc_returned|date('d-m-Y') }}
                        </div>
                            
                        <div class="col-lg-4">
                            <b>From embassy of</b><br/>
                            {{ post.dl_embassy }}
                        </div>
                    </div>
                </div>
                
                
                <hr/>
                
                <h4>Documents Legalisation Checklist</h4>
                
                <div class="dls-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Type of documents enclosed</th>
                                <th>Number</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                    {% for type in post.dl_checklist %}
                        
                        <tbody>
                            <tr>
                                <td>{{ type.type }}</td>
                                <td>{{ type.number }}</td>
                                <td>{{ type.note }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                    </table>
                    
                </div>
                
                
                <hr/>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>Reference No.</b><br/>
                            {{ post.dl_ref_no }}
                        </div>
                            
                        <div class="col-lg-6">
                            <b>Commercial Invoice No.</b><br/>
                            {{ post.dl_com_invoice_no }}
                        </div>
                    </div>
                    
                </div>
                
                
                
            </div>
        </div>
    </div>
        
        
    <div class="col-lg-4">    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Payment Details</h4>
                
            </div>
            <div class="panel-body">
                <h4>Status</h4>
                {% if post.status == 10 %}
                    Pending
                {% elseif post.status == 11 %}
                    Paid
                {% elseif post.status == 12 %}
                    Completed
                {% else %}
                    Undefined
                {% endif %}
                <h4>Payments</h4>
                {{ post.dl_payment_type }}
                <hr/>
                <h4>Return Documents Courier</h4>
                
                {{ post.selected_visa_courier }}
                
                <hr/>
                <h4>Return Address</h4>
                <div class="form-group">
                    <b>Company (If applicable)</b><br/>
                    {{ post.visa_mdd_company }}
                </div>
                
                <div class="form-group">
                    <b>Document(s) Return Address</b><br/>
                    {{ post.visa_mdd_address }}
                </div>
                
                <div class="form-group">
                    <b>City / Suburb</b><br/>
                    {{ post.visa_mdd_city }}
                </div>
                
                <div class="form-group">
                    <b>State</b><br/>
                    {{ post.visa_mdd_state }}
                </div>
                
                <div class="form-group">
                    <b>Postcode</b><br/>
                    {{ post.visa_mdd_postcode }}
                </div>
                
                <div class="form-group">
                    <b>First name</b><br/>
                    {{ post.visa_mdd_fname }}
                </div>
                
                <div class="form-group">
                    <b>Last name</b><br/>
                    {{ post.visa_mdd_lname }}
                </div>
                
                <div class="form-group">
                    <b>Contact number</b><br/>
                    {{ post.visa_mdd_contact }}
                </div>
                
                <div class="form-group">
                    <b>Additional comments</b><br/>
                    {{ post.visa_additional_comment }}
                </div>
                
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
        
// Global declarations
var tpn_list_url = "{{ path("acme_cls_admin_open_tpn_list") }}";
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}