{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-9">
        
        <h3>Order View - Police Clearance Application<br/>
            <span class="small-note">Submitted Date: {{ post.date_submitted|date("d-m-Y") }}</span>
        </h3>
    </div>
    <div class="col-lg-3">
        <h3>Order Number: {{ post.order_no }}</h3>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-lg-12 text-right">
        <form method="POST" action="{{ path('cls_client_gov_application_reprint') }}" target="_blank">
            <input type="hidden" name="reprint">
            <input type="hidden" name="orderNumber" value="{{post.order_no}}">
            <input type="hidden" name="app_type" value="police">
            <input type="submit" name="hidSubmit" class="btn btn-primary" value="Reprint Invoice"/>
        </form>
    </div>
</div>
<br/>
<div class="row">
    
        <!-- Travel Details -->
    <div id="travel-details" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Police Clearance Details</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <strong>Police Clearance</strong><br/>
                    {{ post.police_clearance_name }}

                    

                </div>
            </div>
        </div>
            
    </div>
    
    
    
    
    
    
    <!-- Traveller Details -->
    <div id="traveller-details" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Applicant Details</h4>
            </div>
                
            <div class="panel-body">
                <div class="traveller-details-group">

                    {% for traveller in post.police_clearance_applicants %}
                    {% if loop.index > 1%}<hr />{% endif %}
                    <div class="group">
                        

                        <div class="form-group">
                            <strong>First name</strong><br/>
                            {{ traveller.fname }}
                        </div>

                        <div class="form-group">
                            <strong>Middle name</strong><br/>
                            {{ traveller.mname }}
                        </div>

                        <div class="form-group">
                            <strong>Last name</strong><br/>
                            {{ traveller.lname }}
                        </div>

                        <div class="form-group">
                            <strong>Email</strong><br/>
                            {{ traveller.email }}
                        </div>

                        <div class="form-group">
                            <strong>Phone</strong><br/>
                            {{ traveller.phone }}
                        </div>
                        
                        <div class="form-group">
                            <strong>Mobile</strong><br/>
                            {{ traveller.mobile }}
                        </div>
                        
                        <div class="form-group">
                            <strong>Address</strong><br/>
                            {{ traveller.address }}
                        </div>
                        
                        <div class="form-group">
                            <strong>City</strong><br/>
                            {{ traveller.city }}
                        </div>
                        
                        <div class="form-group">
                            <strong>State</strong><br/>
                            {{ traveller.state }}
                        </div>

                        <div class="form-group">
                            <strong>Postcode</strong><br/>
                            {{ traveller.postcode }}
                        </div>

                        <div class="form-group">
                            <strong>Country</strong><br/>
                            {{ traveller.countryName }}
                        </div>

                        <div class="form-group">
                            <strong>Passport Number</strong><br/>
                            {{ traveller.passport_no }}
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        
        </div>
    </div>
    
    
    
    
    
    <!-- Primary Department Contact -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Payment Details</h4>
            </div>
                
            <div class="panel-body">
                <div class="form-group">
                    <strong>Name</strong><br/>
                    {{ post.payer_fname ~ " " ~ post.payer_lname }}
                </div>

                <div class="form-group">
                    <strong>Email</strong><br/>
                    {{ post.payer_email }}
                </div>

                <div class="form-group">
                    <strong>Contact Phone Number</strong><br/>
                    {{ post.payer_phone }}
                </div>
                <div class="form-group">
                    <strong>Mobile</strong><br/>
                    {{ post.payer_mobile }}
                </div>

                <div class="form-group">
                    <strong>Address</strong><br/>
                    {{ post.payer_address }}
                </div>

                <div class="form-group">
                    <strong>Grand Total</strong><br/>
                    ${{ post.grand_total|number_format(2) }}
                </div>
                    

            </div>
        </div>
            
    </div>
    
    
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
        
// Global declarations
var tpn_list_url = "{{ path("acme_cls_admin_open_tpn_list") }}";
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}