{% extends "AcmeCLShomeBundle::layout.html.twig" %}

{% block metadescription %}Applying for a visa online with Capital Link Services is fast, reliable and simple.{% endblock %}

{% block title %}Visa Processing | Capital Link Services{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>

<section class="content main group">
    <div class="row">
        <div class="col-lg-7">
            <h1>Visa Processing</h1>
        </div>
        <div class="col-lg-4">
            <form action="" method="get">
            <div class="row">
                <div class="col-lg-10" style="padding-top: 15px;">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" placeholder="Search Visa" value="{% if get.search is defined %}{{ get.search }}{% endif %}">
                    </div>
                </div>

                <div class="col-lg-2" style="padding-top: 15px;">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" >Search</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <ul class="country-list">
                    {% for country in visas %}
                        <li><a href="{{ path("acme_cls_visa_search_visa_info") }}/{{ country.country_name|lower|replace({" ":"-"}) }}-travel-visa?id={{ country.id }}">{{ country.country_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="visaInformation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var open_url = "{{ path("cls_client_gov_visa_information_get_info") }}";
var asset = "{{ asset("img") }}";
</script>
    
<script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}