{% extends "AcmeCLShomeBundle::layout.html.twig" %}
{% block metadescription %}
    {% if data.country_name == 'China' %}
        Before you visit {{ data.country_name }}, sign up for visa processing through CLS Capital Link Services. We will get your visa quickly and without complications.
    {% elseif data.country_name == 'India' %}
        Capital Link Services is a leading independent agent in visa processing for travel to {{ data.country_name }}. Visit now for the fastest turn-around times in the industry.
    {% elseif data.country_name == 'Brazil' %}
        Headed to {{ data.country_name }}? Take advantage of the easy, straightforward visa processing from Capital Link Services. Visit our site and we'll get you there.
    {% elseif data.country_name == 'Saudi Arabia' %}
        Capital Link Services performs visa processing for {{ data.country_name }} and other destinations. Rely on us to get you where you need to go, when you need to get there.
    {% elseif data.country_name == 'Russia' %}
        Have you ever wanted to travel to eastern Europe? Let Capital Link Services help you. We offer visa processing for Russia. Call on us today.
    {% elseif data.country_name == 'Laos' %}
        At Capital Link Services we offer Laos visa processing. Visit us here to get started and rely on us to get where you need to go, when you need to get there.
    {% elseif data.country_name == 'Cambodia' %}
        When is the last time you went on an exotic vacation? At CLS Capital Link Services we specialise in visa processing in Cambodia. Call on us today.
    {% else %}
        Capital Link Services performs visa processing for {{ data.country_name }} and other destinations. Rely on us to get you where you need to go, when you need to get there.
    {% endif %}
{% endblock %}
        
{% block title %}{% if data.country_name == 'Russia' %}Visa Processing for {{ data.country_name }}{% elseif data.country_name == 'Cambodia' %}Visa Processing in {{ data.country_name }}{% else %}{{ data.country_name }} Visa Processing | Capital Link Services{% endif %}{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}
{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage|raw }}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>

<section class="content main group">
    <div class="row">
        <div class="col-lg-12">
            {% if data.country_name == 'Russia'%}
                <h1>Visa Processing for {{ data.country_name }}</h1>
            {% elseif data.country_name == 'Cambodia'%}
                <h1>Visa Processing in {{ data.country_name }}</h1>
            {% else %}
                <h1>{{ data.country_name }} Visa Processing</h1>
            {% endif %}
        </div>
    </div>

    {% if data.public_s_no_visa_required == 1 %}
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="">
                    {{ data.public_s_no_visa_required_html|raw }}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <form action="{{ path("cls_client_public_application_visa") }}" method="post">
    <input type="hidden" name="hidSubmit" id="hidSubmit">
    <input type="hidden" name="country" value="{{ data.country_id }}">
    <input type="hidden" name="country_name" value="{{ data.country_name }}">
    <input type="hidden" name="publicReg">
    <div class="row">
        <div class="col-lg-8">
            <div class="">
                <div class="">
                    
                    <h2>Choose type of Visa</h2>
                    <select name="visaType" id="{{ data.country_id }}" class="form-control visa-type required" tag="0" required>
                        <option value="" tag="0"> Select type </option>
                        {% for visa_type in data.visa_types %}
                            {% if visa_type.status == 1%}
                            <option value="{{ visa_type.id }}" tag="{{ visa_type.cost }}" {% if post is defined and travel.selected_visa_type == visa_type.id %}selected{% elseif app.session.get("public_visa_selected_visa_type") == visa_type.id%}selected{% endif %}>{{ visa_type.type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <hr/>
                    
                    <h2>Choose type of courier</h2>
                    <select name="courier" id="courier" class="form-control required" tag="0" required>
                        <option value="" tag="0"> Select courier </option>
                        {% for courier in visa_courier_options %}
                            <option value="{{ courier.id }}" tag="{{courier.cost}}" {% if post is defined and post.visa_courier == courier.id %}selected{% elseif app.session.get("public_visa_selected_courier") == courier.id%}selected{% endif %}>{{ courier.type ~ " - $" ~ courier.cost }}</option>
                        {% endfor %}
                    </select>
                    
                    <div class="spacing"></div>
                    
                    <label><strong>Visa application fees</strong></label><br/>
                    <div class="alert-danger add-reqs-selection" style="display: none ;">
                        Please select at least 1 requirement.
                    </div>
                    <div class="visa-type-requirements">

                    </div>

                    <div class="spacing"></div>
                    <p>Please review visa requirements in the Visa Information Panel below before making selections.</p>

                    <div class="row">
                        <div class="col-lg-12">
                            <label><strong>Visa Information</strong></label>
                            <div class="visa-information">
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>


        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-body" >
                    <div id="price_display">
                    <h4>Service Charges</h4>
                           <div class="panel panel-default price-display" style="background-color: #E6E6E6;">
                           <div class="panel-body" style="padding-top:5px;padding-bottom:5px;">
                           $<span id="visaServiceChargeAmnt">0.00</span> AUD
                           </div>
                            </div>
                    </div>
                    <div>
                    <h4>Courier Charges</h4>
                           <div class="panel panel-default price-display" style="background-color: #E6E6E6;">
                           <div class="panel-body" style="padding-top:5px;padding-bottom:5px;">
                           $<span id="visaCourierAmnt">0.00</span> AUD
                           </div>
                            </div>
                    </div>
                        
                    <div>
                    <h4>Visa application fees</h4>
                    <div class="panel panel-default price-display" style="background-color: #E6E6E6;">
                    <div class="panel-body" style="padding-top:5px;padding-bottom:5px;">
                    $<span id="visaApplicationAmnt">0.00</span> AUD
                    </div>
                     </div>
                    </div>
                        
                    <div>
                    <h4>Total:</h4>
                    <div class="panel panel-default bg-info price-display" >
                        <div class="panel-body">
                            $<span id="visaOptTotalAmnt">0.00</span> AUD
                        </div>
                    </div>
                    </div>
                    
                    </div>
                    <div class="form-group text-right" style="margin-right: 15px;">
                        <a href="{{ path("acme_cls_visa_search") }}" class="btn btn-default"><span>&laquo;</span> View More Visas</a>
                        <button type="submit" id="nextPage" class="btn btn-default"><span>&raquo;</span> Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
        
    {% endif %}
</section>

<input type="hidden" id="saudi_popup_content" value="{% if saudi_popup_content is defined %}{{ saudi_popup_content }}{% endif %}">

{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var url = "{{ path("cls_client_public_application_visa_options_get_visa_type_add_reqs") }}";
var open_url = "{{ path("cls_client_gov_visa_information_get_info") }}";
var asset = "{{ asset("img") }}";


$(document).ready(function(){

    $("select.visa-type").change();

    {% if data.country_name == 'Saudi Arabia' %}
        bootbox.dialog({
  message: '<div class="content"> '+ $("#saudi_popup_content").val() +'<br/><span><input type="checkbox" name="chkAgree" /> By ticking the box, you acknowledge and agree that you have read, understood and accept this terms and conditions.</span></div>',
  title: "Saudi Visa terms and conditions",
  closeButton: false,
  buttons: {
    main: {
      label: "OK",
      className: "btn btn-primary disabled",
      callback: function() {
        
      }
    }
  }
});    
        //var form = $('<div class="content"><b></b><br/><br/></div>');
        //bootbox.alert(form,function(){
        //    var username = form.find('input[name=chkAgree]').val();
        //    console.log(username);
        //        $('input[type=button]').removeClass('disabled');

        //});

    {% endif %}
     $('input[name=chkAgree]').change(function(){
        if($('input[name=chkAgree]').is(':checked')){
                $('input[type=button]').removeClass('disabled');
                $('.btn').removeClass('disabled');
            } else {
                $('input[type=button]').addClass('disabled');
                $('.btn').addClass('disabled');
            }
        });   
});
</script>
    
<script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}