{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}


<div class="row">
    <div class="col-lg-9">
        <h3>Order View - 
            {% if post.order_type == 1 %}
                Visa Application
            {% elseif post.order_type == 2 %}
                TPN Application
            {% elseif post.order_type == 3 %}
                TPN + VISA Application
            {% elseif post.order_type == 4 %}
                Passport Application
            {% elseif post.order_type == 5 %}
                Police Clearance Application
            {% elseif post.order_type == 6 %}
                Visa - Pub. Client Application
            {% else %}
            {% endif %}
            <br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ post.client_id }}">{{ post.client_fname ~ ' ' ~ post.client_lname }}</a></b></span>
        </h3>
    </div>
    <div class="col-lg-3">
        <h3>Order Number: {{ post.order_no }}</h3>
    </div>
</div>

<hr/>

{% if post.order_type == 1 or post.order_type == 3 or post.order_type == 6 %}
<form action="{{ path("acme_cls_admin_view_order") }}" method="post">
<input type="hidden" name="updateTicket">
<input type="hidden" name="orderNo" value="{{ post.order_no }}">

<div class="row">
    <div class="col-lg-12">
        <p>Order Submitted to CLS: <b>{{ post.date_submitted|date("d-m-Y H:i:s") }}</b></p>
        <dip class="map20"></dip>

        <!-- Tab panes -->
            {% for travel in post.destinations %}
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Destination: {{ travel.countryName }}</h4>
                        <input type="hidden" name="embassyname[{{travel.id}}]" value="{{ travel.countryName }}">
                        <div class="form-group">
                            <label>All items received at CLS</label>
                            <input type="text" class="form-control datetime-picker" date-format="dd/MM/yyyy hh:mm:ss" name="allItemsReceivedAtCLS[{{travel.id}}]" value="{% if travel.visa_date_cls_received_all_items != ''%}{{ travel.visa_date_cls_received_all_items|date("d-m-Y H:i:s") }}{% endif %}" placeholder="DD-MM-YYYY HH:mm:ss">
                        </div>
                        
                        <div class="form-group">
                            <label>Submitted for processing</label>
                            <input type="text" class="form-control datetime-picker" name="submittedForProcessing[{{travel.id}}]" value="{% if travel.visa_date_submitted_for_processing != ''%}{{ travel.visa_date_submitted_for_processing|date("d-m-Y H:i:s") }}{% endif %}" placeholder="DD-MM-YYYY HH:mm:ss">
                        </div>
                        

                        <div class="form-group">
                            <label>Completed & received at CLS</label>
                            <input type="text" class="form-control datetime-picker" name="completedReceivedAtCLS[{{travel.id}}]" value="{% if travel.visa_date_completed_and_received_at_cls != ''%}{{ travel.visa_date_completed_and_received_at_cls|date("d-m-Y H:i:s") }}{% endif %}" placeholder="DD-MM-YYYY HH:mm:ss">
                        </div>

                        <div class="form-group">
                            <label>Order on route and closed</label>
                            <input type="text" class="form-control datetime-picker" name="orderOnRouteAndClosed[{{travel.id}}]" value="{% if travel.visa_date_order_on_route_and_closed != ''%}{{ travel.visa_date_order_on_route_and_closed|date("d-m-Y H:i:s") }}{% endif %}" placeholder="DD-MM-YYYY HH:mm:ss">
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <h4>Ticket</h4>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Shipped by</label>
                                    <select name="shippedBy[{{travel.id}}]" class="form-control">
                                        <option value="">Select value</option>
                                        <option value="TNT" {% if travel.visa_shipped_by == 'TNT'%}selected{% endif %}>TNT</option>
                                        <option value="DHL" {% if travel.visa_shipped_by == 'DHL'%}selected{% endif %}>DHL</option>
                                        <option value="Toll" {% if travel.visa_shipped_by == 'Toll'%}selected{% endif %}>Toll</option>
                                        <option value="CLS" {% if travel.visa_shipped_by == 'CLS'%}selected{% endif %}>CLS</option>
                                        <option value="Express Post Platinum" {% if travel.visa_shipped_by == 'Express Post Platinum'%}selected{% endif %}>Express Post Platinum</option>
                                        <option value="Registered Post" {% if travel.visa_shipped_by == 'Registered Post'%}selected{% endif %}>Registered Post</option>
                                        <option value="Picked up by client" {% if travel.visa_shipped_by == 'Picked up by client'%}selected{% endif %}>Picked up by client</option>
                                        <option value="Next Flight Service" {% if travel.visa_shipped_by == 'Next Flight Service'%}selected{% endif %}>Next Flight Service</option>
                                        <option value="Star Track" {% if travel.visa_shipped_by == 'Star Track'%}selected{% endif %}>Star Track</option>
                                    </select>
                                </div>
                            </div>
                                
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Con Note Out</label>
                                    <input type="text" class="form-control" name="comNoteNo[{{ travel.id }}]" value="{{travel.visa_com_note_no}}"/>
                                </div>
                            </div>
                                
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Con Note In</label>
                                    <input type="text" class="form-control" name="comNoteIn[{{ travel.id }}]" value="{{travel.visa_com_note_in}}"/>
                                </div>
                            </div>
                                
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Invoice No.</label>
                                    <input type="text" class="form-control" name="invoiceNo[{{ travel.id }}]" value="{{travel.visa_invoice_no}}"/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Your comment</label>
                                    <textarea name="ticketComment[{{travel.id}}]" class="form-control"></textarea>
                                </div>
                                <ul id="notes">
                                    {% for note in travel.visa_notes%}
                                        {% if note.is_admin == 0 %}
                                        <li>{% if note.user_type == 'Admin'%}<a style="cursor: pointer" tag="{{ note.note }}" onclick="javascript: editAdminComment({{ note.id }}, this);">[Edit]</a> <a style="cursor: pointer; color: red;" tag="{{ note.note }}" onclick="javascript: deleteAdminComment({{ note.id }}, this);">[Delete]</a>{% endif%} <span class="note-text">{{ note.note|replace({"\n":"<br/>"})|raw }}</span><br/><span class="noted-by"><i>- by {{ note.note_by_name ~ " (" ~ note.user_type ~")"}} {{ note.date_added }}</i></span></li>
                                        {% endif%}
                                    {% endfor %}
                                </ul>
                                <div class="form-group">
                                    <label>Admin comment</label>
                                    <textarea name="ticketAdminComment[{{travel.id}}]" class="form-control"></textarea>
                                </div>
                                <ul id="adminNotes">
                                    {% for note in travel.visa_notes%}
                                        {% if note.is_admin == 1 %}
                                            <li><a style="cursor: pointer" tag="{{ note.note }}" onclick="javascript: editAdminComment({{ note.id }}, this);">[Edit]</a> <a style="cursor: pointer; color: red;" tag="{{ note.note }}" onclick="javascript: deleteAdminComment({{ note.id }}, this);">[Delete]</a> <span class="note-text">{{ note.note|replace({"\n":"<br/>"})|raw }}</span><br/><span class="noted-by"><i>- by {{ note.note_by_name }} {{ note.date_added }}</i></span></li>
                                        {% endif%}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        
                    </div>
                </div>
                <hr/>
            {% endfor %}
    </div>
</div>


<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>CLS Team Member</label>
            <select name="clsTeamMember" class="form-control">
                <option value="">Select team member</option>
                {% for staff in cls_staff %}
                    <option value="{{ staff.id }}" {% if post.visa_cls_team_member == staff.id %}selected{% endif %}>{{ staff.fname ~ ' ' ~ staff.lname }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
        
    <div class="col-lg-3">
        <div class="form-group">
            <label><input type="checkbox" name="sDeliveredToEmbassy" {% if post.visa_is_delivered_to_embassy == 1%}checked{% endif %}/> Delivered to Embassy</label>            
        </div>
    </div>
        
    <div class="col-lg-3">
        <div class="form-group">
            <label>Next Embassy</label>
            <input type="text" name="nextEmbassy" class="form-control" value="{{ post.visa_next_embassy }}">
        </div>
    </div>
        
    <div class="col-lg-2">
        <div class="form-group">
            <label>Follow up date</label>
            <input type="text" class="form-control date-picker" name="follow_up_date" value="{% if post.follow_up_date !='' %}{{ post.follow_up_date|date("d-m-Y") }}{% endif %}" placeholder="DD-MM-YYYY">
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-6">
        <h4>VISA Options</h4>
        
        {% for travel in post.destinations %}
        <div class="row">
            <div class="col-lg-12">
                <label><b>Visa type:</b> {{ travel.countryName ~ " - " ~ travel.selected_visa_type_name}}</label>
                <br/>
                <label><b>Additional:</b></label>
                <ul>
                    {% for req in travel.selected_visa_type_requirements_array %}
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ req.requirement }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="map20"></div>
        {% endfor %}
    </div>
        
    <div class="col-lg-6">
        <h4>Type of Courier</h4>
        {{ post.selected_visa_courier }}
    </div>
</div>

<hr/>
<div class="text-right">
    <label><input type="checkbox" name="chkSendUpdate"/> Do not email client update</label>
</div>
<div class="text-right">
    <a class="btn btn-default" href="{{ site_url }}{{ asset("api") }}/pdfc/print-return-address-label.php?order={{ post.order_no }}" target="_blank"><span class="glyphicon glyphicon-print"></span> Print Return Address Label</a>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
    
</div>

</form>
<hr/>
{% endif %}

<div class="row">
    
        <!-- Travel Details -->
    <div id="travel-details" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Travel Details</h4>
            </div>
            <div class="panel-body">
                <div class="travel-details-group">

                    {% if post.order_type == 1 or post.order_type == 6 %}
                    
                        {% for travel in post.destinations %}
                        <div class="group">

                            {% if loop.index > 1%}<hr />{% endif %}

                            <div class="form-group">
                                    <strong>Destination</strong><br/>
                                    {{ travel.countryName }}

                            </div>

                            <div class="form-group">
                                <strong>Departure Date from Australia</strong><br/>
                                {{ travel.departure_date|date("d-m-Y") }}
                            </div>

                             <div class="form-group">
                                 <strong>Number of Entries </strong><br/>
                                 {% if travel.entry_option == 1 %}
                                 Single Entry
                                 {% elseif travel.entry_option == 2 %}
                                 Double Entry
                                 {% elseif travel.entry_option == 3 %}
                                 Multiple Entry
                                 {% else %}
                                 Undefined
                                 {% endif %}

                            </div>

                            <div class="form-group">
                                <strong>First Entry Date to Country</strong><br/>
                                {{ travel.entry_date_country|date("d-m-Y") }}

                            </div>

                            <div class="form-group">
                                <strong>Last Departure Date from Country</strong><br/>
                                {{ travel.departure_date_country|date("d-m-Y")}}
                            </div>

                            <div class="form-group">
                                <strong>Purpose of Travel</strong><br/>
                                <p>{{ travel.travel_purpose }}</p>
                            </div>


                        </div>
                        {% endfor %}
                    
                    
                    {% else %}
                    
                        {% for travel in post.travels %}
                        <div class="group">

                            {% if loop.index > 1%}<hr />{% endif %}

                            <div class="form-group">
                                    <strong>Destination</strong><br/>
                                    {{ travel.destination }}

                            </div>

                            <div class="form-group">
                                <strong>Departure Date from Australia</strong><br/>
                                {{ travel.departure_date|date("d-m-Y") }}
                            </div>

                             <div class="form-group">
                                 <strong>Number of Entries </strong><br/>
                                 {% if travel.entry_option == 1 %}
                                 Single Entry
                                 {% elseif travel.entry_option == 2 %}
                                 Double Entry
                                 {% elseif travel.entry_option == 3 %}
                                 Multiple Entry
                                 {% else %}
                                 Undefined
                                 {% endif %}

                            </div>

                            <div class="form-group">
                                <strong>First Entry Date to Country</strong><br/>
                                {{ travel.entry_date_country|date("d-m-Y")}}

                            </div>

                            <div class="form-group">
                                <strong>Last Departure Date from Country</strong><br/>
                                {{ travel.departure_date_country|date("d-m-Y")}}
                            </div>

                            <div class="form-group">
                                <strong>Purpose of Travel</strong><br/>
                                <p>{{ travel.travel_purpose }}</p>
                            </div>


                                {% if travel.status == 0 %}
                                    <div class="bg-info padd-5">
                                        <div class="form-group">
                                            <strong>TPN Status</strong><br/>
                                            Applied
                                        </div>
                                        {% if travel.tpn_notes|length > 0 %}
                                        <div class="form-group">
                                            <strong>Notes</strong><br/>

                                            <ul id="tpnNotes">
                                                {% for note in travel.tpn_notes%}
                                                    <li><span class="note-text">{{ note.note }}</span><br/><span class="noted-by"><i>- by {{ note.note_by["fname"] ~ " (" ~ note.user_type ~")"}} {{ note.date_added }}</i></span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </div>
                                {% elseif travel.status == 1 %}
                                    <div class="bg-success padd-5">
                                        <div class="form-group">
                                            <strong>TPN Status</strong><br/>
                                            Accepted
                                        </div>

                                        {% if travel.tpn_notes|length > 0 %}
                                        <div class="form-group">
                                            <strong>Notes</strong><br/>

                                            <ul id="tpnNotes">
                                                {% for note in travel.tpn_notes%}
                                                    <li><span class="note-text">{{ note.note }}</span><br/><span class="noted-by"><i>- by {{ note.note_by["fname"] ~ " (" ~ note.user_type ~")"}} {{ note.date_added }}</i></span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </div>
                                {% elseif travel.status == 2 %}
                                    <div class="bg-danger padd-5">
                                        <div class="form-group">
                                            <strong>TPN Status</strong><br/>
                                            Declined
                                        </div>
                                        {% if travel.tpn_notes|length > 0 %}
                                        <div class="form-group">
                                            <strong>Notes</strong><br/>

                                            <ul id="tpnNotes">
                                                {% for note in travel.tpn_notes%}
                                                    <li><span class="note-text">{{ note.note }}</span><br/><span class="noted-by"><i>- by {{ note.note_by["fname"] ~ " (" ~ note.user_type ~")"}} {{ note.date_added }}</i></span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="bg-warning padd-5">
                                        <strong>TPN Status</strong><br/>
                                        Undefined
                                    </div>

                                {% endif %}

                        </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    <!-- Traveller Details -->
    <div id="traveller-details" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Traveller Details</h4>
            </div>
                
            <div class="panel-body">
                <div class="traveller-details-group">

                    {% for traveller in post.travellers %}
                    {% if loop.index > 1%}<hr />{% endif %}
                    <div class="group">

                        <div class="form-group">
                            <strong>Title</strong><br/>
                            {{ traveller.title_name }}
                        </div>

                        <div class="form-group">
                            <strong>First name</strong><br/>
                            {{ traveller.fname }}
                        </div>

                        <div class="form-group">
                            <strong>Middle name</strong><br/>
                            {{ traveller.mname }}
                        </div>

                        <div class="form-group">
                            <strong>Last name</strong><br/>
                            {{ traveller.lname }}
                        </div>

                        <div class="form-group">
                            <strong>Email</strong><br/>
                            {{ traveller.email }}
                        </div>

                        <div class="form-group">
                            <strong>Occupation</strong><br/>
                            {{ traveller.occupation }}
                        </div>

                        <div class="form-group">
                            <strong>Phone</strong><br/>
                            {{ traveller.phone }}
                        </div>

                        <div class="form-group">
                            <strong>Date of Birth</strong><br/>
                            {{ traveller.birth_date|date("d-m-Y") }}

                        </div>

                        {% if post.order_type == 2 or post.order_type == 3 %}
                        <div class="form-group">
                            <strong>Gender</strong><br/>
                            {{ traveller.gender|capitalize }}
                        </div>
                        
                        <div class="form-group">
                            <strong>Nearest Capital City</strong><br/>
                            {{ traveller.nearest_capital_city }}
                        </div>
                        {% endif %}
                        
                        <div class="form-group">
                            <strong>Passport type</strong><br/>
                            {{ traveller.passport_type_name }}
                        </div>

                        
                        <div class="form-group">
                            <strong>Nationality</strong><br/>
                            {{ traveller.nationality_name }}
                        </div>

                        <div class="form-group">
                            <strong>Passport Number</strong><br/>
                            {{ traveller.passport_number }}
                        </div>
                        
                        <div class="form-group">
                            {% for travel in post.destinations %}
                                <p><a class="btn btn-primary" href="{{ site_url }}{{ asset("api") }}/pdfc/print-label.php?order={{ post.order_no }}&travel={{ travel.id }}&traveller={{ traveller.id }}" target="_blank"><span class="glyphicon glyphicon-print"></span> {{ travel.countryName }} - Print Label</a></p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        
        </div>
    </div>
    
    
    
    
    
    <!-- Primary Department Contact -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if post.order_type == 6%}
                    <h4>Primary Contact</h4>
                {% else %}
                    <h4>Primary Department Contact</h4>
                {% endif %}
            </div>
                
            <div class="panel-body">
                {% if post.order_type == 6%}

                    <div class="form-group">
                        <strong>First Name</strong><br/>
                        {{ post.travellers[0]['fname'] }}
                    </div>

                    <div class="form-group">
                        <strong>Last Name</strong><br/>
                        {{ post.travellers[0]['lname'] }}
                    </div>

                    <div class="form-group">
                        <strong>Email</strong><br/>
                        {{ post.travellers[0]['email'] }}
                    </div>

                    <div class="form-group">
                        <strong>Phone</strong><br/>
                        {{ post.travellers[0]['phone'] }}
                    </div>
                {% else %}
                    <div class="form-group">
                        <strong>Department</strong><br/>
                        {{ post.department_name }}
                    </div>

                    <div class="form-group">
                        <strong>First Name</strong><br/>
                        {{ post.pri_dept_contact_fname }}
                    </div>

                    <div class="form-group">
                        <strong>Last Name</strong><br/>
                        {{ post.pri_dept_contact_lname }}
                    </div>

                    <div class="form-group">
                        <strong>Email</strong><br/>
                        {{ post.pri_dept_contact_email }}
                    </div>

                    <div class="form-group">
                        <strong>Phone</strong><br/>
                        {{ post.pri_dept_contact_phone }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Payment Details</h4>
            </div>
                
            <div class="panel-body">
                <div class="form-group">
                    <strong>Name</strong><br/>
                    {{ post.payer_fname ~ " " ~ post.payer_lname }}
                </div>

                <div class="form-group">
                    <strong>Email</strong><br/>
                    {{ post.payer_email }}
                </div>

                <div class="form-group">
                    <strong>Contact Phone Number</strong><br/>
                    {{ post.payer_phone }}
                </div>
                <div class="form-group">
                    <strong>Mobile</strong><br/>
                    {{ post.payer_mobile }}
                </div>

                <div class="form-group">
                    <strong>Address</strong><br/>
                    {{ post.payer_address }}
                </div>

                <form id="frmPost" action="#" method="post">
                    <input type="hidden" id="post_type" name="updateStatus">
                    <input type="hidden" name="orderNo" value="{{ post.order_no }}">
                    {% if post.order_type == 1 %}
                            {% set data_type = 'visa' %}
                        {% elseif post.order_type == 2 %}
                            {% set data_type = 'tpn' %}
                        {% elseif post.order_type == 3 %}
                            {% set data_type = 'tpn_visa' %}
                        {% elseif post.order_type == 6 %}
                            {% set data_type = 'public_visa' %}
                        {% endif %}
                    <input type="hidden" name="appType" value="{{ data_type }}">
                    <input type="hidden" name="client_id" value="{{ post.client_id }}">
                    <div class="form-group">
                        <strong>Order Status</strong><br/>
                        <select name="orderStatus" class="form-control">
                            <option value="10" {% if post.status == 10 %}selected{% endif %}>Pending</option>
                            <option value="12" {% if post.status == 12 %}selected{% endif %}>Completed</option>
                        </select>

                    </div>
                    
                    <div class="form-group">
                        <strong>Payment Status</strong><br/>
                        <select name="paymentStatus" class="form-control">
                            <option value="0" {% if post.s_paid == 0 %}selected{% endif %}>Pending</option>
                            <option value="1" {% if post.s_paid == 1 %}selected{% endif %}>Paid - Online</option>
                            <option value="2" {% if post.s_paid == 2 %}selected{% endif %}>Paid - By Account</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <strong>Account Number</strong><br/>
                        <input type="text" class="form-control" name="accountNumber" value="{{ post.account_no }}">
                    </div>

                    <div class="form-group text-right">
                        <button type="submit" id="update" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
                        {#<a class="btn btn-info" href="{{ path("acem_cls_admin_pay_now") }}?order={{ post.order_no }}&client={{ post.client_id }}">Pay Now</a>#}
                        <a class="btn btn-info btn-sm" href="{{ path("acme_cls_admin_process_payment") }}?order={{ post.order_no }}">Pay Now</a>
                        {% if post.order_type == 1 %}
                            {% set data_type = 'visa' %}
                        {% elseif post.order_type == 2 %}
                            {% set data_type = 'tpn' %}
                        {% elseif post.order_type == 3 %}
                            {% set data_type = 'tpn_visa' %}
                        {% elseif post.order_type == 6 %}
                            {% set data_type = 'public_visa' %}
                        {% endif %}
                        <button id="sendManualInvoice" type="button" data-type="{{ data_type }}" data-client="{{ post.client_id }}" data-order="{{ post.order_no }}" class="btn btn-warning btn-sm">Send Invoice</button>
                       
                    </div>
                    <div class="form-group text-right">
                         <button id="reprintInvoice" type="submit" data-type="{{ data_type }}" data-client="{{ post.client_id }}" data-order="{{ post.order_no }}" class="btn btn-primary btn-sm"> Reprint Invoice</button>
                    </div>
                </form>
            </div>
        </div>
            
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Billing Details</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <strong>Address</strong><br/>
                    {{ post.mba_address ~ " " ~ post.mba_city ~ " " ~ post.mba_state ~ " " ~ post.mba_postcode ~ " " ~ post.mba_country }}
                </div>
            </div>
        </div>
    </div>
    
    
</div>



<!-- Modal -->
<div class="modal fade" id="modEditComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Comment</h4>
      </div>
      <div class="modal-body">
          <input type="hidden" id="txtEditCommentId"/>
          <textarea id="txtEditComment" class="form-control"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveCommentChanges();">Save changes</button>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
        
// Global declarations
var tpn_list_url = "{{ path("acme_cls_admin_open_tpn_list") }}";
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";
var edit_comment_url = "{{ path("acme_cls_admin_edit_destination_comment") }}";
var delete_comment_url = "{{ path("acme_cls_admin_delete_destination_comment") }}";
var send_invoice_url = "{{ path("acme_cls_admin_send_invoice") }}";
</script>  
<script src="{{ asset("js") }}/bootbox.js"></script>
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
 <script type="text/javascript">

    $('#datetimepicker1').datetimepicker({
      language: 'pt-BR'
    });
 
</script>
{% endblock %}