{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}


<div class="row">
    <div class="col-lg-9">
        <h3>Order View - 
            {% if post.order_type == 1 %}
                Visa Application
            {% elseif post.order_type == 2 %}
                TPN Application
            {% elseif post.order_type == 3 %}
                TPN + VISA Application
            {% elseif post.order_type == 4 %}
                Passport Office Pickup or Delivery Application
            {% elseif post.order_type == 5 %}
                Police Clearance Application
            {% elseif post.order_type == 6 %}
                Visa - Pub. Client Application
            {% else %}
            {% endif %}
        </h3>
    </div>
    <div class="col-lg-3">
        <h3>Order Number: {{ post.order_no }}</h3>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-lg-12 text-right">
        <form method="POST" action="{{ path('cls_client_gov_application_reprint') }}" target="_blank">
            <input type="hidden" name="reprint">
            <input type="hidden" name="orderNumber" value="{{post.order_no}}">
            <input type="hidden" name="app_type" value="passport">
            <input type="submit" name="hidSubmit" class="btn btn-primary" value="Reprint Invoice"/>
        </form>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">Passport Details</div>
            <div class="panel-body">
                <div class="form-group">
                    <strong>Passport Office Booking Number</strong><br/>
                    {{ post.passport_office_booking_no }}
                </div>
                    
                <div class="form-group">
                    <strong>Passport Office Booking Time</strong><br/>
                    {{ post.passport_office_booking_time|date("d-m-Y") ~ ' ' ~ post.passport_office_booking_time_hr ~ ':' ~ post.passport_office_booking_time_min }}
                </div>
                    
                
                <div class="form-group">
                    <strong>Passport Applicant(s)</strong><br/>
                    <ul class="passport-applicants">
                        {% for applicant in post.passport_applicants %}
                        <li>
                            Name: {{ applicant.fullname }}<br/>
                            <ul>
                                {% if applicant.personal_passport == 1 %}<li>Personal Passport</li>{% endif %}
                                {% if applicant.diplomatic_official_passport == 1 %}<li>Diplomatic Official Passport</li>{% endif %}
                                {% if applicant.birth_certificate == 1 %}<li>Birth Certificate</li>{% endif %}
                                {% if applicant.marriage_certificate == 1 %}<li>Marriage Certificate</li>{% endif %}
                                {% if applicant.certificate_of_australian_citizenship == 1 %}<li>Certificate of Australian Citizenship</li>{% endif %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Payment Details</div>
            <div class="panel-body">
                <div class="form-group">
                    <strong>Name</strong><br/>
                    {{ post.payer_fname ~ " " ~ post.payer_lname }}
                </div>

                <div class="form-group">
                    <strong>Email</strong><br/>
                    {{ post.payer_email }}
                </div>

                <div class="form-group">
                    <strong>Contact Phone Number</strong><br/>
                    {{ post.payer_phone }}
                </div>
                <div class="form-group">
                    <strong>Mobile</strong><br/>
                    {{ post.payer_mobile }}
                </div>

                <div class="form-group">
                    <strong>Grand Total</strong><br/>
                    ${{ post.grand_total|number_format(2) }}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
        
// Global declarations
var tpn_list_url = "{{ path("acme_cls_admin_open_tpn_list") }}";
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}