{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}


<div class="row">
    <div class="col-lg-9">
        <h3>Order View -
            {% if post.order_type == 1 %}
                Visa Application
            {% elseif post.order_type == 2 %}
                TPN Application
            {% elseif post.order_type == 3 %}
                TPN + VISA Application
            {% elseif post.order_type == 4 %}
                Passport Office Pickup or Delivery Application
            {% elseif post.order_type == 5 %}
                Police Clearance Application
            {% elseif post.order_type == 6 %}
                Visa - Pub. Client Application
            {% elseif post.order_type == 7 %}
                Document Delivery
            {% elseif post.order_type == 8 %}
                Russian Visa Voucher
            {% endif %}
            <br/>
            <span class="small-note">Submitted Date: {{ post.date_submitted|date("d-m-Y") }}</span>
        </h3>
    </div>
    <div class="col-lg-3">
        <h3>Order Number: {{ post.order_no }}</h3>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-lg-12 text-right">
        <form method="POST" action="{{ path('cls_client_gov_application_reprint') }}" target="_blank">
            <input type="hidden" name="reprint">
            <input type="hidden" name="orderNumber" value="{{post.order_no}}">
            <input type="hidden" name="app_type" value="russian-visa">
            <input type="submit" name="hidSubmit" class="btn btn-primary" value="Reprint Invoice"/>
        </form>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Travel Details</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Date of first entry to Russia</label><br/>
                    <b>{{ post.rvv_first_entry_date|date('d-m-Y') }}</b>
                </div>


                <div class="form-group">
                    <label>Date of first departure from Russia</label><br/>
                    <b>{{ post.rvv_first_departure_date|date('d-m-Y') }}</b>
                </div>

                <div class="form-group">
                    <label>Date of second entry to Russia</label><br/>
                    <b>{{ post.rvv_second_entry_date|date('d-m-Y') }}</b>
                </div>

                <div class="form-group">
                    <label>Date of second departure from Russia</label><br/>
                    <b>{{ post.rvv_second_departure_date|date('d-m-Y') }}</b>
                </div>

                <div class="form-group">
                    <label>List of cities to be visited (max of 6)</label><br/>
                    <b>{{ post.rvv_list_of_cities }}</b>
                </div>

                <div class="form-group">
                    <label>List of hotels in Russia</label><br>
                    <b>{{ post.rvv_list_of_hotels }}</b>
                </div>

                <div class="form-group">
                    <label>Visa to be applied at</label><br/>
                    <b>{{ post.rvv_visa_applied_at }}</b>
                </div>
                    
                <hr/>
                
                
                <div class="form-group">
                    <label>Voucher Type</label><br/>
                    <b>{{ post.russian_visa_voucher_name }}</b>
                </div>
                    
                {% if post.rvv_file != '' %}
                <div class="form-group">
                    <label>Attached File</label><br/>
                    <a href="{{ asset("dev") ~ "/rvv/" ~ post.client_id ~ "/" ~ post.order_no ~ "/" ~ post.rvv_file }}" target="_blank">{{ post.rvv_file }}</a>
                </div>
                {% endif %}
                    
                <div class="form-group">
                    <label>Comments</label><br/>
                    <b>{{ post.rvv_comments }}</b>
                </div>
                    
                <hr/>
                <div class="form-group">
                    <label>Order Status</label><br/>
                    <b>{% if post.status is defined and post.status == 10 %}Pending{% elseif post.status is defined and post.status == 12 %}Completed{% endif %}</b>
                </div>
                
            </div>
        </div>
    </div>
        
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Applicant Details</h4>
            </div>
            <div class="panel-body">
                {% for applicant in post.travellers %}
                <div class="form-group">
                    <label>Title</label><br/>
                    <b>{{ applicant.title_name }}</b>
                </div>

                <div class="form-group">
                    <label>First name</label><br/>
                    <b>{{ applicant.fname }}</b>
                </div>

                <div class="form-group">
                    <label>Middle name</label><br/>
                    <b>{{ applicant.mname }}</b>
                </div>

                <div class="form-group">
                    <label>Last name</label><br/>
                    <b>{{ applicant.lname }}</b>
                </div>

                <div class="form-group">
                    <label>Email</label><br/>
                    <b>{{ applicant.email }}</b>
                </div>

                <div class="form-group">
                    <label>Citizenship</label><br/>
                    <b>{{ applicant.rvv_citizenship }}</b>
                </div>

                <div class="form-group">
                    <label>Sex</label><br/>
                    <b>{{ applicant.rvv_sex }}</b>
                </div>

                <div class="form-group">
                    <label>Phone</label><br/>
                    <b>{{ applicant.phone }}</b>
                </div>

                <div class="form-group">
                    <label>Place of birth</label><br/>
                    <b>{{ applicant.rvv_birth_place }}</b>
                </div>

                <div class="form-group">
                    <label>Date of Birth</label><br/>
                    <b>{{ applicant.birth_date|date("d-m-Y") }}</b>
                </div>

                <div class="form-group">
                    <label>Passport Number</label><br/>
                    <b>{{ applicant.passport_number }}</b>
                </div>

                <div class="form-group">
                    <label>Passport issue date</label><br/>
                    <b>{{ applicant.rvv_passport_issue_date|date("d-m-Y") }}</b>
                </div>

                <div class="form-group">
                    <label>Passport expiration date</label><br/>
                    <b>{{ applicant.rvv_passport_exp_date|date("d-m-Y") }}</b>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
        
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Employment Information</h4>
            </div>
            <div class="panel-body">
                {% for applicant in post.travellers %}
                <div class="form-group">
                    <label>Your company name</label><br/>
                    <b>{{ applicant.rvv_company }}</b>
                </div>
                    
                <div class="form-group">
                    <label>Your Position</label><br/>
                    <b>{{ applicant.rvv_position }}</b>
                </div>
                    
                <div class="form-group">
                    <label>Street Address</label><br/>
                    <b>{{ applicant.rvv_address }}</b>
                </div>
                    
                <div class="form-group">
                    <label>City</label><br/>
                    <b>{{ applicant.rvv_city }}</b>
                </div>
                    
                <div class="form-group">
                    <label>State</label><br/>
                    <b>{{ applicant.rvv_state }}</b>
                </div>
                    
                <div class="form-group">
                    <label>Zipcode/Postcode</label><br/>
                    <b>{{ applicant.rvv_postcode }}</b>
                </div>

                <div class="form-group">
                    <label>Country</label><br/>
                    <b>{{ applicant.rvv_country }}</b>
                </div>
                    
                <div class="form-group">
                    <label>Company fax</label><br/>
                    <b>{{ applicant.rvv_company_fax }}</b>
                </div>
                    
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>
</form>
{% endblock %}

{% block javascripts %}

{% endblock %}