{% extends "AcmeCLSclientGovBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-9">
        
        <h3>Order View - {% if post.order_type == 2 %}TPN{% elseif post.order_type == 3 %}TPN + VISA{% endif %} Application <br/>
            <span class="small-note">Submitted Date: {{ post.date_submitted|date("d-m-Y") }}</span>
        </h3>
    </div>
    <div class="col-lg-3">
        <h3>Order Number: {{ post.order_no }}</h3>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-lg-12 text-right">
        <form method="POST" action="{{ path('cls_client_gov_application_reprint') }}" target="_blank">
            <input type="hidden" name="reprint">
            <input type="hidden" name="orderNumber" value="{{post.order_no}}">
            <input type="hidden" name="app_type" value="tpn">
            <input type="submit" name="hidSubmit" class="btn btn-primary" value="Reprint Invoice"/>
        </form>
    </div>
</div>
<br/>
<div class="row">
    
        <!-- Travel Details -->
    <div id="travel-details" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Travel Details</h4>
            </div>
            <div class="panel-body">
                <div class="travel-details-group">

                    {% for travel in post.tpns %}
                    <div class="group">

                        {% if loop.index > 1%}<hr />{% endif %}

                        <div class="form-group">
                                <strong>Destination</strong><br/>
                                {{ travel.destination }}

                        </div>

                        <div class="form-group">
                            <strong>Departure Date from Australia</strong><br/>
                            {{ travel.departure_date|date("d-m-Y") }}
                        </div>

                         <div class="form-group">
                             <strong>Number of Entries </strong><br/>
                             {% if travel.entry_option == 1 %}
                             Single Entry
                             {% elseif travel.entry_option == 2 %}
                             Double Entry
                             {% elseif travel.entry_option == 3 %}
                             Multiple Entry
                             {% else %}
                             Undefined
                             {% endif %}

                        </div>

                        <div class="form-group">
                            <strong>First Entry Date to Country</strong><br/>
                            {{ travel.entry_date_country|date("d-m-Y") }}

                        </div>

                        <div class="form-group">
                            <strong>Last Departure Date from Country</strong><br/>
                            {{ travel.departure_date_country|date("d-m-Y") }}
                        </div>

                        <div class="form-group">
                            <strong>Purpose of Travel</strong><br/>
                            <p>{{ travel.travel_purpose }}</p>
                        </div>
                        
                        
                        {% if travel.status == 0 %}
                            <div class="bg-info padd-5">
                                <div class="form-group">
                                    <strong>TPN Status</strong><br/>
                                    Applied
                                </div>
                                {% if travel.tpn_notes|length > 0 %}
                                <div class="form-group">
                                    <strong>Notes</strong><br/>
                                    
                                    <ul id="tpnNotes">
                                        {% for note in travel.tpn_notes%}
                                            <li><span class="note-text">{{ note.note }}</span><br/><span class="noted-by"><i>- by {{ note.note_by["fname"] ~ " (" ~ note.user_type ~")"}} {{ note.date_added }}</i></span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        {% elseif travel.status == 1 %}
                            <div class="bg-success padd-5">
                                <div class="form-group">
                                    <strong>TPN Status</strong><br/>
                                    Accepted
                                </div>
                                {% if travel.tpn_notes|length > 0 %}
                                <div class="form-group">
                                    <strong>Notes</strong><br/>
                                    
                                    <ul id="tpnNotes">
                                        {% for note in travel.tpn_notes%}
                                            <li><span class="note-text">{{ note.note }}</span><br/><span class="noted-by"><i>- by {{ note.note_by["fname"] ~ " (" ~ note.user_type ~")"}} {{ note.date_added }}</i></span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    <a class="btn btn-primary" href="{{ site_url }}{{ asset("api") }}/pdfc/print.php?tpn={{ travel.tpn_no }}" target="_blank"><span class="glyphicon glyphicon-print"></span> Download and Print</a>
                                </div>
                            </div>
                        {% elseif travel.status == 2 %}
                            <div class="bg-danger padd-5">
                                <div class="form-group">
                                    <strong>TPN Status</strong><br/>
                                    Declined
                                </div>
                                <div class="form-group">
                                    <strong>Notes</strong><br/>
                                    
                                    <ul id="tpnNotes">
                                        {% for note in travel.tpn_notes%}
                                            <li><span class="note-text">{{ note.note }}</span><br/><span class="noted-by"><i>- by {{ note.note_by["fname"] ~ " (" ~ note.user_type ~")"}} {{ note.date_added }}</i></span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                    
                                <a class="btn btn-primary" href="{{ path("cls_client_gov_resubmit_tpn") }}?tpn={{ travel.tpn_short_no }}">Resubmit TPN</a>
                            </div>
                        {% else %}
                            <div class="bg-warning">
                                <div class="form-group">
                                    <strong>TPN Status</strong><br/>
                                    Undefined
                                </div>
                            </div>
                        {% endif %}
                                
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    <!-- Traveller Details -->
    <div id="traveller-details" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Traveller Details</h4>
            </div>
                
            <div class="panel-body">
                <div class="traveller-details-group">

                    {% for traveller in post.travellers %}
                    {% if loop.index > 1%}<hr />{% endif %}
                    <div class="group">
                        
                        <div class="form-group">
                            <strong>Title</strong><br/>
                            {{ traveller.title_name }}
                        </div>

                        <div class="form-group">
                            <strong>First name</strong><br/>
                            {{ traveller.fname }}
                        </div>

                        <div class="form-group">
                            <strong>Middle name</strong><br/>
                            {{ traveller.mname }}
                        </div>

                        <div class="form-group">
                            <strong>Last name</strong><br/>
                            {{ traveller.lname }}
                        </div>

                        <div class="form-group">
                            <strong>Email</strong><br/>
                            {{ traveller.email }}
                        </div>
                        
                        <div class="form-group">
                            <strong>Organisation</strong><br/>
                            {{ traveller.organisation }}
                        </div>

                        <div class="form-group">
                            <strong>Occupation</strong><br/>
                            {{ traveller.occupation }}
                        </div>
                        
                        <div class="form-group">
                            <strong>Phone</strong><br/>
                            {{ traveller.phone }}
                        </div>

                        <div class="form-group">
                            <strong>Date of Birth</strong><br/>
                            {{ traveller.birth_date|date("d-m-Y") }}

                        </div>

                        <div class="form-group">
                            <strong>Passport type</strong><br/>
                            {{ traveller.passport_type_name }}
                        </div>

                        <div class="form-group">
                            <strong>Nationality</strong><br/>
                            {{ traveller.nationality_name }}
                        </div>

                        <div class="form-group">
                            <strong>Passport Number</strong><br/>
                            {{ traveller.passport_number }}
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        
        </div>
    </div>
    
    
    
    
    
    <!-- Primary Department Contact -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Primary Department Contact</h4>
            </div>
                
            <div class="panel-body">
                <div class="form-group">
                    <strong>Department</strong><br/>
                    {{ post.department_name }}
                </div>

                <div class="form-group">
                    <strong>First Name</strong><br/>
                    {{ post.pri_dept_contact_fname }}
                </div>

                <div class="form-group">
                    <strong>Last Name</strong><br/>
                    {{ post.pri_dept_contact_lname }}
                </div>

                <div class="form-group">
                    <strong>Email</strong><br/>
                    {{ post.pri_dept_contact_email }}
                </div>

                <div class="form-group">
                    <strong>Phone</strong><br/>
                    {{ post.pri_dept_contact_phone }}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Payment Details</h4>
            </div>
                
            <div class="panel-body">
                <div class="form-group">
                    <strong>Name</strong><br/>
                    {{ post.payer_fname ~ " " ~ post.payer_lname }}
                </div>

                <div class="form-group">
                    <strong>Email</strong><br/>
                    {{ post.payer_email }}
                </div>

                <div class="form-group">
                    <strong>Contact Phone Number</strong><br/>
                    {{ post.payer_phone }}
                </div>
                <div class="form-group">
                    <strong>Mobile</strong><br/>
                    {{ post.payer_mobile }}
                </div>

                <div class="form-group">
                    <strong>Address</strong><br/>
                    {{ post.payer_address }}
                </div>

                <div class="form-group">
                    <strong>Grand Total</strong><br/>
                    ${{ post.grand_total }}
                </div>
                    

            </div>
        </div>
            
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Billing Details</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <strong>Address</strong><br/>
                    {{ post.mba_address ~ " " ~ post.mba_city ~ " " ~ post.mba_state ~ " " ~ post.mba_postcode ~ " " ~ post.mba_country }}
                </div>
            </div>
        </div>
    </div>
    
    
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
        
// Global declarations
var tpn_list_url = "{{ path("acme_cls_admin_open_tpn_list") }}";
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}