{% extends "AcmeCLShomeBundle::layout.html.twig" %}

{% block metadescription %}Capital Link Services has in-depth experience and knowledge of document legalisation. Complete and sign the form on this page to get started.{% endblock %}

{% block title %}Document Legalisation Services | Capital Link Services{% endblock %}
{% block body %}
<!--<a href="{% if app.session.get('user_type') == 'public' or app.session.get('user_type') == 'corporate' %}{{ path("cls_client_aplication_document_delivery") }}{% else %}{{ path("acme_cls_document_delivery_redirect") }}{% endif %}" class="btn btn-primary">APPLY NOW</a>-->
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
<div class="row">
    <div class="col-lg-8">
        <h1>Document Legalisation</h1>

        <p>When your business or organisation is planning shipping or freight movements to other countries, were you aware that some countries require that shipping or freight documents be legalised by their Embassies or Trade Commissioners? Without the proper document legalisation your shipments may not be released by customs offices in the destination country. </p>

        <p>The process of document legalisation involves preparing shipping or freight documents according to the latest laws or rules applying in various countries, then paying a fee to the representatives of those countries to have the documents stamped (legalised). This process must be completed before your shipping or freight arrives in the destination country.</p>
        <p>Capital Link Services has in-depth experience and knowledge of document legalisation. We handle full export documentation services and conduct business with hundreds of exporters and forwarders throughout Australia and New Zealand.</p>
        <p>In order to process your requested service, please complete and sign this form:</p>

        <hr/>
        
        <form action="{{ path("cls_client_application_document_legalisation_details") }}" method="post">
        <input type="hidden" name="public">
        
        <h3>Contact Information</h3>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <span>Company Name</span>
                        <input type="text" name="dl_company" value="{% if post.dl_company is defined %}{{ post.dl_company }}{% endif %}" class="form-control required" placeholder="Company name" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <span>Nationality</span>
                        <select class="form-control required" name="dl_nationality" required>
                            <option value="">Select nationality</option>
                            {% for nationality in countries %}
                                <option value="{{ nationality.id }}" {% if post.dl_nationality is defined and post.dl_nationality == nationality.id%}selected{% endif %}>{{ nationality.countryName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="col-lg-8">
                        <span>Address</span>
                        <input type="text" name="dl_address" value="{% if post.dl_address is defined %}{{ post.dl_address }}{% endif %}" class="form-control required" placeholder="Address" required>
                    </div>
                </div>
            </div>
        
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <span>City / Suburb</span>
                        <input type="text" name="dl_city" value="{% if post.dl_city is defined %}{{ post.dl_city }}{% endif %}" class="form-control required" placeholder="City / Suburb" required>
                    </div>

                    <div class="col-lg-4">
                        <span>State</span>
                        <input type="text" name="dl_state" value="{% if post.dl_state is defined %}{{ post.dl_state }}{% endif %}" class="form-control required" placeholder="State" required>
                    </div>

                    <div class="col-lg-4">
                        <span>Postcode</span>
                        <input type="text" name="dl_postcode" value="{% if post.dl_postcode is defined %}{{ post.dl_postcode }}{% endif %}" class="form-control required" placeholder="Postcode" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <span>Contact Name</span>
                        <input type="text" name="dl_contact_name" value="{% if post.dl_contact_name is defined %}{{ post.dl_contact_name }}{% endif %}" class="form-control required" placeholder="Contact Name" required>
                    </div>

                    <div class="col-lg-4">
                        <span>Mobile</span>
                        <input type="text" name="dl_mobile" value="{% if post.dl_mobile is defined %}{{ post.dl_mobile }}{% endif %}" class="form-control required" placeholder="Mobile No." required>
                    </div>

                    <div class="col-lg-4">
                        <span>Email</span>
                        <input type="text" name="dl_email" value="{% if post.dl_email is defined %}{{ post.dl_email }}{% endif %}" class="form-control required" placeholder="example@email.com" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-8">
                        <span>Latest date you need your documents returned in time for your Shipment</span>
                        <div class="input-group date">
                            <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="dl_date_doc_returned" placeholder="DD-MM-YYYY" value="{% if post is defined and post.dl_date_doc_returned != '' %}{{ post.dl_date_doc_returned|date('d-m-Y') }}{% endif %}" required></input>
                            <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <span>From embassy of</span>
                        <select class="form-control required" name="dl_embassy" required>
                            <option value="">Select country</option>
                            {% for embassy in countries %}
                                <option value="{{ embassy.id }}" {% if post.dl_embassy is defined and post.dl_embassy == embassy.id%}selected{% endif %}>{{ embassy.countryName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>


            <hr/>

            <h3>Documents Legalisation Checklist</h3>

            <div class="dls-group">
                <div class="form-group group">
                    <div class="row">
                        <div class="col-lg-4">
                            <span>Type of document enclosed</span>
                            <input type="text" class="form-control required" name="dl_type[]" placeholder="Type" required>
                        </div>

                        <div class="col-lg-2">
                            <span>Number</span>
                            <input type="number" class="form-control required" name="dl_number[]" placeholder="0" required>
                        </div>

                        <div class="col-lg-4">
                            <span>Note</span>
                            <input type="text" class="form-control" name="dl_note[]" placeholder="note">
                        </div>

                        <div class="col-lg-2" style="padding-top: 22px;">
                            <button type="button" class="btn btn-danger btn-sm remove-doc-type"><span class="glyphicon glyphicon-remove "></span> remove</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <a id="addNewDocType" style="cursor: pointer; cursor: hand;"><span class="glyphicon glyphicon-plus-sign"></span> Add new type of document enclosed</a>
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <span>Reference No.</span>
                        <input type="text" class="form-control required" name="dl_ref_no" value="{% if post is defined and post.dl_ref_no != '' %}{{ post.dl_ref_no }}{% endif %}" required>
                    </div>

                    <div class="col-lg-6">
                        <span>Commercial Invoice No.</span>
                        <input type="text" class="form-control required" name="dl_com_invoice_no" value="{% if post is defined and post.dl_com_invoice_no != '' %}{{ post.dl_com_invoice_no }}{% endif %}" required>
                    </div>
                </div>
            </div>
            
            <hr/>
            
            <h3>Payment Type</h3>
            <select name="dl_payment_type" class="form-control">
                <option>Select type</option>
                <option value="Company cheque">Company Cheque</option>
                <option value="Visa card">Visa card</option>
                <option value="Master card">Master card</option>
                <option value="Money order">Money order</option>
                <option value="Account">Account</option>
            </select>
            <hr/>
            <h3>Return Documents Courier</h3>
            <select name="visa_courier" id="courier" class="form-control required" tag="0" required>
                <option value="" tag="0"> Select courier </option>
                {% for courier in visa_courier_options %}
                    <option value="{{ courier.id }}">{{ courier.type ~ " - $" ~ courier.cost }}</option>
                {% endfor %}
            </select>
            
            
            <hr/>
            <label><input type="checkbox" id="chkSameAsAbove"> Same as above</label>
            <div class="form-group">
                <span>Company (If applicable)</span>
                <input type="text" class="form-control" name="visa_mdd_company" id="docReturnCompany" value="{% if post is defined %}{{ post.visa_mdd_company }}{% endif %}"/>
            </div>

            <div class="form-group">
                <span>Document(s) Return Address</span>
                <input type="text" class="form-control" name="visa_mdd_address" id="docReturnAddress" value="{% if post is defined %}{{ post.visa_mdd_address }}{% endif %}"/>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <span>City / Suburb</span>
                        <input type="text" class="form-control" name="visa_mdd_city" id="docReturnCity" value="{% if post is defined %}{{ post.visa_mdd_city }}{% endif %}"/>
                    </div>
                        
                    <div class="col-lg-4">
                        <span>State</span>
                        <input type="text" class="form-control" name="visa_mdd_state" id="docReturnState" value="{% if post is defined %}{{ post.visa_mdd_state }}{% endif %}"/>
                    </div>
                        
                    <div class="col-lg-4">
                        <span>Postcode</span>
                        <input type="text" class="form-control" name="visa_mdd_postcode" id="docReturnPostCode" value="{% if post is defined %}{{ post.visa_mdd_postcode }}{% endif %}"/>
                    </div>
                        
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <span>First name</span>
                        <input type="text" class="form-control" name="visa_mdd_fname" id="docReturnFname" value="{% if post is defined %}{{ post.visa_mdd_fname }}{% endif %}"/>
                    </div>
                        
                    <div class="col-lg-4">
                        <span>Last name</span>
                        <input type="text" class="form-control" name="visa_mdd_lname" id="docReturnLname" value="{% if post is defined %}{{ post.visa_mdd_lname }}{% endif %}"/>
                    </div>
                        
                    <div class="col-lg-4">
                        <span>Contact number</span>
                        <input type="text" class="form-control" name="visa_mdd_contact" id="docReturnContactNo" value="{% if post is defined %}{{ post.visa_mdd_contact }}{% endif %}"/>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <span>Additional comments</span>
                <textarea type="text" class="form-control" name="visa_additional_comment" id="additionalComments">{% if post is defined %}{{ post.visa_additional_comment }}{% endif %}</textarea>
            </div>
            
            <div class="form-group">
                <button type="submit" id="nextPage" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
            </div>
        </form>
    </div>
        
        
    <div class="col-lg-4">
        <p><a href="#"><img src="{{ asset('img') }}/front-ads-rotator/ad_services.jpg" alt="all services"></a></p>
        <p><a href="{{ path("acme_cls_visa_processing") }}"><img src="{{ asset('img') }}/front-ads-rotator/ad_destination.jpg" alt="destination"></a></p>
        <p><a href="{{path("acme_cls_document_delivery") }}"><img src="{{ asset('img') }}/front-ads-rotator/ad_document.jpg" alt="document delivery"></a></p>
    </div>
    
</div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}