{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Recent tickets</h3>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="ticketTabs">
          <li class="active"><a href="#gov-visa" data-toggle="tab" class="click-active">Visa <span id="visaTicketsCount" class="badge">0</span></a></li>
          <li><a href="#tpn" data-toggle="tab">TPN <span id="tpnTicketsCount" class="badge">0</span></a></li>
          <li><a href="#passport" data-toggle="tab">Passport <span id="passportOrderCount" class="badge">0</span></a></li>
          <li><a href="#police-clearance" data-toggle="tab">Police Clearance <span id="policeClearanceOrderCount" class="badge">0</span></a></li>
          <li><a href="#pub-visa" data-toggle="tab">Pub. Visa <span id="publicVisaOrderCount" class="badge">0</span></a></li>
          <li><a href="#doc-delivery" data-toggle="tab">Doc. Delivery <span id="docDeliveryOrderCount" class="badge">0</span></a></li>
          <li><a href="#russian-visa-voucher" data-toggle="tab">R. Visa Voucher <span id="russianVisaVoucherOrderCount" class="badge">0</span></a></li>
          <li><a href="#document-legalisation" data-toggle="tab">Doc. Legalisation <span id="docLegalisationCount" class="badge">0</span></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            
          <div class="tab-pane active" id="gov-visa">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="gov-visa-listings">
                    <thead>
                        <tr>    
                            <th>Date Submitted</th>
                            <th>Date Submitted</th>
                            <th>Organization</th>
                            <th>Account No.</th>
                            <th>Order No.</th>
                            <th>Name</th>
                            <th>Destination</th>
                            <th>Departure Date</th>
                            <th>Status</th>
                            <th>TPN Status</th>
                            <th style="width: 165px;">Operations</th>
                            <th>Order No.</th>
                        </tr>
                    </thead>
                </table>
          </div>
          
          
          
          
          <div class="tab-pane" id="tpn">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="tpn-listings">
                <thead>
                    <tr>
                        <th>Date Submitted</th>
                        <th>Date Submitted</th>
                        <th>Organization</th>
                        <th>Account No.</th>
                        <th>TPN No.</th>
                        <th>Name</th>
                        <th>Destination</th>
                        <th>Departure Date</th>
                        <th>Status</th>
                        <th>TPN Status</th>
                        <th style="width: 165px;">Operations</th>
                        <th>Order No.</th>
                    </tr>
                </thead>
            </table>
          </div>
          
          
          
          
          <div class="tab-pane" id="passport">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="passport-listings">
                <thead>
                    <tr>
                        <th>Date Submitted</th>
                        <th>Date Submitted</th>
                        <th>Applicants</th>
                        <th>Account No.</th>
                        <th>Order No.</th>
                        <th>Name</th>
                        <th>Booking Time</th>
                        <th>Status</th>
                        <th style="width: 165px;">Operations</th>
                    </tr>
                </thead>
            </table>
          </div>
          
          
          
          
          <div class="tab-pane" id="police-clearance">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="police-clearance-listings">
                <thead>
                    <tr>    
                        <th>Date Submitted</th>
                        <th>Date Submitted</th>
                        <th>Account No.</th>
                        <th>Order No.</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th style="width: 165px;">Operations</th>
                    </tr>
                </thead>
            </table>
          </div>
          
          
          
          
          <div class="tab-pane" id="pub-visa">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="pub-visa-listings">
                    <thead>
                        <tr>    
                            <th>Date Submitted</th>
                            <th>Date Submitted</th>
                            <th>Organization</th>
                            <th>Account No.</th>
                            <th>Order No.</th>
                            <th>Name</th>
                            <th>Destination</th>
                            <th>Departure Date</th>
                            <th>Status</th>
                            <th>TPN Status</th>
                            <th style="width: 165px;">Operations</th>
                            <th>Order No.</th>
                        </tr>
                    </thead>
                </table>
          </div>
          
            
          <div class="tab-pane" id="doc-delivery">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="doc-delivery-listings">
                    <thead>
                        <tr>    
                            <th>Date Submitted</th>
                            <th>Date Submitted</th>
                            <th>Account No.</th>
                            <th>Order No.</th>
                            <th>Customer Name</th>
                            <th>No. of Pieces</th>
                            <th>Pickup Date</th>
                            <th>Pickup Time</th>
                            <th>Office Close Time</th>
                            <th>Courier Type</th>
                            <th>CLS Team Mem.</th>
                            <th>Status</th>
                            <th style="width: 100px;">Operations</th>
                        </tr>
                    </thead>
                </table>
          </div>
            
            
          <div class="tab-pane" id="russian-visa-voucher">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="russian-visa-voucher-listings">
                <thead>
                    <tr>    
                        <th>Date Submitted</th>
                        <th>Date Submitted</th>
                        <th>Account No.</th>
                        <th>Order No.</th>
                        <th>Applicant</th>
                        <th>Voucher</th>
                        <th>Status</th>
                        <th style="width: 165px;">Operations</th>
                    </tr>
                </thead>
            </table>
          </div>
            
          <div class="tab-pane" id="document-legalisation">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-bordered" id="doc-legalisation-listings">
                <thead>
                    <tr>
                        <th>Date Submitted</th>
                        <th>Date Submitted</th>
                        <th>Order No.</th>
                        <th>Applicant</th>
                        <th>Lname</th>
                        <th>Status</th>
                        <th style="width: 165px;">Operations</th>
                    </tr>
                </thead>
            </table>
          </div>
          
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations
var gov_visa_list_url = "{{ path("acme_cls_admin_gov_visa_list") }}";
var tpn_list_url = "{{ path("acme_cls_admin_open_tpn_list") }}";
var open_order_url = "{{ path("acme_cls_admin_view_order") }}";
var passport_list_url = "{{ path("acme_cls_admin_passport_pickup_delivery_order_list") }}";
var public_visa_list_url = "{{ path("acme_cls_admin_public_visa_list") }}";
var public_police_clearance_list = "{{ path("acme_cls_admin_police_clearance_list") }}";
var doc_delivery_list_url = "{{ path("acme_cls_admin_doc_delivery_list") }}";
var edit_passport_order_url = "{{ path("acme_cls_admin_edit_passport_order") }}";
var russian_visa_voucher_url = "{{ path("acme_cls_admin_russian_visa_voucher_list") }}";
var document_legalisation_list_url = "{{ path("acme_cls_admin_doc_legalisation_list") }}";

</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}