{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-6">
        <h3>Manage - Russian Visa Voucher</h3>
    </div>
    <div class="col-lg-6 text-right">
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_manage_russian_visa_voucher_invitation") }}" method="post">

<div class="row invitation">
    <input type="hidden" name="removeTypes" class="remove-types">
    <div class="col-lg-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Invitation type <span class="small-note">Cost $(Ex GST)</span></h4>
            </div>
            <div class="panel-body">
                <div class="type-group">
                    {% if voucher_types is defined %}
                        {% set count_voucher = 0 %}
                        {% for voucher in voucher_types %}
                            {% if voucher.type == 'invitation' %}
                                {% set count_voucher = count_voucher + 1 %}
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label>Description</label>
                                            <input type="text" name="inv_description[{{ voucher.id }}]" value="{{ voucher.name }}" class="form-control" placeholder="Ex. Tourist single entry" required/>
                                        </div>

                                        <div class="col-lg-2">
                                            <label>3 days processing</label>
                                            <input type="number" name="inv_three_days_fee[{{ voucher.id }}]" value="{{ voucher.three_days_process_fee }}" class="form-control" placeholder="Cost $(Ex GST)"/>
                                        </div>

                                        <div class="col-lg-2">
                                            <label>1-2 days processing</label>
                                            <input type="number" name="inv_one_two_days_fee[{{ voucher.id }}]" value="{{ voucher.one_two_days_process_fee }}" class="form-control" placeholder="Cost $(Ex GST)"/>
                                        </div>

                                        <div class="col-lg-2">
                                            <label>12 hours processing</label>
                                            <input type="number" name="inv_twelve_hrs_fee[{{ voucher.id }}]" value="{{ voucher.twelve_hrs_process_fee }}" class="form-control" placeholder="Cost $(Ex GST)"/>
                                        </div>
                                            
                                        <div class="col-lg-1" style="padding-top: 25px;">
                                            <label><input type="checkbox" name="inv_s_active[{{ voucher.id }}]" {% if voucher.s_active == 1 %}checked{% endif %}> Active</label>
                                        </div>
                                            
                                        <div class="col-lg-2" style="padding-top: 25px;">
                                            <button type="button" class="btn btn-danger btn-sm btn-remove-type" tag="{{ voucher.id }}"><span class="glyphicon glyphicon-remove-circle"></span> Remove</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        
                        
                        
                        {% if count_voucher == 0%}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Description</label>
                                        <input type="text" name="inv_description[new-0]" class="form-control" placeholder="Ex. Tourist single entry" required/>
                                    </div>

                                    <div class="col-lg-2">
                                        <label>3 days processing</label>
                                        <input type="number" name="inv_three_days_fee[new-0]" class="form-control" placeholder="Cost $(Ex GST)"/>
                                    </div>

                                    <div class="col-lg-2">
                                        <label>1-2 days processing</label>
                                        <input type="number" name="inv_one_two_days_fee[new-0]" class="form-control" placeholder="Cost $(Ex GST)"/>
                                    </div>

                                    <div class="col-lg-2">
                                        <label>12 hours processing</label>
                                        <input type="number" name="inv_twelve_hrs_fee[new-0]" class="form-control" placeholder="Cost $(Ex GST)"/>
                                    </div>

                                    <div class="col-lg-1" style="padding-top: 25px;">
                                        <label><input type="checkbox" name="inv_s_active[new-0]"> Active</label>
                                    </div>

                                    <div class="col-lg-2" style="padding-top: 25px;">
                                        <button type="button" class="btn btn-danger btn-sm btn-remove-type"><span class="glyphicon glyphicon-remove-circle"></span> Remove</button>
                                    </div>
                                </div>
                            </div>
                        
                        {% endif %}
                        
                    {% endif %}
                </div>
                <div>
                    <a class="btn-add-new-type"><span class="glyphicon glyphicon-plus-sign"></span> Add new type</a>
                </div>
                
            </div>
            <div class="panel-footer" style="background-color: transparent!important">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save Changes</button>
            </div>
        </div>
    </div>
</div>
</form>


<form action="{{ path("acme_cls_admin_manage_russian_visa_voucher_business") }}" method="post">
<div class="row business">
    <input type="hidden" name="removeTypes" class="remove-types">
    <div class="col-lg-12">
       <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Business type <span class="small-note"></span></h4>
            </div>
            <div class="panel-body">
                <div class="type-group">
                    {% if voucher_types is defined %}
                        {% set count_voucher = 0 %}
                        {% for voucher in voucher_types %}
                            {% if voucher.type == 'business' %}
                                {% set count_voucher = count_voucher + 1 %}
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label>Description</label>
                                            <input type="text" name="bus_description[{{ voucher.id }}]" value="{{ voucher.name }}" class="form-control" placeholder="Ex. Business 1 month single entry" required/>
                                        </div>

                                        <div class="col-lg-2">
                                            <label>13 days </label>
                                            <input type="number" name="bus_thirteen_days_fee[{{ voucher.id }}]" value="{{ voucher.thirteen_days }}" class="form-control" placeholder="Cost $(Ex GST)"/>
                                        </div>

                                        <div class="col-lg-2">
                                            <label>4 days</label>
                                            <input type="number" name="bus_four_days_fee[{{ voucher.id }}]" value="{{ voucher.four_days }}" class="form-control" placeholder="Cost $(Ex GST)"/>
                                        </div>

                                        <div class="col-lg-1" style="padding-top: 25px;">
                                            <label><input type="checkbox" name="bus_s_active[{{ voucher.id }}]" {% if voucher.s_active == 1%}checked{% endif %}> Active</label>
                                        </div>

                                        <div class="col-lg-2" style="padding-top: 25px;">
                                            <button type="button" class="btn btn-danger btn-sm btn-remove-type" tag="{{ voucher.id }}"><span class="glyphicon glyphicon-remove-circle"></span> Remove</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        
                        
                        
                        {% if count_voucher == 0%}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Description</label>
                                        <input type="text" name="bus_description[new-0]" class="form-control" placeholder="Ex. Business 1 month single entry" required/>
                                    </div>

                                    <div class="col-lg-2">
                                        <label>13 days </label>
                                        <input type="number" name="bus_thirteen_days_fee[new-0]" class="form-control" placeholder="Cost $(Ex GST)"/>
                                    </div>

                                    <div class="col-lg-2">
                                        <label>4 days</label>
                                        <input type="number" name="bus_four_days_fee[new-0]" class="form-control" placeholder="Cost $(Ex GST)"/>
                                    </div>

                                    <div class="col-lg-1" style="padding-top: 25px;">
                                        <label><input type="checkbox" name="bus_s_active[new-0]"> Active</label>
                                    </div>

                                    <div class="col-lg-2" style="padding-top: 25px;">
                                        <button type="button" class="btn btn-danger btn-sm btn-remove-type"><span class="glyphicon glyphicon-remove-circle"></span> Remove</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                   {% endif %}
                </div>
                <div>
                    <a class="btn-add-new-type"><span class="glyphicon glyphicon-plus-sign"></span> Add new type</a>
                </div>
            </div>
               
            <div class="panel-footer" style="background-color: transparent!important">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save Changes</button>
            </div>
        </div>
    </div>
</div>
</form>



{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

<script type="text/javascript">
        
// Global declarations

var list_url = "{{ path("acme_cls_admin_manage_discount_list") }}";
var open_url = "{{ path("acme_cls_admin_manage_discount_edit") }}";
var delete_url = "{{ path("acme_cls_admin_manage_discount_delete") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}