<html>
<body>
  Hi {{fullname}},<br>
  <p>You recently asked to reset your {{page_title}} password.<br>
  <a href="{{ request_uri }}?em={{email_to}}&rp={{pincode}}">Click here to change your password.</a>
  </p>
  
  <p>If you did not request your password to be reset, please ignore this email and nothing will changed. 
      If you have any questions about this email or our service please don't hesitate to <a href="{{domain ~ path("acme_cls_contact") }}">contact us</a>.</p>
</body>
</html>