{% extends "AcmeCLShomeBundle::layout.html.twig" %}


{% block body %}
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12">
                <h2>Error</h2>
                <p>There is an error found on your link. Please try again.</p>
                </div>
            </div>
        </div>
</section>
{% endblock %}