{% extends "AcmeCLShomeBundle::layout.html.twig" %}


{% block body %}
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
    <div class="row">
        <div class="col-lg-12">
        <div class="col-lg-12">
            <h1>Check your email</h1>

            <p>We sent you an email with a link to reset password. 
                Simply click on it or copy the location and paste it on the browser's address bar if click doesn't work.</p>
        </div>
        </div>
    </div>
</section>
{% endblock %}