{% extends "AcmeCLShomeBundle::layout.html.twig" %}


{% block body %}
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
    {% if error is defined %}
    <div class="alert alert-block alert-danger fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Error found! {{error}}.
    </div>
    {%endif%}
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <h1>New password</h1>
                <p class="note">A strong password is a combination of letters and punctuation marks. 
                    It must be at least 6 characters long.</p>

                
                <br>

                <div class="col-lg-5">
                    <form class="form-horizontal" action="{{ path('acme_cls_password_reset_form_submit') }}" method="post">
                        <input type="hidden" name="email" value="{{ email }}">
                        <input type="hidden" name="reset_pin" value="{{ reset_pin }}">

                        <div class="form-group">
                            <label for="password">New password</label>
                            <input type="password" id="password" name="password" class="form-control" value="{%if password is defined %}{{ password }}{% endif %}" required>

                        </div>


                        <div class="form-group">
                            <label for="password">Confirm password</label>
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                        </div>

                        <div class="form-group">
                            {% if app.session.get("user_type") == 'admin-user' %}
                                <a class="btn btn-default reset-password" href="{{ path('acme_cls_admin_home')}}">Cancel</a>
                            {% elseif app.session.get("user_type") == 'tpn-user' %}
                                <a class="btn btn-default reset-password" href="{{ path('acme_cls_tpn_home')}}">Cancel</a>
                            {% else %}
                                <a class="btn btn-default reset-password" href="{{ path('cls_client_gov_home')}}">Cancel</a>
                            {% endif %}
                                <button type="submit" class="btn btn-primary">Continue</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}