{% extends "AcmeCLShomeBundle::layout.html.twig" %}


{% block body %}
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>
<section class="content main group">
    <div  class="col-lg-12 text-center">
            <h1>Success</h1>
            <p>Your password have been successfully changed.
              <br>Redirecting page. Please wait..
            </p>
    </div>
</section>
    <script type="text/javascript">
        setTimeout(function(){
            jQuery.ajax({
                url: "{{ path("acme_cls_set_sessions") }}",
                method: 'POST',
                data: {},
                async: true,
                success: function(msg) {
                    window.location = '{% if app.session.get("user_type") == 'admin-user' %}{{ path('acme_cls_admin_home')}}{% elseif app.session.get("user_type") == 'tpn-user' %}{{ path('acme_cls_tpn_home')}}{% else %}{{ path('cls_client_gov_home')}}{% endif %}';
                },
                error:function(){
                }   
             });
        },3000);
    </script>
{% endblock %}