<span style='color: #000' title='Frames'>   109</span><span style='color: #009' title='Memory'>  19712.00 KB</span><span style='color: #900' title='Time'>    778.46 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />