{% extends "AcmeCLShomeBundle::layout.html.twig" %}

{% block metadescription %}Capital Link Services has in-depth experience and knowledge of police clearance. {{ data[0]['name'] }}. {% endblock %}

{% block title %}{{ data[0]['name'] }} - Police Clearance Information | Capital Link Services{% endblock %}

{% block body %}
<div class="no-overflow">
<div class="shadowTop"></div><!--end shadow-->
<div class="map50"></div>

<section class="content main group">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-8">
                <h1>Police Clearance Information</h1>
                
                <h2>{{ data[0]['name'] }}</h2>
                
                <hr/>
                
                <h2>
                    CLS Service Charges:<br/>
                    ${{ data[0]['price']|number_format(2) }} AUD
                </h2>
                
                <hr/>
                
                <h2>Additional Requirements</h2>
                
                <p>Please review visa requirements below before making selections.</p>
                
                <h2>{{ data[0]['name_additional'] }} in the same package ${{ data[0]['price_additional']|number_format(2) }} AUD</h2>
                
                <hr>
                
                <a href="{% if app.session.get('user_type') == 'public' or app.session.get('user_type') == 'corporate' or app.session.get('user_type') == 'government' %}{{ path("cls_client_gov_application_police_clearance") }}{% else %}{{ path("acme_cls_police_clearance_redirect") }}?id={{ data[0]['id'] }}{% endif %}" class="btn btn-primary">BUY NOW</a>
                
                <hr>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>General Information</h4>
                    </div>
                        
                    <div class="panel-body">
                        {{ data[0]['gen_info']|raw }}
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{% endblock %}