<html>
<body>
  <p>Thank you for your recent order with Capital Link Services. Please see the summary of your order and tax invoice below:</p>
  
  <table style="border-collapse:collapse" border="1" cellpadding="5" cellspacing="0">
    <tbody>
        <tr>
            <td width="50%">
                    <h3>Tax Invoice Date</h3>
                    <p> {{ order_no }} / {{ date_submitted|date("d-m-Y") }}</p>
            </td>
            <td width="50%">
                <h3>Tax Invoice/Order Number</h3>
                {#<img src="http://dev.clientcentre.capitallinkservices.com.au/assets/barcode/?OrderNumber={{ order_no }}" alt="{{ order_no }}">-->
                <!--<img src="{{ domain ~ "/" ~  asset("api") }}/barcodegen.1d-php5.v5.1.0/index.php?number={{ order_no }}" alt="{{ order_no }}">#}
                <img src="{{ domain ~ "/" ~  asset("api") }}/barcode/index.php?number={{ order_no }}" alt="{{ order_no }}">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table border="0" cellpadding="5" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                            <th style="min-width: 200px;">Product</th>
                            <th style="text-align: right;">Unit Price</th>
                            <th style="text-align: right;">Quantity</th>
                            <th style="text-align: right;">GST</th>
                            <th style="text-align: right;">Total</th>
                    </tr>
                    {% set items_total_cost = 0 %}
                    {% set items_total_gst = 0 %}
                    {% set grand_total = 0 %}
                    {% for item in quotations %}
                        {% set total = (item.price * item.quantity) %}
                        {% set gst = total * (item.gst/100)%}
                        {% set items_total_cost = items_total_cost +  total %}
                        {% set items_total_gst = items_total_gst + gst%}
                        {% set total = total + gst %}
                        {% set grand_total = grand_total + total %}
                        <tr>
                            <td style="min-width: 200px;">{{ item.description|replace({"\n":"<br/>"})|raw }}</td>
                            <td style="text-align: right;">${{ item.price|number_format(2) }}</td>
                            <td style="text-align: right;">{{ item.quantity }}</td>
                            <td style="text-align: right;">{{ item.gst }}%</td>
                            <td style="text-align: right;">${{ total|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </td>
        </tr>
            
            <tr>
                <td colspan="2" align="right"><b>Sub Total</b>: ${{ items_total_cost|number_format(2) }}</td>
            </tr>
            
            <tr>
                <td colspan="2" align="right"><b>GST</b>: ${{ items_total_gst|number_format(2) }}</td>
            </tr>
            
            {% set grand_total = items_total_cost + items_total_gst%}
            
            
            <tr>
                <td colspan="2" align="right"><b>Credit Card Fee</b>: ${{ (grand_total * (data.credit_card_processing_fee/100))|number_format(2) }}</td>
            </tr>
            {% set grand_total = grand_total + (grand_total * (data.credit_card_processing_fee/100))%}
            <tr>
                <td colspan="2" align="right"><b>Total Paid to Date</b>: ${{ grand_total|number_format(2) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>Balance Due</b>: $0.00</td>
            </tr>
    </tbody>
    </table>
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>