<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CLS - Your Gateway to the World {% block title %}{% endblock %}</title>

    <link rel="icon" type="image/gif" href="{{ asset('img') }}/favicon.gif" />
    <!-- Bootstrap Core CSS -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    
    <link href="{{ asset("css") }}/main.css" rel="stylesheet">
    <link href="{{ asset("api") }}/datepicker/css/datepicker.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body id="{{ app.session.get("page_name") }}" class="{{ app.session.get("page_class") }}">
    <div class="wrapper">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <a href="{{ path("acme_cls_homepage") }}"><img class="logo" src="{{ asset("img") }}/logo.png" /></a>
                </div>
                <div class="col-lg-9 text-right">
                    <h4>
                     Welcome, <a href="{{ path("acme_cls_admin_staff_edit") }}?id={{ app.session.get("admin_id") }}" title="Edit details" class="welcome-name">{{ app.session.get("admin_fname") }}</a> (<a href="{{ path("acme_cls_client_logout") }}">logout</a>)
                    </h4>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ path("acme_cls_admin_home") }}">
                    CLS Admin Centre
                </a>
                    
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown {% if  app.session.get("page_name") == "admin-clients"
                            or app.session.get("page_name") == "admin-embassy"
                            or app.session.get("page_name") == "tpn-staff"
                            or app.session.get("page_name") == "admin-staff"
                         %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="{% if app.session.get("page_name") == "admin-clients" %}active{% endif %}"><a href="{{ path("acme_cls_admin_clients") }}">Clients</a></li>
                            

                            <li class="{% if app.session.get("page_name") == "admin-embassy" %}active{% endif %}">
                                <a href="{{ path("acme_cls_admin_embassy") }}">Embassy Clients</a>
                            </li>
                            
                            <li class="{% if app.session.get("page_name") == "tpn-staff" %}active{% endif %}">
                                <a href="{{ path("acme_cls_admin_tpn_staff") }}">DFAT Users</a>
                            </li>
                            
                            <li class="divider"></li>
                            <li class="{% if app.session.get("page_name") == "admin-staff" %}active{% endif %}">
                                <a href="{{ path("acme_cls_admin_staff") }}">Staff</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="dropdown {% if 'tickets-report' in app.session.get("page_name") == true %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li class="divider"></li>
                          <li class="dropdown-header">TICKETS</li>
                          <li class="divider"></li>
                          
                          <li class="{% if app.session.get("page_name") == "tickets-report-visa" %}active{% endif %}"><a href="{{ path("acme_cls_admin_tickets_report_visa") }}">Visa</a></li>
                          <li class="{% if app.session.get("page_name") == "tickets-report-public-visa" %}active{% endif %}"><a href="{{ path("acme_cls_admin_tickets_report_public_visa") }}">Public Visa</a></li>
                          <li class="{% if app.session.get("page_name") == "tickets-report-tpn" %}active{% endif %}"><a href="{{ path("acme_cls_admin_tickets_report_tpn") }}">Third Person Note (TPN)</a></li>
                          <li class="{% if app.session.get("page_name") == "tickets-report-passport" %}active{% endif %}"><a href="{{ path("acme_cls_admin_tickets_report_passport") }}">Passport Office Pickup or Delivery</a></li>
                          <li class="{% if app.session.get("page_name") == "tickets-report-police-clearance" %}active{% endif %}"><a href="{{ path("acme_cls_admin_tickets_report_police_clearance") }}">Police Clearance</a></li>
                          <li class="{% if app.session.get("page_name") == "tickets-report-doc-delivery" %}active{% endif %}"><a href="{{ path("acme_cls_admin_tickets_report_doc_delivery") }}">Document Delivery</a></li>
                          <li class="{% if app.session.get("page_name") == "tickets-report-russian-visa-voucher" %}active{% endif %}"><a href="{{ path("acme_cls_admin_tickets_report_russian_visa_voucher") }}">Russian Visa Voucher</a></li>
                          <li class="{% if app.session.get("page_name") == "tickets-report-document-legalisation" %}active{% endif %}"><a href="{{ path("acme_cls_admin_tickets_report_document_legalisation") }}">Document Legalisation</a></li>
                          <li class="divider"></li>
                          <li class="dropdown-header">ORDERS</li>
                          <li class="divider"></li>
                          
                          
                          <li class="{% if app.session.get("page_name") == "orders-report-visa" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_visa") }}">Visa</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-public-visa" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_public_visa") }}">Public Visa</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-tpn" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_tpn") }}">Third Person Note (TPN)</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-passport" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_passport") }}">Passport Office Pickup or Delivery</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-police-clearance" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_police_clearance") }}">Police Clearance</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-doc-delivery" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_doc_delivery") }}">Document Delivery</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-russian-visa-voucher" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_russian_visa_voucher") }}">Russian Visa Voucher</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-document-legalisation" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_document_legalisation") }}">Document Legalisation</a></li>
                          <li class="divider"></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-manifest" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_manifest") }}">Manifest</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-police-clearance-manifest" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_police_clearance_manifest") }}">Police Clearance Manifest</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-embassy-delivery" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_embassy_delivery") }}">Embassy Delivery</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-all-visa" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_all_visa") }}">Visa Order</a></li>
                        </ul>
                    </li>
                    {#
                    <li class="dropdown {% if 'orders-report' in app.session.get("page_name") == true %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orders Report <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li class="{% if app.session.get("page_name") == "orders-report-visa" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_visa") }}">Visa</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-public-visa" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_public_visa") }}">Public Visa</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-tpn" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_tpn") }}">Third Person Note (TPN)</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-passport" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_passport") }}">Passport Office Pickup or Delivery</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-police-clearance" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_police_clearance") }}">Police Clearance</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-doc-delivery" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_doc_delivery") }}">Document Delivery</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-russian-visa-voucher" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_russian_visa_voucher") }}">Russian Visa Voucher</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-document-legalisation" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_document_legalisation") }}">Document Legalisation</a></li>
                          <li class="divider"></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-manifest" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_manifest") }}">Manifest</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-embassy-delivery" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_embassy_delivery") }}">Embassy Delivery</a></li>
                          <li class="{% if app.session.get("page_name") == "orders-report-all-visa" %}active{% endif %}"><a href="{{ path("acme_cls_admin_orders_report_all_visa") }}">Visa Order</a></li>
                        </ul>
                    </li>
                    #}
                    <li class="{% if 'process-payment' in app.session.get("page_name") == true %}active{% endif %}"><a href="{{ path("acme_cls_admin_process_payment") }}">Process Payment</a></li>
                    <li class="{% if 'offsite-backup' in app.session.get("page_name") == true %}active{% endif %}"><a href="{{ path("acme_cls_admin_offsite_backup") }}">Backup</a></li>
                </ul>
                    
                <ul class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a></a>
                    </li>
                    
                    {% if app.session.get("admin_email") != "" %}
                    {#
                    <li class="{% if app.session.get("page_name") == "admin-home" %}active{% endif %}">
                        <a href="{{ path("acme_cls_admin_home") }}">Home</a>
                    </li>
                    #}
                    
                    
                    <li class="dropdown {% if 'admin-manage' in app.session.get("page_name") == true %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Products & Prices <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li class="{% if app.session.get("page_name") == "admin-manage-departments" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_departments") }}">Departments</a></li>
                          <li class="{% if app.session.get("page_name") == "admin-manage-countries" %}active{% endif %}"><a href="{{ path('acme_cls_admin_manage_countries') }}">Countries</a></li>
                          <li class="divider"></li>
                          <li class="{% if app.session.get("page_name") == "admin-manage-visas" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_visas_list") }}">Visas</a></li>
                          <li class="{% if app.session.get("page_name") == "admin-manage-public-visas" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_public_visas") }}">Pub. Visas</a></li>
                          <li class="{% if app.session.get("page_name") == "admin-manage-visa-courier-options" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_visa_courier_options") }}">Visa Courier Options</a></li>
                          <li class="{% if app.session.get("page_name") == "admin-manage-russian-visa-voucher" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_russian_visa_voucher") }}">Russian Visa Voucher</a></li>                          
                          <li class="{% if app.session.get("page_name") == "admin-manage-document-delivery" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_document_delivery") }}">Document Delivery</a></li>
                          <li class="{% if app.session.get("page_name") == "admin-manage-tpn" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_tpn") }}">Third Person Note (TPN)</a></li>
                          <li class="{% if app.session.get("page_name") == "admin-manage-passport-office-pickup-delivery" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_passport_office_pickup_delivery") }}">Passport Office Pickup or Delivery</a></li>
                          <li class="{% if app.session.get("page_name") == "admin-manage-police-clearances" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_police_clearances") }}">Police Clearances</a></li>
                          
                          <li class="divider"></li>
                          <li class="{% if app.session.get("page_name") == "admin-manage-credit-card-processing-fee" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_credit_card_processing_fee") }}">Credit Card Processing Fee</a></li>
                          <li class="{% if app.session.get("page_name") == "admin-manage-discount" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_discount") }}">Discount Code</a></li>
                          
                          <li class="divider"></li>
                          <li class="{% if app.session.get("page_name") == "admin-manage-travel-alerts" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_travel_alerts") }}">Travel Alerts</a></li>
                        </ul>
                      </li>
                    
                    <li class="dropdown {% if 'admin-content-pages' in app.session.get("page_name") == true %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Content Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="{% if app.session.get("page_name") == "admin-content-pages-1" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=1">Home</a></li>
                            <li class="{% if app.session.get("page_name") == "admin-content-pages-2" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=2">Travel Visas</a></li>
                            <li class="{% if app.session.get("page_name") == "admin-content-pages-3" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=3">Government</a></li>
                            <li class="{% if app.session.get("page_name") == "admin-content-pages-14" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=14">Government Visas</a></li>
                            <li class="{% if app.session.get("page_name") == "admin-content-pages-4" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=4">Travel Agents</a></li>
                            <li class="{% if app.session.get("page_name") == "admin-content-pages-5" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=5">Corporate</a></li>
                            <li class="{% if app.session.get("page_name") == "admin-content-pages-6" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=6">About CLS</a></li>
                            <li class="divider"></li>
                            <li class="{% if app.session.get("page_name") == "admin-content-pages-7" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=7">Visa Processing</a></li>
                            <li class="{% if app.session.get("page_name") == "admin-content-pages-8" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=8">Police Clearances</a></li>
                            {#<li class="{% if app.session.get("page_name") == "admin-content-pages-9" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=9">Document Delivery</a></li>#}
                            {#<li class="{% if app.session.get("page_name") == "admin-content-pages-10" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=10">Document Legalisation</a></li>#}
                            <li class="{% if app.session.get("page_name") == "admin-content-pages-11" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=11">Translation Services</a></li>
                            <li class="{% if app.session.get("page_name") == "admin-content-pages-12" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=12">Helpful Links</a></li>
                            <li class="divider"></li>
                            <li class="{% if app.session.get("page_name") == "admin-content-pages-13" %}active{% endif %}"><a href="{{ path("acme_cls_admin_manage_content_pages") }}?page=13">Travel Alerts</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
   
        <div id="map"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        Copyright © 2012 Capital Link Services Pty Ltd.
                        <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
                        <tr>
                        <td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=https://capitallinkservices.com.au/&amp;size=S&amp;lang=en"></script><br />
                        <a href="http://www.geotrust.com/ssl/" target="_blank" style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a></td>
                        </tr>
                        </table>
                    </div>
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4 text-right seal">
                        <!-- Begin eWAY Linking Code -->
                        <div id="eWAYBlock">
                            <div>
                                <a href="http://www.eway.com.au/secure-site-seal?i=13&s=15&pid=841076a2-e908-4845-b574-732659608b92" title="eWAY Payment Gateway" target="_blank" rel="nofollow">
                                    <img alt="eWAY Payment Gateway" src="https://www.eway.com.au/developer/payment-code/verified-seal.ashx?img=13&size=15&pid=841076a2-e908-4845-b574-732659608b92" />
                                </a>
                            </div>
                        </div>
                        <!-- End eWAY Linking Code -->
                        <!--
                        <ul>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Security</a></li>
                            <li><a href="#">User Agreement</a></li>
                        </ul>
                        -->
                        <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
                        <tr>
                        <td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=www.capitallinkservices.com.au&amp;size=S&amp;lang=en"></script><br />
                        <a href="http://www.geotrust.com/ssl/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a></td>
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- Google Maps API Key - You will need to use your own API key to use the map feature 
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("api") }}/jquery-dateFormat/src/dateFormat.js"></script>
    <script src="{{ asset("api") }}/jquery-dateFormat/src/jquery.dateFormat.js"></script>
    
    <script src="{{ asset("js") }}/main.js"></script>
    <script src="{{ asset("js") }}/typeahead.js"></script>
    <script src="{{ asset("js") }}/bootbox.js"></script>
    <script src="{{ asset("api") }}/datepicker/js/bootstrap-datepicker.js"></script>
    {% block javascripts %}{% endblock %}
    
</body>

</html>
