{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('validation-error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>Document Legalisation Application</h3>
        {% else %}
            <h3>Create Order: Document Legalisation Application<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        
    </div>
        
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

<div class="row">
    
        
        
    <form action="#" method="post">
    <input type="hidden" name="hidSubmit" id="hidSubmit"/>
    <input type="hidden" name="dltime" value="{{ app.session.get("dltime") }}">
    {% if app.session.get('user_type') == 'admin-user' %}
        <input type="hidden" name="client_id" value="{{ user_details.id }}">
    {% endif %}
    {% if order_no is defined %}
        <input type="hidden" name="orderNumber" value="{{ order_no }}">
    {% endif %}
        
    {% if post is not defined %}
    {% if app.session.get('doc_legalisation_post') is defined and app.session.get('doc_legalisation_post')|length > 0 %}
        {% set post = app.session.get('doc_legalisation_post') %}
    {% endif %}
    {% endif %}
        
    <div id="travel-details" class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Details</h4>
            </div>
            
            <div class="panel-body">
                <h4>Contact Information</h4>
                
                <label><input type="checkbox" name="useUserInfo"> Use user information</label>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Company Name</label>
                            <input type="text" name="dl_company" value="{% if post.dl_company is defined %}{{ post.dl_company }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'dl_company' in post.blank_inputs %}ie-required{% endif %}" placeholder="Company name" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Nationality</label>
                            <select class="form-control required {% if post.blank_inputs is defined and 'dl_nationality' in post.blank_inputs %}ie-required{% endif %}" name="dl_nationality" required>
                                <option value="">Select nationality</option>
                                {% for nationality in countries %}
                                    <option value="{{ nationality.id }}" {% if post.dl_nationality is defined and post.dl_nationality == nationality.id%}selected{% endif %}>{{ nationality.countryName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                            
                        <div class="col-lg-8">
                            <label>Address</label>
                            <input type="text" name="dl_address" value="{% if post.dl_address is defined %}{{ post.dl_address }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'dl_address' in post.blank_inputs %}ie-required{% endif %}" placeholder="Address" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>City / Suburb</label>
                            <input type="text" name="dl_city" value="{% if post.dl_city is defined %}{{ post.dl_city }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'dl_city' in post.blank_inputs %}ie-required{% endif %}" placeholder="City / Suburb" required>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>State</label>
                            <input type="text" name="dl_state" value="{% if post.dl_state is defined %}{{ post.dl_state }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'dl_state' in post.blank_inputs %}ie-required{% endif %}" placeholder="State" required>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Postcode</label>
                            <input type="text" name="dl_postcode" value="{% if post.dl_postcode is defined %}{{ post.dl_postcode }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'dl_postcode' in post.blank_inputs %}ie-required{% endif %}" placeholder="Postcode" required>
                        </div>
                    </div>
                </div>
                    
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Contact Name</label>
                            <input type="text" name="dl_contact_name" value="{% if post.dl_contact_name is defined %}{{ post.dl_contact_name }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'dl_contact_name' in post.blank_inputs %}ie-required{% endif %}" placeholder="Contact Name" required>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Mobile</label>
                            <input type="text" name="dl_mobile" value="{% if post.dl_mobile is defined %}{{ post.dl_mobile }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'dl_mobile' in post.blank_inputs %}ie-required{% endif %}" placeholder="Mobile No." required>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>Email</label>
                            <input type="text" name="dl_email" value="{% if post.dl_email is defined %}{{ post.dl_email }}{% endif %}" class="form-control required {% if post.blank_inputs is defined and 'dl_email' in post.blank_inputs %}ie-required{% endif %}" placeholder="example@email.com" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-8">
                            <label>Latest date you need your documents returned in time for your Shipment</label>
                            <div class="input-group date {% if post.blank_inputs is defined and 'dl_date_doc_returned' in post.blank_inputs %}ie-required{% endif %}">
                                <input class="form-control date-picker required" data-format="dd-MM-yyyy" type="text" name="dl_date_doc_returned" placeholder="DD-MM-YYYY" value="{% if post is defined and post.dl_date_doc_returned != '' %}{{ post.dl_date_doc_returned|date('d-m-Y') }}{% endif %}" required></input>
                                <span class="input-group-addon date-picker-button"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                            
                        <div class="col-lg-4">
                            <label>From embassy of</label>
                            <select class="form-control required {% if post.blank_inputs is defined and 'dl_embassy' in post.blank_inputs %}ie-required{% endif %}" name="dl_embassy" required>
                                <option value="">Select country</option>
                                {% for embassy in countries %}
                                    <option value="{{ embassy.id }}" {% if post.dl_embassy is defined and post.dl_embassy == embassy.id%}selected{% endif %}>{{ embassy.countryName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
                
                <hr/>
                
                <h4>Documents Legalisation Checklist</h4>
                
                <div class="dls-group">
                    {% if post.dl_checklist is defined %}
                        {% for type in post.dl_checklist %}
                        <div class="form-group group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>Type of document enclosed</label>
                                    <input type="text" class="form-control required {% if post.blank_inputs is defined and ('dl_type' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="dl_type[]" placeholder="Type" value="{% if type.type is defined %}{{ type.type }}{% endif %}" required>
                                </div>

                                <div class="col-lg-2">
                                    <label>Number</label>
                                    <input type="number" class="form-control required {% if post.blank_inputs is defined and ('dl_number' ~ (loop.index-1)) in post.blank_inputs %}ie-required{% endif %}" name="dl_number[]" placeholder="0" value="{% if type.number is defined %}{{ type.number }}{% endif %}" required>
                                </div>

                                <div class="col-lg-4">
                                    <label>Note</label>
                                    <input type="text" class="form-control" name="dl_note[]" placeholder="note" value="{% if type.note is defined %}{{ type.note }}{% endif %}">
                                </div>

                                <div class="col-lg-2" style="padding-top: 27px;">
                                    <button type="button" class="btn btn-danger btn-sm remove-doc-type"><span class="glyphicon glyphicon-remove "></span> remove</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="form-group group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>Type of document enclosed</label>
                                    <input type="text" class="form-control required" name="dl_type[]" placeholder="Type" required>
                                </div>

                                <div class="col-lg-2">
                                    <label>Number</label>
                                    <input type="number" class="form-control required" name="dl_number[]" placeholder="0" required>
                                </div>

                                <div class="col-lg-4">
                                    <label>Note</label>
                                    <input type="text" class="form-control" name="dl_note[]" placeholder="note">
                                </div>

                                <div class="col-lg-2" style="padding-top: 27px;">
                                    <button type="button" class="btn btn-danger btn-sm remove-doc-type"><span class="glyphicon glyphicon-remove "></span> remove</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <a id="addNewDocType" style="cursor: pointer; cursor: hand;"><span class="glyphicon glyphicon-plus-sign"></span> Add new type of document enclosed</a>
                    </div>
                </div>
                
                <hr/>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Reference No.</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and 'dl_ref_no' in post.blank_inputs %}ie-required{% endif %}" name="dl_ref_no" value="{% if post.dl_ref_no is defined and post.dl_ref_no != '' %}{{ post.dl_ref_no }}{% endif %}" required>
                        </div>
                            
                        <div class="col-lg-6">
                            <label>Commercial Invoice No.</label>
                            <input type="text" class="form-control required {% if post.blank_inputs is defined and 'dl_com_invoice_no' in post.blank_inputs %}ie-required{% endif %}" name="dl_com_invoice_no" value="{% if post.dl_com_invoice_no is defined and post.dl_com_invoice_no != '' %}{{ post.dl_com_invoice_no }}{% endif %}" required>
                        </div>
                    </div>
                    
                </div>
                
                
                
                
            </div>
        </div>
    </div>
    
    
    
    
    <div class="col-lg-4">    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Payment Details</h4>
                
            </div>
            <div class="panel-body">
                <h4>Payments</h4>
                <select name="dl_payment_type" class="form-control">
                    <option>Select type</option>
                    <option value="Company cheque" {% if post.dl_payment_type is defined and post.dl_payment_type == 'Company cheque' %}selected{% endif %}>Company Cheque</option>
                    <option value="Visa card" {% if post.dl_payment_type is defined and post.dl_payment_type == 'Visa card' %}selected{% endif %}>Visa card</option>
                    <option value="Master card" {% if post.dl_payment_type is defined and post.dl_payment_type == 'Master card' %}selected{% endif %}>Master card</option>
                    <option value="Money order" {% if post.dl_payment_type is defined and post.dl_payment_type == 'Money order' %}selected{% endif %}>Money order</option>
                    <option value="Account" {% if post.dl_payment_type is defined and post.dl_payment_type == 'Account' %}selected{% endif %}>Account</option>
                </select>
                <hr/>
                <h4>Return Documents Courier</h4>
                
                <select name="courier" id="courier" class="form-control required {% if post.blank_inputs is defined and 'courier' in post.blank_inputs %}ie-required{% endif %}" tag="0" required>
                    <option value="" tag="0"> Select courier </option>
                    {% for courier in visa_courier_options %}
                        {% set courier_cost = courier.cost + (courier.cost * (special_price/100)) %}
                        <option value="{{ courier.id }}" tag="{{courier_cost}}" {% if post.visa_courier is defined and post.visa_courier == courier.id %}selected{% elseif app.session.get("public_visa_selected_courier") != '' and app.session.get("public_visa_selected_courier") == courier.id %}selected{% endif %}>{{ courier.type ~ " - $" ~ courier_cost }}</option>
                    {% endfor %}
                </select>
                
                <hr/>
                <h4>Return Address</h4>
                <p>
                    <label><input type="checkbox" id="chkUseDefaultAddress"> Use default document return address</label><br/>
                    <label><input type="checkbox" id="chkSameAsAbove"> Same as above</label>
                </p>
                
                <div class="form-group">
                    <label>Company (If applicable)</label>
                    <input type="text" class="form-control" name="docReturnCompany" id="docReturnCompany" value="{% if post.visa_mdd_company is defined %}{{ post.visa_mdd_company }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Document(s) Return Address</label>
                    <input type="text" class="form-control" name="docReturnAddress" id="docReturnAddress" value="{% if post.visa_mdd_address is defined %}{{ post.visa_mdd_address }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>City / Suburb</label>
                    <input type="text" class="form-control" name="docReturnCity" id="docReturnCity" value="{% if post.visa_mdd_city is defined %}{{ post.visa_mdd_city }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" name="docReturnState" id="docReturnState" value="{% if post.visa_mdd_state is defined %}{{ post.visa_mdd_state }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Postcode</label>
                    <input type="text" class="form-control" name="docReturnPostCode" id="docReturnPostCode" value="{% if post.visa_mdd_postcode is defined %}{{ post.visa_mdd_postcode }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" name="docReturnFname" id="docReturnFname" value="{% if post.visa_mdd_fname is defined %}{{ post.visa_mdd_fname }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="docReturnLname" id="docReturnLname" value="{% if post.visa_mdd_lname is defined %}{{ post.visa_mdd_lname }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Contact number</label>
                    <input type="text" class="form-control" name="docReturnContactNo" id="docReturnContactNo" value="{% if post.visa_mdd_contact is defined %}{{ post.visa_mdd_contact }}{% endif %}"/>
                </div>
                
                <div class="form-group">
                    <label>Additional comments</label>
                    <textarea type="text" class="form-control" name="additionalComments" id="additionalComments">{% if post.visa_additional_comment is defined %}{{ post.visa_additional_comment }}{% endif %}</textarea>
                </div>
                
                {% if app.session.get('user_type') == 'admin-user' %}
                <div class="text-right">
                    <label><input type="checkbox" name="dont_send_invoice" value="1"> Do not email client confirmation and invoice</label>
                </div>
                {% endif %}
                
                <div class="text-right">
                    <button type="submit" id="saveProgress" class="btn btn-default"><span class="glyphicon glyphicon-floppy-save"></span> Save Progress</button>
                    <button type="submit" id="nextPage" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                </div>
                
            </div>
        </div>
    </div>
    
    
    </form>
</div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        
        // Global declarations
        var udetails_url = "{{ path("cls_client_get_details_by_id") }}";
        var client = "{% if user_details.id is defined %}{{ user_details.id }}{% else %}{% endif %}";
        var jsonpath = "{{ asset("json") }}/occupations.json";
    </script>
    
    <script src="{{ asset("js") }}/pages/government-user-script.js"></script>
{% endblock %}