{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-6">
        <h3>Process Payment</h3>
    </div>
    <div class="col-lg-6 text-right">
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Order No.</label>
                    <input type="text" class="form-control" name="order_no">
                </div>
            </div>
        </div>
            
            
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAll" class="bulk-select-all"></th>
                            <th>Description</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>GST</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>





{% endblock %}

{% block javascripts %}
<script type="text/javascript">
        
// Global declarations
var list_url = "{{ path("acme_cls_admin_staff_list") }}";
var open_url = "{{ path("acme_cls_admin_staff_edit") }}";
var delete_url = "{{ path("acme_cls_admin_staff_delete") }}";
</script>
    
<script src="{{ asset("js") }}/pages/admin-script.js"></script>
{% endblock %}