{% extends "AcmeCLSdriverBundle::login_layout.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/DT_bootstrap.css">
<link rel="stylesheet" href="{{ asset('api') }}/datatables/css/datatables.css">
{% endblock %}

{% block body %}
<div class="row"><br/><br></div>
<div class="row">
        <center>
        <div class="col-lg-12">
            <div class="col-lg-12">
                <form action="{{ path('acme_cls_client_login') }}" method="post">
                    <input type="hidden" name="hid_submit">
                    <div class="form-group">
                        <!--<label>Email</label>-->
                        <input type="email" name="email" id="email" class="form-control" id="inputEmail3" style="text-align: center;" placeholder="Email" value="{% if email is defined %}{{ email }}{% endif %}" required>
                    </div>
                    <div class="form-group">
                        <!--<label>Password</label>-->
                        <input type="password" name="password" class="form-control" id="inputPassword3" style="text-align: center;" placeholder="Password" required>
                    </div>
                    

                    <div>
                        <input style="width: 150px;alignment-adjust:central;" type="submit" class="btn btn-primary " value="Login" />
                        <br/>
                        <a href="#" onclick="javascript: retrievePass();">Reset Password</a>
                    </div>
                </form>
            </div>

            
         
            </div>
            </center>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('api') }}/datatables/js/jquery.dataTables.js"></script>
<script src="{{ asset('api') }}/datatables/js/DT_bootstrap.js"></script>

{% endblock %}