{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Manage - Passport Office Pickup or Delivery</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_manage_passport_office_pickup_delivery") }}" method="post">
<input type="hidden" name="hidSubmit"/>
<div class="row">
    <div class="col-lg-4">
        <h4>Details</h4>
        <div class="form-group">
            <label>Passport Office Pickup or Delivery <b>Cost $ (Ex GST)</b> </label> 
            <input type="text" name="passportOfficePickupDelivery" value="{% if post.cost is defined %}{{ post.cost }}{% endif %}" class="form-control"  placeholder="0.00" required>
        </div>
            
        <div class="form-group">
            <label>Passport Office Pickup or Delivery Additional Applicant <br><b>Cost $ (Ex GST)</b> </label> 
            <input type="text" name="passportOfficePickupDeliveryAdditional" value="{% if post.additionalCost is defined %}{{ post.additionalCost }}{% endif %}" class="form-control"  placeholder="0.00" required>
        </div>
            
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
{% endblock %}