{% extends "AcmeCLSadminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Saved message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for item in flashMessage %}
        {{ item.message }}<br/>
    {% endfor %}
</div>
{% endfor %}



<div class="row">
    <div class="col-lg-12">
        <h3>Edit DFAT User Details</h3>
    </div>
</div>

<hr/>

<form action="{{ path("acme_cls_admin_tpn_staff_edit") }}" method="post">
<input type="hidden" name="hidSubmit"/>
<input type="hidden" name="id" value="{{ post.id }}">
<div class="row">
    <div class="col-lg-4">
        <h4>Details</h4>
        <div class="form-group">
            <label>Firstname </label> 
            <input type="text" name="fname" value="{% if post.fname is defined %}{{ post.fname }}{% endif %}" class="form-control"  placeholder="Firstname" required>
        </div>
            
        <div class="form-group">
            <label>Lastname </label> 
            <input type="text" name="lname" value="{% if post.lname is defined %}{{ post.lname }}{% endif %}" class="form-control"  placeholder="Lastname" required>
        </div>
            
        <div class="form-group">
            <label>Email address </label> 
            <span class="glyphicon glyphicon-question-sign tips" data-toggle="tooltip" data-placement="right" title="This will be his/her username to login"></span>
            <input type="email" name="email" value="{% if post.email is defined %}{{ post.email }}{% endif %}" class="form-control" id="regoFormEmail" placeholder="Email" required>
        </div>
         <div class="form-group">
            <label>Phone </label> 
            <input type="text" name="phone" value="{% if post.phone is defined %}{{ post.phone }}{% endif %}" class="form-control"  placeholder="Phone" >
        </div> 
        <div class="form-group">
            <label>New Password </label> 
            <input type="password" name="password" class="form-control"  placeholder="●●●●●●●●●">
        </div>
            
        <div class="form-group">
            <label>Confirm Password </label> 
            <input type="password" name="passwordConfirm"  class="form-control"  placeholder="●●●●●●●●●" >
        </div>
        
        <a onclick="javascript: window.history.back()" class="btn btn-default"><span>«</span> Back</a>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Submit</button>
    </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
{% endblock %}