<html>
<body>
    {% if manual_order is defined %}
        <p>Please see the summary of the order and tax invoice below: </p>
    {% else %}
        <p>Thank you for your recent order with Capital Link Services. Please see the summary of your order and tax invoice below: </p>
    {% endif %}
    
  <table style="border-collapse:collapse" border="1" cellpadding="5" cellspacing="0">
    <tbody>
        <tr class="header">
            <td width="50%">
                    <h3>Tax Invoice Date</h3>
                    <p> {{ order_no }} / {{ date_submitted|date("d/m/Y") }}</p>
            </td>
            <td width="50%">
                <h3>Tax Invoice/Order Number</h3>
                {#<img src="http://dev.clientcentre.capitallinkservices.com.au/assets/barcode/?OrderNumber={{ order_no }}" alt="{{ order_no }}">
                <img src="{{ domain ~ "/" ~  asset("api") }}/barcodegen.1d-php5.v5.1.0/index.php?number={{ order_no }}" alt="{{ order_no }}">#}
                <img src="{{ domain ~ "/" ~  asset("api") }}/barcode/index.php?number={{ order_no }}" alt="{{ order_no }}">
                <br>
                <label>
                    {% for traveller in data.travellers %}
                        {{ traveller.fname ~ " " ~ traveller.mname ~ " " ~ traveller.lname }}<br/>
                        {{ traveller.organisation }}<br/><br/>
                    {% endfor %}
                    <u></u>
                </label>
            
            </td>
        </tr>
            <tr>
                <td colspan="2">
                    <table border="0" cellpadding="5" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                                <th>Product</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>GST</th>
                                <th>Total</th>
                        </tr>
                        {% set items_total_cost = 0 %}
                        {% set items_total_gst = 0 %}
                        {% set total_tpn = 0 %}
                        {% set total_tpn_additional = 0 %}
                        {% set tpn_gst = 0 %}
                        {% set tpn_additional_gst = 0 %}
                        
                        {% set counter = 1 %}
                        {% if post is defined %}
                            {% for item in post.items %}
                                
                                <tr>
                                        <td>{{item.description}}</td>
                                    
                                    {% set svtp = item.price %}

                                    <td>${{ item.price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{item.gst}}</td>

                                    {% set tpn = svtp * item.quantity %}
                                    {% set total_tpn = total_tpn + tpn  %}
                                    {% set item_total = tpn + (tpn * 0.10) %}
                                    {% set tpn_gst = (total_tpn * 0.10) %}
                                    {% set items_total_cost = items_total_cost + svtp %}
                                    {% set items_total_gst = items_total_gst + (svtp * 0.10) %}
                                    <td>${{ item_total|number_format(2) }}</td>
                                </tr>
                                {% set counter = counter+1 %}
                            {%endfor%}
                        {% else %}
                            <tr>
                                    <td>Third Person Note (TPN)</td>
                                    {% set tpn_price = tpn_settings.tpn %}
                                    {# if data.can_get_special_price == 1 %}
                                        {% set tpn_price = tpn_price + (tpn_price * (data.special_price/100))%}
                                    {% endif #}
                                    <td>${{ tpn_price|number_format(2) }}</td>
                                    <td>{{ data.tpn_qty }}</td>
                                    <td>10%</td>
                                    {% set total_tpn =  tpn_price *  data.tpn_qty %}
                                    {% set tpn_gst = (total_tpn * 0.10) %}
                                    {% set total_tpn_wgst = total_tpn + tpn_gst %}
                                    <td>${{ total_tpn_wgst }}</td>
                            </tr>
                            <tr>
                                    <td>Third Person Note (TPN) Additional Applicant</td>
                                    {% set tpn_additional_price = tpn_settings.tpnAdditional %}

                                    {# if data.can_get_special_price == 1 %}
                                        {% set tpn_additional_price = tpn_additional_price + (tpn_additional_price * (data.special_price/100))%}
                                    {% endif #}
                                    <td>${{ tpn_additional_price|number_format(2) }}</td>
                                    <td>{{ data.tpn_additional_qty }}</td>
                                    <td>10%</td>
                                    {% set total_tpn_additional = tpn_additional_price *  data.tpn_additional_qty %}
                                    {% set tpn_additional_gst = (total_tpn_additional * 0.10) %}
                                    {% set total_tpn_additional_wgst = total_tpn_additional + tpn_additional_gst %}
                                    <td>${{ total_tpn_additional_wgst }}</td>
                            </tr>
                        {%endif%}
                    </tbody>
                    </table>
                </td>
            </tr>
            
            {% set subtotal = total_tpn + total_tpn_additional %}
            {% set subtotal_discount = subtotal * (data.discount_rate / 100) %}
            {% set subtotal = subtotal - subtotal_discount %}
            
            {% set gst = tpn_gst + tpn_additional_gst %}
            {% set gst_discount = gst * (data.discount_rate / 100) %}
            {% set gst = gst - gst_discount %}
            
            {% set discount = subtotal_discount + gst_discount %}
            {% if data.discount_rate > 0 %}
            <tr>
                <td colspan="2" align="right"><b>Discount</b>: ${{ discount|number_format(2) }}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" align="right"><b>Sub Total</b>: ${{ subtotal|number_format(2) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>GST</b>: ${{ gst|number_format(2) }}</td>
            </tr>
            {% set grand_total = subtotal + gst %}
            {% if data.payment_option == 1 %}
            {% set grand_total = grand_total + (grand_total * (data.credit_card_processing_fee/100))%}
            <tr>
                <td colspan="2" align="right"><b>Credit Card Fee</b>: ${{ (grand_total * (data.credit_card_processing_fee/100))|number_format(2) }}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" align="right"><b>Total Paid to Date</b>: ${{ grand_total|number_format(2) }}</td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>Balance Due</b>: {% if data.payment_option == 1 %}$0.00{% else %}${{ grand_total|number_format(2) }}{% endif %}</td>
            </tr>
    </tbody>
    </table>
  
  <p>Kind regards,<br/>
    Capital Link Services<br/>
    <img src="{{ domain ~ "/" ~  asset("img") }}/email-logo.png">
  </p>
  
  <p><b>A.C.N</b> 095720531 &nbsp;&nbsp;/&nbsp;&nbsp; <b>A.B.N</b> 31986341198</p>
  
</body>
</html>