{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>TPN Application</h3>
        {% else %}
            <h3>Create Order: TPN Application<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        
                        
        {% if app.session.get('user_type') != 'admin-user' %}
        <div class="application-steps">
            <span>Step 2/4</span>
            <span><a href="{{ path("cls_client_gov_application_tpn") }}?order={{ order_no }}">Destination</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Review TPN</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% else %}
        <div class="application-steps">
            <span>Step 2/4</span>
            <span><a href="{{ path("cls_client_gov_application_tpn") }}?client={{ user_details.id }}&order={{ order_no }}">Destination</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Review TPN</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <p>Please check over the draft carefully to ensure your details are correct. <br/>
            Please note that the Note Number and Date of issue will be auto-filled when your TPN is approved.</p>
    </div>
        
    <div class="col-lg-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            {% for travel in post.travels %}
                <li  class="{% if loop.index == 1%}active{% endif %}"><a href="#tab{{ loop.index }}" data-toggle="tab">{{ travel.countryName }}</a></li>
            {% endfor %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            
            <div class="spacing"></div>
            
            {% for travel in post.travels %}
                
            <div class="tab-pane fade {% if loop.index == 1%}in active{% endif%}" id="tab{{ loop.index }}">
                <!-- NOTE FORMAT-->
                
                <!-- Note Heading -->
                <div class="row text-center">
                    <div class="col-lg-12">
                        <img class="draft-logo" src="{{ asset("img") }}/draftSmall.png">
                    </div>
                </div>
                
                <div class="spacing"></div>
                
                <!-- Note Body -->
                <div class="row">
                    <div class="col-lg-12 draft-body">
                        <p>Note No: xx xxx xxxxx</p>
                        
                        <p>The Department of Foreign Affairs and Trade presents its compliments to the {{ travel.rep_name }} and has the honour to request the issue of a visa endorsement in respect to the following:</p>
                        
                        {% for traveller in post.travellers %}
                            <p>
                                <strong>{{ traveller.title_name }} {{ traveller.fname }} {{ traveller.mname }} {{ traveller.lname|upper }}</strong><br/>
                                <strong>Passport Number:</strong> {{ traveller.passport_number }}<br/>
                                <strong>Date of Birth:</strong> {{ traveller.birth_date|date("d F Y")}}<br/>
                                <strong>Agency:</strong> {{ post.department_name }}<br/>
                                <strong>Position:</strong> {{ traveller.occupation }}
                            </p>
                        {% endfor %}
                            
                        
                        {% if post.travellers|length == 1 %}
                            <!-- If only 1 traveller-->
                            {% if post.travellers[0]["occupation"]|lower|trim == 'a dependant' %}
                            
                                <p>{{ post.travellers[0]["title_name"] }} {{ post.travellers[0]["fname"] }} {{ post.travellers[0]["mname"] }} {{ post.travellers[0]["lname"]|upper }} 
                                    is a dependant of {{ post.travellers[0]['rpinfo_fullname'] }} who is {{ post.travellers[0]['rpinfo_position_at_post'] }} 
                                    at the Australian {{ post.travellers[0]['rpinfo_name_of_post'] }} in {{ post.travellers[0]['rpinfo_city'] }}.
                                    {{ post.travellers[0]["title_name"] }} {{ post.travellers[0]["fname"] }} {{ post.travellers[0]["mname"] }} {{ post.travellers[0]["lname"]|upper }} 
                                    will be accompanying {{ post.travellers[0]['rpinfo_fullname'] }} to {{ travel.country_name_display }} for the duration of his posting.
                                    {{ post.travellers[0]["title_name"] }} {{ post.travellers[0]["fname"] }} {{ post.travellers[0]["mname"] }} {{ post.travellers[0]["lname"]|upper }} 
                                    will arrive on {{ travel.entry_date_country|date("d F Y") }} and depart on {{ travel.departure_date_country|date("d F Y") }}.
                                </p>
                                
                            {% elseif post.travellers[0]["occupation"]|lower|trim == 'a spouse'%}
                                
                                <p>{{ post.travellers[0]["title_name"] }} {{ post.travellers[0]["fname"] }} {{ post.travellers[0]["mname"] }} {{ post.travellers[0]["lname"]|upper }} 
                                    is the spouse of {{ post.travellers[0]['rpinfo_fullname'] }} who is {{ post.travellers[0]['rpinfo_position_at_post'] }} 
                                    at the Australian {{ post.travellers[0]['rpinfo_name_of_post'] }} in {{ post.travellers[0]['rpinfo_city'] }}.
                                    {{ post.travellers[0]["title_name"] }} {{ post.travellers[0]["fname"] }} {{ post.travellers[0]["mname"] }} {{ post.travellers[0]["lname"]|upper }} 
                                    will be accompanying {{ post.travellers[0]['rpinfo_fullname'] }} to {{ travel.country_name_display }} for the duration of his posting.
                                    {{ post.travellers[0]["title_name"] }} {{ post.travellers[0]["fname"] }} {{ post.travellers[0]["mname"] }} {{ post.travellers[0]["lname"]|upper }} 
                                    will arrive on {{ travel.entry_date_country|date("d F Y") }} and depart on {{ travel.departure_date_country|date("d F Y") }}.
                                </p>
                                
                            {% else%}
                                <p>{{ post.travellers[0]["title_name"] }} {{ post.travellers[0]["fname"] }} {{ post.travellers[0]["mname"] }} {{ post.travellers[0]["lname"]|upper }} will be travelling to {{ travel.country_name_display }} for the purpose of {{ travel.travel_purpose }}.  {{ post.travellers[0]["title_name"] }} {{ post.travellers[0]["fname"] }} {{ post.travellers[0]["mname"] }} {{ post.travellers[0]["lname"]|upper }} will arrive on {{ travel.entry_date_country|date("d F Y") }} and depart on {{ travel.departure_date_country|date("d F Y") }}.</p>
                            {% endif %}
                            
                                
                        <!-- If more than 1 traveller -->    
                        {% elseif post.travellers|length > 1 %}
                                
                                
                            
                            {% set separates = 0 %}
                            {% set not_separates = 0 %}
                            {% for traveller in post.travellers %}
                                {% if traveller.occupation|lower|trim == 'a dependant' or traveller.occupation|lower|trim == 'a spouse' %}
                                    {% set separates = separates + 1 %}
                                {% else %}
                                    {% set not_separates = not_separates + 1 %}
                                {% endif %}
                            {% endfor %}
                            
                            
                            <!-- If more than 1 traveller and 1 or more dependant/spouse-->    
                            {% if separates > 0 and post.travellers|length > 1 %}
                                    
                                    <!-- For the first paragraph -->   
                                    
                                    
                                    <!-- If only 1 not dependant/spouse-->    
                                    {% if not_separates == 1 %}
                                        {% for traveller in post.travellers %}
                                                {% if traveller.occupation|lower|trim != 'a dependant' and traveller.occupation|lower|trim != 'a spouse' %}
                                                    <p>{{ traveller.title_name ~ " " ~ traveller.fname ~ " " ~ traveller.mname ~ " " ~ traveller.lname|upper }} will be travelling to  
                                                        {{ travel.country_name_display }} for the purpose of {{ travel.travel_purpose }}.  {{ traveller.title_name ~ " " ~ traveller.fname ~ " " 
                                                        ~ traveller.mname ~ " " ~ traveller.lname|upper }}  will arrive on {{ travel.entry_date_country|date("d F Y") }} and depart on 
                                                        {{ travel.departure_date_country|date("d F Y") }}.
                                                    </p>

                                                {% endif %}
                                        {% endfor %}
                                                    
                                    <!-- If only 2 not dependant/spouse--> 
                                    {% elseif not_separates == 2 %}
                                        {% set applicants = '' %}
                                        {% for traveller in post.travellers %}
                                                {% if traveller.occupation|lower|trim != 'a dependant' and traveller.occupation|lower|trim != 'a spouse' %}
                                                    {% if applicants == '' %}
                                                        {% set applicants = traveller.title_name ~ " " ~ traveller.fname ~ " " ~ traveller.mname ~ " " ~ traveller.lname|upper %}
                                                    {% else %}
                                                        {% set applicants = applicants ~ " and "~ traveller.title_name ~ " " ~ traveller.fname ~ " " ~ traveller.mname ~ " " ~ traveller.lname|upper %}
                                                    {% endif %}
                                                {% endif %}
                                        {% endfor %}
                                                    
                                        <p>{{ applicants }} will be travelling to {{ travel.country_name_display }} for the purpose of {{ travel.travel_purpose }}. 
                                            {{ applicants }} will arrive on {{ travel.entry_date_country|date("d F Y") }} and depart on {{ travel.departure_date_country|date("d F Y") }}.
                                        </p>
                                        
                                    <!-- If more than 2 not dependant/spouse--> 
                                    {% else %}
                                        
                                        <p>The above named persons will be travelling to {{ travel.country_name_display }} for the purpose of {{ travel.travel_purpose }}. The above named persons will arrive on {{ travel.entry_date_country|date("d F Y") }} and depart on {{ travel.departure_date_country|date("d F Y") }}.</p>
                                    {% endif %}
                                    
                                            
                                    <!-- Next paragraph after the paragraph for not dependants/spouse--> 
                                    {% for traveller in post.travellers %}
                            
                                        {% if traveller.occupation|lower|trim == 'a dependant' %}
                            
                                            <p>{{ traveller.title_name ~ " " ~ traveller.fname ~ " " ~ traveller.mname ~ " " ~ traveller.lname|upper }} 
                                                is a dependant of {{ traveller.rpinfo_fullname }} who is {{ traveller.rpinfo_position_at_post }} 
                                                at the Australian {{ traveller.rpinfo_name_of_post }} in {{ traveller.rpinfo_city }}.
                                                {{ traveller.title_name ~ " " ~ traveller.fname ~ " " ~ traveller.mname ~ " " ~ traveller.lname|upper }} 
                                                will be accompanying {{ traveller.rpinfo_fullname }} to {{ travel.country_name_display }} for the duration of his posting.
                                                {{ traveller.title_name ~ " " ~ traveller.fname ~ " " ~ traveller.mname ~ " " ~ traveller.lname|upper }} 
                                                will arrive on {{ travel.entry_date_country|date("d F Y") }} and depart on {{ travel.departure_date_country|date("d F Y") }}.
                                            </p>
                                            
                                        {% elseif traveller.occupation|lower|trim == 'a spouse'%}
                                            
                                            <p>{{ traveller.title_name ~ " " ~ traveller.fname ~ " " ~ traveller.mname ~ " " ~ traveller.lname|upper }} 
                                                is the spouse of {{ traveller.rpinfo_fullname }} who is {{ traveller.rpinfo_position_at_post }} 
                                                at the Australian {{ traveller.rpinfo_name_of_post }} in {{ traveller.rpinfo_city }}.
                                                {{ traveller.title_name ~ " " ~ traveller.fname ~ " " ~ traveller.mname ~ " " ~ traveller.lname|upper }} 
                                                will be accompanying {{ traveller.rpinfo_fullname }} to {{ travel.country_name_display }} for the duration of his posting.
                                                {{ traveller.title_name ~ " " ~ traveller.fname ~ " " ~ traveller.mname ~ " " ~ traveller.lname|upper }} 
                                                will arrive on {{ travel.entry_date_country|date("d F Y") }} and depart on {{ travel.departure_date_country|date("d F Y") }}.
                                            </p>
                                        {% endif %}
                                    {% endfor %}
                                    
                                    
                                    
                            {% elseif separates == 0 and post.travellers|length == 2 %}
                                    
                                    <p>{{ post.travellers[0]["title_name"] }} {{ post.travellers[0]["fname"] }} {{ post.travellers[0]["mname"] }} {{ post.travellers[0]["lname"]|upper }} and {{ post.travellers[1]["title_name"] }} {{ post.travellers[1]["fname"] }} {{ post.travellers[1]["mname"] }} {{ post.travellers[1]["lname"]|upper }} 
                                        will be travelling to {{ travel.country_name_display }} for the purpose of {{ travel.travel_purpose }}. 
                                        {{ post.travellers[0]["title_name"] }} {{ post.travellers[0]["fname"] }} {{ post.travellers[0]["mname"] }} {{ post.travellers[0]["lname"]|upper }} and {{ post.travellers[1]["title_name"] }} {{ post.travellers[1]["fname"] }} {{ post.travellers[1]["mname"] }} {{ post.travellers[1]["lname"]|upper }} 
                                        will arrive on {{ travel.entry_date_country|date("d F Y") }} and depart on {{ travel.departure_date_country|date("d F Y") }}.
                                    </p>
                                
                            {% else %}
                                
                                    <p>The above named persons will be travelling to {{ travel.country_name_display }} for the purpose of {{ travel.travel_purpose }}. The above named persons will arrive on {{ travel.entry_date_country|date("d F Y") }} and depart on {{ travel.departure_date_country|date("d F Y") }}.</p>
                                
                            {% endif %}
                            
                        {% endif %}
                            
                        <p>The Department of Foreign Affairs and Trade requests that the appropriate visa be inscribed in the enclosed passport.  For further information on this application the {{ travel.rep_name }} may contact <strong>{{ post.pri_dept_contact_fname }} {{ post.pri_dept_contact_lname }}</strong> on <strong>{{ post.pri_dept_contact_phone }}.</strong></p>
                        
                        <p>The Department of Foreign Affairs and Trade avails itself of this opportunity to renew to the {{ travel.rep_name }} the assurances of its highest consideration.</p>
                    </div>
                </div>
                
                <div class="spacing"></div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <img class="draft-logo " src="{{ asset("img") }}/draftSmall.png">
                        <br/>
                        CANBERRA ACT <br/>
                        Date of Issue
                    </div>
                </div>
            </div>
                
            {% endfor %}
        </div>
    </div>
        
    
    
    <div class="col-lg-12 text-right">
        <hr />
        <form action="{{ path("cls_client_gov_application_tpn_review") }}" method="post">
            <input type="hidden" name="hid_submit" id="hidSubmit">
            <input type="hidden" name="orderNumber" value="{{ order_no }}">
            {% if app.session.get('user_type') == 'admin-user' %}
                <input type="hidden" name="client_id" value="{{ user_details.id }}">
            {% endif %}
            
            {% if app.session.get('user_type') == 'admin-user' %}
                <a href="{{ path("cls_client_gov_application_tpn") }}?client={{ user_details.id }}&order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
            {% else %}
                <a href="{{ path("cls_client_gov_application_tpn") }}?order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
            {% endif %}
            <button type="submit" id="saveProgress" class="btn btn-default">Save Progress</button>
            <button type="submit" id="nextPage" class="btn btn-primary"><span>&raquo;</span> Next</button>
                
        </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js") }}/pages/tpn-application-review-tpn.js"></script>
{% endblock %}