{% if app.session.get('user_type') != 'admin-user' %}
    {% set layout_extension = "AcmeCLSclientGovBundle::layout.html.twig"%}
{% else %}
    {% set layout_extension = "AcmeCLSadminBundle::layout.html.twig"%}
{% endif %}

{% extends layout_extension %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}
<!-- Error message -->
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in flashMessage %}
        {{ error.message }} <br/>
    {% endfor %}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
<!-- Saved message -->
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-9">
        {% if app.session.get('user_type') != 'admin-user' %}
            <h3>TPN Application</h3>
        {% else %}
            <h3>Create Order: TPN Application<br/><span class="small-note"><b>Client: <a href="{{ path('acme_cls_admin_clients_edit') }}?user={{ user_details.id }}">{{ user_details.fname ~ ' ' ~ user_details.lname }}</a></b></span></h3>
        {% endif %}
        
        {% if app.session.get('user_type') != 'admin-user' %}
        <div class="application-steps">
            <span>Step 3/4</span>
            <span><a href="{{ path("cls_client_gov_application_tpn") }}?order={{ order_no }}">Destination</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span><a href="{{ path("cls_client_gov_application_tpn_review") }}?order={{ order_no }}">Review TPN</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% else %}
        <div class="application-steps">
            <span>Step 3/4</span>
            <span><a href="{{ path("cls_client_gov_application_tpn") }}?client={{ user_details.id }}&order={{ order_no }}">Destination</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span><a href="{{ path("cls_client_gov_application_tpn_review") }}?client={{ user_details.id }}&order={{ order_no }}">Review TPN</a></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span class="active">Review Order</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span>Place Order</span>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3">
        {% if order_no is defined %}
            <h3>Order Number: {{ order_no }}</h3>
        {% endif %}
    </div>
</div>

<hr/>

<div class="row">

    <div class="col-lg-12">
        <table class="table table-hover">
            
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>GST</th>
                    <th>Total</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>Third Person Note (TPN)</td>
                    
                    {# if data.can_get_special_price == 1%}
                        {% set tpn_price = tpn_settings.tpn + (tpn_settings.tpn * (data.special_price/100)) %}
                    {% else #}
                        {% set tpn_price = tpn_settings.tpn %}
                    {# endif #}
                    <td>${{ tpn_price|number_format(2) }}</td>
                    <td>{{ data.travels|length }}</td>
                    <td>10%</td>
                    {% set total_tpn =  tpn_price *  data.travels|length %}
                    {% set tpn_gst = (total_tpn * 0.10) %}
                    {% set total_tpn_wgst = total_tpn + tpn_gst %}
                    <td>${{ total_tpn_wgst|number_format(2) }}</td>
                </tr>
                
                <tr>
                    <td>Third Person Note (TPN) Additional Applicant</td>
                    {# if data.can_get_special_price == 1%}
                        {% set additional_tpn_price = tpn_settings.tpnAdditional + (tpn_settings.tpnAdditional * (data.special_price/100)) %}
                    {% else #}
                        {% set additional_tpn_price = tpn_settings.tpnAdditional %}
                    {# endif #}
                    <td>${{ additional_tpn_price|number_format(2) }}</td>
                    <td>{{ data.travellers|length - 1}}</td>
                    <td>10%</td>
                    {% set total_tpn_additional =  additional_tpn_price *  (data.travellers|length - 1) %}
                    {% set tpn_additional_gst = (total_tpn_additional * 0.10) %}
                    {% set total_tpn_additional_wgst = total_tpn_additional + tpn_additional_gst %}
                    <td>${{ total_tpn_additional_wgst|number_format(2) }}</td>
                </tr>
                
                
            </tbody>
            
            {% set subtotal = total_tpn + total_tpn_additional %}
            {% set subtotal_discount = subtotal * (data.discount_rate / 100) %}
            {% set subtotal = subtotal - subtotal_discount %}
            
            {% set gst = tpn_gst + tpn_additional_gst %}
            {% set gst_discount = gst * (data.discount_rate / 100) %}
            {% set gst = gst - gst_discount %}
            
            {% set discount = subtotal_discount + gst_discount %}
            <tfoot>
                <tr>
                    <td>
                        <div class="row">
                            <form action="{{ path("cls_client_gov_application_discount_update") }}" method="POST">
                            <input type="hidden" name="orderNumber" value="{{ order_no }}">
                            {% if app.session.get('user_type') == 'admin-user' %}
                                <input type="hidden" name="client_id" value="{{ user_details.id }}">
                            {% endif %}
                            <div class="col-lg-4">Discount Code (Case Sensitive)</div> 
                            <div class="col-lg-3"><input type="text" name="discountCode" id="discountCode" class="form-control" value="{{ data.discount_code }}"/></div> 
                            <div class="col-lg-3"><button type="submit" id="btnDiscountUpdate" class="btn btn-primary"> Update </button></div> 
                            </form>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td>- $<span id="discount">{{ discount|number_format(2) }}</span></td>
                </tr>
                
                <tr>
                    <td>Subtotal</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td>${{ subtotal|number_format(2) }}</td>
                </tr>
                
                <tr>
                    <td>GST</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td>${{ gst|number_format(2) }}</td>
                </tr>
                
                <tr class="grand-total">
                    <td>Grand Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>${{ (subtotal + gst)|number_format(2) }} AUD</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
        
    <div class="col-lg-12 text-right">
        <hr />
         <form action="{{ path("cls_client_gov_application_tpn_review_order") }}" method="post">
            <input type="hidden" name="hid_submit" id="hidSubmit">
            <input type="hidden" name="orderNumber" value="{{ order_no }}">
            {% if app.session.get('user_type') == 'admin-user' %}
                <input type="hidden" name="client_id" value="{{ user_details.id }}">
            {% endif %}
                
            {% if app.session.get('user_type') == 'admin-user' %}
                <a href="{{ path("cls_client_gov_application_tpn_review") }}?client={{ user_details.id }}&order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
            {% else %}
                <a href="{{ path("cls_client_gov_application_tpn_review") }}?order={{ order_no }}" class="btn btn-default"><span>&laquo;</span> Back</a>
            {% endif %}
            <button type="submit" id="nextPage" class="btn btn-primary"><span>&raquo;</span> Next</button>
         </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
        
    // Global declarations
</script>
<script src="{{ asset("js") }}/pages/tpn-application-review-order.js"></script>
{% endblock %}