
/* SCROLL CAROUSEL
--------------------------------------------------*/
.scrollCarousel {
	width: 100%;
	height: 295px;
}
.scrollCarousel > div {
}
.scrollCarousel .slide {
	width: 630px;
	height: 295px;
}
.scrollCarousel .navButton {
	color: #000;
	background: #FFF;
	top: 50%;
	text-decoration: none;
}
.scrollCarousel .navButton:hover {
	color: #FFF;
	background: #000;
}
.scrollCarousel .prev {
	left: 0;
	display:none;
}
.scrollCarousel .next {
	right: 0;
	display: none;
}
.makeVisible .scrollCarousel {
	overflow: visible;
}


/* --- Don't Change! --- */
.scrollCarousel {
	position: relative;
	overflow: hidden;
}
.scrollCarousel > div {
	position: absolute;
	left: 0;
	top: 0;
	width: 9999em;
	padding: 0;
	margin: 0;
	list-style: none;
}
.scrollCarousel .slide {
	float: left;
	overflow: hidden;
}
.scrollCarousel .navButton {
	position: absolute;
	z-index: 100;
}


/* FADE CAROUSEL
--------------------------------------------------*/
.fadeCarousel {
	width: 330px;
	height: 375px;
}
.fadeCarouselNav {
	bottom: -50px;
	width: 100%;
	padding-left: 100px;
}
.fadeCarouselNav a {
	float: left;
	margin: 5px;
	width: 10px;
	height: 10px;
	display: block;
	background: #999999;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 10px;
    border-radius: 10px;
}
.fadeCarouselNav a:hover,
.fadeCarouselNav a.selected {
	background: #191919;
	color: #FFF;
}

/* --- Don't Change! --- */
.fadeCarousel {
	position: relative;
}
.fadeCarousel .slide {
	position: absolute
}
.fadeCarouselNav {
	position: absolute;
	z-index: 100;
}