<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CLS - Your Gateway to the World </title>

    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="{{ asset("css") }}/main.css" rel="stylesheet">
    <link href="{{ asset("api") }}/datepicker/css/datepicker.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body id="{{ app.session.get("page_name") }}">
    <div class="wrapper">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <a href="{{ path("acme_cls_homepage") }}"><img class="logo" src="{{ asset("img") }}/logo.png" /></a>
                </div>
                <div class="col-lg-9 text-right">
                    {% if app.session.get("user_type") != "" %}
                        {% if app.session.get("user_type") == "government" %}
                            Welcome, <a href="{{ path("cls_client_gov_edit_details") }}" title="Edit details" class="welcome-name">{{ app.session.get("fname") }}</a> (<a href="{{ path("acme_cls_client_logout") }}">logout</a>)
                        {% elseif app.session.get("user_type") == "public" %}
                            Welcome, <a href="{{ path("cls_client_public_edit_details") }}" title="Edit details" class="welcome-name">{{ app.session.get("fname") }}</a> (<a href="{{ path("acme_cls_client_logout") }}">logout</a>)
                        {% elseif app.session.get("user_type") == "corporate" %}
                            Welcome, <a href="{{ path("cls_client_corporate_edit_details") }}" title="Edit details" class="welcome-name">{{ app.session.get("fname") }}</a> (<a href="{{ path("acme_cls_client_logout") }}">logout</a>)
                        {% endif %}
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ path("cls_client_gov_home") }}">
                    {% if app.session.get("user_type") == "government" %}
                    CLS Government 
                    {% elseif app.session.get("user_type") == "public" %}
                    CLS Public 
                    {% elseif app.session.get("user_type") == "corporate" %}
                    CLS Corporate 
                    {% endif %}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a></a>
                    </li>
                    
                    {% if app.session.get("email") != "" %}
                    <li class="{% if app.session.get("page_name") == "home" %}active{% endif %}">
                        <a href="{{ path("cls_client_gov_home") }}">Client Center</a>
                    </li>
                        {% if app.session.get("user_type") != "public" %}
                            <li class="{% if app.session.get("page_name") == "report" %}active{% endif %}">
                                <a href="{{ path("cls_client_report") }}">Report</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    
                    {% if app.session.get("email") == "" %}
                    <li class="{% if app.session.get("page_name") == "registration" %}active{% endif %}">
                        <a href="{{ path("cls_client_gov_registration") }}">Register</a>
                    </li>
                    {% endif %}
                    <li class="page-scroll">
                        <a href="{{ path("acme_cls_contact") }}">Contact</a>
                    </li>
                    {% if app.session.get("user_type") == "" %}
                    <li class="{% if app.session.get("page_name") == "login" %}active{% endif %}">
                            <a href="{{ path("acme_cls_client_login") }}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
   
        <div id="map"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        Copyright © 2012 Capital Link Services Pty Ltd.
                    </div>
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <ul>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Security</a></li>
                            <li><a href="#">User Agreement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - You will need to use your own API key to use the map feature 
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js") }}/main.js"></script>
    <script src="{{ asset("js") }}/typeahead.js"></script>
    <script src="{{ asset("js") }}/bootbox.js"></script>
    <script src="{{ asset("api") }}/datepicker/js/bootstrap-datepicker.js"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>
